[2018-10-02 14:06] vltr commented on #1340
Thanks, @ashleysommer ! I think I understood the general idea, but I don't know how I'd implement it. Anyway, if you need some help, please let me know :+1:

[2018-10-02 14:09] vltr commented on #1057
@ashleysommer his fork is just a "reversion" of PR #756, which I think it's quite doable in Sanic if we just pin `httptools` :wink:

[2018-10-02 14:30] sjsadowski commented on #1325
@vltr To be fair, sanic is still very "run at your own risk" - however if we officially state that we want windows to be supported, we should be running all our tests in a windows environment in addition to all of them currently running on trusty. I guess we should also look at updating the test platform to use or include bionic...

[2018-10-02 14:47] vltr commented on #1325
@sjsadowski , I couldn't agree on that more :wink:
Anyway, we can add these platforms, perform more CI scripts and tests in other platforms as well ... IDK, this should be a team discussion perhaps (for future releases or LTS already)?

[2018-10-02 14:58] youknowone commented on #1057
@ashleysommer I doubt it. I used that fix to test whether I fixed httptools correctly or not. I think more change is possible than that one.

[2018-10-02 18:32] vltr commented on #1325
@sjsadowski yeap, this gives a year long work of "code hammering" to make Sanic work even in a Raspberry Pi :sweat_smile:

[2018-10-03 00:57] abuckenheimer commented on #1340
I think the point is that by raising you attach a traceback

[code]

[2018-10-03 01:11] ashleysommer commented on #1340
@abuckenheimer Yes I agree, and that fact that removing these try/catch sections also removes the tracebacks _did_ cross my mind.

However! I think removing them in this case is the best option, because we _dont need_ tracebacks at those points in the code. Each of these exception objects are passed straight into `write_error()` for the purposes of generating a HTTP Error Response, and doesn't eve

[2018-10-03 01:47] ashleysommer commented on #1340
Ah yes. You're right. I wonder what happens if it tries to get the traceback info from an exception object that doesn't have traceback info attached. It should fail gracefully and not print anything.

The other thing to consider is that adding a traceback in these specific cases doesn't add any useful new information to the exception. Knowing where the exception originated doesn't help because we

[2018-10-03 02:01] ashleysommer commented on #1340
I just noticed this:
https://github.com/huge-success/sanic/blob/master/sanic/handlers.py#L109.L115
Basically if the exception is a subclass of `SanicException`, it renders the response as text, _without_ including a traceback.
So in this case `ResponseTimeout`, `RequestTimeout`, `PayloadTooLarge` etc are all `SanicException`s thus are not expected to have a traceback attached.

[2018-10-03 02:36] abuckenheimer commented on #1340
True but I think `self.log(format_exc())` on line 108 would only format with a traceback if we raise.

As an aside I think your right that we may not specifically need the traceback but unless we could show a reasonable performance gain I don't think we should strip anything that may be useful in debugging.

[2018-10-03 03:15] chenjr0719 commented on #1325
@vltr In my use case, the multiple slashes is the only case that will cause problems, use `re.sub` can achieve my goal and it's better than other options also without side effects. huge grateful for your suggestion.

Here is an example to explain why multiple slashes should be avoided in `Sanic`, the `url_prefix` of `Blueprint` and `Blueprint.group()` are the most possible places where can cause t

[2018-10-03 05:05] ahopkins commented on #1340
I agree with @abuckenheimer. If we were building this now, the traceback gain is so minimal in this instance that the pattern does not make sense.

However (and this is something I think should be a guiding principle) we should not change the functionality unless we have a sufficient reason (adding a new feature or gaining performance).

So I think we need to first get a good reliable benchmark, a

[2018-10-03 11:30] #1340 closed

[2018-10-03 13:41] vltr commented on #1325
@chenjr0719 I'm glad that the regex solves this issue.

[code]

I think this might (not to mention "should") be avoidable by the developer :smile:
The example I gave regarding multiple slashes is that a lot of reverse proxy servers and even web frameworks already deals with that on parsing. I should _guess_ this is not the case with Sanic and, in case this is an issue, I think a new one should be

[2018-10-03 14:29] vltr commented on #1331
@sjsadowski oh yes, pinning `httptools` would make a lot of developers happy around here ...

[2018-10-03 14:48] sjsadowski commented on #1331
@vltr let's do it. I have not seen anything that suggest that should not be done. Can you get a PR in and we'll merge it after someone upchecks it. I'm hoping to get the other current PRs in this week after review and then merge them up to the 18.12 LTS branch.

[2018-10-03 14:55] vltr commented on #1331
@sjsadowski sure thing! Let me see if this will not conflict with #1310 (dumb one here forgot to create a branch for it ... :grimacing:)

[2018-10-03 16:45] Zolegz opened #1344 "Problem with redirect"
I want POST request to be redirected from one application to another (I am also using ssl). Here is similar to my code:
[code]

Sanic doesn't write any errors in console, i get this 'trying to redirect' printed, but nothing else after request. I also tried:

[code]
But that is also a mistake "Endpoint with name `/redirect` was not found" in function url_for

[2018-10-03 17:59] sjsadowski commented on #1344
These methods are both POST only; redirect will redirect to a GET.
```curl -X POST https://[server]/redirect``` would work and return your json,
but if you were to do ```curl -X POST -L https://[server]/``` (-L is necessary to follow the redirect) you would still get an endpoint not found error.

[2018-10-04 00:27] #1331 closed

[2018-10-04 15:58] hatarist commented on #1323
@wapiflapi like @bunyk said in the referenced issue above, you could run sanic with `app.run(host='0.0.0.0', port=app.config.PORT)` instead of `python -msanic`

[2018-10-04 23:54] #1344 closed

[2018-10-05 10:59] mungojam opened #1346 "auto_reload support for Windows"
This would be really useful for us. We don't have an option to use Linux for development unfortunately

[2018-10-05 14:01] vltr commented on #1346
Today our reloader is completely dependant in the way POSIX works ... But I really think that a more generic approach is possible to make this behavior available for POSIX **and** Windows almost transparently, but I'll have to do some hard digging in there to see if my idea really works ...

[2018-10-05 14:10] vltr commented on #1195
My personal opinion: why should we even need to remove a route? You just don't need to add it in the first place. The main reason for that is if you remove a route, it will only work if you're using one instance of Sanic, no workers, no k8s, load balancers, nothing. Any other scenario would require a complex system (like a pubsub) to "trigger" the removal of a route so all instances could do the s

[2018-10-05 14:19] vltr commented on #1206
@smlbiobot this might be an interest idea. Not only for i18n but, let's say, versioning and etc.

For now, in Sanic, I don't think this is possible even though in version 0.8 we have support for nested Blueprints, mostly because we are unable to use request/route parameters in a Blueprint `url_prefix`. This might be a good feature, though :sunglasses:

@huge-success/sanic-core-devs , thoughts?

[2018-10-05 14:50] untitaker commented on #1332
BTW, since progress on #1336 isn't that quick the Sanic integration just ignores the `root` logger at the moment.

[2018-10-05 15:13] sjsadowski commented on #1195
I 100% do not know, but the functionality is there, and so it should be documented. Optionally, toss it to the group and see if it's unneeded? I can't think of a use case where one should be removing routes.

[2018-10-05 15:15] vltr commented on #1195
Yeah, well, the functionality is there, I know, the documentation should exist. I think I'll toss it into the group, because this may also affect blueprints, nested blueprints, yadda yadda ...

[2018-10-05 15:33] yunstanford commented on #1195
We should not support remove routes

[2018-10-05 19:16] vltr commented on #1195
@sjsadowski @yunstanford I just created a more "in depth" analysis of this question in the [community forums](https://community.sanicframework.org/t/removing-routes-necessary-functionality/29?u=vltr).

[2018-10-07 09:50] ahopkins commented on #1206
My first instinct to try and achieve something like this would be to step aside from the decorator approach, and use the [`add_route`](https://sanic.readthedocs.io/en/latest/sanic/routing.html#the-add-route-method) method. I do not think it would be a clean solution right now, but I think it should be possible.

[2018-10-08 14:37] vltr commented on #1243
@smlbiobot hmm ... Well, there's a lot of points of failure in there IMO. Can you try to reduce them and see if you're still having the same problem?

[2018-10-08 20:44] vltr opened #1354 "`environment.yml` dependency"
https://github.com/huge-success/sanic/blob/5cc12fd945bf4c5e0d03c0003ad1178567c70e8c/environment.yml#L21

We need to check if this dependency is still needed or if `docutils` already works nicely with `conda` _et al_.

[2018-10-09 03:09] abuckenheimer commented on #1346
I took a quick look was surprised to find that the re-loader is only really dependent on posix for killing the existing server process and children and not to detect file changes. My guess is we could probably use something like [psutil](https://psutil.readthedocs.io/en/latest/) to make this more uniformly platform independent but not sure we'd want that as a dependency.

[2018-10-09 03:17] yunstanford commented on #1346
This functionality could actually be put into a plugin. And current implementation is also a little bit error-prone. It'll certainly require more mature process management.

[2018-10-10 07:56] hramezani commented on #1326
If it is just a rename and change the files that import `http.py`, I can do it.

[2018-10-10 11:57] vltr commented on #1326
Thanks, @hramezani ! This was already handled on #1327 :wink:

[2018-10-10 12:01] #1326 closed

[2018-10-10 15:17] vltr opened #1355 "Python (and documentation) code rules"
Hello everyone!

I think it is time for us to think about coding rules and standards. We should be able to work on the Sanic codebase seamlessly regarding the developer, editor, OS and etc.

Some tools / configs I can think of to accomplish this:

- [black](https://black.readthedocs.io/en/stable/)
- [flake8](http://flake8.pycqa.org/en/latest/)
- [isort](https://isort.readthedocs.io/en/latest/)
- [

[2018-10-10 15:20] ahopkins commented on #1355
This seems like a conversation ripe for the forums. It would be nice to keep GitHub issues related to features and bugs with the forum for help/support/development discussion (including tooling), etc.

[2018-10-10 15:50] vltr commented on #1355
Thanks, @ahopkins !

Discussion [moved to the forums](https://community.sanicframework.org/t/python-and-documentation-code-rules/38).

[2018-10-10 18:58] vltr commented on #1206
Wow, I was so wrong about this one!

@smlbiobot actually, it is possible to use the `url_prefix` keyword with a parameter to get this to work (thanks to @chenjr0719 in his unit tests provided on #1334).

[code]

Result:

[code]

[2018-10-11 07:56] denglj opened #1356 "Add '%' to quote_plus's `safe` parameter in response.redirect"
https://github.com/huge-success/sanic/blob/30e6a310f132752669a74927530e8bc52a51e98e/sanic/response.py#L367

[code]
In this case it will be `quote_plus` twice, and generate extra '%25'。

[2018-10-11 17:34] whyboris commented on #1133
I can confirm the warning I see when running _pytest_ in my project goes away when `verify_ssl=False` is changed to `ssl=False` (changing this line: https://github.com/huge-success/sanic/blob/9092ee9f0e65d38a65ac1d506af65d06e5f86652/sanic/testing.py#L26 on my machine.)

[2018-10-11 18:17] ahopkins commented on #1133
There is PR #1155. This seems like such a small little change that we ought to make.

The bigger question, however, is about testing in general and whether the testing client itself should be moved to its own repo to be able to trim down the requirements.

[2018-10-11 18:27] ahopkins opened #1359 "Multiple identical route variables"
### Problem

Currently, the router allows you to define the same variable multiple times in a route. What happens if you do? It simply grabs the last one.

Let me show you what I mean:

[code]

Then query it:

[code]

### Expected outcome

I think that the server should (at a minimum) throw me a warning that there is a route that potentially will dome something unintended on it. Taking that one st

[2018-10-11 22:44] qweeze opened #1360 "Cancelling request handler on connection close"
Currently Sanic continues processing requests even after connection is closed by client.
Here's a minimal demonstration code:

[code]
[code]
My question is, is this behavior intentional?

I may be wrong, but It seems to me that cancelling request handler in such cases would be generally more desirable.

It's kind of an issue in my current project - we've got plenty of heavy DB queries executed in

[2018-10-12 00:45] sjsadowski commented on #1360
What version of sanic are you running? I believe something similar to this was cleaned up in #1278

[2018-10-12 01:29] chenjr0719 commented on #1325
Since the PR is merged, close this issue.

[2018-10-12 01:29] #1325 closed

[2018-10-12 06:19] yunstanford commented on #1360
@qweeze addressed here https://github.com/huge-success/sanic/pull/1361

[2018-10-12 09:26] sirex opened #1362 "Components instead of globals"
I like how apistar and vibora implemented components and I would like to see something similar in Sanic, in stead of using globals.

More information: https://docs.vibora.io/initial

There is no need to reinvent whole dependency injection thing and components can be injected using https://github.com/ivankorobkov/python-inject for example.

Components also could be used for things like authenticati

[2018-10-12 10:28] ahopkins commented on #1362
This is likely not something that is on the near term development list (while I do agree that component injection is awesome). On the other hand @vltr is working on something just like this as a plugin. I'll let him explain further.

+1  for the idea though!

[2018-10-12 15:49] yunstanford commented on #1362
I don't see anything needs to be global if `request` has attached `app`.

[2018-10-13 04:40] yunstanford commented on #1359
Yeah, we can probably just raise exception explicitly.

[2018-10-13 18:17] vltr commented on #1359
@yunstanford you mean raise an exception when? A check before the server start, on every new route or if a request hits an endpoint with two identical variables?

[2018-10-13 18:45] ahopkins commented on #1359
For any newcomers to the conversation, exception on startup.

[2018-10-13 18:45] #1359 closed

[2018-10-13 23:54] #1332 closed

[2018-10-15 08:53] denglj commented on #1356
@sjsadowski Thanks for your attention.

Because the URL to redirect is generated by concatenate multiple parameters, just like Tornado's `url_concat` function. These operations use functions such as `urlparse`, `parse_qsl`, `urlencode` for convenience, so, the URL is encoded before it is passed to `response.redirect`.

I have solved this problem by  passing '%' to my own `urlencode` function's `sa

[2018-10-15 20:33] watchdots opened #1367 "how deploy socket app on heroku"
Hi everyone!
I write a simple server app with sanic and use sanic.websocket in it.
now, I deploy it on heroku and it return true response when I use from POST, GET methods ,but when I send socket message to it, it will return 500 status.
this is my code:
[code]
and Traceback from heroku logs:
[code]
and my Procfile:
[code]
and client code:
[code]
so, I referred to sanic doc and [deploying](https:/

[2018-10-16 02:08] sjsadowski commented on #1367
If the full code above is everything, you're missing critical data. Check out https://sanic.readthedocs.io/en/latest/ for what you're missing

[2018-10-16 02:08] #1367 closed

[2018-10-16 04:48] yunstanford commented on #1356
Yeah, it has to quote path and query params that including sth. like white space, while constructing redirect url.

[2018-10-16 05:07] yunstanford commented on #1243
@smlbiobot
1. Do you have reverse proxy in front of Sanic gunicorn server ?
2. How many workers do you have ? how many cpu cores ?
3. How do you connect to ES ? which client are you using ?
4. Did you try some tool to get production process state/stacks ? sth. like `pyflame` or `py-spy`.

[2018-10-16 11:44] bubnenkoff opened #1369 "Do I need separate WSGI servers sanic?"
Do I need separate WSGI servers for sanic?

And do I need nginx for static?

[2018-10-16 12:31] ahopkins commented on #1369
You certainly do not **need** to run a wsgi process (like gunicorn), or another web server (like nginx). But, of course you can.

Have you seen the [documentation on deployment?](https://sanic.readthedocs.io/en/latest/sanic/deploying.html) Also, checkout #1274 about some deployment ideas.

Personally, I would put sanic into a container and run the container and put a load balancer (like nginx) in

[2018-10-16 12:31] #1369 closed

[2018-10-16 12:34] bubnenkoff commented on #1369
@ahopkins so I can use sanic in *prod* without wsgi/nginx? Cool!
Django afaik cant work without them in prod.

[2018-10-16 14:13] ahopkins commented on #1367
@watchdots Bring your question over to the community forums and we'll help you out there: http://community.sanicframework.org

[2018-10-16 19:00] vltr commented on #1206
@smlbiobot no problem! The code above was just an attempt to check out what can be done. You could add a blueprint "layer" just for the `lang` parameter and have everything working, it would be just like extending the current example:

[code]

You will end up with `/lang/hello` and `/lang/hello/test/arg` and so on ... Yeap, it may be a PITA to rewrite them, but for Sanic (and the time being), I do

[2018-10-16 23:36] carver commented on #754
You'll probably find more helpful results online with `ResourceWarning: unclosed transport <_SelectorSocketTransport ...`.

The warning from OP is produced by `uvloop` which seems less common. It looks like roughly the solution is to do an `await asyncio.sleep(0)` in between closing a transport and letting it get garbage collected.

[2018-10-17 00:08] yunstanford commented on #754
Yeah, the reason is: after calling transport.close() asyncio needs for extra loop iteration for actual closing. and It's by design. After adding `await asyncio.sleep(0)` just before loop closing should be able to swipe warnings.

[2018-10-17 05:05] #754 closed

[2018-10-17 07:15] ahopkins commented on #1369
https://community.sanicframework.org/t/gunicorn-uwsgi-vs-build-in-http-server/47/2?u=ahopkins

[2018-10-17 12:58] sjsadowski commented on #1355
Closing - discussion moved to forums.

[2018-10-17 12:58] #1355 closed

[2018-10-19 15:46] sjsadowski opened #1374 "readthedocs - tag not available"
**Describe the bug**
When using the tag to view specific version documentation, the docs are unavailable.

**Code snippet**
Visit https://sanic.readthedocs.io/en/latest and select the tag for '0.8.3' or visit https://sanic.readthedocs.io/en/0.8.3/ directly

**Expected behavior**
Documentation is available

This is more irksome than a real problem at the moment, however when we release 18.12 and fo

[2018-10-19 18:38] sjsadowski commented on #1251
FWIW I've added a PR for documentation around using non-IPv4 sockets here: https://github.com/huge-success/sanic/pull/1375

[2018-10-19 18:38] #1251 closed

[2018-10-21 08:55] yunstanford commented on #1374
And the readthedoc build is failing for long time.

[2018-10-21 09:03] yunstanford commented on #1362
Thanks! Gonna close this issue.

[2018-10-21 09:03] #1362 closed

[2018-10-23 22:12] #1356 closed

[2018-10-23 22:13] seemethere commented on #1264
Closing this with the merge of #1304

[2018-10-23 22:13] #1264 closed

[2018-10-24 14:42] sjsadowski commented on #1308
I think this should be ok with #1377 getting merged.

[2018-10-24 14:42] #1308 closed

[2018-10-24 14:46] yunstanford commented on #1374
Actually there is another error that we need figure out, you can take a look at above link

[2018-10-24 14:47] yunstanford commented on #1374
The link in that PR

[2018-10-24 14:51] sjsadowski commented on #1270
I'm going to weigh in and then close.

While I like the idea of a comprehensive approach to caching, it really depends on architecture and design decisions. In the idea of trying to keep sanic lightweight an only opinionated about itself, caching stands somewhat outside of the expected purview. I think it could especially be handled with possible decorators in order to handle tiered caching strate

[2018-10-24 14:51] #1270 closed

[2018-10-24 14:55] vltr commented on #1270
@sjsadowski I agree. I even think that this topic leans to provide examples in the project website rather than stick to one specific solution "from Sanic", after all, there may be many solutions for many scenarios.

[2018-10-24 15:37] ahopkins commented on #1374
I just looked at the comment about the build failing....

Looks to me like an rst issue. Take a look at that message. There is a location that needs and extra line break after the code block definition. I'm on my phone so I cannot make the change right now. Can e should reopen the PR, fix that and then run sphinx to make sure it is solved.

[2018-10-25 09:14] eric-spitler opened #1380 "Port not provided in URLs produced with `url_for`"
**Describe the bug**
The default port for a Sanic app is 8000, which by HTTP standards is a custom port. This port can also be set during calls to `app.run()`.

When using `app.url_for('handler.name', _external=True)`, the resultant URL does **not** contain the port without manual intervention.

This line is the final step before the application returns the URL. The URL is build using `urlunparse`

[2018-10-25 13:04] sjsadowski commented on #1374
@huge-success/sanic-core-devs someone double-check me but it looks like it's failing because of a gunicorn dependency not being met?

http://readthedocs.org/projects/sanic/builds/7989537/

[2018-10-25 13:51] ahopkins commented on #1374
@sjsadowski This is what I was referring to. It looks like a rst compile error in that there is a missing li e break after the code block line. I meant to check when I was in the office earlier and forgot.

[2018-10-25 16:00] spitzaf commented on #1380
Thinking on this more last night, I can see the use case for things like Cloud Foundry deploys where the internal port being served would be obfuscated by the cloud instance, so the application should report `:80` or `:443`, even if its running at `:8000`.

Perhaps a flag then to enable port inclusion?

[2018-10-25 16:08] mackeyja92 opened #1381 "Auto reload causes debuggers not to attach properly"
**Describe the bug**
When in debug mode, the auto reload functionality seems to break debuggers such as PyCharm.

**Expected behavior**
Auto reload and debugger support.

**Environment (please complete the following information):**
 - OS: MacOS
 - Version: 0.8.3

[2018-10-25 16:50] vltr commented on #1381
@mackeyja92 thanks for your report!

There's an ongoing discussion related to the `auto_reload` feature in the [community forums](https://community.sanicframework.org/t/following-auto-reload-support-for-windows/35?u=vltr). You should definitely check it out - although it started as a Windows support for this feature, it aims to contemplate all OSes :wink:

[2018-10-25 16:58] sjsadowski commented on #1380
Port 80 is the default port for HTTP and 443 is default for https, if the external URL is serving something like 'http://www.example.com/blah' then there's no real reason for port inclusion - however in every other case where the port is non-standard, I agree with your assessment that it should be included in the url. Possibly just inclusion of the port for the external uri should be enough. I'm s

[2018-10-25 16:59] sjsadowski commented on #1374
Ah, I see now. Thanks for the clarification @ahopkins

[2018-10-25 18:08] mackeyja92 commented on #1381
https://github.com/watchexec/watchexec May be a good candidate to support all OSes.

[2018-10-26 06:05] smlbiobot opened #1382 "Change log?"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Is it possible to include a change log with the releases? I just saw that there’s a version bump from 0.7 to 0.8.3 but I have no idea what was changed — for example, would it have fixed some bugs that require workarounds previously. Or if you have depreciated certain functions that would req

[2018-10-26 08:15] bunyk commented on #1216
I would say that it blocks in ` train_network_sanic` methods. Could you remove them and try again?

[2018-10-26 08:34] ahopkins commented on #1374
See PR #1383, there were 5 files that were causing an issue.

[2018-10-26 08:34] #1374 closed

[2018-10-26 08:51] eric-spitler commented on #1380
Sorry, when I said "should report `:80`" I meant that the application would need to generate URLs as if it were on that port (despite running on 8000), meaning the behavior as it stands right now. But this is also just for the case where there is an obfuscation layer or load balancer between callers and the application.

[2018-10-26 09:13] ahopkins commented on #1380
@eric-spitler I think I am understanding now ... You are asking for a setting for a "base URL" that would be used to create an absolute URL that is different than what is being exposed.

For example, I have a sanic instance running as `http://auth-service:7777/`, but there is a load balancer ahead of it that proxies `http://mydomain.com/auth` to `http://auth-service:7777/`. Is this the use case?

[2018-10-26 10:15] bunyk opened #1384 "Need better documentation on unittesting"
Let me, for example, have application from [getting started](https://sanic.readthedocs.io/en/latest/sanic/getting_started.html) that returns `{"hello": "world"}` when getting '/'.

So, I write following unittest:
[code]

It works, when I change status code - fails, and passes when code is 200. But then I want to test actual content of response, and I wander how?

I guess response is instance of [a

[2018-10-27 17:02] adonese commented on #489
is there any updates about http/2 and Sanic?

[2018-10-27 19:15] ahopkins commented on #489
It is not planned for the upcoming 18.12 LTS, but I suspect it will work it's way into master this winter and hopefully be included in 19.3 release.

[2018-10-28 15:33] sjsadowski commented on #1384
@bunyk We always welcome contributions. If you'd like to help create some additional documentation around this and submit a pull request, that would be really helpful!

[2018-10-29 05:33] eric-spitler commented on #1380
Consider the default use case, a simple app serving an endpoint that returns the result of `app.url_for`:
[code]
The application starts up on `127.0.0.1` (default host) and port `8000` (also default). Hitting that simple endpoint returns:
[code]
Butting hitting the URL returned by `app.url_for` results in:
[code]
My point in this issue is that the URL generated by `app.url_for` does not by its nat

[2018-10-29 09:10] lixxu commented on #1380
I suggest not use `include_port` as parameter name due to current special parameters all starts with `_` (may use `_port` for it, and default to `None`, and also can get the value from configuration like `SERVER_NAME` does).
Then in `url_for` function, check `_port`, if has value, show it, else don't show port in the url.

[2018-10-29 09:50] chenjr0719 opened #1386 "Middleware for Blueprint.group()"
**Is your feature request related to a problem? Please describe.**
Not related to any problem but about better usage of `Blueprint.group()`. I've to say that middleware of `Blueprint()` is a really useful feature. And I hope that `Blueprint.group()` can also support this useful feature.

**Describe the solution you'd like**
For example, I have lots of blueprints and all of them are grouped by `Blu

[2018-10-29 11:34] bunyk commented on #1384
I would love to, but I not yet figured out what is response and why do we need request.

Maybe I will, after I'll come back to adding unittests, because currently other tasks are due.

[2018-10-29 13:43] ahopkins commented on #1384
@bunyk `app.test_client.get()` (and the other methods for that matter), take an argument: `gather_request`.

When `gather_request == True`, it returns a tuple of the `request` and `response` object.

This is [already in the docs](https://sanic.readthedocs.io/en/latest/sanic/testing.html#testing)

[2018-10-29 16:18] sjsadowski commented on #1380
@lixxu I don't understand your argument; _var indicates semiprivate which sanic honors - for more info.

[2018-10-29 16:37] ahopkins commented on #1380
@lixxu I think the point @eric-spitler was making is that it should be configurable, and transparent.

[2018-10-29 18:58] eric-spitler commented on #1380
@lixxu If it pulls from configuration, would that config be set implicitly during the call to `app.run()`?

Having to specify `_port` as a number as part of the `url_for` call defeats the transparency idea that @ahopkins mentioned.

[2018-10-31 08:51] ahopkins commented on #761
Just a heads up to everyone watching this, we are actively looking into this. Checkout [more discussion on the forum](https://community.sanicframework.org/t/http-2-support-for-19-x/32/5?u=ahopkins). This will not be in 18.12, but look for it early 2019.

[2018-10-31 08:52] ahopkins commented on #761
I am going to close this for now. Put further discussion on the forum or #1265.

[2018-10-31 08:52] #761 closed

[2018-10-31 08:52] csis0247 opened #1388 "When using asyncio.Lock(), RuntimeError occurred: got Future <Future pending> attached to a different loop"
**Describe the bug**

[code]

**Code snippet**

Below is a self-contained executable code of the server. Run it with `python server.py`. Accessing the routes simultaneously throws the above exception. E.g. try opening 0.0.0.0:1234/1, 0.0.0.0:1234/2, 0.0.0.0:1234/3, 0.0.0.0:1234/4 together.

[code]

**Expected behavior**

I expected the code to successfully lock the route access. Since I passed the

[2018-10-31 11:15] StVl opened #1389 "Can't working with Image"
**Describe the bug**
Trying to send in response the image from the PIL
the error is "TypeError: expected str, bytes or os.PathLike object, not a Image"

**Code snippet**
[code]
Maybe you know, how i can fix it
thanks!
(telegram: @stvlpotapov )

[2018-10-31 12:10] sjsadowski commented on #1388
Not sure what's up here. I was not able to duplicate the errors when testing your code locally, however I have not been able to test on a mac yet.

This is on F28 (kernel 4.18.14-200) w/ python 3.6.6 and sanic 0.8.3

CLI:
[code]
server logs:
[code]

[2018-10-31 12:13] sjsadowski commented on #1389
it appears that final_img is an object, not a string, bytes, or os.Path - which is generally indicated that you're calling a method (final_img.save()).

Perhaps you need to find the method that returns the raw bytes for final_img? Either way, this isn't exactly a sanic bug or issue.

[2018-10-31 12:13] #1389 closed

[2018-10-31 12:14] sjsadowski commented on #1384
I missed that @ahopkins. Closing.

[2018-10-31 12:14] #1384 closed

[2018-10-31 12:32] sjsadowski commented on #1388
I was just able to run this with no issues on OSX Sierra (10.12.6) and python 3.6.4 with no issues, other than async with lock is insanely slow on both platforms.

[2018-10-31 13:44] ahopkins commented on #1388
@csis0247 The [explanation is in the documentation](https://sanic.readthedocs.io/en/latest/sanic/deploying.html#asynchronous-support) that basically says that if you need to create your own loop, you need to use `app.create_server` instead of `app.run` (`app.go_fast` is an alias of `app.run`).

Change

[code]

To:

[code]

Then you should be able to operate as expected without errors.

As an FYI,

[2018-10-31 13:44] #1388 closed

[2018-10-31 13:54] sjsadowski commented on #1388
@ahopkins no need to reopen, but I copied the provided code exactly and ran in to no issues - so if nothing else I'd like to understand the depgraph here so we can isolate the issue. @csis0247 if you're running in a virtualenv can you do a pip freeze > requirements.txt and provide that?

[2018-10-31 14:02] ahopkins opened #1390 "Remove kwargs from app.run and/or raise Exception on loop as param"
The [`app.run`](https://github.com/huge-success/sanic/blob/master/sanic/app.py#L823) method accepts `**kwargs`. I do not think it needs to, as there is only one call to it in the method that could easily be removed.

The issue is that it falsely allows developers to do:

[code]

See #1388 for example.

To get this working as intended, the solution is to use `app.create_server` as [mentioned in the

[2018-10-31 14:05] ahopkins commented on #1389
@StVl Bring this to the [community forums](https://community.sanicframework.org/) if you need some more help 😄

[2018-10-31 17:19] AndresSan6 commented on #1390
Hello! I can help with issue, I will work on it today.

I can try by removing **kwargs and making an exception to let the user know when they pass an unexpected argument.

[2018-10-31 17:47] ahopkins commented on #1390
Awesome! Thanks.

If we remove kwargs, then python will provide the exception. I'm thinking the best for the developer might be too leave kwargs, and raise an exception if loop is passed. I've seen this a number of times. If we rely upon the default  python exception it us less helpful than one that specifically tells them how to accomplish the goal.

[2018-10-31 19:41] AndresSan6 commented on #1390
I made a PR #1391 for this issue, please let me know if this changes helps you.

[2018-11-01 00:15] yunstanford commented on #1388
It's actually not recommended to reference `loop` explicitly, especially in multiprocess mode before `os.fork`. And in most async frameworks, they are close current event loop and spawn a new one for using. and gunicorn also does the same thing

[2018-11-02 18:41] ralston3 commented on #1133
Came here as I was similarly getting this error with latest sanic/aiohttp. I'm not a contributor, but I'd agree with the idea of keeping the repo lean (a lot of folks actually build their own testing for http apis anyway), so it would be a nice way to say "Well if you need it, go add this testing requirement package"

[2018-11-03 16:30] ahopkins commented on #1133
@ralston3 we'd welcome your contributions, and if not, we welcome your opinions!

[2018-11-03 22:39] mungojam opened #1392 "Blueprint with multiple workers not usable on Windows due to pickling error"
**Describe the bug**
When using a blueprint with multiple workers on windows, sanic fails on startup due to a failure to pickle the route:

Can't pickle <class 'sanic.blueprints.Route'>: attribute lookup Route on sanic.blueprints failed

**Code snippet**
[code]

**Expected behavior**
It should be possible to run with multiple workers using blueprints in the same way as it is using the sanic app ob

[2018-11-03 23:59] ashleysommer commented on #1392
I can look into this.

[2018-11-04 09:06] ahopkins commented on #1392
@vltr  didn't you say you had some credits in Azure?

[2018-11-04 09:45] yunstanford commented on #1392
The multi-worker mode is not very reliable currently, it requires more robust process management on top of it, and it's not suggested to run in production environment.

[2018-11-04 09:56] mungojam commented on #1392
@yunstanford

That's a bit worrying for me as we were planning on going live with something soon. We've been developing with 1 worker and should have tried more earlier. Are there particular issues highlighting the problems with the current version?

[2018-11-04 10:06] yunstanford commented on #1392
It doesn't have robust worker process management, it can't automatically manage workers very well. For example, it doesn't restart worker if any single worker dies.

For deployment in production environment, I'd prefer `Nginx + supervisord` or `Nginx + gunicorn`.

[2018-11-04 10:08] mungojam commented on #1392
Unfortunately for now we are on windows so I can't use either of those. Maybe I can use waitress with it though which does support windows. We are only serving from localhost (for now), so I can live without nginx or similar I think

[2018-11-04 12:51] d-Rickyy-b opened #1394 "app.stop() does not stop the server"
**Describe the bug**
I am trying to stop the server with `app.stop()` but it seems that it does not work. The server still continues running. I am running the server in a seperate thread and calling `app.stop()` from the main thread.

**Code snippet**
[code]

**Expected behavior**
The server should shut down and the thread should join back into the main thread.

**Environment:**
 - OS: Windows 10

[2018-11-04 17:07] ahopkins commented on #1392
I would suggest docker and kubernetes as the easiest way to spin up multiple processes in production.

[2018-11-05 10:06] chenjr0719 opened #1395 "Logger not work."
**Describe the bug**
Logger did not work at current master commit (https://github.com/huge-success/sanic/commit/7d79a86d4dc48de11cd34e8ba12e41f3a9f9ff18).

**Code snippet**
[code]
There is no any log/output now.

**Expected behavior**
At `0.8.3` release, it will logging/output some messages like:
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Version: h

[2018-11-05 13:15] vltr commented on #1392
@ahopkins I do not have an Azure account (unfortunatelly), just a Microsoft Technet Insider subscription :wink:

Anyway, I think that subscription is enough so I'm already building a Windows Server VM for Sanic testing and development - since I'll have to work on it also for the [auto reloader](https://community.sanicframework.org/t/following-auto-reload-support-for-windows/35).

@mungojam does Wi

[2018-11-05 14:48] vltr commented on #1380
In that case, I think that having a `SERVER_PORT` in the configuration, like @lixxu have mentioned, would be the best approach since we have this approach for the `SERVER_NAME`:

https://github.com/huge-success/sanic/blob/f13f4510846e21456ad93e5cd916564fb32e987a/sanic/app.py#L634-L636

One problem I see is that `urllib.parse.urlunparse` doesn't have a "port" value to be set, so we'll have to appen

[2018-11-05 16:08] ahopkins commented on #1395
@chenjr0719 Can you submit a PR?

[2018-11-05 20:23] stopfaner opened #1396 "asyncio Lock does not work in appropriate way"
I was developing Connection Pool for my own purposes via asyncpg driver. In my case I needed custom in-memory Connection Pool. To achieve thread safeness I wrapped my code into asyncio.Lock(). But while I try simultaneously access to that method and lock is not released, I get an error:

While it should wait until lock released and continue execution, it throws error above.
Sample of code you can

[2018-11-05 21:01] ahopkins commented on #1396
How are you running Sanic? Take a look at #1388. It sounds like it is the issue you are running into.

[2018-11-05 21:05] ahopkins commented on #1396
I am going to close the issue. If this is not the problem, feel free to reopen.

[2018-11-05 21:05] #1396 closed

[2018-11-06 02:32] KeepitReal555 commented on #1395
I'd like to submit a PR for this, can I?

[2018-11-06 02:48] chenjr0719 commented on #1395
@KeepitReal555 Sure, be my guest.
@ahopkins I found something weird. There are 5 test cases in `test_logging.py` and they can all pass even this bug still not fixed. Are all tests will be run when the PR has been merged? If so, I will try to fix those tests to ensure the same bug will not happen again.

[2018-11-06 03:19] harshanarayana commented on #1395
@KeepitReal555 @chenjr0719 @ahopkins
Test cases are passing beause we are not asserting to validate the default log levels in the unit tests.
`assert logging.getLogger('sanic.root').getEffectiveLevel() == logging.INFO` need to be added into `test_logging_defaults` method under `test_logging.py`

[2018-11-06 03:36] KeepitReal555 commented on #1395
@harshanarayana thanks, I didn't think enough, I will modify it right now.

[2018-11-06 04:19] harshanarayana commented on #1395
@KeepitReal555 Thanks for the consideration.

[2018-11-06 04:37] ahopkins commented on #1395
awesome work everyone! Closing this now since there is a PR to discuss further if needed. See #1397

[2018-11-06 04:37] #1395 closed

[2018-11-06 06:19] harshanarayana commented on #1386
@chenjr0719 @ahopkins Let me take a stab at this?

[2018-11-06 06:39] d-Rickyy-b commented on #1394
@harshanarayana Thank you very much. I actually did not find it yet. It looks promising.

I will try to implement that tonight and will report back if that solves my issue :).

Maybe that can be referenced in the documentation? (If it already is, I must be blind, sorry)

[2018-11-06 07:08] harshanarayana opened #1398 "Random Failures during tox run on Mac"
**Describe the bug**
When running Unit Test in local machine (mac), few test cases randomly fail and re-cover during re-run.

**Error Output**
[code]

[code]

[code]

**Code snippet**
NA

**Expected behavior**
Existing Unit Tests to pass in all Virtual env during tox execution.

**Environment (please complete the following information):**
 - OS: macOS Mojave
 - Version 10.14 (18A391)

**Additional

[2018-11-06 09:46] chenjr0719 commented on #1386
@harshanarayana Yes please go get a try. Actually, I have no idea how to implement this feature.:sweat_smile:

[2018-11-06 09:53] harshanarayana commented on #1386
@chenjr0719 @ahopkins @sjsadowski I just created a new PR #1399 for the same.

[2018-11-06 10:08] ahopkins commented on #1394
@d-Rickyy-b I thought it had been in the docs, because that is basically the setup that I am using. But, now I am looking back and forth thru them and cannot find it. I must have used it from the examples. I'll tag this as something worth documenting.

[2018-11-06 10:18] ahopkins commented on #1386
@harshanarayana Thanks! I will take a look. @vltr has been working on [`sanic-boom`](https://github.com/vltr/sanic-boom) that does add this ability now.

So, if you want to use it now, maybe give that a try.

I am marking this as a Future Release as I do not see this as a feature we want to add for 18.12. We are trying to keep the upcoming December (and **first**) LTS release with a limited amount

[2018-11-06 15:16] vltr commented on #1386
@harshanarayana as @ahopkins mentioned, I had my time working on a solution for this. Since I wanted a [more performant router](https://github.com/vltr/very-stupid-simple-routers-bench) for my Sanic applications, I chose to add "route specific" middlewares inside the routing tree (I created a project called [xrtr](https://xrtr.readthedocs.io/en/latest/) for that, based on a Radix Tree).

Basically

[2018-11-06 15:17] vltr commented on #1386
@harshanarayana oh, and I found your solution quite interesting, but had no time to test it yet. I hope I find some soon :wink:

[2018-11-06 15:28] vltr commented on #1398
This happens on my system too, exactly the same error - and I use Arch Linux, so it's not an OS problem :unamused:

[2018-11-06 16:26] harshanarayana commented on #1398
@vltr Well, good to know that I am not the only one who runs into this issue. Btw, can we tweak the test that checks the `Content-Length` a bit to avoid getting the last error? We can see if it exists in a range of values as well. right ?

[2018-11-06 16:31] harshanarayana commented on #1386
@vltr I saw your benchmark script a few days ago and I've to say its super handy and useful.

I've been going over the implementation in `sanic-boom` and it seems really interesting. I still have a bunch more files to go over to understand all the implementation details but I am getting there.  Thanks for kicking off another great utility around `sanic`. Hopefully, we will see your `sanic-boom` in

[2018-11-06 16:37] harshanarayana commented on #1386
@vltr I've been wondering of a few more middleware cases other than the one you mentioned above, I was wondering how you feel about these middleware behaviors.

1. Ability to add conditional middleware based on certain URL path parameters (This can come handy when you have a parameterized API but want to authorize it in two different ways. i.e. JWT/SAML etc)
2. Ability to conditionally add middlew

[2018-11-06 16:53] harshanarayana commented on #1386
Intention behind the current implementation if provide a possible future enhancement where we can bring in the following to Blueprint Group Level. This can come handly when you don't want to add boiler plate code just to register listener/any other such items to each blueprints individually. Hope that makes sense

1. websocker
2. listener
3. exception

[2018-11-06 17:00] harshanarayana opened #1401 "Add example code details to Documentation"
**Describe the bug**
Currently, we have a lot of examples of different use cases in `sanic`. However, it's missing from the Documentation.

**Code snippet**
NA

**Expected behavior**
It will be good if we can have a reference to each of the example code with some brief description in the Documentation section so that everything can be found under a common roof.

**Environment (please complete the

[2018-11-07 00:20] yunstanford commented on #1394
`app.stop()` just stops the running event_loop. and each thread has its own event loop. Also you probably won't need multiple threads for async application.

[2018-11-07 01:09] d-Rickyy-b commented on #1394
@yunstanford I just wanted the API to run in another than the main thread so that it's not blocking the main thread. The posted example helped a lot. I am not finished yet but I guess I can solve the initial issue I got with it.

[2018-11-07 01:54] ashleysommer commented on #1398
Is there any way to reliably make them fail?

I've run them a few times on my main PC (Ubuntu 18.10), my work PC (Ubuntu 18.04) and my Laptop (Fedora 27), but I can't get them to fail at all.

[2018-11-07 02:41] harshanarayana commented on #1398
@ashleysommer
The only issue I can consistently reproduce in my machine is the one where it tries to match the `Content-Length`. (i.e. ` {'Content-Length': '12'} != {'Content-Length': '11'}`)

But this happens only in case of `py37-no-ext` env and not in `py37`. Which is surprising to me. Wonder if it has anything to do with the missing `ujson` installation in `py37-no-ext`

[2018-11-07 04:36] ashleysommer commented on #1398
Ah, I only have python 3.6 (not 3.7) so my system doesn't run the py37
tests.

On 7 Nov. 2018 1:41 pm, "Harsha Narayana" <notifications@github.com> wrote:

@ashleysommer <https://github.com/ashleysommer>
The only issue I can consistently reproduce in my machine is the one where
it tries to match the Content-Length. (i.e. {'Content-Length': '12'} !=
{'Content-Length': '11'})

But this happens only

[2018-11-07 04:36] ashleysommer commented on #1398
Ah, I only have python 3.6 (not 3.7) so my system doesn't run the py37 tests.

[2018-11-07 06:51] isogram commented on #1313
hi @lakaf any solution for this case?

[2018-11-07 06:52] ahopkins commented on #1386
I am also of the opinion that a more prrformant router and modular Middleware are features we should add to sanic core.

My initial reaction to the conditional Middleware idea was that it might add overhead to achieve, and I'm not sure it couldn't add anything that wouldn't be solved with blueprint Middleware and an if statement.

[2018-11-07 06:55] ahopkins commented on #1401
Examples and a "tutorial" was something I have been wanting to add to a beefed up home page and documentation. After this next release I am hoping we can get a few people working together to make a big push on this effort. Care to help?

[2018-11-07 06:57] harshanarayana commented on #1401
@ahopkins Yes. I'm always game for documentation. I also noticed that some of the APIs are missing documentation that needs to be included.

[2018-11-07 08:13] harshanarayana commented on #1386
@ahopkins

1. This might be an overreach, but what if Sanic provides a default router that benchmarked and validated while provides hooks/mechanism to add your own custom/preferred routing mechanism if required? (I know this might not even be a valid case) ?

2. The reason I was thinking of conditional middleware is that we register middleware during the startup and don't worry about it later. So,

[2018-11-07 10:00] harshanarayana commented on #1401
@ahopkins I added a few items under the checkbox to track the things that need to go into Documentation update. Please feel free to update it as applicable.

[2018-11-07 10:02] ahopkins commented on #1386
@harshanarayana

For number 1, I totally agree and would **love** to see that!

As for 2, if we can apply Middleware at the blueprint level (in addition to app and blueprint group), wouldn't that essentially do the same thing? If the condition is a function of the route, then it seems this could be achieved with nesting of blueprints. ESPECIALLY, if there was the ability in number one for customiz

[2018-11-07 10:02] ahopkins commented on #1386
But yes, I agree... it's a web server. Bootup time is not so important. I was thinking you were talking about request level conditions.

[2018-11-07 10:04] ahopkins commented on #1401
Will do. @sjsadowski... want to add this to the project board?

[2018-11-07 10:20] yunstanford commented on #1398
These tests are also flakey with Python3.6 on MacOS

[2018-11-07 12:51] harshanarayana commented on #1398
@vltr @ashleysommer @yunstanford Pardon my silly question, but shouldn't the content length value be same irrespective of what platform you are running in?

[2018-11-07 13:00] vltr commented on #1398
I confirm the reports from @harshanarayana regarding `py37-no-ext`.

The problem is: under `ujson`, an object `dumps` doesn't create a space between colons `:`, while the Python `json` module does it (and after commas `,` too):

[code]

To fix that, you just need to tell the `json` module to not add these spaces after colons:

[code]

I think a minor PR should fix that in [responses.py](https://gi

[2018-11-07 13:35] vltr commented on #1386
@harshanarayana

Yeap, I want to add some other routers in there in the future, but only Python ones (or ones that provide a Python interface at least).

Thanks! I have a slightly different approach with sanic-boom than I have with Sanic (like not having any static file utilities; in my opinion it's useless), but component injection and all that neat stuff would be great to incorporate into Sanic

[2018-11-07 13:58] vltr commented on #1313
A discussion regarding `auto_reload` support and better IDE integration is ongoing in the [community forums](https://community.sanicframework.org/t/following-auto-reload-support-for-windows/35). The title refers to Windows, but everything is being overhauled to work seamlessly on the three major platforms (Linux, Windows and mac OS).

[2018-11-07 14:32] lakaf commented on #1313
Yeah as vltr mentioned this is related to `auto_reload`, you could set `auto_reload` to `False` in sanic's run call and this will fix this issue for now.

[2018-11-07 14:39] harshanarayana commented on #1398
@vltr Creating a PR with modified Test cases in a while. Saved me the effort of debugging the issue. :)

[2018-11-07 14:55] vltr commented on #1398
@harshanarayana great! I'm glad to help, I'm just sorry I don't have the proper time right now to provide this PR myself ...

[2018-11-07 16:14] harshanarayana commented on #1398
@vltr

[code]
Looks so good 😀

[2018-11-07 16:17] vltr commented on #1398
Oh yeah! :metal:

[2018-11-07 17:16] harshanarayana commented on #1398
@vltr @ashleysommer Found another odd behavior with the tox env setup.
If you look at the `setup.py`, if `SANIC_NO_UJSON` is set, then the `ujson` module won't be installed.

[code]

However, the `ujson` in available in `py35-no-ext`. Which shouldn't happen.

[code]

[2018-11-07 17:21] vltr commented on #1398
That's odd, but sort of explains why only Python 3.6 and 3.7 `-no-ext` were failing in tox ... Does it installs `uvloop` on Python 3.5 too?

[2018-11-07 17:58] isogram commented on #1313
thanks @lakaf 👍

[2018-11-07 18:06] vltr commented on #1398
@harshanarayana perhaps [this part](https://github.com/huge-success/sanic/blob/92b73a6f4f92c72106f61440d591c297357e5955/setup.py#L67-L74) of `setup.py` is not working as expected under Python 3.5?

[2018-11-07 18:53] harshanarayana commented on #1398
@vltr Nope. It's working exactly the same way across all 3 `*-no-ext` environments. However, I cleaned up the `*-no-ext` and re-ran the `tox` and not, `ujson` is missing in all 3 as expected but `uvloop` is in `py35-no-ext` but no in other two `-no-ext` environments

[2018-11-07 21:16] smlbiobot opened #1404 "Add optional argument to bypass safe URL quoting in response.redirect()"
**Is your feature request related to a problem? Please describe.**
Since version 0.8, `response.redirect()` function automatically escape URLs without the option to bypass it. Specifically, I am referring to this line:

https://github.com/huge-success/sanic/blob/master/sanic/response.py#L413

[code]

I am using a library: [sanic-oauth](https://gitlab.com/SirEdvin/sanic-oauth) which returns a redir

[2018-11-07 21:21] vltr commented on #1398
@harshanarayana that's weird (and random). Tomorrow I'll take a look directly into some clean environments to check what may be happening with Python 3.5 ...

[2018-11-08 11:53] vltr commented on #1404
Well, this is a tricky one. In one hand, I would like to say that plugin authors should rely on Sanic to provide the means to redirect URLs without the need to `quote` their string.

In the other hand, I may need to build my URL with some other encodings (such as base64) which is already safe to use, and Sanic does not provide a function to encode / decode a given URL (for Sanic plugin authors and

[2018-11-08 11:56] ahopkins commented on #1404
I have been mulling this one over in my head and had not posted my thoughts because I am not 100% sure I have fully formed an opinion.

Yes, I see how this could be needed ... But it seems a narrowly needed flag to add. It seems like there should be another way. I had thought about what if `safe` was something that could be passed. I think this is probably not sufficient.

Given the options @vltr

[2018-11-08 15:57] vltr commented on #1398
@harshanarayana somehow, if I execute only the `-no-ext` tests, `uvloop` and `ujson` end up being installed into the Python 3.5 environment (through `tox`). No matter what (and how) I call [`tox`], `ujson` and `uvloop` will be in that environment. I'm digging a little bit deeper now into what happens with `tox` and the environment variables set to not install these dependencies being ignored in Py

[2018-11-08 16:03] harshanarayana commented on #1398
@vltr I did the same thing with no luck. I even tried the `pipdeptree` to analyze the dependencies of where the module comes by running the `--reverse --packages` mode, but `uvloop` just seems to appear out of nowhere. It doesn't come from any parent dependency!

[2018-11-08 16:06] vltr commented on #1398
@harshanarayana exactly. Something is not right and I'll find out soon :wink:

[2018-11-08 16:35] harshanarayana commented on #1398
@vltr Please do let me know if there is anything I can do to help your investigation into this criminal matter. 😉

[2018-11-08 16:43] vltr commented on #1398
Will do ... Because this is getting stranger and stranger ...

[2018-11-08 16:48] ahopkins commented on #1398
@vltr when in doubt.... blame it on the gremlins.

[2018-11-08 16:54] vltr commented on #1398
@ahopkins yeah, well, it's starting to rain in here, so ...

More fun stuff (inside the Sanic repository using [pip-tools](https://github.com/jazzband/pip-tools)):
[code]

[2018-11-08 17:45] vltr commented on #1398
I finally found the problem :sweat:
[code]

Even the full test is now reporting "correctly" (prior to PR #1403):
[code]

**How?** Dead simple. The problem is [here](https://github.com/huge-success/sanic/blob/0e9f3509822a63d373b7b639904f1632c64efc38/tox.ini#L13). When installing `pytest-sanic` as a test dependency, it will install what? [Sanic](https://github.com/yunstanford/pytest-sanic/blob/83306

[2018-11-09 04:32] harshanarayana commented on #1398
@vltr Wow. That's some detailed analysis. Thanks for doing this.

If we want to keep but avoid the cyclic dependency, we just keep `sanic` as a dev dependency in `pytest-sanic` and the regular installation expects `sanic` to pre-exist. That way, it won't force install anything during the usage and if you are developing `pytest-sanic` you always use the latest stable `sanic` base.. Would that make

[2018-11-09 11:34] djoek commented on #489
in the interim, are there recommendations to run Sanic (+gunicorn?) behind for instance a Caddyserver?

[2018-11-09 12:09] vltr commented on #1398
@harshanarayana Erm ... I might need to disagree. I think that no software should have a circular dependency in any stage, and I'm going to make a PR for that matter.

As for `pytest-sanic`, I think it is almost inherit that you should need Sanic to test your application, so you would probably already have Sanic as a dependency in your project. I see no need in adding Sanic as a `install_dependenc

[2018-11-09 12:20] ahopkins commented on #489
I am not familiar with caddyserver. But, while you can use gunicorn [see the docs](https://sanic.readthedocs.io/en/latest/sanic/deploying.html#running-via-gunicorn), I would say my recommended way is with the built in server using something like Kubernetes to manage one or more instances for horizontal scaling.

[See my answer here](https://community.sanicframework.org/t/gunicorn-uwsgi-vs-build-in

[2018-11-09 13:01] vltr commented on #1398
Removing `pytest-sanic` from `tox.ini` in the current master just unleashed hell. We need to address this another way. I'll update this issue on that matter as soon as I figure out something.

[2018-11-09 13:10] harshanarayana commented on #1398
@vltr Now that you found the root cause for the problem, let me see what we can do to fix the problem as well. I'm sure we can come up with something.

[2018-11-09 13:16] vltr commented on #1398
@harshanarayana don't worry, I already addressed the issue with the core-devs to find the best solution - IMO `pytest-sanic` should not be a dependency in Sanic in any way, but let's see what we can come out with.

[2018-11-09 13:16] harshanarayana commented on #1398
@vltr If we remove `sanic` as a dependency from `pytest-sanic` under it's `install_requires`,  `pytest-sanic` will not bother about `sanic` during the installation. That should address the circular dependency issue you were talking about before.

So, now that we are only going to use the `sanic` we have in our cloned repo for everything, if the right env variables for `SANIC_NO_UJSON` and `SANIC_N

[2018-11-09 13:17] harshanarayana commented on #1398
@vltr Great. Thank you very much for the help. 🏆

[2018-11-09 13:30] yunstanford commented on #1398
`pytest-sanic` is not a direct dependency of `Sanic`, it's test dependency, it won't show up when anyone installs `Sanic`. Also Sanic test_client is error-prone and can't test multiple cases, e.g. It brings up a server and tears it down for each single request call, all requests are actually hitting "different" servers. If any test case need to involve two/or more consecutive requests and assert/v

[2018-11-09 13:31] yunstanford commented on #1398
But I don't have strong opinion here, i'm fine to remove `pytest-sanic`.

[2018-11-09 13:34] vltr commented on #1398
@yunstanford I know `pytest-sanic` is not a direct dependency of Sanic, but it's part of the development process (as being a test dependency). If Sanic `test_client` is error prone, then we should make it work **or** change `pytest-sanic` so it'll act as an utility tool (without explicitly requiring Sanic). Otherwise, we will not be able to guarantee our testing environments, and that's a big prob

[2018-11-09 13:43] yunstanford commented on #1398
removing `Sanic` from `pytest-sanic`'s install_requires sounds reasonable.

I'm fine with moving the repo when we come up a proposal for bringing up all Sanic related projects together and also how we maintains them.

[2018-11-09 13:46] vltr commented on #1398
@yunstanford great, we can sleep on that and think about proposals for the future :wink:

[2018-11-10 08:35] mungojam commented on #1392
@vltr

Afraid I have no idea on this one, I haven't done it before and I think I've been spoilt by frameworks and languages that handled all that for me and did multithreading without a GIL to worry about

[2018-11-10 08:46] harshanarayana opened #1407 "Housekeeping Items"
I've been trying to add a few more unit test cases to increase the existing coverage value and noticed a few things. This thread is to track them and check to see if they are something that needs to be addressed and get a feedback from the community.

# Cookies
## Max-Age
The current implementation of the `Cookie` class attempts to set the cookie as follows.
[code]
I don't think we need to have th

[2018-11-12 00:59] skewty commented on #1318
@ahopkins **uvloop** and **ujson** are already compiled dependencies.  The decision was already made to favor speed.  I say go for it.

[2018-11-12 10:17] vltr commented on #1398
@yunstanford , thanks for "fixing" [pytest-sanic](https://github.com/yunstanford/pytest-sanic/commit/cb7aa24ebf0e57e1cc7567131d713cea09d1ed88#diff-2eeaed663bd0d25b7e608891384b7298) regarding this issue. I'll bring up the matter for bringing some Sanic related projects (that are really a plus to have, like yours) into the `huge-success` umbrella :wink:

[2018-11-12 15:14] sjsadowski commented on #1407
@harshanarayana it's also to helpful to bring discussions issues over to the [community](https://community.sanicframework.org)

[2018-11-12 17:53] vltr commented on #1392
@mungojam

No problem, in fact this has not to do with GIL or even Python. I used to deliver solutions for the Windows platform for quite some time, and from what I can remember (at least up until Windows 2008 Server), one process (no matter which technology it was written) simply could not share the same socket with another process (which can be easily achieved in Linux and I guess most BSD based

[2018-11-12 21:19] mungojam commented on #1392
@vltr

Sure, my rather off-topic reference is to the fact that you don't need multiple-processes with other frameworks like .net because they support using multiple cores/processors within the same process just by multi-threading. I'm a bit in over my depth with how that's different to forking which I believe Windows doesn't support though.

Does that mean that if I had multiple workers working th

[2018-11-13 14:03] sjsadowski commented on #1407
Thanks @harshanarayana - we're trying to keep 'discussion' issues limited, and the actual discussion to the forums there.

[2018-11-13 14:03] #1407 closed

[2018-11-13 20:06] vltr commented on #1392
Perhaps. Try this simple application (based on yours at the start of this issue) and see if it returns different pid numbers (and if this is the correct way to get the pid under Windows as well):

[code]

If it does returns different pids, then I guess it supports this feature now :smiley:

[2018-11-15 06:35] fun0gs commented on #546
What a pity is that [aiohttp](https://aiohttp.readthedocs.io/en/stable/web_quickstart.html#file-uploads) supports it.

[2018-11-15 07:36] em92 commented on #1183
@smlbiobot have you solved your issue? Currently I using monkey patch like this:

[code]

[2018-11-15 08:21] fun0gs commented on #546
one temporary advice for flow control in  `sanic.server.HttpProtocol`
[code]

[2018-11-15 10:13] oubeichen commented on #445
how to get the app_context in celery?

[2018-11-18 01:36] feluxe commented on #530
Cython now understands PEP484 and PEP526 type annotations.

That means you can run the Cython compiler on (pure) Python files and get decent speed improvements.

On my machine it takes `9.79` seconds to run `func_a` `5000000` times:

[code]

The same code with some type annotations runs in `2.40` seconds (compiled with cython).

[code]

Maybe this is something sanic could make use of?

[2018-11-18 05:16] ahopkins commented on #530
There are two separate things going on here. First, it probably makes sense to create some,stub files to help developers.

Second, making use of Cython. We've talked about this before and it may be in the table for some of the features in 2019. But I would suggest moving this conversation to its own thread. And since it is not a specific enhancement, I'd suggest starting a conversation on the [com

[2018-11-18 05:17] ahopkins commented on #530
Anyone interested to start working in some stub files? @sjsadowski and @yunstanford, 19.03?

[2018-11-18 13:58] yunstanford commented on #530
Yeah, I'd like to optimize it with `Cython`. I've done some work before.

[2018-11-19 11:53] StVl commented on #1011
@liuqian1989  блокировка на файле это очень плохо, запустить 17 воркеров и ждать, пока один выполнит свою работу это "so bad"

[2018-11-19 13:52] vltr commented on #530
Yeah, this might give some performance boost but I think we should be able to have a pure Python implementation as a fallback in case installing binaries is not possible (ex: using pypy (or any other Python implementation that's not CPython); container Linux images without the proper build tools (there's an issue describing this problem [here](https://github.com/docker-library/docs/issues/904)) an

[2018-11-20 00:48] feluxe commented on #530
@vltr   The compiled version could be uploaded to pypi as `csanic`.

[2018-11-20 11:38] vltr commented on #530
@feluxe yeah, well, I not much convinced in using the letter `c` as prefix since it reminds C. I know that Cython **generates** C code (and has to be compiled as such), but it is far away from being as performant as a C code made for that same specific purpose (with Python bindings - in pure C or Cython). I know there are cases where C code and Cython code can "match" each other in performance, bu

[2018-11-20 13:25] Vitalio44 opened #1417 "Error: Range Header Not Found"
## Error: Range Header Not Found
I try get range from request, but take error.
[code]
Idea is to response a video file with a status of 206

[2018-11-20 13:35] harshanarayana commented on #1417
@Vitalio44

[code]
This is the section that causes the error you are referring to. Looks like your incoming request is missing the Http header `Range`.
eg: `Range: bytes=12-19`

Also, your snipped has another small issue that I noticed. `Accept-Ranges` header is wrong.
It currently says `'Accept-Ranges': 'Accept-Ranges: bytes'` however, it should be `'Accept-Ranges': ' bytes'`

[2018-11-20 13:45] vltr commented on #747
@harshanarayana but, does it work (let's say, a simple server does actually spins up and answers to requests), with or without  extensions (uvloop, ujson, idk) ?

[2018-11-20 13:56] harshanarayana commented on #747
@vltr Yes it does. I tested the basic API with JSON and Text responses and it worked perfectly. (With and without `ujson`. Need to test the `uvloop` still. ) However, I haven't benchmarked it yet.

[2018-11-20 14:21] vltr commented on #747
@harshanarayana that's good news for Sanic! But I don't think `uvloop` works on PyPy, see [this issue](https://github.com/MagicStack/uvloop/issues/32) for more information.

[2018-11-20 15:03] Vitalio44 commented on #1417
### another way
[code]
First time 'range': 'bytes=0-' then None. and then MemoryError

[2018-11-20 15:38] harshanarayana commented on #1417
@Vitalio44 Below code is taken from the example file `try_everything.py`

[code]

[2018-11-20 15:48] harshanarayana commented on #747
@vltr

I saw that earlier and I also found another [conflicting case in their issue page](https://github.com/MagicStack/uvloop/issues/129). So, looks like it needs a bit more looking into.

[2018-11-20 16:06] vltr commented on #747
Oh, yeah, I totally forgot about that one. Perhaps you need to build `uvloop` against your PyPy includes (through Cython) instead of having the binary wheel (that's compiled against CPython)?

[2018-11-21 09:10] djoek commented on #489
Cool, thanks @ahopkins !  caddyserver is just a http2 server, so the question was more of a "what are the http2 best practices" but i can roll with this

[2018-11-21 10:31] vltr commented on #747
@harshanarayana that's interesting. I thought `uvloop` wasn't even going to compile on PyPy, but I was wrong. Anyway, if you have the time, then yes, time for the big guns. I'm already happy to know that Sanic works on PyPy (without `uvloop`). I just don't know if this is an isolated problem regarding `uvloop`, if so, how to deal with it?

[2018-11-21 18:34] suyash248 commented on #1235
I'm getting following error.

Anyone having any idea of how to fix it?

[2018-11-23 16:34] vvaradarajan commented on #1079
I had this error, and debugging showed it was 'my bad' !  The error occurred due to exceptions in async processes that handle websocket input from sanic:
Nov 23 14:28:17 ... start.sh[17457]: Fatal error on transport TCPTransport (error status in uv_stream_t.shutdown callback)
Nov 23 14:28:17 ... start.sh[17457]: protocol: <sanic.websocket.WebSocketProtocol object at 0x7ff978192b48>
Nov 23 14:28:17

[2018-11-23 20:18] mungojam commented on #1392
Just tried it on my Windows 10 machine and it works fine. Different pids

[2018-11-25 16:09] vltr commented on #1392
@mungojam great news! It's one more thing to not worry about (on Windows) ...

[2018-11-25 21:56] hatarist opened #1420 "url_for() doesn't return a working URI for a route with the trailing slash and strict_slashes=True"
**Describe the bug**
Say we have a route with the trailing slash and `strict_slashes=True`:
`@app.route('/endpoint/', strict_slashes=True)`
this way, `url_for()` will always trim the trailing slash, returning a non-working URL.

**Code snippet**
[code]

**Expected behavior**
In my example, `request.app.url_for('endpoint')` is expected to return `'/endpoint/'`.

**Environment (please complete the f

[2018-11-25 22:29] ahopkins commented on #1420
I confirmed the behavior. @hatarist Do you think you could take a swing at a PR?

[2018-11-26 12:11] vltr commented on #1420
To be honest, I was never a fan of the `strict_slashes` option ... But I know this can lead to [large discussions](https://stackoverflow.com/questions/5948659/when-should-i-use-a-trailing-slash-in-my-url), so I won't discuss that.

My only concern is that the Sanic router [doesn't actually save](https://github.com/huge-success/sanic/blob/aa0874b6d8b74f82a086098b111ffe63b2774ff9/sanic/router.py#L12

[2018-11-26 16:07] harshanarayana commented on #1420
@vltr  I agree with you on the amount of changes required to address this the right way. However, the current implementation contradicts with the `strict_slashes` behavior that is already enforced on other parts of the `sanic` framework.

I believe it might be a good idea to move the [Route namedtuple](https://github.com/huge-success/sanic/blob/aa0874b6d8b74f82a086098b111ffe63b2774ff9/sanic/router

[2018-11-26 16:46] ahopkins commented on #1420
+1 I like this idea @harshanarayana

Without sidetracking this conversation too much ... Let's open this discussion on the forums about **what** to do with the router. The December release is coming up fast, and if we want to have a chance at putting in a new router implementation (or resolving some of the existing issues) by March, let's make some decisions soon.

[2018-11-26 16:58] harshanarayana commented on #1420
@ahopkins @vltr If everyone is okay with it, the quick way to fix this issue without changing too much and the core router implementation is to remove the forced removal of the trailing `/` in the `url_for` method.
If not that, then we should be able to leverage the `app.strict_slashes`. However, this means we are enforcing the `strict_slashes` directly at the app level rather than the route level

[2018-11-27 09:50] vltr commented on #1420
I agree with @ahopkins to take this discussion to the community forums. We can also take the discussion on #1386 regarding routing there as well - @hatarist I think you will be onboard since you gave a lot of insigts on the related issue. Just a couple of notes here:

Indeed, this is something that will need a lot of attention to fix "sanic-wise".

That I couldn't agree more. Interacting with the

[2018-11-29 15:18] Devansh3790 opened #1421 "Installing Sanic on Ubuntu 16.04 LTS and Python 3.6"
**Describe the bug**
A clear and concise description of what the bug is, make sure to paste any exceptions and tracebacks.

**Code snippet**
Relevant source code, make sure to remove what is not necessary.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Version [e.g. 0.8.3]

**

[2018-11-29 15:47] vltr commented on #1421
Hello, @Devansh3790 ! I think you need to install the `python-dev` (or `python-devel`, `python-headers`, I don't remember) package on your system (or something like that, I do not use Debian based systems for a long time now), because Cython can't find the Python headers to compile some of the dependencies (in the error you got, `ujson` to be more specific). Let me know if this works for you :wink

[2018-11-29 15:50] vltr commented on #1421
Oh, I just saw that you tried to install the headers already (from #1259). Did you installed your Python 3.6 version using another method - pyenv, etc?

[2018-11-29 16:14] Devansh3790 commented on #1421
@vltr I follow [link](http://ubuntuhandbook.org/index.php/2017/07/install-python-3-6-1-in-ubuntu-16-04-lts/) to install python3.6.

[2018-11-29 16:23] vltr commented on #1421
Oh, ok, from a PPA. From what I could see in the [repository](https://launchpad.net/~jonathonf/+archive/ubuntu/python-3.6/+packages), you can try to install the `python3.6-dev` package:

[code]

And, after that, repeat the installation process of Sanic, see if it works. Maybe you'll need to recreate your virtual environment, but this is just a hunch.

[2018-11-30 11:44] Devansh3790 commented on #1421
Tried to install with using Python3.6 &3.7 but didn't work. With python 3.5 installed.

Please review the issue.

[2018-11-30 12:16] vltr commented on #1421
@Devansh3790 thanks for the feedback! As I told you, the error you got is based on the fact that your Python environment does not have the respective Python source code / headers, so third party modules written in C can't compile against, hence the line ` ./python/py_defines.h:39:20: fatal error: Python.h: No such file or directory` within the output from your installation attempt. You were able t

[2018-11-30 13:06] StVl commented on #1235
!!

[2018-11-30 21:52] Devansh3790 commented on #1421
I removed python3.6 from my system and installed it from python.org's `Python-3.6.7.tar.xz`.

But still facing same issue.

[2018-12-01 04:01] harshanarayana commented on #1421
@Devansh3790 follow your original install process where you insta soles it from ppa and after that install the python Dev package using `apt-get install python3.6-dev`.. This will add all the necessary headers.

[2018-12-01 17:34] adamgering commented on #1150
This should return UTF-8:

python3 -c 'import sys; print(sys.stdout.encoding)'

[2018-12-02 04:13] adamgering commented on #1150
Fixed in docker via:

RUN apt-get install -y --allow-unauthenticated -q locales \
&& locale-gen en_US.UTF-8

ENV LC_ALL=en_US.UTF-8

[2018-12-04 11:33] vltr commented on #1420
@MichaelYusko I think we need to take this matter to the forums for a better discussion, because the "correct way" of fixing this is way bellow the `url_for` method ...

[2018-12-04 11:35] MichaelYusko commented on #1420
@vltr Thanks, okay will jump into the forum;)

[2018-12-04 11:40] vltr commented on #1420
@MichaelYusko actually we need to create that discussion in the forum ... Oh my. Sorry, my head is over the clouds today.

[2018-12-04 11:40] vltr commented on #1420
I'll start the discussion and post the link here ASAP ...

[2018-12-04 12:02] MichaelYusko commented on #1420
@vltr Gotcha, no worries;) start of the week, is always hard ;-)

[2018-12-04 12:58] vltr commented on #1420
@MichaelYusko yeah, sort of ... Busy day in here.

Also, @hatarist @ahopkins @harshanarayana take a look at the [community forums](https://community.sanicframework.org/t/strict-slashes-attribute-unbound-to-the-route-router/124) for that matter.

[2018-12-04 13:07] mikeylight commented on #1420
@vltr Thanks, will follow up the thread on the forums.

[2018-12-09 19:57] jibinmathew691993 commented on #988
Facing exact same issue, how do I run multiple requests within test case using pytest-sanic.

[2018-12-10 07:45] jibinmathew691993 commented on #988
Could someone provide an end to end example for implementing multiple requests, or create proper tutorials?

[2018-12-10 14:13] jibinmathew691993 commented on #988
I am running an asynio.ensure_future(task) in the the api call for an asynchronous API call when I disable that the async task the test work properly. However, when the async task is enabled the event

[code]

[2018-12-10 14:16] bratushka commented on #988
@jibinmathew691993 please show your `tests/test_app.py`

[2018-12-10 14:21] jibinmathew691993 commented on #988
contents of test_app.py

[code]

[2018-12-10 16:20] bratushka commented on #988
@jibinmathew691993 and the code of the `/v1/images/upload` endpoint, please

[2018-12-11 04:41] MJ111 opened #1425 "sanic object is not same with in listener."
**Describe the bug**

Sanic object hash value is not same between inside of listener method and outside of listener method. I compared each object in listener and object in other file, object hash is not same. They're not the same object.

**Code snippet**
listener.py
[code]
app.py
[code]
view.py
[code]
**Expected behavior**

Sanic app object should be same object wherever called.

**Environment**

[2018-12-11 04:46] MJ111 commented on #1425
sorry this is my issue 🙏

[2018-12-11 04:46] #1425 closed

[2018-12-11 05:03] jibinmathew691993 commented on #988
this is the function call in `/v1/images/upload` end point

[code]

[2018-12-11 10:30] luochenxi opened #1426 "Test case:[test_keep_alive_timeout.py] In the file, a new TCP connection was not created after the 'keep alive timeout'"
@hramezani Hi，Test case:[test_keep_alive_timeout.py](https://github.com/huge-success/sanic/blob/master/tests/test_keep_alive_timeout.py)  In the file, "test_keep_alive_client_timeout() "  and  "test_keep_alive_server_timeout()"
Method ， a new TCP connection was not created after the  'keep alive timeout'.
Or is it where I understand it wrong?

* warnings: (See the green box section, please!)
![ima

[2018-12-11 10:56] hramezani commented on #1426
Hi @luochenxi, I just fix the lint problem for this file. unfortunately, I have no idea about your question.

[2018-12-11 12:38] luochenxi commented on #1426
Ok, Thanks!

[2018-12-11 12:42] luochenxi commented on #1426
@ashleysommer @yunstanford  Hi，Can you help me with this question?

[2018-12-12 02:58] LBWright commented on #1401
@ahopkins @harshanarayana I've been thinking about building out examples but I'd like a little clarity.

Would it be better to showcase connecting to a low-level db using an async driver, or would it be better to incorporate a few examples that users would likely be using - like asyncpg?

[2018-12-12 03:08] LBWright opened #1428 "Test coverage for reloader_helpers.py"
This seems to be the number 1 area that coverage is lacking. What's the best way to go about testing these utilities? I can see why it's been pushed until the very end, as they're awkward to test.

[2018-12-12 03:08] LBWright commented on #1428
Moving conversation to group.

[2018-12-12 03:08] #1428 closed

[2018-12-12 05:09] harshanarayana commented on #1401
@LBWright it's better to keep the examples as exhaustive as possible. Both items you mentioned has its own advantage but caters to two different level of audiences. So, why limit when we add examples? We add both and let the end user decide which one they want to use.

[2018-12-12 06:37] harshanarayana commented on #988
@jibinmathew691993 I am looking into this to see what I can find out. I will update this thread shortly with findings.

[2018-12-12 16:05] #1417 closed

[2018-12-12 16:06] #1303 closed

[2018-12-12 16:54] vltr commented on #1398
@sjsadowski @yunstanford I think we can close this issue by now.

[2018-12-12 18:07] harshanarayana commented on #1398
@vltr I can confirm that these random intermittent errors are seen no more. We can close this issue. Thanks everyone for the help :)

[2018-12-12 18:07] #1398 closed

[2018-12-12 20:21] LBWright commented on #1401
Sounds good! I just wanted to make sure I had permission to start libraries into my examples.

[2018-12-13 10:46] vltr commented on #1401
@LBWright we sure need any kind of example possible, from the simplest "hello world" to advanced `asyncio` hacks and integrations. If you look at what has been asked in the [issues](https://github.com/huge-success/sanic/issues?utf8=%E2%9C%93&q=is%3Aissue) so far, [gitter](https://gitter.im/sanic-python/Lobby) and in the [community forums](https://community.sanicframework.org/c/questions-and-help),

[2018-12-18 06:57] LittleLampLight commented on #1272
Hi! Is there anyone working on that? I'd like to try to implement that, but not sure if that's desired by core developers.

Also, extra thoughts on realisation appreciated.

[2018-12-20 01:43] rbw opened #1432 "Disabling the LOGO"
**Describe the bug**
[code]

Kept getting this in my Sanic log.

Started debugging and realized setting LOGO to a false value other than None is treated as a logo.

**Code snippet**
`app.config.LOGO=False`

**Expected behavior**
No logging of course.

**Additional context**
Let's get real - no one in their right mind would set LOGO to False, empty string, 0 or such and expect Sanic to treat it as

[2018-12-20 01:54] rbw commented on #1432
Oh, yeah- and thank you for a great piece of software. Love it :+1:

[2018-12-23 17:15] abuckenheimer commented on #1432
Fine by me if you want to put in a PR for this

[2018-12-24 03:10] ahopkins commented on #1432
Agreed. Should be a simple PR to get approved.

[2018-12-25 05:40] chenjr0719 commented on #1426
@luochenxi

Here is my understanding of [test_keep_alive_timeout.py](https://github.com/huge-success/sanic/blob/master/tests/test_keep_alive_timeout.py)(if something wrong, just blame me):

To verify server side and client side will **not** create a new TCP connection, the `ReuseableTCPConnector()` use an attribute `old_proto` to store the protocol of the first request. Once the second request is

[2018-12-25 09:52] ahopkins commented on #1272
@LittleLampLight It does sound like something that should not be too difficult to add.

Take a look at https://github.com/huge-success/sanic/blob/master/sanic/server.py, and you will see that `connections` currently are handled as a `set()`. I guess we would need to store them in some sort of an LRU cache instead. Using the standard library module would likely not be enough because we need to remo

[2018-12-25 10:06] ahopkins commented on #1235
I am closing this for now as it seems there is nothing to do. If wrong, please correct me.

[2018-12-25 10:08] ahopkins commented on #758
@tonyplayboy I am closing this for now. If you are still experiencing an issue with logging, please open a new issue or conversation on the [community forums](https://community.sanicframework.org/)/

[2018-12-25 10:08] #758 closed

[2018-12-25 10:16] ahopkins commented on #988
I am closing this as it does not seem like a Sanic issue and should either be addressed on [`pytest-sanic`](https://github.com/yunstanford/pytest-sanic) or the [community forums](https://community.sanicframework.org/). If I am wrong and there is something related to Sanic itself, please open a new issue.

[2018-12-25 10:16] #988 closed

[2018-12-27 04:12] luochenxi commented on #1426
@chenjr0719  Good！ Thanks for your guidance。

[2018-12-27 04:12] #1426 closed

[2018-12-27 21:11] ahopkins commented on #1328
For more discussion, please reopen in https://community.sanicframework.org/

[2018-12-27 21:11] #1328 closed

[2018-12-27 21:13] ahopkins commented on #1381
Closing in favor of #1346 and the community discussion linked above.

[2018-12-27 21:13] #1381 closed

[2018-12-30 10:31] ahopkins commented on #1432
See #1443 with the new logo and some changes to the LOGO.

[2018-12-30 10:31] #1432 closed

[2018-12-31 11:50] ahopkins commented on #977
Done.

[2018-12-31 11:50] #977 closed

[2019-01-01 16:25] ahopkins opened #1448 "Documentation on amending request object"
The documentation on how to amend the request object (with Middleware for example) could use some more explanation that it works like a regular dict. See #1447.

[2019-01-02 06:05] chenjr0719 commented on #1448
@ahopkins I can handle this.

[2019-01-02 08:28] anthon-alindada opened #1450 "Csrf protection"
Hi can someone please tell me how i can implement csrf token in sanic. I want to create an application using sanic and reactjs. Using sanic-wtf how can i pass the csrf token in react without passing the form in the template. And if someone can give me an example on how to do csrf token in sanic using ajax request that would be great. Thank you in advance.

[2019-01-02 09:22] ahopkins commented on #1450
It really depends how you are building your application. One thing you might want to look at is this package here: https://github.com/pyx/sanic-wtf.

For a more detailed discussion, and if you need additional help, please [post on the community forums](https://community.sanicframework.org/). ;-)

[2019-01-02 09:22] #1450 closed, assigned to nobody

[2019-01-02 13:16] harshanarayana opened #1451 "Remove unwanted None check for __repr__ in `Request` class"
# Description
The current implementation of the `Request` class provided by `sanic` has a `__repr__` method that performs an unnecessary `None` check on `method` and `path` and there it is not possible that they can be `None`.  We can remove these condition checks and have a much simpler `__repr__` implementation.

# Reference
1. `__repr__` [implementation](https://github.com/huge-success/sanic/bl

[2019-01-02 13:25] harshanarayana opened #1452 "Enforce Integer only value for Max-Age Cookie"
# Description
As per the `HTTP` standard guidelines, `Max-Age` for a `Set-Cookie` can only be an integer.

Current `Cookie` class provided by `sanic` has a fallback catch block that uses any value that you provide to `max-age` as a valid item and sets it.

# Reference
1. `encode` method in `Cookie` [class](https://github.com/huge-success/sanic/blob/096c44b910443e74c821dbf21adf2f86ccda8611/sanic/co

[2019-01-02 13:32] harshanarayana opened #1453 "Enforce Date Type for Expires on Set-Cookie"
# Description
As per the `HTTP` standard guidelines, the `Expires` parameter of the `Set-Cookie` needs to be a date in the format specified by the [RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.2) as shown in [Mozilla Dev Guide](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)

Current `encode` method in `sanic`'s `Cookie` class though enforces this standard, it will a

[2019-01-02 19:22] quasarj opened #1454 "Request stream not working when using Blueprints"
**Describe the bug**
When trying to use Request Streaming in a route that is part of a blueprint, the request.stream object is never set (it is None), _unless_ `stream=True` has been set on some global route.

**Code snippet**
[code]

**Expected behavior**
Expect request.stream to be set.

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04, RHEL7
 - Version 18.12.0 an

[2019-01-02 20:03] rbw opened #1455 "Useful details about some HTTP errors discarded in InvalidUsage"
**Describe the bug**
The `httptools.parser.errors.HttpParserError` exception gets useful details discarded when wrapped in `sanic.exceptions.InvalidUsage`.

For instance; if an invalid method is used, the "Invalid HTTP method" message gets replaced by just "Bad Request".

**Code snippet**

https://github.com/huge-success/sanic/blob/cea1547e08230b6ad49eb7777fd8db5335382b7a/sanic/server.py#L271-L275

[2019-01-02 20:16] rbw commented on #1455
If someone wants the more generic "Bad Request" variant, it can be easily obtained from `sanic.helpers.STATUS_CODES` - right?

[2019-01-03 02:10] chenjr0719 commented on #1451
Just a reminder, don't forget the test.
https://github.com/huge-success/sanic/blob/cea1547e08230b6ad49eb7777fd8db5335382b7a/tests/test_requests.py#L558-L567

[2019-01-03 02:11] chenjr0719 commented on #1452
Related test:
https://github.com/huge-success/sanic/blob/cea1547e08230b6ad49eb7777fd8db5335382b7a/tests/test_cookies.py#L141-L156

[2019-01-03 02:18] chenjr0719 commented on #1453
@harshanarayana What about a string with valid format?

Related test:
https://github.com/huge-success/sanic/blob/cea1547e08230b6ad49eb7777fd8db5335382b7a/tests/test_cookies.py#L159-L181

[2019-01-03 05:12] pranaysharma opened #1456 "MQTT over websocket"
Hi,
I checked the community portal if anyone had created an MQTT broker over websockets and I found no posts there.
Any pointers how the same can be done via Sanic or some other tool in python.
Best Regards
Pranay

*DELETE ALL BEFORE POSTING*
*Post your HELP WANTED questions on [the community forum](https://community.sanicframework.org/)*.

Checkout the community forum before posting any question

[2019-01-03 06:06] ahopkins commented on #1453
Seems like an extra check for a relatively unimportant edge case.

[2019-01-03 13:10] sohil2609 commented on #1079
@aljones15 Hi Sir, I am getting same issue when i load test. Did you found any solution from that?

[2019-01-03 16:40] aljones15 commented on #1079
@sohil2609 issue seems to be with the framework thankfully that project changed to java with jersey.

[2019-01-03 17:36] ahopkins commented on #1079
What is the full exception @sohil2609? How are you deploying Sanic? And, on what architecture?

[2019-01-04 05:11] scheung38 opened #1458 "within Flask-PyMongo context: AttributeError: 'Sanic' object has no attribute 'url_map"
**Describe the bug**
    app.url_map.converters["ObjectId"] = BSONObjectIdConverter
AttributeError: 'Sanic' object has no attribute 'url_map'

when changing from:

app = Flask(__name__)

to

app = Sanic(__name__)

within Flask-PyMongo context:

[code]

**Expected behavior**
As normal Flask app to be running

**Environment (please complete the following information):**
 - OS: Mac OSX
 - Version Moj

[2019-01-04 05:37] Fretice commented on #1458
perhaps flask-pymongo use some flask api .if you want to use mongodb , you can use sanic-mongo

[2019-01-04 06:02] chenjr0719 commented on #1458
Here is an example: https://github.com/huge-success/sanic/wiki/Examples#motor

[2019-01-04 08:57] scheung38 commented on #1458
Thank you but there is no json.dumps in

from sanic.response import json

as in the normal:

import json

as I have yaml files that need to be converted into JSON before storing into MongodB, but if not, can I also store yaml directly into MongodB?

[2019-01-04 11:30] ahopkins commented on #1079
Got it. I'll get back to you after the weekend.

[2019-01-04 11:35] ahopkins commented on #1458
The json method in sanic is for creating a json response object and not for serialization. If you did a regular install of sanic, you probably have ujson available, which is an extremely fast alternative to the standard library json module.

As for the flask and sanic api differences, Sanic does not try to carry forward the Flask API, but exists independently and will differ in its api implementat

[2019-01-04 11:35] #1458 closed

[2019-01-06 02:57] SharpBit opened #1459 "I cannot host static files, the CSS simply will not load on my site"
I'm trying to use a css file in multiple different html files, but when I load the page, it never works. I've tried clearing cache and using a different browser, but the CSS will not load.

In logs, it shows this:
[code]
Note that the one with `/static/style.css` returns a 304 status code, which I searched up means "Not Modified".

I am using `app.static('/static', './static')`

What's supposed to

[2019-01-06 08:01] andreymal commented on #1459
Your styles are overriden by `bootstrap.min.css`

[2019-01-06 18:16] SharpBit commented on #1459
Ok thanks, switched the order of my header file with the boostrap and the css file I'm using and it works now. I've got another issue because some of the elements im using like `body {background-color}` are not working for some reason so I'm going to assume you guys do not help with stuff unrelated to sanic so you may close this if you wish

[2019-01-07 08:33] sohilfynd commented on #1079
@ahopkins Getting this exception after some time of load testing "EXCEPTION|WebSocket connection is closed: code = 1005 (no status code [internal]), no reason".

[2019-01-07 09:32] lingdavid opened #1461 "when I set ,the parameter workers=2 or bigger ,the sanic not work,why????"
`from sanic import Sanic
from sanic.response import text,json

from DCNN_RequestHandler import DCNN_RequestHandler

rHandler = DCNN_RequestHandler()
app = Sanic(__name__)
@app.route('/classify', methods=['GET', 'POST'])
async def input(request):
    sentence = request.args.get('text')
    if sentence:
        resultDict = rHandler.getBatchResults(sentence)

        label = resultDict['result']

[2019-01-07 09:56] vltr commented on #1461
Hello, @lingdavid !

Would you mind give us some more information regarding your Python version, OS, testing environment and etc? Thanks!

[2019-01-07 09:58] vltr commented on #1461
Some stack trace (if available) would be welcome as well, any information regarding your issue :smiley:

[2019-01-07 10:00] lingdavid commented on #1461
python 3.6.5 , linux（ubuntu 3.19.0），tensorflow1.2.0,   sanic0.8.3

[2019-01-07 10:01] lingdavid commented on #1461
ubuntu 3.19.0 ,python 3.6.5,  tensorflow 1.2.0 , sanic 0.8.3

[2019-01-07 10:02] vltr commented on #1461
Ok, can you provide the full stack trace when you try to run your Sanic app using `2` workers?

[2019-01-07 10:10] lingdavid commented on #1461
The program did not report an error, But the page is not responding.

`[2019-01-07 17:55:28 +0800] [23340] [INFO] Goin' Fast @ http://0.0.0.0:10017
[2019-01-07 17:55:28 +0800] [23464] [INFO] Starting worker [23464]
[2019-01-07 17:55:28 +0800] [23465] [INFO] Starting worker [23465]`

22589 pts/20   Sl     0:25 python -u DCNN_server.py
22755 pts/20   S      0:00 python -u DCNN_server.py
22756 pts/20

[2019-01-07 10:21] lingdavid commented on #1461
When the program runs, it does can receives a request, but gets stuck in the function which I defined(but when workers=1,it is normal), and then does not return normally.

[2019-01-07 10:24] vltr commented on #1461
Ok, since you're using `tensorflow` as well under the hood, we need to check _if_ `tensorflow` works when [spawning multiple processes](https://github.com/huge-success/sanic/blob/96af1fe7cff06fd9273e77e23027711fb028cd65/sanic/server.py#L825-L869) (something **Sanic does not do** with only one worker) using the [`multiprocessing`](https://docs.python.org/3.6/library/multiprocessing.html) module. To

[2019-01-07 10:35] lingdavid commented on #1461
It works. The output is the same as you.
I will check  the tensorflow ,thanks!

[2019-01-07 10:41] vltr commented on #1461
Great, thanks @lingdavid ! If you need further help, let's us know here or for more comprehensive ideas and discussions, you can check out our [community forums](https://community.sanicframework.org/) as well! :wink:

[2019-01-07 11:10] #1461 closed

[2019-01-07 21:13] raphaelauv opened #1462 "Documentation update for pausable response stream"
**Describe the bug**
Documentation have not been updated on stream response

The PR 1179 have been merged without documentation update request done

**Code snippet**

https://sanic.readthedocs.io/en/latest/sanic/response.html#streaming

https://github.com/huge-success/sanic/pull/1179#discussion_r200117753

**Expected behavior**

**Environment (please complete the following information):**

**Addit

[2019-01-08 02:07] chenjr0719 commented on #1454
@quasarj Are you still there?

According to the document, use request stream with `Blueprint` will look like this:
[code]

If you want to use `bp.add_route()` with request stream, it seems not working currently because `bp.add_route()` does not support `stream` argument. Maybe I can send a PR to make it work.

[2019-01-09 18:45] denismakogon opened #1466 "Server cold start issue"
**Describe the bug**

We’ve (me and my folks) been trying to solve the cold start issue of our pet project (https://github.com/fnproject/fdk-python). At this moment we use aiohttp as the base unix http server.
However, when we started to do a solid performance testing, we’ve figured out that aiohttp takes almost 9 seconds to start within 128Mb RAM (this is our criteria: a server must start within

[2019-01-09 20:03] denismakogon commented on #1466
So, here's some things that sanic needs to adopt:
1. No more code in __init__.py
2. optional imports for websockets, blueprints, etc.
3. Move protocol, HTTP request, HTTP response, etc. into a sub-package. This code supposes to be the skeleton of the simplest HTTP server, and the rest is just a lot of wrappers on top of that.

[2019-01-10 06:00] ahopkins commented on #1466
In general, I would say start up time is not a huge focus for the project. The main goal is the speed of the request/response cycle. Not to say start up time is unimportant, but it is sort of non-consequential for most web service applications.

Of course we welcome the PR for debate.

As far as things like websockets, while it is not a final decision, we are looking into the possibility of removi

[2019-01-10 08:22] c-goosen commented on #1466
@denismakogon Look at: https://github.com/Miserlou/Zappa.

[2019-01-10 13:22] Dandi91 opened #1467 "Allow more flexible way to run the server"
I am trying to write integration tests for my sanic application and I would like to be able to send multiple consecutive requests without stopping the server.

Note: I am running multi-worker sanic app in production and I want to test it when it runs exactly the same way.

Right now the sanic `test_client` is written in a way that it starts an application, runs a single http request, and then tear

[2019-01-12 12:22] denismakogon opened #1469 "sanic.app.Sanic.create_server doesn't actually creates a server but runs it"
**Describe the bug**
Take a look at https://github.com/huge-success/sanic/blob/master/sanic/app.py#L1196
`serve` method actually starts a server, which means that `sanic.app.Sanic.create_server` is a coroutine wrapper on top of `serve`.

According to docs, `sanic.app.Sanic.create_server` suppose to be similar to `loop.create_server` that returns an instance of the server that might not be started

[2019-01-13 21:15] #1452 closed

[2019-01-14 14:10] vltr commented on #1469
@denismakogon I think you're right on this one, specially regarding `Sanic.create_server` not carrying the same idea / signature of `loop.create_server`. This would be very interesting to work on, but probably will bring some backwards compatibility issues - nothing that **time** (and `warnings` and documentation) can't handle ...

I don't know if this is related to the "cold start" issue, but let

[2019-01-14 15:16] denismakogon commented on #1469
This one related to the quite outdated uvloop, it doesn’t support python 3.7 well.
I’d sanic to provide a method that will return an instance of asyncio.Server that I can work with.

[2019-01-14 19:08] vltr commented on #1469
I haven't seen any issue with `uvloop` under Python 3.7 so far, but I don't know if there are any (if you can provide a link or issue regarding it, that would be nice).

I know that `create_server` does calls `loop.create_server` [under the hood](https://github.com/huge-success/sanic/blob/99f34c9f5047dd6721e2d09eb3efbd982e844d2c/sanic/server.py#L738-L746). The question is: you wanted this server i

[2019-01-14 19:12] denismakogon commented on #1469
uvloop doesn’t implement the latest API like `asyncio.Server.start_serving()`.
uvloop doesn’t implement *.create_sercer(...., start_serving=True/False)`.

Well, yes, I’d like to have an API method on Sanic class to return an `asyncio.Server` that I can work with.

[2019-01-14 19:34] vltr commented on #1469
Oh, it's more like a "head-to-head" functionality that's missing on `uvloop` that has been implemented on `asyncio` in Python 3.7 (there was a lot of changes, actually). Indeed - if not already under development - that may be some that only the folks from `uvloop` can sort out ... As for Sanic, we have to support Python 3.5+.

What would be your proposal to create such a feature in Sanic, taking u

[2019-01-14 19:48] denismakogon commented on #1469
There are 2 obvious ways to make it happen:
1. Create `create_server_v2`
2. Add something like `new_style=True` to kwargs (along with special set of kwargs for `loop.create_server`) that will tell Sanic.create_server to return asyncio.Server or do exactly what it was doing before.

Thoughts?

[2019-01-15 04:53] ahopkins commented on #1469
I would lean towards option 2, a kwargs that returns the `asyncio` instance. Personally, I woukd select something more explicit like `return_server` over `new_style`.

The reason is that a functionality change like this could be added in an intermediate build with a `warning` if it is set to `False`. Then in an **LTS** release we could perform the depracation.

[2019-01-15 07:11] denismakogon commented on #1469
Sure, sounds like a plan. I’ll submit PR today.

[2019-01-15 08:46] ahopkins commented on #1469
@denismakogon

Take a look at the [`run_async`](https://github.com/huge-success/sanic/blob/master/sanic/server.py#L752) kwarg. May be a simpler PR than expected.

[2019-01-15 15:11] cfhamlet opened #1471 "Not properly handle signal to stop worker sub-process in debug mode"
**Describe the bug**
In the debug mode, if you do not change your source code to trigger auto reload, the stop signals(SIGTERM, SIGINT) send to the main process will not work properly to stop the worker sub-process.  As the following code, run it and stop(Ctrl-C), the ``on_shutdown`` method will not be called.

[code]

I think the problem maybe caused by the following code in ``reloader_helpers.py

[2019-01-16 21:05] endafarrell opened #1473 "Please describe how to allow forward-slash encoded as %2F within a route"
Please advise how to write a route (or more broadly handle the circumstances) when an encoded forward slash might be part of a route's value. An example should help.

Given the following code (complete):

[code]
All works well when I hit the following URL:

[code]

However, some values of tag may contain embedded "/" which are encoded as "%2F", but these fail:

[code]

**Describe the solution you'

[2019-01-17 02:37] chenjr0719 commented on #1473
Try this:
[code]

[2019-01-17 12:11] endafarrell commented on #1473
@chenjr0719 This do not really work. It swallows all "/" chars making them available for the ``tag`` - so while it works for the ``tag_handler`` it does not work for the ``tag_action_handler``.

[code]

The first handler does work:

[code]

The second handler does not work though - the response shows that it is  being picked up by the wrong handler:

[code]
The expected response was:
[code]

Reord

[2019-01-17 14:50] vltr commented on #1473
@endafarrell I think this is related to one issue I'm (slowly) working on. I'll make some tests in here first to see if it's related after all or not before taking any presumptions on my part ... But stay tunned :wink:

[2019-01-18 10:22] LTMenezes commented on #1453
Is anybody currently working on this? I would like to work on this issue.

[2019-01-18 14:37] klausmyrseth opened #1474 "Standardize logging to 3+, impossible to do good log config"
**Is your feature request related to a problem? Please describe.**
I am required to use frameworks otherwise integrated with standard 3+ logging to log when I deploy my application, and its quite frustrating when I cant do this as the application will never see production readiness.

The example code supplied in aditional context for instance works for other frameworks ive been using.
I am rewriti

[2019-01-19 17:31] ahopkins commented on #1474
👍 No stupidity. Glad you figured it out.

[2019-01-19 17:31] #1474 closed

[2019-01-20 22:21] #1469 closed, assigned to nobody

[2019-01-21 09:14] c-goosen commented on #1466
@denismakogon thanks will take a look, have you seen: https://openwhisk.apache.org/

[2019-01-21 09:30] denismakogon commented on #1466
Hi! As I mentioned before I’m not interested in other FaaS solutions because I personally developing serverless platform: Fn Project.

As part of that I developed Python binding for an HTTP triggers. That’s why I am here. Because I’d like to improve sanic in order to make it work for my needs, for instance I don’t want to deal with hypercorn (despite that I developed pretty simple ASGI HTTP server

[2019-01-21 20:05] ijl opened #1479 "Update default json library"
I propose replacing the dependency on ujson with orjson.

sanic using orjson does 2.9x the requests per second on an example benchmark compared to when using ujson.

It also does not have the correctness issues ujson has. Its README has details: https://github.com/ijl/orjson.

I think the implementation details of `json()` leak by handling types differently (e.g., ujson serializing datetimes to ep

[2019-01-22 10:01] ahopkins commented on #1479
I must admit, I am not familiar with `orjson`, but the project does look promising.

However, it is still a young project (not that `ujson` or `sanic` for that matter are that old either), and I am not sure if it is battle tested out in the wild or not.

I think a better approach is just allowing the developer to pass in their own `dumps` method. Indeed, the developer already has that option:

[co

[2019-01-22 17:05] szepnapot commented on #1451
Hey, can I take this one? :)

[2019-01-23 05:44] yunstanford commented on #1479
Yeah, i agree with @ahopkins . Also looks like `orjson` only has manylinux wheel published https://pypi.org/simple/orjson/. there is no source dist, and no wheel for macos currently.

[2019-01-23 05:48] yunstanford commented on #1467
@Dandi91 `pytest-sanic` doesn't tear down the server after serving each single request.

https://github.com/yunstanford/pytest-sanic

[2019-01-23 05:49] #1466 closed

[2019-01-23 07:06] denismakogon commented on #1466
Why is it closed? Problem is still there.

[2019-01-23 07:57] yunstanford commented on #1466
per the discussion moving to https://community.sanicframework.org/t/cold-start-issue/182

[2019-01-23 08:00] yunstanford commented on #1466
we can come back here for tracking whenever having clear action items

[2019-01-23 10:37] szepnapot commented on #1479
Can I take this one? :)

[2019-01-23 10:38] ahopkins commented on #1479
@szepnapot Please do. :beers:

(So I know we are on the same page, you are talking about the documentation part, right?)

[2019-01-23 13:50] ijl commented on #1479
Ok. I think it would be more appropriate to change the default to rapidjson or worse to change it to json and make the user choose another library for performance reasons. ujson has been unmaintained for years, that'll only get worse, and neither rapidjson nor json have its issues. rapidjson is close in performance for strings and dicts type web app payloads.

I think a documentation change on usi

[2019-01-23 14:35] szepnapot commented on #1479
@ahopkins Yes :)
Can you give me some ideas what other examples can we show on the doc?
Or it's enough to show how to use a `handler` via this json example?

[2019-01-25 20:11] cthwaite commented on #1248
Just run into this problem myself.

This is true, but surely the reloader _can_ get [the original args](https://docs.python.org/3.6/reference/import.html?highlight=__spec__#main-spec)? You'd just have to use `_get_args_for_reloading` to amend the contents of sys.argv using `__spec__`:

[code]

[2019-01-28 03:46] chenjr0719 commented on #1479
@szepnapot Since you are working on it, maybe also mention how to pass a `loads` when access JSON data from `request`:
[code]

[2019-01-28 13:55] vltr commented on #1473
@endafarrell sorry for the long, long, *long* absence here. I thought this was somewhat related to #1329 but I was wrong - this has nothing to do with the `httptools.parse_url` function on the `Request` object, because the value is being _unquoted_ by the `Router` (as you can see [here](https://github.com/huge-success/sanic/blob/bc7d0f0da57e6b0d6c7d57ca3bb9d0dda66a7199/sanic/router.py#L436)), henc

[2019-01-28 17:06] Dandi91 commented on #1467
@yunstanford Yes, indeed it doesn't. Unfortunately, it doesn't run with multiple workers either, only in async configuration (which is different from what I run in production and I don't want to change this).

[2019-01-28 17:44] endafarrell commented on #1473
@vltr Many thanks for this.

My initial "sniff-testing" of this is very promising, it looks as if it works (once I make a few changes here and there to how I'm using these newly-working-quoted-strings.  While I completely understand the framework's concern about speed, for my particular use-case Sanic is as a front for an application stack that makes (many) related db calls to different databases

[2019-01-28 18:47] yunstanford commented on #1467
Any reason you need multi-worker mode in UnitTests ?

[2019-01-29 04:16] chenjr0719 commented on #1473
@endafarrell
There are some pre-build [parameter types](https://github.com/huge-success/sanic/blob/master/sanic/router.py#L18-L29) in `sanic.router` but did not be described at the document. I think the `path`  parameter type is exactly what you needed. see this:
[code]

The result:
[code]

[2019-01-29 08:59] denglj commented on #1243
How is this problem progressing? I also met the same problem.

Python Version: 3.6.7
Sanic Version: 0.8.3
Reverse Proxy: Nginx 1.14.2

Sanic Entry Code：
[code]

Nginx Error log:
[code]

Sanic Error Log：
[code]

Is there any additional information or other help I can provide on this matter? Please feel free to tell me.

[2019-01-29 09:44] endafarrell opened #1480 "Consider allowing negative int and number types"
**Is your feature request related to a problem? Please describe.**
I would like to be able to be able to have negative ``number`` and ``int`` in routes: specifically for latitude and longitudes.

**Describe the solution you'd like**
A change to the https://github.com/huge-success/sanic/blob/master/sanic/router.py#L18-L29 regex to allow for negative numbers. Something like:

[code]

[2019-01-29 11:06] endafarrell commented on #1473
@chenjr0719 Thanks for this too.

As per @vltr's suggestion,, initial "sniff testing" of this looks very promising. It seems to need fewer changes in my existing code in that I do not need to ``urllib.parse.unquote`` the function argument.

[2019-01-31 17:46] Garito commented on #1195
Just a use case for removing a route:
"Load a set of routes R2 if condition C else load set of routes R1"
Server starts with R1
Condition C is met -> Remove routes R1 and load R2
C example -> The admin should provide data in order to start the app so R1 is a single route for that mater and R2 are the regular routes
From the developer perspective this seems dumb cause you can create a script to do

[2019-02-01 02:31] cbess commented on #907
What if I don't want to run a separate thread? Should this still work, and if so, how?

[2019-02-05 13:47] #1454 closed

[2019-02-05 14:19] vltr commented on #1195
Or just have `app` instance or `setup` instance and know which one to call. You can even stop one and start the other in case `setup` is done and `app` needs to take place. Anyway, there are a million ways this can be done without a developer having to put its hands on the instance ...

[2019-02-05 15:20] sjsadowski commented on #1195
I'm going to submit a PR to deprecate this feature - provided I don't find it in use elsewhere. There were no real objections in the community discussion. I think we slipped on deprecating in 18.12, which is fine, but we can deprecate in 19.03 and then remove for 19.12.

[2019-02-05 15:24] ijl commented on #1479
@yunstanford orjson now publishes Linux, macOS, and Windows wheels. Can we either go forward with this or split the documentation to another ticket so I can close?

[2019-02-05 15:52] vltr commented on #1195
@sjsadowski agreed.

[2019-02-05 16:04] sjsadowski commented on #1480
I'm closing as I merged your PR this morning

[2019-02-05 16:04] #1480 closed

[2019-02-05 16:22] mojimi opened #1485 "Response.file send in-memory file"
I'm trying to migrate from Flask, and a very common case for me is generating large in-memory excel files and returning them without saving to disk.

Is this not possible with Sanic? Is there any workaround that doesn't involve modifying the framework?

More specific, I'm looking for a way to send a BytesIO object as response.

[2019-02-05 16:37] sjsadowski commented on #1485
https://sanic.readthedocs.io/en/latest/sanic/streaming.html#response-streaming

[2019-02-05 16:45] mojimi commented on #1485
I did see that, pardon me but I don't understand how it is related to sending a BytesIO object

[2019-02-05 17:00] sjsadowski commented on #1485
You could set your content type and stream the object out.

[2019-02-05 17:07] mojimi commented on #1485
Could an example be provided? I don't really understand what a stream it.

Here's what I've tried :

[code]

But I get error :

[code]

[2019-02-05 17:36] sjsadowski commented on #1485
There are two examples provided in the documentation linked above. If you need more help, please join us over at the community and ask for assistance there: https://community.sanicframework.org/

[2019-02-06 11:54] #1485 closed

[2019-02-06 18:29] #1453 closed

[2019-02-06 23:34] Garito commented on #1195
@vltr could you elaborate?

I'm already having the need

Thanks

[2019-02-07 03:54] yunstanford commented on #1479
@ijl i've tried once, but looks like some unit tests are failing. but didn't dig deep.

[2019-02-07 13:55] vltr commented on #1195
@Garito on that workflow for `setup` and then `app` ?

[2019-02-07 15:57] Garito commented on #1195
On how to change apps by visiting a route of one of them, please
Will be awesome if you show how to destroy the 1st app too
Thanks!

[2019-02-07 16:49] vltr commented on #1195
@Garito no problem ... I made a small example here, it's a bit clunky but it works ... Of course, it would be much easier to do using the `Sanic.create_server` utility and have full control over the `loop`, but since most people uses `Sanic.run` for their servers, here's a working example using a simple lock file:

[code]

[2019-02-07 17:31] Garito commented on #1195
Did you realize that I can do the same with 4 lines of code with the router removal?
If it depends on me I would not remove this feature
Is there any complain or security reason to remove it?

[2019-02-07 17:43] sjsadowski commented on #1195
@Garito the behavior is inconsistent, support in code is inconsistent, and generally it's bad architectural practice to dynamically add and remove routes while the application is running.

The current plan is to deprecate it - which leaves the feature in place if you're using the current LTS version (18.12) but in the future, will remove it.

[2019-02-07 18:35] vltr commented on #1195
@Garito if you spawn your Sanic application with `multiprocessing` (using the `workers` argument above `1`), you'll end up having to make this "routing removal" reflect the changes to all instances - and that's a bit of a problem; just to add how you end up within a situation like @sjsadowski described. This can also happen if you add routes "on-the-fly" ... It's just bad practice. The thing is: *

[2019-02-07 18:43] Garito commented on #1195
Can I ask then for a better solution than the one above?

From my point of view, this is a pattern that I would use everywhere since I like products that are easy to use and setup them is part of the easy use (webapps)

I will be ok if you tell me that I can add and remove routes if I stop the app first

Do you understand the use case? I think is not a non sense or a stupid think to ask

[2019-02-08 07:28] vaulstein commented on #845
You can also use blueprints. I think Blueprints is a more cleaner way to add routes from different modules.

[2019-02-08 14:41] sjsadowski commented on #1195
@Garito if you stop the app, when you start it again you can just add the routes you want.

You could do this by setting an environment file, or updating a config, or anything.

That's the point @vltr and I are trying to make: adding routes happens before the server starts and should be immutable, removing routes is not something that should happen while the server is running - and therefore, when

[2019-02-08 14:53] sjsadowski commented on #62
I'm going to go ahead and close this - it's been open for 2.5 years with no further discussion - although there is some discussion on the current community forums (https://community.sanicframework.org) about benchmarking and speed.

[2019-02-08 14:53] #62 closed

[2019-02-08 14:55] sjsadowski commented on #83
Closing due to no follow-up in 2 years. There are discussions on benchmarking in the current community forums (https://community.sanicframework.org)

[2019-02-08 14:55] #83 closed

[2019-02-08 14:57] sjsadowski commented on #337
Missed this in initial cleanup. Closed per #423

[2019-02-08 14:57] #337 closed

[2019-02-08 14:58] sjsadowski commented on #546
Closed per #1423

[2019-02-08 14:58] #546 closed

[2019-02-08 14:59] sjsadowski commented on #659
The conversation/need around this seems to have died. Closing. Please open a new ticket if we want to review this going forward.

[2019-02-08 14:59] #659 closed

[2019-02-08 15:01] Garito commented on #1195
If changing routes by stoping the app first is ok, there is no need to deprecate this method then, isn't it?

[2019-02-08 15:01] sjsadowski commented on #699
The conversation around stagnated nearly 2 years ago. I still think it would be good to include deployment guides in the docs, but I'm going to close this due to aging out.

[2019-02-08 15:01] #699 closed

[2019-02-08 15:06] sjsadowski commented on #683
This problem seems to have stagnated. I'm going to close for now. We'll need to open a new ticket if it comes back up.

[2019-02-08 15:06] #683 closed

[2019-02-08 15:11] sjsadowski commented on #747
@harshanarayana I kicked this one in to your court since you were the last to do any solid work in it.

[2019-02-08 15:14] vltr commented on #1195
@Garito well, there is because you can choose just not to add them instead of removing them. Quickly dirty snippet with no test following (inspired by my previous example):

[code]

And that's it. You don't need to remove anything, you simply don't need is to add them on the first place.

[2019-02-08 15:16] sjsadowski commented on #891
I'm actually going to close this. A plugin can be created if desired, but with the reorganization and ownership borders that were set up in 2018, I don't think this fits in the core sanic project.

[2019-02-08 15:16] #891 closed

[2019-02-08 15:18] sjsadowski commented on #1467
It's been 10+ days with no further response from the requester. We can re-open if necessary

[2019-02-08 15:18] #1467 closed

[2019-02-08 15:23] sjsadowski commented on #1354
This should be fixed with #1478

[2019-02-08 15:23] #1354 closed

[2019-02-08 15:26] sjsadowski commented on #1329
I'm actually closing this per #1424

[2019-02-08 15:38] Garito commented on #1195
Sorry @vltr but seems I'm not explaining the use case correct:
We need to allow the user to setup the app if there is no previous setup so, now, i'm checking if the setup has been made (by quering the db) and if not I load a unique route (the setup one) and wait
The user runs the setup and I need to remove the setup route (remove is how its made now) and load the final ones
I'm doing this with a `

[2019-02-08 15:41] sjsadowski commented on #1318
@ahopkins @vltr do we want to keep this open?

[2019-02-08 15:43] vltr commented on #1329
@sjsadowski I'm sorry, I really forgot to document some examples with the `Request` class. Please, leave it open and I'll create a PR for this in a couple of hours - I just have to revise what I have wrote in here already and etc. I'm really sorry.

[2019-02-08 15:47] vltr commented on #1318
@sjsadowski yes, I think it's good to leave it open and start a further discussion in the community forum since our current Router (and overall Request workflow (see #1317 and related issues)) really needs some attention - either from the performance perspective to the complexity perspective, design and etc.

[2019-02-08 16:02] sjsadowski commented on #1329
@vltr no worries, just trying to do some house keeping!

[2019-02-08 16:02] vltr commented on #1195
@Garito I really do understand your case. What I'm thinking is beyond your use case: imagine some complex deployments, with Sanic instances in different machines behind a load balancer, for example. Now, imagine if Sanic takes any responsibility on making server changes on the fly (either by adding routes or removing ones) and make them reflect to all other instances running (in the same machine o

[2019-02-08 16:06] vltr commented on #1329
@sjsadowski I know :wink: And I'm glad you're doing it because I'm so full of stuff to do that this went straight through my todo list and I completely forgot about.

[2019-02-08 17:08] Garito commented on #1195
Ok, I'm on my own, roger that, thanks

[2019-02-08 18:46] vltr commented on #1329
@sjsadowski I made a mess in my mind here - I thought this was related to `httptools` on the `Request` object, but it is in fact in the `HttpProtocol`. It's better to close this _or_ take the bumpy road: add optional (and configurable) hooks to the protocol, which might not even solve the _issue_ :confused:

[2019-02-08 19:09] sjsadowski commented on #1329
I'm going to close it. Solving the issue itself is going to require significant work and should be tracked separately - if we choose to take it on - and I think this issue number has run its course.

[2019-02-08 19:09] #1329 closed

[2019-02-08 19:16] sjsadowski commented on #1227
I'm doing some clean-up and just came back to this - I think what you really need is info on the underlying information about how websockets is handled within sanic, and we use the websockets package to do the lifting there: https://websockets.readthedocs.io/en/stable/intro.html

[2019-02-08 19:16] #1227 closed

[2019-02-08 19:17] sjsadowski commented on #1215
Closing - requester did not respond.

[2019-02-08 19:17] #1215 closed

[2019-02-08 19:20] sjsadowski commented on #1206
I'm closing - while the question didn't have a great answer, it was answered within the context of what's available in sanic currently.

[2019-02-08 19:20] #1206 closed

[2019-02-08 19:24] sjsadowski commented on #1191
Sorry for the 9 month delay: ErrorHandler is used for http requests not ws requests; you'll need to manage the exceptions for websockets yourself. The list of exceptions provided by websockets is available here https://websockets.readthedocs.io/en/stable/api.html (need to scroll down to Exceptions section)

[2019-02-08 19:24] #1191 closed

[2019-02-08 19:25] sjsadowski commented on #1185
Closing - requester did not respond.

[2019-02-08 19:25] #1185 closed

[2019-02-08 19:26] sjsadowski commented on #1183
This issue appears to have stagnated - closing.

[2019-02-08 19:26] #1183 closed

[2019-02-08 19:29] sjsadowski commented on #1153
Closing, thread has stagnated and requester has not added to comments since org move.

[2019-02-08 19:29] #1153 closed

[2019-02-08 19:32] sjsadowski commented on #1139
Close per #1402

[2019-02-08 19:32] #1139 closed

[2019-02-08 19:33] #1126 closed

[2019-02-08 19:34] sjsadowski commented on #1132
@ahopkins do you want to leave this open?

[2019-02-08 19:35] sjsadowski commented on #1128
This issue seems to have stagnated. Closing.

[2019-02-08 19:35] #1128 closed

[2019-02-08 19:42] sjsadowski commented on #1051
I think we've fixed the documentation issue with RTD, so we should be ok now.

[2019-02-08 19:42] #1051 closed

[2019-02-08 19:43] sjsadowski commented on #996
@SwordFighter is this still an issue or were you able to solve it?

[2019-02-08 19:46] sjsadowski commented on #928
Closing, requester never responded to ask for more info.

[2019-02-08 19:46] #928 closed

[2019-02-08 19:51] sjsadowski commented on #849
This issue stagnated and I'm pretty sure current testing has only one setup/teardown.

[2019-02-08 19:51] #849 closed

[2019-02-08 19:53] syfluqs opened #1488 ""Task was destroyed but it is pending!" on using response.stream"
I am pretty new to async programming and sanic, so bear with me. Following code snippet is from a personal project, it serves a video file in chunks, with support for seeking (taken from #603).

[code]

 The video streams fine and seeking is functional. However, the console periodically shows this warning while the video is streaming

[code]
I think I am using response.stream correctly, as per doc

[2019-02-09 18:24] harshanarayana commented on #747
@sjsadowski Sure thing. 👍

[2019-02-11 05:50] chenjr0719 commented on #1488
Hi, I try to run your code snippet(I use a hard code path) and it worked without any error or warning. Here is my environment:
* OS: Linux 4.15.0-43-generic Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018
* Python: 3.7.1
* Sanic: 0.8.3
* Video file: a 30MB mp4 file
* Client: Firefox 64.0 to open http://localhost:8000/stream

Could you describe how did you run your app and which client you used to send the

[2019-02-11 08:37] syfluqs commented on #1488
I was using chrome 72 as the client, maybe this is a client specific issue. I noticed that chrome makes a new request/connection every time the seek position is changed. Can't say the same for firefox.

also, i am running my app in debug mode with 1 worker process

[2019-02-11 13:55] #996 closed

[2019-02-11 20:11] vltr commented on #907
@cbess take a look at the _limitations_ when [running subprocesses with asyncio](https://docs.python.org/3/library/asyncio-subprocess.html#subprocess-and-threads) :wink:

[2019-02-12 02:51] cbess commented on #907
Ah! Thanks for the info

[2019-02-14 06:50] Atagait commented on #1195
I have no issue with the functionality being deprecated, though I have found that being able to remove routes is actually a very valuable and useful feature.

Though I understand that my use case is relatively niche, being able to add/remove/reload routes has proven incredibly helpful, in that I can modularize the service I am running, and encapsulate individual features, as well as adding/updatin

[2019-02-15 11:52] souravroy0708 commented on #1185
Yes

[2019-02-17 16:56] vltr commented on #1195
@Atagait yeap, we do understand that this functionality is really a niche, because (as I stated), it'll only work properly if you have only one instance running in production with only one worker. Because this condition may be only a fraction of all Sanic instances running, it'll be hard to maintain.

Anyway, if this is something that is also @Garito's case, I think we can elaborate some sort of d

[2019-02-17 22:43] Garito commented on #1195
Thank you, that's what I'm asking for (ideally with a clear pattern not to crazy complicated if I may)

[2019-02-18 16:56] gatopeich opened #1491 "app.add_task() triggers RuntimeWarning: coroutine was never awaited"
* Sanic version: 18.12.0
* Python version: 3.7.1rc1 (default, Oct 11 2018, 10:27:38) [GCC 5.5.0 20171010]

When scheduling some async initialization code with `add_task(on_server_start())`, it does work, however after server stops we get the preposterous RuntimeWarning:
[code]

According to [documentation](https://sanic.readthedocs.io/en/latest/sanic/api_reference.html?highlight=add_task) this sho

[2019-02-19 06:04] Juanlu001 commented on #893
I was about to open a new issue for this: trying the sample code from https://github.com/huge-success/sanic/issues/374#issuecomment-276552506 raises an `IsDirectoryError`.

[2019-02-19 09:08] subokita opened #1492 "Module import fails when auto_reload is active"
I have two piece of code (the structure has been simplified for clarity sake)
First in base.py
[code]
Second in run_test.py
[code]

If I were to run `python -m init0.run_test` with `debug = False` then everything works perfectly, however if it's `debug = True`, then it'd throw me `ModuleNotFoundError: No module named 'init0'`

Is it some sort of loading error somewhere that I need to configure bef

[2019-02-19 14:55] mojimi opened #1493 "How to use WebSocket in a event-based design?"
I don't understand how to use the WebSocket in a event-driven design, the examples use a while true loop which I'm having a hard time to adapt to my context.

First, how does the WebSocket works? Is the route function for the WebSocket only run once? That's why it needs a loop? Does the connection closes when this function is returned?

How can I make this loop wait for a CPU-bound blocking execut

[2019-02-19 15:30] greentornado commented on #1493
I have the same question, too

[2019-02-19 15:39] sjsadowski commented on #1492
What does your __init__.py look like for that directory?

[2019-02-19 15:53] sjsadowski commented on #1493
I'm a bit confused as to your question here; websockets in general are a stateful, bi-directional protocol so you wouldn't just open a websocket connection, have the server send data, and close it. There's no need, since there's no further change.

Could you describe what you're trying to accomplish?

From my POV: it looks like you're trying to stream a binary file (pdf) over a websocket... which

[2019-02-19 16:05] mojimi commented on #1493
@sjsadowski It's because the PDF might take too long, using a "regular" connection has caused timeouts in peaks.

The problem is the might, I need to be sure so the file doesn't get lost.

There's also polling, but I was recommended to try websockets.

[2019-02-19 16:10] sjsadowski commented on #1493
I guess I could understand, but websockets are generally for bi-directional communication. I think you probably still need a stream, just like was recommended for your excel file in #1485

[2019-02-19 16:16] mojimi commented on #1493
Sure, but would a stream solve a connection timeout error? Can I stream inside a websocket?

I'm just trying to make the less amount of requests possible, having the client wait for the file to be generated isn't working (browser timeouts) and polling isn't ideal, so the solution has to be websockets

[2019-02-19 16:36] sjsadowski commented on #1493
@mojimi it should if you're using the connection keep-alive header, which may be what you need for your regular long-running response too.

Ok, but that has to be handled on the browser side, and it's still not a great use-case for websockets.

Let me summarize from my point of view:
It sounds like you are generating a binary file on demand, and then that file needs to be sent to the requestor. Ri

[2019-02-19 16:43] sjsadowski commented on #893
@Juanlu001 Can you open the new issue? Throwing an error is a different problem than the one here.

[2019-02-19 16:47] mojimi commented on #1493
Yes, that would be the ideal scenario i'm theorizing.

I want the client to be able to say "I give up waiting", so that would require a two-way connection right?

I didn't know about the keep-alive, does that have a persistent behavior cross-browser? My main concern is that a generated file doesn't get in the "limbo" because something happened on the client side.

[2019-02-19 17:00] sjsadowski commented on #1493
Yes. It is implemented slightly differently in different engines, but all major browsers support `Connection: keep-alive` headers. There are other options, too, for setting specific timeouts and what not. Just do a web search for those

So if it were me, I would use a standard request to have the file delivered, which I would do with an asynchronous javascript request, leaving you free to provide

[2019-02-19 17:10] mojimi commented on #1493
@sjsadowski Yes that's mostly what I'm doing already, except I haven't tested if keep-alive will give timeouts.

But you do see how that would be simpler with a websocket right?

Your and my current solution requires 3 routes (getPdf, pollTask, editTask(email)) and possibly several requests due to polling.

Also I might be wrong but there is a atomicity issue with the user editing a task in the qu

[2019-02-19 17:18] sjsadowski commented on #1493
Well it's actually bad, because the browser side now has to handle multiple types of data, so you'll be parsing what's being delivered from the websocket, unless you have multiple websocket connections. I get where you're trying to reduce the general complexity for the user. So that complexity is reduced on the backend, but increased for the browser side of things, where you may need to parse mult

[2019-02-19 19:28] subokita commented on #1492
Completely empty. I updated my Sanic recently from 0.8 to 18.x along with my Python 3.6 to 3.7 or something, and somehow this issue appeared.

[2019-02-20 00:29] yunstanford commented on #1492
How does your project hierarchy look like ?

[2019-02-20 00:33] subokita commented on #1492
[code]
I just run from `python -m init0.runtest`

[2019-02-20 00:50] yunstanford commented on #1492
I don't think your python interpreter know your init0 module unless you've appended that to your sys.path

[2019-02-20 00:53] subokita commented on #1492
@yunstanford Hmm, but it works okay when it's not in debug mode, though.

[2019-02-20 01:09] yunstanford commented on #1492
ok, i think it's sth. wrong with the auto_reload logic..

You can set workers > 1 for verifying, since the auto_reload will be disabled in that case.

[2019-02-20 01:21] subokita commented on #1492
Yeap, by setting it to
[code]
the error no longer occurs.

[2019-02-20 08:36] baojiweicn opened #1494 "Websocket handshake error when use nginx as reverse proxy server"
I use sanic==18.12.0 and websockets==6.0, and create a websocket server. When I connect the it without any proxy, it plays good. But when I try to use nginx as reverse proxy server, the connect throw out an error.

![image](https://user-images.githubusercontent.com/26058270/53077473-08443900-352d-11e9-93ae-01c5582cb591.png)

Nginx config :
![image](https://user-images.githubusercontent.com/2605827

[2019-02-20 09:17] baojiweicn commented on #1494
Fine, finally I find it's the nginx config error：the config should like this:
proxy_set_header Upgrade "websocket";

[2019-02-20 09:17] #1494 closed

[2019-02-20 09:32] andreymal commented on #1494
This is strange, this config works good for me

[code]

[2019-02-20 18:20] gtmanfred opened #1495 "Blueprints for Class Views"
**Is your feature request related to a problem? Please describe.**
It would be really nice to be able to define class based views as Blueprints.

**Describe the solution you'd like**
My goal would be to be able to write a class that describes my blueprint, and then just be able to register the blueprint after the fact, instead of having to use Decorators.

https://github.com/gtmanfred/spmapi/blob/

[2019-02-21 15:20] #1493 closed

[2019-02-21 15:23] sjsadowski commented on #1488
This appears to have been client specific. We can reopen if necessary.

[2019-02-21 15:23] #1488 closed

[2019-02-21 15:30] #1473 closed

[2019-02-21 15:33] vltr commented on #1493
@mojimi what you need is a simple call that spawns any worker to create whatever you need, close the connection (while running in background, Idk, Celery, thread, aiomultiprocess, take a pick) and then warn your client when this operation is complete (using websockets, SSE, again, take a pick). Am I correct?

[2019-02-21 15:54] mojimi commented on #1493
Exactly, I was theorizing the most ideal scenario to do this while using less amount of requests possible, and guaranteeing that the worker's work is not lost

[2019-02-21 15:57] vltr commented on #1493
@mojimi then it's all to your own implementation. All you need is to "signal" the start of the background task and then receive any callback and show it to the user. I'll not go into specifics because there's a bazillion ways this can be accomplished :wink:

[2019-02-22 14:27] rogercorrea opened #1498 "DateTime with milliseconds"
Please,

My JSON returned all datetimes in UNIX format, right?
But I need of the precision in milliseconds and I can't.

I configured the model with DateTime(fsp=6) but precision returned don't includ milliseconds.
I'm using MySQL database and ayomysql.

Why it occur? What I can make?

Thanks!

[2019-02-22 14:40] rogercorrea commented on #1498
I converted using json.dumps.
[code]

[2019-02-22 14:41] #1498 closed

[2019-02-23 04:46] gangtao commented on #1492
I hit the same error, adding workers >1 works for me as well!

[2019-02-27 13:34] tadejmagajna commented on #1264
I can confirm problem persists with Python 3.7 and 3.6. I temporarily fixed the issue by downgrading websockets to `websockets==6.0`

[2019-02-27 13:34] tadejmagajna commented on #1277
I can confirm problem persists with Python 3.7 and 3.6. I temporarily fixed the issue by downgrading websockets to `websockets==6.0`

[2019-02-27 14:50] sjsadowski commented on #1264
The problem should not exist in 0.8.3 or 18.12LTS, can you provide example code you're using, along with platform so that I can test and verify?

[2019-02-28 07:10] FUSAKLA opened #1500 "Increasing memory usage in `update_current_time`"
**Describe the bug**
I see constantly increasing memory usage of my running Sanic instance.
After using tracemalloc to identify cause of this I found top 5 memory allocations
[code]
If I look at the `/usr/local/lib/python3.5/dist-packages/sanic/server.py:547` which has `size=16.5 MiB` it leads to
https://github.com/huge-success/sanic/blob/52deebaf65ab48d5fbfa92607f22d96ee1bdb7a7/sanic/server.py#L6

[2019-02-28 12:45] kbcasagrande commented on #1500
I was about to open an issue about it. I've also just identified where the possible leak comes from;
I checked the memory usage using [mem_top](https://pypi.org/project/mem_top/);

After few requests, the output is:

[code]

After many requests for few minutes it turns to:

[code]

![image](https://user-images.githubusercontent.com/19719554/53567096-7953a400-3b5e-11e9-9818-cabdeb9e3685.png)

Durin

[2019-02-28 14:06] vltr commented on #1500
I would take a wild guess that Python's GC is not collecting the hanging futures inside each function call to itself - but I might be wrong.

IMO, we don't need to update the clock every second; we just need to call `time()` where `current_time` is required.

[2019-02-28 14:33] vltr commented on #1495
@gtmanfred thanks for your insights! I know `Blueprints` have the possibility to add the `version` keyword, but, despite that, the functionality you want wouldn't be the same as using a [Class-Based View](https://sanic.readthedocs.io/en/latest/sanic/class_based_views.html)?

[2019-02-28 15:14] vltr commented on #1394
@d-Rickyy-b take a look at [this](https://docs.python.org/3/library/asyncio-subprocess.html#subprocess-and-threads). `threading` and `asyncio` have some requirements to run properly.

[2019-02-28 15:41] FUSAKLA commented on #1500
Might be. According to the comment it was supposed to mitigate the possible overhead but I'm not sure how much it helps.

    keep-alive request to update the request timeout time

[2019-02-28 15:50] vltr commented on #1500
Yep, but I think this is unnecessary since calling `time()` has an almost neglectable overhead:

[code]

[code]

[2019-02-28 16:13] sjsadowski commented on #1492
@huge-success/sanic-core-devs Anyone want to [take a whack at this?](https://community.sanicframework.org/t/march-19-03-release/231)

[2019-02-28 16:56] gtmanfred commented on #1495
It might, i could build the extra version logic into the path to the file that I am reading, and use the filesystem.

I thought the view was using the app definition in it for some reason, sorry about that.

Let me see if it fits my need.

[2019-02-28 17:39] vltr commented on #1495
@gtmanfred no need to sorry :wink: if you need any help, please let us know (or you can also join our [community forums](https://community.sanicframework.org)).

[2019-02-28 18:15] gtmanfred commented on #1495
:+1:

[2019-03-01 04:15] ashleysommer commented on #1492
@subokita @gangtao
Are you on Linux/Mac, or Windows?
The auto_reload logic is a bit different between Unix/Posix based OS, and Windows, so it would be good to know which we are dealing with before diving into debugging this.

[2019-03-01 04:18] subokita commented on #1492
@ashleysommer
[code]

[2019-03-01 04:27] yunstanford commented on #1492
To be clear, this issue is not because of windows.

When invoking python interpreter with `-m` option, the current directory will be added to the start of sys.path.

However, The reload_logic use https://github.com/huge-success/sanic/blob/master/sanic/reloader_helpers.py#L36-L57 to start worker process. That command line will look like `python /path/to/start.py`, because if invoking python interpr

[2019-03-01 04:33] yunstanford commented on #1492
I'd also prefer to re-implement the reload logic as @vltr discussed here, https://github.com/huge-success/sanic/issues/1346
And I personally use gunicorn for reloading in dev mode.

[2019-03-01 07:35] ashleysommer commented on #1492
I've written a basic workaround that fixes the issue described in this thread. https://github.com/huge-success/sanic/pull/1501

This is a basic workaround to get bugs in the current auto_reloader fixed for the 2019.03 sanic release.
I agree it would be good to replace this current auto_reloader in the future to be more robust one, that will potentially be implemented as a plugin.

[2019-03-01 07:38] langma commented on #1500
I can confirm that removing the `update_current_time` logic keeps the pod's memory in check. I think the leak is happening only when there are requests? I'm not totally sure, but I agree with @vltr that the benefit of caching `time()` is probably really small, so I'm not gonna dig deeper for now.

Removing `current_time` variable also removes the only global variable in the codebase :)

I can make

[2019-03-01 14:08] mojimi commented on #688
I would like to point out that using Sanic with lambda is kinda pointless as it will invoke a new server for each request defeating Sanic's purpose.

I've found that using Flask with Zappa's beautiful async decorator https://blog.zappa.io/posts/zappa-introduces-seamless-asynchronous-task-execution is more than enough (it will simply call a new lambda instance)

[2019-03-01 14:59] heri16 commented on #688
Just a note, that's not how AWS Lambda works. AWS Lambda uses something like docker and pauses the instance when there are no pending requests or response. So it is indeed possible to have a long-lived server in AWS Lambda.

[2019-03-01 15:43] mojimi commented on #688
It pauses but effectively dies, it won't route two requests to the same instance

[2019-03-01 23:07] ashleysommer commented on #1495
@gtmanfred
If you haven't already, check out [SanicPluginsFramework](https://github.com/ashleysommer/sanicpluginsframework). _N.B. I am the project author._
It has an object class called `SanicPlugin` that is similar to a Sanic `Blueprint`, but with some extra functionality. And it can be registered on any app, like you mentioned.
It doesn't do exactly what you want it to do, but it is a start.

F

[2019-03-03 05:34] mrkaspa opened #1503 "Error when installing on python 3.7"
I tried to install the library via pip en 3.7 after creating the virtual environment for 3.7 via venv

[code]

[2019-03-03 07:27] harshanarayana commented on #1503
@mrkaspa Can you please make sure you have the `python3-dev` libraries installed before running `pip` install on `sanic`?

[2019-03-03 14:55] mrkaspa commented on #1503
@harshanarayana  yes it is already installed

[2019-03-03 15:01] mrkaspa commented on #1503
I think works if I install libpython3.7-dev

[2019-03-03 15:01] #1503 closed

[2019-03-03 15:42] sjsadowski opened #1504 "Fix auto_reloader in less naive way"
This is a placeholder for overhauling auto_reload again after the patch to fix it for 19.3

[2019-03-03 17:03] #1492 closed

[2019-03-03 17:21] sjsadowski opened #1505 "backport 'remove time prefetch' to 18.12LTS"
Remove memory leak related to time prefetch in 18.12 per #1502 work on master

[2019-03-03 17:22] #1500 closed

[2019-03-03 17:23] sjsadowski commented on #1495
Looks like we've come to a decent resolution here - closing

[2019-03-03 17:23] #1495 closed

[2019-03-04 08:33] FUSAKLA commented on #1500
Great, thanks for resolving it so quickly!
IIUC the fix will be in 18.13 and possibly 18.12.1, is there any estimation on the release date?

[2019-03-04 09:12] smlbiobot opened #1506 "Allow Blueprints to be imported"
**Is your feature request related to a problem? Please describe.**

I tried to create a top level blueprint to be used in multiple files but it doesn’t work. Is there any way I can enable this:

[code]

` app.blueprints.rr.__init__.py`

[code]

`app.blueprints.rr.rr_battles.py`

[code]

`app.blueprints.rr.rr_leaderboard.py`

[code]

Basically, I wish to separate my routes into multiple files as th

[2019-03-04 10:54] harshanarayana commented on #1386
Closing this in favor of merged PR #1399

[2019-03-04 11:14] harshanarayana commented on #1506
@smlbiobot Blueprints are logical grouping options that can be used to group together a certain set of your under a common prefix and you can define them as a different sub-package and use them by import into your app and registering it.

![image](https://user-images.githubusercontent.com/1404867/53729816-47af4580-3e9c-11e9-942a-6233496e0283.png)

`app.bp1.__init__.py`
[code]

`app.bp2.__init__.py

[2019-03-04 13:27] harshanarayana commented on #1505
PR #1507 should address the necessary backporting.

[2019-03-04 15:48] sjsadowski opened #1508 "Intermittent tox failures with TravisCI builds"
tox is inconsistently failing in our build process - need to identify why and possibly open issue with Travis if the problem is not our own.

[2019-03-05 09:12] #1386 closed

[2019-03-05 09:15] ahopkins commented on #1500
@FUSAKLA Look for two releases for `18.12.1` (a few fixes for the LTS) and `19.3` (the next releases in the schedule) sometime in the next couple weeks.

[2019-03-06 15:08] sjsadowski commented on #1505
Closing after merge of #1507 - thanks @harshanarayana!!

[2019-03-06 15:09] #1505 closed

[2019-03-10 16:59] ahopkins commented on #893
Seems stale and a feature with low interest. If there is a renewed discussion, perhaps take it to the community forums. Closing for now.

[2019-03-10 17:01] ahopkins commented on #1491
I have not run into this with add_task. Can you provide a snippet to test against?

[2019-03-11 05:28] ahopkins commented on #907
Seeing no further discussion, I am closing.

[2019-03-11 05:28] #907 closed

[2019-03-11 06:20] ahopkins commented on #1132
@sjsadowski There's no need for further discussion here on this....

But, I do think this is a reference that we should have when we get to redoing the router. I am fine with closing it, but I think if we are keeping a list of items that need to be addressed on the new router, this should be one.

[2019-03-11 06:20] #1132 closed

[2019-03-11 07:47] chenjr0719 commented on #1504
Actually, there is a tool named `sanic-admin`(check [here](https://github.com/38elements/sanic-admin)) can do exactly what `auto_reloader` wants to do. I have been using it for a long time and it works pretty well. Maybe consider to leveraging(or integrate) `sanic-admin` to fix the problems of `auto_reloader`?

[2019-03-13 13:34] c-goosen commented on #1274
My current setup (AWS btw):

Load Balancer <-> Virtual Machine <-> Nginx <-> gunicorn <-> sanic (started via gunicorn and supervisord).

Obvisouly with docker supervisord does not work as well as the rule of thumb is one (launch) process per container.

Currently running 1 sanic api with 4 workers, then all of them connect to a networked redis for state/auth state and an additional networked redis

[2019-03-13 14:00] sjsadowski opened #1511 "Route removal deprecation and alternate documentation"
Supersedes #1195 - per [community discussion](https://community.sanicframework.org/t/removing-routes-necessary-functionality/29/6) we'll be deprecating route removal and providing documentation on how to complete it in an alternate manner.

[2019-03-13 14:00] sjsadowski commented on #1195
Superseded by #1511

[2019-03-13 14:00] #1195 closed

[2019-03-13 15:14] ahopkins commented on #1274
I think some of this information in this thread would make for a nice blog post if anyone wants to take a stab at it 😉

Till then I am closing since the question has been answered.

[2019-03-13 15:14] #1274 closed

[2019-03-13 19:07] c-goosen commented on #1274
@ahopkins If I find some time I can write some posts on it. Where to post it?

Some nice caveats and deployment posts.

[2019-03-13 19:09] c-goosen commented on #1274
I would love to contribute more back. I took a wild leap in building infrastructure from scratch with sanic and I haven't regretted the choice a single day. Fast paced development in community, seamless upgrades, plugins. This is a testament to the power of opensource and good ideas.

[2019-03-13 19:11] c-goosen commented on #1508
Any more info to share?

Logs?

[2019-03-13 19:20] c-goosen commented on #1297
Have you looked at using middleware? Will ook into decorator, but currently I have a if statement looking like:
[code]

[2019-03-13 19:30] reifba commented on #1297
This is what we ended up with:
[code]

[2019-03-13 19:36] sjsadowski commented on #1508
Just click on the travis builds in any of the PRs and look through the logs.

[2019-03-13 19:38] sjsadowski commented on #1274
@c-goosen I'm sure we can add it as content on sanicframework.org, possibly also medium since that seems to be all the rage these days.

[2019-03-14 04:28] ahopkins commented on #1297
Not a bad idea. In the future we may add some changes to the config to allow for route specific changes. Until then, it looks like this has been answered so I am closing.

[2019-03-14 04:31] ahopkins commented on #1274
@c-goosen 💪

@sjsadowski Agreed.

[2019-03-14 07:15] tri7stan opened #1512 "request.args.get type cast"
**Is your feature request related to a problem? Please describe.**

in sanic when i use the request args:
`arg1=int(request.args.get('arg1',default=20))
`
in flask this can be written in :
`arg1=request.args.get('arg1',default=20,type=int)`

maybe sanic can make it compatible?

[2019-03-14 07:16] tri7stan opened #1513 "request.args.get type cast"
**Is your feature request related to a problem? Please describe.**

in sanic when i use the request args:
`arg1=int(request.args.get('arg1',default=20))
`
in flask this can be written in :
`arg1=request.args.get('arg1',default=20,type=int)`

maybe sanic can make it compatible?

[2019-03-14 07:18] #1512 closed

[2019-03-14 13:56] sjsadowski commented on #1504
@chenjr0719 thanks for the tip!

[2019-03-14 14:00] sjsadowski commented on #1513
So if the type isn't an int, in flask, what happens to the typecast return?

I don't see this as a strong value add, and I don't know that we're looking to flask compatibility as an overall project goal, but the devs and contributors can weigh in.

[2019-03-14 14:22] sjsadowski opened #1514 "linting broken in Travis builds"
Need to figure out what changed with linting - breaking for all builds now, seems like.

[2019-03-14 16:37] harshanarayana commented on #1514
@sjsadowski Seems like a linter issue with import sorting. Let me take a look

[2019-03-14 16:58] harshanarayana commented on #1514
@sjsadowski It was a minor import order issue related to webscoket package in testing utility. Opened a new PR to fix it.

[2019-03-14 17:06] harshanarayana commented on #1297
@ahopkins We should probably add this to the documentation section under logging, @reifba 's solution can be super useful.

[2019-03-14 17:17] ahopkins commented on #1513
Agreed. Flask compatability is not a goal. If you are looking for an async enabled, flask compatible framework I would suggest [Quart](https://github.com/pgjones/quart/) from @pgjones

I'm closing this now, but feel free to continue the conversation if you think we're missing something.

[2019-03-14 17:17] #1513 closed

[2019-03-14 17:18] #1514 closed

[2019-03-14 17:32] harshanarayana commented on #1297
@reifba
[code]

This modifies the `route` registration mechanism to do the same operation you are doing but avoids having to write custom filters manually for each of your APIs. This can be used as a generic banket extension mechanism

[2019-03-14 17:35] sjsadowski commented on #1506
I'm going to close this as there doesn't seem to be any follow up. Feel free to add to the discussion if necessary.

[2019-03-14 17:35] #1506 closed

[2019-03-14 19:07] pgjones commented on #1513
To confirm Quart does have this [feature](https://gitlab.com/pgjones/quart/blob/master/quart/datastructures.py#L20).

[2019-03-15 19:23] vltr commented on #1508
@sjsadowski I was having this issue in my machine. I took out `pytest-sugar` (we don't need it to run the tests) and the pinned version of `pytest` out of `tox.ini` and everything went smooth in my machine, no more random `pytest` fixtures errors in `py35-no-ext` for me. I'm preparing a PR that will address this too :wink:

[2019-03-16 10:23] TobiHSR opened #1517 "Error with Multiple workers on Windows"
We build a project with Sanic and vue.js on Windows. When we try to run the app with more than 1 worker we have the following error:

AttributeError: Can’t pickle local object ‘register.._handler’

However, when we comment the following line out, sanic starts with multiple workers but of course doesn’t serve the static files:

`app.static(‘static’, ‘…/…/dist/static’)`

Isn’t sanic able to run with

[2019-03-16 19:33] SamuelBonilla opened #1518 "Sanic server killed"
**Describe the bug**
I'm getting an error with runtime sanic server, my server often falls down

**Code snippet**
Executing <TimerHandle functools.partial(<function update_current_time at 0x7f8a629aa268>, <uvloop.Loop running=True closed=False debug=True>) created at /usr/local/lib/python3.7/site-packages/sanic/server.py:547> took 0.105 seconds
Executing <TimerHandle functools.partial(<function up

[2019-03-17 02:58] omarryhan commented on #1518
RIP :-/

[2019-03-17 03:00] omarryhan commented on #1518
Can you share more code so that we can reproduce the error?

[2019-03-17 03:24] SamuelBonilla commented on #1518
Hi @omarryhan ;

**Full console error :**

[2019-03-16 21:15:06 -0500] [1099] [DEBUG] CORS: Request to '/' matches CORS resource '/*'. Using options: {'origins': ['.*'], 'methods': 'DELETE, GET, HEAD, OPTIONS, PATCH, POST, PUT', 'allow_headers': ['.*'], 'expose_headers': None, 'supports_credentials': False, 'max_age': None, 'send_wildcard': False, 'automatic_options': False, 'vary_header': True, '

[2019-03-17 07:44] beruhan opened #1519 "sanic 18.12 request object has not get_args"
I want to handle a request with args has no value,I have read the doc and fount that I can use the  request's get_args method  with a keep_blank_values argument,but current version 18.12 not supported,how to deal with it?

[2019-03-17 09:04] hatarist commented on #1519
[code]

[2019-03-17 09:20] harshanarayana commented on #1518
@SamuelBonilla  Based on what I can see in the logs it might be related to https://github.com/huge-success/sanic/issues/1500.

If you are in a linux box, can you check your kernel logs are see if any of the process is getting killed due to some reason?

[2019-03-17 14:07] moshe opened #1521 "Would you interested on tomato-bot for free?"
Hey,
My name is Moshe and I've built [Tomato bot](https://tomato-bot.com) - A GitHub bot that comment tests failures and lint issues directly on your pull requests.
The bot built with Sanic and I wanted to ask if you interested that I will do the integration for you? (generate xml reports and send them to the backend)
you can see examples here:
[Flake annotation](https://github.com/tomato-bot/toma

[2019-03-17 18:45] SamuelBonilla commented on #1518
@harshanarayana  I'm using a docker container

![image](https://user-images.githubusercontent.com/15255022/54496218-a6bc8380-48ba-11e9-9a30-7e0de26c2402.png)

[code]

[2019-03-17 19:01] sjsadowski commented on #1521
Hi @moshe - I'm not sure this would be a good fit for our CI pipeline BUT we are always happy to see projects that use sanic! Thank you for your generous offer!

[2019-03-17 19:01] #1521 closed

[2019-03-17 19:02] sjsadowski commented on #1518
@SamuelBonilla How are your resource limits set for the containers? Are you using straight docker, swarm, k8s, rancher, or something else?

I'm wondering if you're hitting a resource constraint.

[2019-03-17 19:25] SamuelBonilla commented on #1518
@sjsadowski I'm using straight docker, my docker container have'n resource limits...
my sanic server is runing is port 8080, but I have a question
why when a run sanic server other python processes are created ?

[code]
**Memory use**

[code]

[2019-03-18 01:25] beruhan commented on #1519
thanks a lot!

[2019-03-18 06:19] sitthykun commented on #986
Sometimes it caused by Python Environment.
Ex:
I built Python3.7 and pip3.
I installed sanic via pip3.
1. if do it python3 CLI or ran python3 test_.py >>
it will raise "ModuleNotFoundError: No module named 'sanic' "
2. If use python3.7 test_.py
it will work as well

[2019-03-18 11:59] vltr commented on #986
Probably `python3` is not the same as `python3.7`.

[code]

[2019-03-18 11:59] sjsadowski commented on #1508
Closing for now - I think this was fixed with the cleanup @harshanarayana

[2019-03-18 11:59] #1508 closed

[2019-03-18 11:59] #1519 closed

[2019-03-18 13:28] vltr commented on #1518
This definitely looks related to #1500, as @harshanarayana already stated. @SamuelBonilla , what's your Sanic version? In case you can update to 19.3, try it and see how it goes. If not, 18.12.1 LTS is just around the corner and will have a backport of a memory leak fix that probably is the root cause of your problems :wink:

[2019-03-18 13:29] sjsadowski commented on #1518
Psst @vltr 19.3 had a pypi issue, it's not quite there yet.

[2019-03-18 13:31] vltr commented on #1518
@sjsadowski I just saw that, sorry :grimacing:

@SamuelBonilla , just hold on while we figure this out :wink:

[2019-03-19 07:01] StVl opened #1522 "abort() not working"
**Describe the bug**
A clear and concise description of what the bug is, make sure to paste any exceptions and tracebacks.

**Code snippet**
Relevant source code, make sure to remove what is not necessary.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Version [e.g. 0.8.3]

**

[2019-03-19 07:01] #1522 closed

[2019-03-19 23:31] benjolitz opened #1523 "Missing function handle_exit for SIGTERM handling"
**Describe the bug**
There is a handle_quit method as of latest master but there is no handle_exit defined here or elsewhere in the repository (at least to matching the string query "handle_exit"). This affects only the gunicorn served workers.

**Code snippet**

https://github.com/huge-success/sanic/blob/391fcdc83d54c590066837f36e973ba42c72724f/sanic/worker.py#L196-L198

**Expected behavior**
SIG

[2019-03-20 02:14] harshanarayana commented on #1523
@benjolitz the `self.handle_exit` here comes from the base worker `Worker` class. Which does a much simpler operation of `handle_quit`

[code]

Is this causing any issues for you at the runtime?

[2019-03-20 16:13] whyboris opened #1524 "Publish 19.3 release to PyPI"
Thank you for the release 3 days ago!

https://github.com/huge-success/sanic/releases/tag/19.3

It's missing from PyPI at the moment:

https://pypi.org/project/sanic/#history

Please publish it at your convenience 🙇

Keep up the awesome work ❤️

[2019-03-20 18:00] harshanarayana commented on #1524
I think @sjsadowski is already looking into it.

[2019-03-20 18:51] benjolitz commented on #1523
I found a different problem in my implementation. You’re right - not a bug

Ben

[2019-03-20 18:51] #1523 closed

[2019-03-21 12:25] andreymal opened #1525 "Routing is incorrect with some special characters (e.g. dot)"
I want to use something like this:

[code]

It works, but the dot is interpreted as a special regex character that represents ANY character, so there urls are working:

- `/path/to/file.txt`
- `/path/to/fileQtxt`
- `/path/to/file txt`
- `/path/to/file%3Ftxt` etc.

When I try to escape the dot:

[code]

then this route works as expected, but `app.url_for('generate_some_file', ext=ext)` returns brok

[2019-03-21 13:17] vltr commented on #1525
Thanks, @andreymal ! That is a known bug on the `Router` - it does not escapes special characters given by the developer prior to compiling into a regular expression. For now, it's good to have this pointed out in an issue - we are kind of discussing the future of our `Router`, as it started in another issue (#1318), became even a [test parameter](https://github.com/huge-success/sanic/pull/1499) b

[2019-03-21 13:50] veelion opened #1526 "docs: part of request_data is out of date"
**Describe the bug**
https://sanic.readthedocs.io/en/latest/sanic/request_data.html

`query_args` does not exist in Sanic 18.12, description about it in the doc should be removed.

the same issue also occurs on "Changing the default parsing rules of the queryset" in the docs, `request` does not has `get_args()` method.

[2019-03-21 14:12] harshanarayana commented on #1526
@veelion It's added as part of Sanic 19.3 release and hence the update in the Document. The new version will be made available in PyPi soon.

[2019-03-21 14:37] harshanarayana commented on #1525
@andreymal  Did you try using a custom regex instead of the default string format for the path?
`@app.route(uri="/path/to/<file:file[abc].(txt|jpg|gif)>")`?

The above will match `/path/to/filea.txt` `/path/to/fileb.txt` `/path/to/filea.gif` but not `/path/to/filea.jfg` or  `/path/to/files.txt`

[2019-03-21 14:49] sjsadowski commented on #1524
Yeah we have a credentialing issue which we are working to resolve. I'll leave this open until 19.3 gets pushed.

[2019-03-21 14:51] andreymal commented on #1525
@harshanarayana it works but is too complicated for me :) `/path/to/file.<ext>` looks nicer

[2019-03-21 14:57] harshanarayana commented on #1525
Well, we can make it much simpler by turning it into `@app.route(uri="/path/to/<file:file(.*)\.(.*)>")`
😆

[2019-03-22 09:31] ramSeraph opened #1528 "Access log writing during request timeout causes exception"
**Describe the bug**
On request timeout, the attempt from  Server write_error method to log to access log fails with the following error

[code]

**Code snippet**
I think this is a generic problem..

**Expected behavior**
A request timeout and a closing of the client connection..

**Environment (please complete the following information):**
 - OS: alpine 3.6
 - Version: 18.12.0

**Additional conte

[2019-03-22 14:02] ahopkins commented on #1524
See #1529

[2019-03-22 14:02] #1524 closed

[2019-03-23 19:35] #1526 closed

[2019-03-24 09:05] autogestion opened #1531 "Multiple blueprint listeners ("after_server_start"), Sanic executes only first one"
**Describe the bug**
Sanic ignores blueprint listeners, which goes after first one (by order in app._blueprint_order ). If disable first one, next will be executed

**Code snippet**
[code]

**Expected behavior**
Expecting both runbot1 and runbot2 will be executed.

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04.2 LTS
 - Version 18.12.0

**Additional context**
The

[2019-03-24 12:03] harshanarayana commented on #1531
@autogestion I am not able to reproduce the problem. Can you add a few more details if you are still facing this issue?

[code]

[code]

[2019-03-24 15:47] autogestion commented on #1531
@harshanarayana your example works for me too

this one reproduce the issue
[code]

[2019-03-24 15:56] ahopkins commented on #1531
@autogestion the problem is that your code is blocking on the while loop.

You can avoid this by using the add_task method as described here: https://sanic.readthedocs.io/en/latest/sanic/middleware.html#listeners

I'll try and post a code snippet for you when I'm back in front of a computer.

[2019-03-24 17:21] autogestion commented on #1531
@ahopkins
yep, add_task fixes the problem. but that code is not really blocking. app is able to process requests. just ignores next listeners

[2019-03-24 19:34] untitaker opened #1532 "Have a deprecation policy"
When sanic was using semver, it was very clear which version is bumped for API-breaking changes. With the adoption of calver, this is not clear at all.

At Sentry we maintain code that hooks into Sanic's API to report uncaught exceptions. If Sanic was still following semver, we would have a test matrix of Sanic versions 0.8, 0.9, 1.x, 2.x and so on. Which version ranges make sense now?

Twisted us

[2019-03-24 21:53] andreymal commented on #1488
@sjsadowski it can be easily reproduced when the server is stopping. (Not sure if **syfluqs** stops the server, but I have the same error when my server is stopping.) I tested Chrome, Firefox, wget and nginx — every client causes this error.

You can reproduce this with a simple server:

[code]

Just send a request and press Ctrl+C:

[code]

[2019-03-25 04:09] ramSeraph commented on #245
Seeing the same with aioredis, could this be related to GC?
https://bugs.python.org/issue33115

[2019-03-25 09:28] FUSAKLA commented on #1500
FYI memory usage after 19.3.1 upgrade, thanks works great!

![image](https://user-images.githubusercontent.com/6112562/54908593-8e66ed00-4ee8-11e9-899b-ab74a5536794.png)

[2019-03-25 14:06] StVl opened #1533 "abort() not working"
Hello!

I want to handle the errors of my application using my own messages and error codes.

For this, I created a variable, for example:

`example_error = [" example msg, ", 10000]`

and wrote a function, like this:

`async def get_error (msg, code):
    return abort (code, msg) `

when I call it, I get the following as a reply:

Еrror: example msg

And where is my error `code?`

Moreover, if I

[2019-03-25 15:07] harshanarayana commented on #1533
@StVl Can you please elaborate a bit more on the format you are expecting the Output in? Are you expecting a JSON output with Status code embedded into it? Or JSON with status code in header?

It would be useful if you can add a small snippet of your code as well so that we can get a bit more context.

[2019-03-25 18:22] ahopkins commented on #1500
Thanks for sharing

[2019-03-26 02:27] pytomtoto opened #1534 "how to use websocket with rabbitmq ?"
[code]
I running a Thread with a websocket connection, the thread is consuming rabbitmq queue, i want to know how to stop the Thread  when the websocket connection closed.

[code]

[2019-03-26 05:16] pytomtoto commented on #1534
catch ConnectionClosed in thread1

[2019-03-26 05:16] #1534 closed

[2019-03-26 07:36] DoctorQ opened #1535 "server receive request cost 1000ms"
**Describe the bug**

sanic example:

test.py
[code]

curl.sh

[code]

exec curl.sh output:

[code]

sanic server output:

[code]
- client send time:2019-03-26 15:30:24
- server receive time:2019-03-26 15:30:25
- curl time_starttransfer time:1.008404
- why difference between client and server is 1 second，request body data size is 32k.

**Code snippet**
above

**Expected behavior**

server receice

[2019-03-26 08:24] StVl commented on #1533
@harshanarayana i'm so sorry. I had tried returned error codes, which is not supported by http/1.1, My local error codes. And i hoped see that in my browser, not in headers. That's my mistake, closing  issue

[2019-03-26 08:54] DoctorQ commented on #1535
Expect: 100-continue

[2019-03-26 08:56] pytomtoto opened #1536 "add long polling support"
[code]

[2019-03-26 09:05] andreymal commented on #1536
Long polling just means delayed response, you can easily delay your response without any additional features

[code]

[2019-03-26 09:10] pytomtoto commented on #1536
yep

[2019-03-26 09:10] #1536 closed

[2019-03-26 12:34] #1533 closed

[2019-03-26 12:42] sjsadowski commented on #1532
Releases tagged LTS will not include breaking changes. Our expected cadence for those is annually with the .12 releases. We expect to include security and maintenance fixes. Any releases not identified as LTS may include breaking changes.

[2019-03-26 12:42] #1532 closed

[2019-03-26 13:09] harshanarayana commented on #1533
@StVl  No worries 😄 Glad you got the issue sorted out

[2019-03-26 20:30] sjsadowski commented on #1518
@SamuelBonilla Can you try again with 19.03.1 and see if the issue remains?

[2019-03-27 07:04] chenjr0719 commented on #1535
Humm..., not sure is this issue related to the client or hardware. I use your code snippet with `requests` and it doesn't cost more than 1 sec.

`test.py`:
[code]

`client.py`:
[code]

The output of `client.py`:
[code]

The output of `test.py`:
[code]

[2019-03-27 13:52] nemochin opened #1540 "@app.exception(ServerError) not work"
I want use sanic api like flask,handle 500 error like this:
browser return ：
![image](https://user-images.githubusercontent.com/13851088/55080334-fa0fac80-50d8-11e9-81f1-768f6b38461f.png)
background retrun：
![image](https://user-images.githubusercontent.com/13851088/55080461-29261e00-50d9-11e9-95e7-7abbbbc5bae6.png)
 but sadly
if I use @app.exception(ServerError)
browser return this,it seems that

[2019-03-27 14:03] andreymal commented on #1540
This is not a `ServerError`, this is `ZeroDivisionError`. For unexpected exception types [use a custom error handler](https://sanic.readthedocs.io/en/latest/sanic/exceptions.html#handling-exceptions)

[2019-03-27 14:09] nemochin commented on #1540
ZeroDivisionError  occurs in Internal Server，is it a 500 error?

[2019-03-27 14:29] sjsadowski commented on #1540
No, the ServerError is triggered by the ZeroDivisionError, which you're not catching.

The following works:
[code]

curl returns:
**testing]$ curl -i localhost:8000**
[code]

[2019-03-27 14:29] #1540 closed

[2019-03-27 15:22] sjsadowski commented on #1535
This is likely curl specific;
I tested with httpie which requires a bit of a workaround because no -w stats but did the following:

**$ echo -n start: && date +%s.%N && http POST :8098/hello format=jpeg image=@out.jpg.b64 order_id=O01300876666555 timestamp:=1553568280 && echo -n stop: && date +%s.%N**
[code]
So you get a differential of ~20ms

Given that @chenjr0719 tested with requests and also d

[2019-03-27 15:30] sjsadowski commented on #1531
The ```while True:``` is actually blocking.

Change this:
[code]
to this:
@bp1.listener("after_server_start")
async def runbot1(app, loop):
    while True:
        await asyncio.sleep(100)
    print("First")
[code]
@bp1.listener("after_server_start")
async def runbot12(app, loop):
    print("First-1")

@bp1.listener("after_server_start")
async def runbot1(app, loop):
    while True:
        await

[2019-03-27 15:30] #1531 closed

[2019-03-27 15:46] nemochin commented on #1540
thank you very much

[2019-03-28 04:04] episodeyang commented on #1126
Then, is there a catch-all route?

[2019-03-28 04:05] episodeyang commented on #1126
Here it is!! #1223

@app.route('/<path:path>')

[2019-03-28 05:02] episodeyang commented on #1126
I'm running into this problem: when I do `GET localhost:3002/profiles`, I thought the async handler is supposed to catch this via the `/<path:path>` route, with `path="profiles"`. However the server errors out with "file not found", apparently from the static handler.

[code]

[2019-03-28 05:09] episodeyang opened #1543 "Serving Create-React-App, WildCard and Exceptions"
Moved from comments in #1126

I'm running into this problem: when I do `GET localhost:3002/profiles`, I thought the async handler is supposed to catch this via the `/<path:path>` route, with `path="profiles"`. However the server errors out with "file not found", apparently from the static handler.

[code]

I would like to know the precedence in the route handling above.

### My expectation

I was

[2019-03-28 13:58] madelyneriksen commented on #1543
Hey, firstly sorry: this is not a direct answer to your question. Rather, at work I use React + Reach/Router + Sanic for a service and getting the development environment up and running was trickier compared to a quick catch-all like in other frameworks (looking at you Django).

I ended up creating the development environment using `docker-compose` to run an nginx server, acting as a reverse proxy

[2019-03-28 22:36] yunstanford commented on #1528
Yeah, it's basically because `handle_request ` has not been triggered, and it didn't reach here https://github.com/huge-success/sanic/blob/master/sanic/app.py#L884

And not sure why we need this check https://github.com/huge-success/sanic/blob/master/sanic/request.py#L378

[2019-03-29 17:28] sjsadowski commented on #1517
Windows support is "experimental" and on a best-effort basis; I'm going to leave this open for now but it may ultimately get closed as windows isn't a primary testing target for us, so we can't guarantee everything works.

[2019-03-31 19:48] episodeyang commented on #1503
I'm having similar issue on amazon IAM, no libpython3.7-dev or python3-dev available

[2019-04-01 01:11] sjsadowski commented on #1503
@episodeyang can you open a new issue and include more details? Do you mean Amazon Linux?

[2019-04-01 01:22] Yensan commented on #1493
this is an interesting question. I had encountered the same type of assignment.
User send request(a task) ----- backend need a period to finish the task ---- when it finished, notify the user ----- User get the result.
I used celery as task queue in back-end,  started loop request at some point  in fore-end. This is a yuck implementation, I know. But how to use websockets notify  users?

[2019-04-01 01:31] episodeyang commented on #1503
yes! Haven’t ate all day had a workshop deadline. Will add issue soon.

On Sun, Mar 31, 2019 at 6:11 PM Stephen Sadowski <notifications@github.com>
wrote:

[2019-04-01 06:47] episodeyang commented on #1503
The bug was introduced by a mistake. I included "uvloop==0.8.1" in my dependency list.

Removing it fixed the installation problem.

[2019-04-01 06:52] episodeyang commented on #1503
https://github.com/episodeyang/ml_logger/pull/15

[2019-04-01 08:23] ahopkins commented on #1493
Definitely no need for long polling here. You really have a couple options:

- Push off to a celery process and have celery trigger a response back over the same websocket when it is done (I have something similar to this operational on a project I am working on)
- Push off to an `asyncio.Queue` ins something similar to this: https://community.sanicframework.org/t/how-to-use-asyncio-queues-in-sani

[2019-04-03 16:47] marodev opened #1545 "WinError 10022 - multiple workers"
**Describe the bug**
The Sanic server is in most of the attempts not able to start with multiple workers. Seems like the socket is not ready to bind and windows, therefore, throws an exception. This may be different on unix systems.

**Code snippet**
Sanic Hello World

[code]

**Expected behavior**
Sanic starts and is ready to serve with multiple workers.

**Environment**
 - OS: Windows 10
 - Sani

[2019-04-04 10:40] sjsadowski commented on #1545
This is a dupe of #1517 - as per the note there, window support is best effort and not guaranteed. While I'm leaving that open for review, I'm closing this one as redundant.

[2019-04-04 10:40] #1545 closed

[2019-04-04 12:29] marodev commented on #1545
@sjsadowski  Fair enough if you don’t want to support Windows. However, this should at least be mentioned somewhere in the docs!

[2019-04-04 12:39] sjsadowski commented on #1545
@marodev Agreed, it should be.

[2019-04-09 15:34] infin1tyy opened #1547 "Does Sanic have something for login systems?"
Does Sanic have something like flask-login? I want to use it in conjunction with my discord.py application and I need to add in login.

[2019-04-09 16:52] sjsadowski commented on #1547
There are a number of third party authentication extensions available, and they are listed in the [documentation here](https://sanic.readthedocs.io/en/latest/sanic/extensions.html).

[2019-04-09 16:52] #1547 closed

[2019-04-10 03:51] RifeWang commented on #1500
I had the same issue with memory leak for 18.12.1 , and then I have updated to 19.3 ，but the memory is still increasing in a very slow speed.

memory usage in two days ：
![D7A92982-4421-42D7-BC36-49EFC44D1ED0](https://user-images.githubusercontent.com/20348639/55850001-4224d980-5b85-11e9-8c40-9f0f1199b47d.png)

and I use multiple workers,  the machine is 4 cores and 6GB memory:
[code]

the result

[2019-04-10 05:58] xncbf opened #1548 "CPU overload"
### Intermittently increases CPU usage suddenly.

![스크린샷 2019-04-10 오후 2 39 28](https://user-images.githubusercontent.com/9462045/55854740-938e9200-5ba0-11e9-85e3-264b29949635.png)

<img width="1210" alt="스크린샷 2019-04-10 오후 2 53 00" src="https://user-images.githubusercontent.com/9462045/55854785-ad2fd980-5ba0-11e9-9bba-f7a4e2ad03a4.png">

Can somebody help me?

[2019-04-10 13:28] sjsadowski commented on #1548
Please post the code you're using to do this. Currently it looks like the websocket can't listen on the address being provided.

[2019-04-10 13:37] xncbf commented on #1548
[code]

code run by docker(gunicorn) - nginx
[code]

[2019-04-10 15:03] sjsadowski commented on #1548
Have you scaled the workers, starting with 1, 2, then 4 to see if the problem happens consistently? Also, have you tried running directly, without gunicorn?

[2019-04-10 15:35] xncbf commented on #1548
No, actually. It would be good for prod without gunicorn?
Let's reduce the number of workers. But I do not think this is a problem.

[2019-04-10 15:58] sjsadowski commented on #1548
Just trying to narrow the scope. Right now there's a lot of variables in play.

[2019-04-10 16:23] xncbf commented on #1548
In conclusion, redis connection failure is a problem, but do you have any idea?

[2019-04-10 18:55] sjsadowski commented on #1548
Not sure offhand - maybe attempt to establish your redis connection prior to using your publish ws route. estblish the redis connection in a before_server_start function. There are examples in the docs here: https://sanic.readthedocs.io/en/latest/sanic/middleware.html#listeners

[2019-04-10 21:22] shinybrar opened #1550 "Asyncio Queues + Infinite Loops & Sanic"
I have tried the community forums and general culprits like Stack Overflow to find a solution to my problem, but to no avail. I apologize in advance, if this question has been answered previously.

### What I am hoping to achieve?
1. Start `sanic` app
2. Instantiate a asyncio `queue`
3. Instantiate a `accumulator` infinite loop which adds data to the `queue`
4. Have an endpoint, e.g. `/get-work` a

[2019-04-10 22:27] andreymal commented on #1550
You must fix all asyncio warnings:

[code]

When I fix this warning (`await self.work_queue.put(work)`) and use `app.distributing = True` your code works fine for me:

![](https://i.imgur.com/Llv8xrV.png)

[2019-04-11 00:07] shinybrar commented on #1550
@andreymal Wow, in the end it was something really simple. Thanks a lot for the feedback.

[2019-04-11 00:08] #1550 closed

[2019-04-11 03:48] xncbf commented on #1548
btw, I tried on one server, one worker. but same.
To connect redis with the before_server_start function?
[code]

[2019-04-11 03:58] xncbf commented on #1548
I just tried that. but the redis connection must be reconnected each time.

[2019-04-11 04:08] ahopkins commented on #1500
@rifewang I would look to pm2 first. I am not 100% familiar with it and how it handles python applications. Does it act as a proxy server? How and when does it decide to start a process? To continue this conversation, please start a new issue and link to this here.

[2019-04-11 18:40] sjsadowski commented on #1548
Have you tried using a connection pool instead of a single connection?

[2019-04-12 03:06] xncbf commented on #1548
Let me try.

[2019-04-12 12:48] #1528 closed

[2019-04-12 19:18] yunstanford commented on #1194
It should not include both `chunked` and `Content-Length`

[2019-04-12 21:12] #1451 closed

[2019-04-12 21:17] #798 closed

[2019-04-13 03:11] dujinyu commented on #1192
@SuperSajuuk the same problem happened to me, i don't want to use linux since i need to develop frontend code. To my extreme curiosity, have you solved the issue? if you have, please tell me how to do it and thanks.

[2019-04-13 03:16] yunstanford commented on #1548
Also looks like your sum requests jumps at the same time ? What does that metric measure ?

[2019-04-14 11:22] lakenn opened #1551 "Unable to start server -- Running run_async.py failed"
**Describe the bug**
[2019-04-14 19:22:02 +0800] [21512] [INFO] Goin' Fast @ http://0.0.0.0:8000
[2019-04-14 19:22:02 +0800] [21512] [ERROR] Unable to start server
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\venom\lib\site-packages\sanic\server.py", line 745, in serve
    http_server = loop.run_until_complete(server_coroutine)
  File "C:\ProgramData\Anaconda3\envs\veno

[2019-04-14 20:24] cnk113 opened #1552 "request.json parsing issue"
I'm trying to read in a JSON through curl and the request.json gives me None. I've been looking through the doc and request.json should return what I want, but it doesn't. Any ideas?

[code]

Command I'm running:

`
curl --request PUT --header "Content-Type: application/json" --write-out "%{http_code}\n"--data '{"value": "Distributed Systems"}' http://127.0.0.1:8082/key-value-store/course1000`

 -

[2019-04-14 20:52] andreymal commented on #1552
You forgot to add a space between `"%{http_code}\n"` and `--data`

[2019-04-14 20:57] cnk113 commented on #1552
Yeah that fixes it, my bad.

[2019-04-14 20:57] #1552 closed

[2019-04-14 22:57] ahopkins commented on #1551
It does... but there was a slight change. You are running `0.8.3`?

If you are in a newer release, then you would need to add `return_asyncio_server=True` to `create_server(...)`

[2019-04-15 04:08] xncbf commented on #1548
@yunstanford That is AWS elasticbeanstalk mornitoring panel.
Anyway.. it seems to be fixed!
I changed the single connection to connection pool.
Thank you very much!

[2019-04-15 04:08] #1548 closed

[2019-04-15 12:24] sjsadowski commented on #1518
Closing due to lack of further response

[2019-04-15 12:24] #1518 closed

[2019-04-15 17:21] jrmi commented on #1551
I run in this issue too. The fix proposed works. I think documentation needs update on this point.

[2019-04-15 20:01] ahopkins commented on #1551
@jrmi Agreed. I was planning on pushing a change to this when I get a chance tomorrow. Unless of course, you'd like to push a PR?

[2019-04-15 20:22] jrmi commented on #1551
Just done. Can you review it ?

[2019-04-16 00:17] yunstanford commented on #1235
@smlbiobot regarding the cpu issue, did you enable reuse-port ? https://docs.gunicorn.org/en/stable/settings.html#reuse-port

[2019-04-16 00:36] #1551 closed

[2019-04-16 13:30] #801 closed

[2019-04-16 14:31] sjsadowski commented on #1491
Closing - no response from issue opener

[2019-04-16 14:31] #1491 closed

[2019-04-16 15:02] disarticulate commented on #37
I just wanted to agree that my expectation for a blueprint middleware is that it applies only to routes included in the blueprint.

I don't see why it would apply globally. My sample handler setup which seems to do what I would like:

[code]

This seems self contained and easy to manage. Except, now I have to add the middleware somewhere else, disconnecting it from an endpoint I expect to only tak

[2019-04-19 05:40] FishEatingCat opened #1556 "Can I just call send in sanic's websocket without calling recv?"
I am using the [sanic websocket example](https://sanic.readthedocs.io/en/latest/sanic/websocket.html) to use websocket. I just want to send data to the browser, but the example calls the recv function. How should I remove the recv and continue to send data to the browser?

1. After removing recv, the browser can't receive data, and there is no way to transfer data later.

2. Keep recv, the first t

[2019-04-19 12:52] andreymal opened #1557 "2 failed tests when tox is not used (missing fixture "benchmark")"
`pytest-benchmark` is not present in `tests_require`, so there are 2 failed tests in `tests/benchmark/test_route_resolution_benchmark.py` when tox is not used.

This requirement is present in `tox.ini` so tox and Travis CI are working fine.

(I don't know what's a better fix — disable the benchmark tests or add `pytest-benchmark` to `tests_require`, so I didn't create a PR)

[2019-04-19 14:29] ahopkins commented on #1557
add to tests_require

[2019-04-19 14:31] andreymal commented on #1557
Ok

[2019-04-19 22:52] #1557 closed

[2019-04-20 12:48] SuperSajuuk commented on #1192
@dujinyu Hi, I never resolved the problem and just gave up trying to use Sanic as a result. You're better off just sticking with Flask and using a web server proxy (like Apache or Nginx) to handle multiple requests.

[2019-04-20 13:10] harshanarayana commented on #1192
@SuperSajuuk @dujinyu

[code]
This should install `sanic` without uvloop/ujson. Can you try this out once ?

[2019-04-22 20:30] ahopkins commented on #1556
You definitely do not have to have bi-directional communication. You can implement just push events by not calling receive. I'm writing from my phone, but I'll post a snippet when I am back online.

[2019-04-23 11:06] shivammutreja commented on #1262
For someone who came here after trying to return _io.BytesIO as a file response (i.e 1st argument to response.file) and getting an error saying - TypeError: expected str, bytes or os.PathLike object, not _io.BytesIO.

Just use response.raw(_io.BytesIO, headers={}) and it'll work. (Setting headers is optional, obviously)

[2019-04-25 02:49] #1462 closed

[2019-04-28 18:36] raphaelauv commented on #1462
#1520 fixed it

[2019-04-30 06:06] chenjr0719 commented on #1556
@FishEatingCat

If you only want to send data, you can try this:
[code]
But just like you said

Because `await ws.recv()` will keep waiting until there is incoming data.
So, let's do a little trick here:
[code]

The log will be:
[code]

This implement can always send data even there is no incoming data but also capable to receive data if you need it.
Can this solve your problem?

[2019-04-30 21:56] #1194 closed

[2019-05-05 17:21] ketan86 opened #1564 "pylint complains about the `processes` var initialization in `server.serve_multiple` file."
This may not affect the functionality but good to fix to make code more readable, understandable in terms of flow and also to take care of pylint error.

**Pylint Error**
[code]

**Code snippet**
[code]

**Screen Shot**
<img width="794" alt="Screen Shot 2019-05-05 at 10 13 30 AM" src="https://user-images.githubusercontent.com/5973097/57197691-42fc2180-6f1f-11e9-803d-5d8cbc19606a.png">

[2019-05-05 17:21] ketan86 commented on #1564
Minor fix that i can take care if required.

[2019-05-05 17:43] ahopkins commented on #1564
@ketan86 Have at it! 🤘

[2019-05-06 14:24] FishEatingCat commented on #1556
Thank you very much for your reply! @chenjr0719 @ahopkins
I am sorry to reply so long.
I have tested and replaced `time.sleep(10) `with `asyncio.sleep(10)` without waiting for data to be received.
I don't need to accept any data, so this is enough.
And then I used zeroMQ to update the data. The websocket just sends data to the page.
So this is over, thank you!

[2019-05-06 14:24] #1556 closed

[2019-05-08 02:57] noa14642 commented on #1543
ماهاذا بحق الجحيم لم افهم شيء

[2019-05-08 03:04] sjsadowski commented on #1543
Hi there - the sanic community primarily communicates in English. Would you mind posting an English translation for your comment, please?

Sent from my mobile device; please excuse my brevity

________________________________
From: noa14642 <notifications@github.com>
Sent: Tuesday, May 7, 2019 9:57:49 PM
To: huge-success/sanic
Cc: Subscribed
Subject: Re: [huge-success/sanic] Serving Create-React-A

[2019-05-08 03:42] episodeyang commented on #1543
it seems to mean “what the fucking hell”

On Tue, May 7, 2019 at 8:05 PM Stephen Sadowski <notifications@github.com>
wrote:

[2019-05-08 05:58] ahopkins commented on #1564
Closing because implemented in #1565. Thanks @ketan86

[2019-05-08 05:58] #1564 closed

[2019-05-08 07:04] volfpeter commented on #845
I'm just experimenting with Sanic. It seems if you import your routes with `from endpoints import *`, then routes will be registered through the `@app.route()` decorator as well. Just don't add the `__all__ = (routing-method-names)` variable to the `endpoints` module, because then it won't work.

[2019-05-09 07:15] jangjichang commented on #1192
First of all, thank you for this answer.

But I tried to install it as you explained, but it failed.

The error message is as follows.

Command "c: \ users \ jcjang \ appdata \ local \ programs \ python \ python37-32 \ python.exe -u -c" import setuptools, tokenize; __ file __ = 'C: \\ Users \\ jcjang \\ AppData \\ Replace ('\ r \ n'); f = getattr (tokenize, 'open', open) install -record C: \ Users

[2019-05-10 04:10] yunstanford opened #1569 "build time increased a lot"
https://travis-ci.org/huge-success/sanic/builds
looks like build time increased a lot, after merging https://github.com/huge-success/sanic/pull/1562

cc: @huge-success/sanic-core-devs @ahopkins

[2019-05-10 05:29] ketan86 commented on #1569
@yunstanford Agree, almost three times the previous build of #1562.  This needs some investigation if build time increase like this is not expected.

[2019-05-10 09:49] #1133 closed

[2019-05-12 11:03] 5onic commented on #1420
@vltr which a status of the issue?

[2019-05-13 09:05] ahopkins commented on #1569
This is indeed bizarre. The difference in the build is that we are replacing `aiohttp` for `requests_async`. The only other change that impacted the build was renaming `pyproject.toml` since we are only using it for building `black` right now and not as in relation to [PEP 518](https://www.python.org/dev/peps/pep-0518/).

The reason I did that was because the builds [started conflicting with the `

[2019-05-13 09:09] ahopkins commented on #1569
Just read @yunstanford PR linked above to `httpcore` (a dependency of `requests-async`, and potentially [a new dependency of `requests` as well](https://www.kennethreitz.org/essays/requests3-update))

[2019-05-13 09:34] ahopkins commented on #1420
@5onic No one is working on anything router related right now. Feel free to make the PR. This is also a question whether @huge-success/sanic-core-devs think this is something that we should also patch **18.12LTS**.

[2019-05-13 09:44] 5onic commented on #1420
@ahopkins Cool, I'll start work on it in 3-4 days.

[2019-05-14 04:47] #1511 closed

[2019-05-14 04:49] yunstanford commented on #1235
"I’ve had it set to 7 workers but it shows up as 8 workers", because there is one gunicorn master/parent process that workers forked from.

Anyway, I'm gonna close this one. Thanks!

[2019-05-14 04:49] #1235 closed

[2019-05-14 04:56] #1448 closed

[2019-05-14 04:57] yunstanford commented on #1216
closing this since no more feedbacks. feel free to reopen if needed.

[2019-05-14 04:57] #1216 closed

[2019-05-14 23:25] andreymal commented on #530
@stale nope

[2019-05-14 23:27] andreymal commented on #1346
**@&#8203;stale** nope

[2019-05-14 23:27] andreymal commented on #1123
**@&#8203;stale** nope

[2019-05-14 23:28] andreymal commented on #958
**@&#8203;stale** nope

[2019-05-14 23:29] andreymal commented on #1165
**@&#8203;stale** nope

[2019-05-14 23:32] andreymal commented on #1173
It's probably fixed by https://github.com/huge-success/sanic/pull/1179

[2019-05-14 23:33] andreymal commented on #1218
**@&#8203;stale** nope

[2019-05-14 23:35] andreymal commented on #1230
**@&#8203;stale** nope

[2019-05-15 04:51] #1173 closed

[2019-05-15 04:56] #53 closed

[2019-05-15 05:50] aaugustin commented on #1214
Well, I filed it for you rather than for me. It seems valuable to keep track of this even if it takes some years to get done.

[2019-05-15 06:29] ahopkins commented on #1318
Related discussion here: https://community.sanicframework.org/t/making-sanic-even-faster/298?u=ahopkins

This is on my radar after ASGI.

[2019-05-15 06:34] ahopkins commented on #1455
The details are passed when debug mode is on. I think this is right. And, the details are passed when debug mode is on. What do you think is missing? Closing for now, but feel free to repoen.

[2019-05-15 06:34] #1455 closed

[2019-05-15 06:38] #1020 closed

[2019-05-15 06:39] #1171 closed

[2019-05-15 06:55] ahopkins commented on #848
See #1576

[2019-05-15 06:55] #848 closed

[2019-05-15 07:00] ahopkins commented on #530
See also #1318. We are talking about using cython for some other performance enhancements (specifically in the router). It might be nice to also see if we can use it to clean up some of the performance issues noted here: https://community.sanicframework.org/t/making-sanic-even-faster/298

[2019-05-15 07:01] #852 closed

[2019-05-15 07:03] ahopkins commented on #1214
Keeping open since websockets integration is still on the table.

[2019-05-15 09:27] #1202 closed

[2019-05-15 09:28] ahopkins commented on #1211
Closing this since pipelining support will be available once we implement ASGI (coming soon).

[2019-05-15 09:28] #1211 closed

[2019-05-15 09:29] #1161 closed

[2019-05-15 09:30] ahopkins commented on #1135
Closing since I think there is nothing to do here.

[2019-05-15 09:30] #1135 closed

[2019-05-15 09:31] #1070 closed

[2019-05-15 09:32] #1067 closed

[2019-05-15 09:34] #860 closed

[2019-05-15 10:12] logileifs opened #1577 "Testing fails with ModuleNotFoundError: No module named 'aiohttp'"
**Describe the bug**
After installing sanic and setting up tests like in the [documentation](https://sanic.readthedocs.io/en/latest/sanic/testing.html) and running them sanic fails with `ModuleNotFoundError: No module named 'aiohttp'`.

It succeeds after installing 'aiohttp' manually

**Code snippet**
Just do a clean install of sanic and create a test as in the documentation and try running it.

*

[2019-05-15 10:45] harshanarayana commented on #1577
@logileifs Can you please add the stack trace to the bug description?

[2019-05-15 10:47] logileifs commented on #1577
`[2019-05-15 10:02:59 +0000] [8698] [INFO] Goin' Fast @ http://127.0.0.1:42101
[2019-05-15 10:02:59 +0000] [8698] [ERROR] Exception
Traceback (most recent call last):
  File "/home/logi/.virtualenvs/lemo3.6/lib/python3.6/site-packages/sanic/testing.py", line 97, in _collect_response
    method, url, *request_args, **request_kwargs
  File "/home/logi/.virtualenvs/lemo3.6/lib/python3.6/site-packages

[2019-05-15 11:35] harshanarayana commented on #1577
`aiohttp` is a `test` only package that doesn't get installed by default unless explicitly asked for.

[code]

[2019-05-15 11:37] harshanarayana commented on #1577
@logileifs  But I agree with what you mentioned under expected behavior. I think `aiohttp` can be moved to the default packages that get installed with `sanic` since we are using it with `testing.py` and this error feels unwarranted.

@huge-success/sanic-core-devs  Any concerns moving `aiohttp` to the default packages installed?

[2019-05-15 11:40] logileifs commented on #1577
Is this documented anywhere? I believe I've read the documentation rather well and I don't recall seeing anywhere mentioned that sanic provides any extra packages

[2019-05-15 11:47] harshanarayana commented on #1577
@logileifs  There is a reference for this under the `Contributing` section. But the command used in that context is a bit different since it installs sanic from a cloned path into. `pip install -e ".[test]"`

[2019-05-15 12:12] ahopkins commented on #1577
`aiohttp` has been removed as of #1562. Instead, we have migrated to `requests-async`. The reason is primarily to support our development towards ASGI support (See #1475).

I do not think we should include it in the standard install because it is an extra dependency that is not **needed**. However, on the flip side, I think having `pip3 install "sanic[test]"` be documented is definitely worth doin

[2019-05-15 12:23] logileifs commented on #1577
I disagree with you there @ahopkins, to develop a web application you need to be able to test it, to test it you apparently need `aiohttp` or `requests-async` so those dependencies should absolutely be included in the main package

[2019-05-15 12:34] ahopkins commented on #1577
@logileifs In this case, then, your build packages and containers become bloated with unused code and unused dependencies.

[2019-05-15 12:45] logileifs commented on #1577
@ahopkins fair enough

[2019-05-15 14:12] harshanarayana commented on #1577
@logileifs `aiohttp` or `requests-async` are used as a dependency in `sanic` code as a way to test the `sanic` itself.

If you are testing your own service written using `sanic` then `pytest-sanic` might be a more suitable way to perform your testing and that should install all the dependencies required to run the UTs and any other form of tests.

@ahopkins You are right. Now that I think about it

[2019-05-16 06:08] FishEatingCat opened #1578 "After the websocket is started, the remaining api interfaces cannot be accessed."
After the websocket starts, I can't access other APIs, they are in the same file.
Codes
other api
[code]
websocket
[code]
This is the debug information after the websocket connection is successful.
![image](https://user-images.githubusercontent.com/40785341/57830105-a3bf1000-77e3-11e9-9a27-7d6a6e95c301.png)

What should I do to continue to access other apis after the websocket connection is succes

[2019-05-16 09:28] chenjr0719 commented on #1578
How many workers did you use? If you only use one worker, after connect to the WebSocket endpoint, your worker will be occupied until the WebSocket connection closed.
You can use `app.run(workers=4)` to increase the numbers of workers.

[2019-05-16 11:57] ahopkins commented on #1578
@chenjr0719 That is not entirely true. It will somewhat depend upon how your app is setup. And while I think your answer is correct, it is missing one thing that I would like to add.

Take this barebones example:

[code]

I can open a socket, and then ping my server from HTTP without closing the socket. This works because all of my blocking calls here (`ws.recv` and `ws.send`) are asynchronous. Wh