[2021-03-21 08:09] #2073 closed

[2021-03-21 10:10] ahopkins commented on #2068
I am in favor of deprecating it. This means adding a `UserWarning` in 21.6, and removing it in 21.12.

As @ashleysommer stated, the original project was more of a proof of concept to make Flask-like async framework. I think we have grown much beyond that and while it is helpful to keep in mind to "ease the transition", this is something that good documentation can take care of.

Please feel free @

[2021-03-21 10:12] ahopkins commented on #2069
Thanks @ashleysommer for taking a look through that. I agree that this is a good example of another feature that Sanic has probably outgrown.

I agree with deprecation notice from 21.6 and removal in 21.12.

[2021-03-21 10:19] ahopkins commented on #2022
@artcg correct, even in v20.12 getting headers is case-insensitive.

---

I was about to ask about perhaps how AWS is sending this along. That you mentioned it is related to the type being present, it sounds like perhaps this might be an issue with the regex matching.

Perhaps AWS is escaping the `-` characters?

I would suggest adding a middleware that logs out `request.path` to see what you are

[2021-03-21 11:10] mikekeda opened #2075 "Static files inside subfolders are not accessible (404)"
**Describe the bug**

After upgrading from 20.12.3 to 21.3.0 I'm getting 404 for all my static files (those files are located inside subfolders), example:
GET http://127.0.0.1:8000/static/node_modules/jquery/dist/jquery.min.js 404

but static files that are located directly inside static folder are accessible, example:
GET http://127.0.0.1:8000/static/package.json 200

**Code snippet**
I added sta

[2021-03-21 12:02] ahopkins commented on #2075
:unamused: I knew there was bound to be some bug with such sweeping changes. I will work on a patch for this and get a 21.3.1 out as soon as I can. We need to add this to test coverage as well.

[2021-03-21 12:13] artcg commented on #2069
At the same time as this change, it could be an idea to provide HTTPMethodView with a method like

[code]

And then in the future requiring people to use

`view.attach_routes_to_app(app, "/example")`

instead of

`app.add_route(view.as_view(), "/example")`

Would take care of the maintenance frustration @ahopkins mentioned, which also carries forward to sanic plugins/ addons like e.g. sanic-openap

[2021-03-21 12:37] ahopkins commented on #2069
Not a bad idea. I am generally a fan, however, to use concise method names inside the framework where possible. It helps people from having to refer back to the documentation so much (of course type annotations will help). I would suggest just `attach(...)`.

[code]

[2021-03-21 13:03] #2075 closed

[2021-03-21 13:14] sjsadowski commented on #2070
I set up your test as above, eliminating the await and running directly as a sanic app with app.run()

Sanic App:
[code]

DevTools:
[code]

I tested with uvicorn and it looks like this may be a problem with the ASGI response
[code]

[2021-03-21 13:16] ahopkins commented on #2070
@sjsadowski This might be an issue with 21.3, but the original ticket says 20.12 so we might have two different things going on here.

[2021-03-21 13:33] sjsadowski commented on #2070
above was 21.3, below is 20.12.3 w/ uvicorn:

sanic:
[code]
browser:
[code]

[2021-03-21 22:45] xkungfu opened #2078 "websocket disconnect every minute and raise 503 error."
**Describe the bug**
from client, every 25 seconds send a "ping",
on server side, when received "ping", send a "pong".

on client side, after sent a "ping", wait 15 seconds, if not receive "pong", then reconnect.

websocket disconnect  about every minute.

**Code snippet**
server.py:
[code]

**Expected behavior**
keep connection!

**Environment (please complete the following information):**
 - OS:

[2021-03-21 22:49] xkungfu commented on #2078
I have test some different codes, the same error on them.

I have no idea now, please check if it is a bug or my code is wrong?

anyone faced the same issue?

[2021-03-21 23:41] ahopkins commented on #2078
It is tough to say without seeing your client code as well. One of the first thing that jumps out at me is that you have both the consumer (`ws.recv()`) and the producer (`ws.send()`) running consecutively. Therefore, each of those operations will block the other from happening. The handler will pause at each `await` until it can be resolved. Depending upon your client logic, that might cause the

[2021-03-22 01:50] artcg opened #2080 "bug: route without a trailing slash gets routed to route with a trailing slash, when the route is the top level of blueprint (maybe also app)"
Version: 21.3.1

Description:

setting two urls in a blueprint with strict slashes for "" and "/" will raise an exception "route already registered" in sanic 21.3.1

In sanic version before 21.3 this would be acceptable

Code to reproduce:

[code]

potential fix: https://github.com/sanic-org/sanic/pull/2079

[2021-03-22 01:59] artcg commented on #2080
Probably needs a bugfix release since routes like `/api/example` will stop working in 21.3.1 when `strict_slashes` is set

[2021-03-22 02:04] ashleysommer commented on #2080
Hi @argaen
I can see why routes `""` and `"/"` cause the bug, and I understand why you might have a niche requirement to have a route `""` with `strict_slashes=True`, and how your PR fixes that feature.

But I don't understand your second comment, how would a route like `"/api/example"` be affected by this bug?

[2021-03-22 02:06] ashleysommer commented on #2080
And are you sure this is just Blueprints? Wouldn't this also affect app routes?
[code]

[2021-03-22 02:10] artcg commented on #2080
Like this example

[code]

Old:

`http://localhost:8000/test` -> works

New:

`http://localhost:8000/test` --> does not work

The problem is the line illustrated in the fix turning "" into "/" when its an empty string

[2021-03-22 02:13] artcg commented on #2080
Im not too sure on the logic between the difference between the host root path with the slash or not, like

localhost:8000 vs localhost:8000/

I don't know if in networking terms there is a difference, so can't answer on whether it should affect app or not with no url_prefix

[2021-03-22 02:44] ashleysommer commented on #2080
Ok, yep I absolutely see how this is an issue on a blueprint when the route is `""` and strict_slashes is `True`. But I'm still struggling to understand what you mean when you said it would affect a route like `"/api/example"`. Your follow-up example to demonstrate still uses route of `""`.

Putting that aside, it seems like we need a condition like:
[code]

I will have to do some more testing to

[2021-03-22 02:48] artcg commented on #2080
Ok sounds good, will leave it to sanic core devs to decide about how to handle it ...

Probably a poor example on my end but basically with that I meant if `"example"` was a blueprint and `"/api/example"` route was then the `example_blueprint.get("") `

[2021-03-22 02:52] artcg commented on #2080
Feel free to close & replace my PR if its inadequate, I just made it in the case that it would be a quick fix

[2021-03-22 02:54] ashleysommer commented on #2080
But @ahopkins is the guru for everything regarding the new router, I'll leave it to him.
But thanks for bringing this to our attention!

[2021-03-22 04:45] xkungfu commented on #2078
thanks for reply.

[2021-03-22 04:51] xkungfu commented on #2078
thanks for reply.

I am almost certain it is a bug in sanic new version  21.3.0 and 21.3.1.

on sanic 21.12.0-21.12.3, the codes work smoothly.

please have a deep check.

[2021-03-22 04:52] ahopkins commented on #2078
Can you provide your client code?

[2021-03-22 05:15] xkungfu commented on #2078
the client very simple:
1\every 25 seconds send a "ping",
2\after sent a "ping", wait 15 seconds, if not receive "pong", then reconnect.

the  (ws.recv()) and  (ws.send()) running consecutively, but it is copy from your official documents.

now I add a new logger about reconnection to show the bug clearly.

`
@app.websocket("/wsserver")
async def feed(request, ws):
    try:

        logger.debug(f

[2021-03-22 05:24] xkungfu commented on #2078
the client written in C++ :

[code]

[2021-03-22 07:57] ahopkins commented on #2078
`countforping` is never incremented. I think you left out something.

Regardless, I did find the issue and can confirm this is a bug in that the response timeout is being triggered. It should be ignored here.

[2021-03-22 08:12] ashleysommer commented on #2078
@ahopkins
Is this a bug in the new streaming server in the response handling? Is the response timeout triggering on the websocket when it should not? Should the response timeout simply not apply to websocket connections?

[2021-03-22 08:14] ashleysommer commented on #2078
@xkungfu can you try to set the sanic "RESPONSE_TIMEOUT" config to something very large (eg, 99999) to see if that is a viable workaround to your problem?

[2021-03-22 08:45] ahopkins commented on #2078
@ashleysommer

Streaming server. See #2081 for the fix and I think you will clearly see the issue.

It probably should not. I am still not 100% thrilled with the websockets integration, and I think this is something that should be addressed in #2000. However, completely disabling it brings up the potential of a non-responsive handler. Ultimately, I think a better ping/pong mechanism should be impl

[2021-03-22 08:48] ahopkins opened #2082 "RFC: Temporary config value overrides"
Often times you may need to change a config value for a particular duration, or perhaps for a single route handler. There should be a simple API to manage that.

[code]

A similar approach [can be found here](https://sanic-jwt.readthedocs.io/en/latest/pages/configuration.html#temporary-override).

[2021-03-22 10:11] ZinkLu commented on #1123
tried against 21.3.1. looks all good. but I don't know whether there is `filename` attribute ?

[code]

[code]

[code]

[2021-03-22 11:12] xkungfu commented on #2078
sorry, my mistake missing  "	countforping++; ".  the codes was edited and updated.

[2021-03-22 11:15] ahopkins commented on #1123
Nope. `f.name` in your example is correct.

[2021-03-22 11:15] #1123 closed

[2021-03-22 11:24] xkungfu commented on #2078
I would use version 20.12.3 now because no error on this version, and waiting for next version.

I think keeping live for websocket is very seriously and difficult problem,  it seems that there is not any simple solution. this logic about "ping and pong and reconnect when lost“  is my test. and I think it is not a good solution. but I don't know others.

thank you. good luck!

[2021-03-22 11:52] ahopkins commented on #2078
@xkungfu See #2081

[2021-03-22 12:12] matemax opened #2084 "Support CamelCase in routing was broken in 21.3"
**Describe the bug**
backward compatibility was breaking in 21.3. Route regexp param name forbided to use capital leters [regexp here](https://github.com/sanic-org/sanic-router/blob/master/sanic_routing/patterns.py#L10). If project use  CamelCase for variable naming the update to  version  21.3 will broken app.

**Expected behavior**

Support CamelCase and snake_case.

**Environment (please comple

[2021-03-22 13:00] ahopkins commented on #2084
Can you give me an example? I am not sure I understand.

Do you mean this:

[code]

[2021-03-22 15:37] matemax commented on #2084
@ahopkins Yes, it is my case. I created [PR](https://github.com/sanic-org/sanic-router/pull/10)

[2021-03-22 15:43] #2084 closed

[2021-03-22 18:13] ahopkins commented on #2084
FYI - released in `sanic-routing==0.4.1.` Should be included with fresh installs of `sanic==21.3.1`.

[code]

[2021-03-22 18:17] matemax commented on #2084
thanx

[2021-03-22 21:07] ahopkins commented on #2080
I am looking at this now. Looks like @ashleysommer has the right idea.

Basically, this should work as they should be functionally equivalent:

[code]

[2021-03-22 21:23] ahopkins commented on #2080
Running some tests, but I think it is as simple as this:

[code]

If there is a `uri`, we always want it to have a `/`. No other rules apply.

If uri is falsey (in this case it should only be `""`, I am fine with standard exceptions if you pass `None`), we always add it when the route is on the app instance, but never on the blueprint. We do not need to inspect `strict_slashes` or anything else he

[2021-03-22 23:20] #2078 closed

[2021-03-23 00:28] #2080 closed

[2021-03-23 00:50] ahopkins commented on #2056
GitHub has some tooling in place to automatically handle and update a lot of this for us.

Closing as complete.

[2021-03-23 00:50] #2056 closed

[2021-03-24 04:02] ZinkLu commented on #2070
Hi!

I tested uvicorn, hypercorn and daphne.

# environments

1. hardware:

    MacBook Pro (13-inch, M1, 2020)

2. Python:

    3.9

3. PythonPackage:
	- Sanic==21.3.2
	- sanic-routing==0.4.0
	- uvicorn==0.13.4
	- Hypercorn==0.11.2
	- daphne==3.0.1
	- websockets==8.1
	- wsproto==1.0.0

# before test

1. shut subprotocol down in webockets

	seems in asgi mode, websockets `subprotocol` is not well-

[2021-03-24 05:22] atezerjani opened #2086 "ModuleNotFoundError: No module named 'sanic_testing'"
**Describe the bug**
An exception happen in unittesting the sanic rest server with this backtrace:

It's happening in version 21.x.x and not in 20.x.x

**Code snippet**
self = Sanic(name="test.unit.rest.apitestcase")

    @property
    def test_client(self):  # noqa
        if self._test_client:
            return self._test_client
        elif self._test_manager:
            return self._test_man

[2021-03-24 05:28] ashleysommer commented on #2086
Hi @atezerjani
Testing in sanic v21.3+ requires installation of python package sanic-testing in your test environment.
(It's not installed as a Sanic dependency because it's not used in regular operation of the application).
You can install all test-dependencies of Sanic by using the "extras" syntax, eg:
[code]

[2021-03-24 05:39] #2086 closed

[2021-03-24 07:28] ahopkins commented on #2070
@ZinkLu This is awesome work. Thanks you so much.

[2021-03-24 09:21] ahopkins opened #2087 "Event registration"
When defining a signal, an event is created:

[code]

But, what if you want to dispatch that signal, and then wait for another event:

[code]

Currently, this would fail because we never defined `do.something.complete`. And, I think this is correct. I do not think that `app.event` should start waiting on something that will never happen.

However, we might still want to dispatch `do.something.comp

[2021-03-24 10:09] ZinkLu commented on #2070
Glad to help. If there is anything I can PR, let me know.

[2021-03-24 12:14] ahopkins opened #2088 "Signal event to return context"
Dispatching a signal event can provide a context to pass data into the handler:

[code]

However, currently if I wait on that same event, I only know that it happened. None of that context is provided.

[code]

To make it more useful, we could instead have that context as a return value:

[code]

Or, available in a context manager:

[code]

[2021-03-25 15:30] vltr commented on #1584
now it's me asking for sorry :sweat_smile: so, the problem in here is not with the `scopefunc`: it's with the `class_property` session being used from a second or any other request while it was only created by the first one - which might lead to some problems because either the first request will remain in memory because the session is being used or might be closed and subsequent requests that thi

[2021-03-25 16:04] rudyvan opened #2089 "put request returns error 405"
with sanic version 20.12 the below code worked perfect when using a put statement following the first route definition.
(for completeness i added all the relevant routes)

[code]

Installing the latest version of sanic gives the follow error when using a put statement:

[code]

when reverting to the older sanic version, with the below statement, everything works again as it should.
install "sanic>

[2021-03-25 16:54] ahopkins commented on #2089
We just released a patch here:

https://github.com/sanic-org/sanic-router/pull/13

On first glance, this might be the same problem. I am in my phone now so I cannot confirm. You can try upgrading the router

    pip install --upgrade sanic-routing

[2021-03-25 19:31] damianj opened #2090 "404 returned from endpoint when using regex in routes while registering more than 3 routes in some cases"
I have some code in which a route used a regular expression to catch any text in the URL after a certain point. After the 21.3 update this stopped working and kept returning a 404 (not found) error. After trying many things I noticed that if I changed the regex to string (i.e., doing `<foo:string>`) the route suddenly worked again (interestingly using `<foo:path>` also doesn't work). Also, if I li

[2021-03-28 04:01] harshanarayana opened #2092 "Flaky Tests"
**Describe the bug**
There are a series of tests in our code base which seem to be behaving in a bit of a flaky manner on regular basic. This has been one of the main reason we have seen so many random Travis CI failures while running tests.

Currently, the main one seem to be isolated to `py39-no-ext`

While enabling GitHub Actions for the repo using #2050 I noticed that there are a few more flak

[2021-03-28 12:07] Senhaji-Rhazi-Hamza commented on #1584
Hey @vltr ! Good explanation,  it didn't cross my mind that I might have an issue with class_property, thanks a lot !! (y) (y) :D !

Cheers !

[2021-03-28 15:52] prof7bit opened #2093 "[documentation] sanic.response.file - wrong example"
the example given in the documentation: https://sanicframework.org/en/guide/basics/response.html#file to return a file suggests to write:
[code]
But this will result in an error:
[code]
and in the browser it will show:
[code]

If I put ```await``` in front of ```file``` it will work. So I guess the documentation is wrong.

**Environment (please complete the following information):**
 - OS: Ubuntu

[2021-03-28 18:54] johnwason commented on #2089
I am seeing the same issue with sanic-routing with the latest package.

[2021-03-29 09:07] ahopkins commented on #2089
Using this:

[code]

This problem seems resolved on current releases.

@johnwason Can you provide me with some examples of routes you are having issues with?

[2021-03-29 09:08] ahopkins commented on #2093
Thanks. Can you submit a PR? You can click the "Edit this page on GitHub" link at the bottom of the page.

[2021-03-29 09:59] ahopkins commented on #2089
@johnwason My apologies on this one. It looks like `0.4.2` was tagged missing the implemented change. Rereleased as `0.4.3`.

[2021-03-29 12:44] ajay1mg commented on #2067
this should work in `sanic -> response -> BaseHTTPResponse`, right?
[code]

@ahopkins

[2021-03-29 13:10] ahopkins commented on #2067
Yup. Eventuall, we probably can merge `HTTPResponse` right into `BaseHTTPResponse`. Until we do that, the `eof()`  should be in the same place as `send()` since it would simply be a shortcut.

[2021-03-29 13:11] ahopkins commented on #2067
@ajay1mg Are you working on a PR for this?

If yes, then add a check for `self.streaming_fn` inside `eof()`. If it exists, that we should raise an exception since `eof` should only ever be called when there is no `streaming_fn`

[2021-03-29 14:54] ajay1mg commented on #2067
I am working on the PR for this but I am confused with your second comment. `HttpResponse` class doesn't have any attribute  `streaming_fn` nor does `BaseHTTPResponse`

[2021-03-29 15:58] ahopkins commented on #2067
Sorry for not being clear. This is what I meant:

[code]

[2021-03-29 16:36] ajaygupta2790 commented on #2067
I have added the PR for this from my personal account. didn't realize I was using my org account
https://github.com/sanic-org/sanic/pull/2094

Please let me know if there is anything that need to be added.

[2021-04-01 15:40] AndriiDubonos opened #2095 "Broken `serve` functionality in 21.3.2 release"
**Describe the bug**
I have issue with starting application in latest version of Sanic. Everything works correctly in v20.12.1.

**Code snippet**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu
 - Version 20

**Additional context**
[Here is link](https://github.com/sanic-org/sanic/commit/4b968dc61178c4782644d2a0573cdf94188f0971) to commit where issue was introduc

[2021-04-01 20:48] jamesstidard opened #2096 "Request Body Sometimes Ignored on Blueprint Routes"
I have a request handler that will sometime fail a unit test and sometimes succeed. It's failing as sometimes the request body is empty on being handed to the handler. This appears to only occur sometimes as it matters the order of registered handlers under the same Blueprint and those handlers are stored in a set within the Blueprint (from what I can tell).

I originally opened the issue over her

[2021-04-03 17:10] xkungfu commented on #1011
hello, can you let me see your codes about you said? thanks!

[2021-04-04 20:43] ahopkins commented on #2090
Why should `http://0.0.0.0:1234/foo/bar/123` be a 404?

I just tested these routes against the 0.5.1 branch (https://github.com/sanic-org/sanic-routing/pull/21), and it seems that these routes all work as expected. The only thing is:

[code]

While route overloading is okay and supported, there is an issue that the routes do not produce the same parameters and therefore the function is missing req

[2021-04-04 20:47] ahopkins commented on #2093
Closing in favor of the PR. (not sure if GH allows cross repo linked PRs)

[2021-04-04 20:48] ahopkins commented on #2067
Did you see my message about trying to add some tests?

[2021-04-04 20:51] ahopkins commented on #2095
Can you let me know in what context this is coming up? Are you trying to use `serve` directly and not via `app.run`?

[2021-04-04 23:12] damianj commented on #2090
Apologies, I didn't mean to say that the expected behavior was a 404, but that the sample code above produced a 404 (when it should not). I am still on sanic-routing 0.5.0, so I'll test this out once 0.5.1 is available on PyPi

[2021-04-05 06:39] ahopkins commented on #2090
Ahh.... sorry that I misunderstood. I think then that the ordering of regular expressions by their length (according to the number of path parts delimited by `/`) should resolve your problem then. This is one of the main changes of `0.5.1`. The other is that it pre-compiles the regular expressions for faster execution when evaluating.

[2021-04-05 11:14] harshanarayana opened #2098 "Cleanup Usage of CIMultidict"
While reviewing #2097, @ashleysommer pointed out how we have been using `header` which is a `CIMultidict` type. We have been using `header.get` instead of explicitly using either `getone` or `getall`

In order to keep the original PR clean, we are opening a new tracker item to make sure we can cleanup the usage of this across the board in `sanic` codebase.

1. Replace usage of `get` with a more su

[2021-04-05 23:22] #2068 closed

[2021-04-05 23:45] ashleysommer commented on #2095
@ahopkins  is right. The sanic `serve()` method is not really meant to be used by applications. It is always subject to change, and will (as you found out) change and break between versions. It should probably be changed to be flagged as a private method, and probably communicated in the docs.

You might be able to do what you need to do using `app.create_server()` with `return_asyncio_server=True

[2021-04-05 23:56] ashleysommer commented on #2095
Addressing your specific issue directly:
It looks like you're created your own `serve_server` method, that calls into the sanic `app.serve()` is that right? In your code snippet It is not clear where the server_settings variable come from, and where the `serve()` method is calling to.

I think simple fix on your end would be to change your last line to this:
[code]

[2021-04-06 08:50] ahopkins opened #2101 "ASGI routes with body not extracted from the request"
[See source](https://github.com/sanic-org/sanic/blob/824f41d6e06006076725d7be0140ebb4381440ff/sanic/asgi.py#L169)

This bug only applies to ASGI when sending.

When sending a body to a request on ASGI, the body is not making it through. I have not yet tested if this also applies with streaming requests.

The problem is here:

[code]

If a small message comes through that has not hit this `read()`

[2021-04-06 09:09] ashleysommer commented on #2101
Your analysis makes sense to me.

[2021-04-06 09:41] #2093 closed

[2021-04-06 10:00] ahopkins opened #2102 "Config.load_env type should explicitly allow strings"
https://github.com/sanic-org/sanic/blob/main/sanic/config.py#L44

[code]

`load_env` defaults to `True`, but you can pass a string if you want a different prefix. We should make this type consistent by either explicitly accepting both a `bool` and ` `str`, or (perhaps a more elegant solution) is just to ONLY accept a string and default it to `SANIC_PREFIX` since this is what it is trying to do.

[2021-04-06 13:58] AndriiDubonos commented on #2095
Thanks for answers!

I double checked it and it looks like issue is present only when I run tests. When application is runned with `app.run()` everything is works perfect.
I use `pytest-sanic` for tests and use `pytest_sanic.plugin.test_client` fixture in my tests. This fixture (in method `pytest_sanic.utils.TestServer.start_server`) is using `self.app._helper(...)` method which they should probab

[2021-04-06 14:00] ashleysommer commented on #2095
Oh, I see. Yes, it is known that pytest-sanic doesn't support Sanic v21.3 yet. Yes, please open a report against that repository.

[2021-04-06 14:03] AndriiDubonos commented on #2095
It looks like [issue](https://github.com/yunstanford/pytest-sanic/issues/50) is already reported.
I will close this issue.
Thanks for help!

[2021-04-06 14:03] #2095 closed

[2021-04-06 19:36] ahopkins commented on #2092
It seems to always get stuck (if it will get stuck) on this:

[code]

But, I cannot recreate this locally.

[2021-04-06 19:59] harshanarayana commented on #2092
@ahopkins  Yeah. I haven't had any success either. Tried on my Personal mac as well as the Ubuntu machines we use at work. Can't recreate at will but the pipeline seem to get stuck in this loop way more than I would like it to.

[2021-04-06 20:32] #2023 closed

[2021-04-06 21:03] Tronic opened #2103 "Request body is not automatically loaded"
I had to manually call `req.receive_body()` to have `req.body` and others filled in, in a *non-streaming* handler. Isn't `streaming=False` still the default? Let me know if I missed something obvious changed in 21.3, otherwise I'll debug more tomorrow.

[2021-04-06 23:23] ahopkins commented on #2103
ASGI? See #2101

If not, what is the route definition? Which http method?

[2021-04-07 07:48] ahopkins commented on #1883
This issue has been mentioned on **Sanic Community Discussion**. There might be relevant details there:

https://community.sanicframework.org/t/multiprocessing-is-currently-not-supported-on-nt/827/2

[2021-04-08 07:08] brianmcburney commented on #2096
I notice this happening if routes have the same path for different methods. With the below routes, in the post, the body is (almost?) always empty.
[code]

[2021-04-08 08:28] ahopkins commented on #2096
@brianmcburney Can you let me know what version of `sanic-routing` is installed?

[code]

[2021-04-08 10:30] #2098 closed

[2021-04-08 15:24] brianmcburney commented on #2096
`0.5.2`

If it would be helpful I can share my entire (runnable) test project.

[2021-04-08 16:08] Tronic commented on #2096
Probably a duplicate of #2103

[2021-04-08 16:11] Tronic commented on #2103
I've triaged this to `route.ctx.ignore_body` being `True`, causing sanic/app.py:686 to skip body preloading altogether. It's hard to produce a simple test case because the bug disappears whenever taken outside of my live app.

[2021-04-08 16:11] Tronic commented on #2103
I'm running as module with `app.run()` in `__main__.py`.

[2021-04-08 16:21] Tronic commented on #2103
The offending handler but as stated, copy&pasting into another app makes the bug disappear. I'm not familiar with router internals so this is probably one for @ahopkins to look at.

[code]

[2021-04-08 16:35] Tronic commented on #2096
@brianmcburney As a workaround, you should be able to add `await request.receive_body()` as the first line in your handler.

[2021-04-08 16:45] brianmcburney commented on #2096
@Tronic that does fix it, thanks

[2021-04-08 16:47] Tronic commented on #2103
Hah, found it!

[code]

Here the DELETE route, with same pattern as the PUT route causes `ignore_body=True` to be set on the other route as well. I would expect different methods on the same pattern not to get mixed up but apparently they do.

[2021-04-08 16:47] ahopkins commented on #2103
So, this was going to be my next question. But, it should never be `True` with a `put`. Then again, maybe something weird is happening with the overloading.

Just curious, if you add `ignore_body=False` manually into the route definition does this go away?

[2021-04-08 16:48] ahopkins commented on #2103
Yup. That makes sense...

Hmm.... This needs a bug fix. In the meantime, setting `ignore_body=False` in the `delete` route should fix the problem.

[2021-04-08 16:56] Tronic commented on #2096
Closing as this bug has been triaged and the fix is being worked on in #2103. Thanks for reporting!

[2021-04-08 16:56] #2096 closed

[2021-04-08 17:19] ahopkins commented on #2103
Will be solved by this: https://github.com/sanic-org/sanic-routing/issues/23

[2021-04-09 09:35] ENT8R opened #2105 "Invalid response when closing websocket connection using Socket.IO"
I'm experiencing an issue when using [python-socketio](https://github.com/miguelgrinberg/python-socketio) together with Sanic. Assuming the Socket.IO connection has been upgraded to a pure websocket connection (instead of long polling) and this connection is closed after some time, the underlying request handler returns `None`.
Now, as `None` is obviously no instance of `BaseHTTPResponse` and the

[2021-04-09 12:45] ahopkins commented on #2105
Hmm, I am not sure that we should try and support this. Sanic has websocket support already. The efforts within that function are highly balanced between functionality and performance. This is not a place to be messing around adding additional code.

With that said, I am working on the signals implementation which also has the ability to rebuild certain functionality of the application. It might b

[2021-04-09 15:03] ENT8R commented on #2105
Understandable, though it is likely easier to monkeypatch the `is_websocket` attribute instead of the whole request handling function. Looking forward to the improvements regarding signals, sounds great!

[2021-04-09 15:03] #2105 closed

[2021-04-09 18:11] artcg opened #2106 "request.args.pop removes parameters inconsistently"
Environment : 20.12.3, presumably other environments too

Code to reproduce:

send this request to this app
`GET http://localhost:8000/?hello=a&world=4`
[code]

Expected:
crashes at line second call of .pop('world'), or not at all

[2021-04-09 18:25] artcg commented on #2106
I have no ideas about this since the RequestParameters seems to be a really straightforward wrapper around the `dict`, would be interested if anyone can reproduce it ...

[2021-04-09 22:17] artcg commented on #2106
Started to look at this a bit more it seems that the problem is not with the implementation of RequestParameters but rather with this somewhere

`    args = property(get_args)`

vs 18.12 where it still works as expected

[code]

[2021-04-09 22:46] artcg commented on #2106
Ah I worked it out!

Because parsed_args is a defaultdict, once the request.args is exhausted, it will evaluate as False again, and then a fresh parsing of the query will occur.

[2021-04-10 20:13] sjsadowski commented on #2106
Reopening until merge is complete

[2021-04-10 22:04] #2106 closed

[2021-04-11 21:05] jdraymon commented on #2102
Ha ... should have glanced at issues before I started. Will add the reference to #2107

[2021-04-12 18:31] #2102 closed

[2021-04-12 18:52] sjsadowski commented on #1901
Picking this back up.

[2021-04-12 21:26] jdraymon opened #2113 "Reuse of blueprint groups causes duplicate route errors"
**Describe the bug**

When adding a blueprint to multiple groups, the router seems to club `url_prefix`es together in an unexpected way, resulting in duplicate route errors.

[code]

**Code snippet**
Minimal reproduction:
[code]

**Expected behavior**
Blueprint groups should be independent references to handlers:
[code]

**Environment (please complete the following information):**
 - OS: Linux (Ar

[2021-04-12 22:46] jdraymon commented on #2113
Problem appears [to be here](https://github.com/sanic-org/sanic/blob/e21521f45c0b58bac619a9111fd47426e208bf08/sanic/blueprint_group.py#L176). Not sure if there's an obvious fix, but the API for blueprint groups doesn't indicate that the op is destructive. Can try to come up with sth if nobody beats me to the punch

[2021-04-12 23:23] ashleysommer commented on #2113
Thanks @jdraymon for the great bug report.
The 21.3 release included a new router and backend server, along with those changes came some some necessary modifications to the way url_prefixes work. I guess there is simply no test in the Sanic test suite that tests adding a blueprint to multiple bp groups.

[2021-04-12 23:41] jdraymon commented on #2113
@ashleysommer Running with version 20.12.3 produces a similar stack trace:
[code]

[2021-04-12 23:53] jdraymon commented on #2113
Walked the tree back a goodly long ways and it seems this has always been the behavior, looks like I'm just the first one to try :slightly_smiling_face:

[2021-04-13 00:37] sjsadowski commented on #2089
Were we able to confirm this was fixed in sanic-routing?

[2021-04-14 08:33] ahopkins commented on #2103
This issue has been mentioned on **Sanic Community Discussion**. There might be relevant details there:

https://community.sanicframework.org/t/how-to-get-parameter-from-post-request/836/2

[2021-04-16 20:06] Varriount opened #2115 "Allow an alternate configuration class or object to be passed to application objects"
It is currently difficult to extend the `Config` class, and have an `Sanic` instance actually use that configuration class throughout its entire lifecycle. This is because the `Sanic` class's `__init__` method is hard-coded to use `sanic.config.Config`. Anyone wishing to use a different class must do one of:
  - Patch and replace `sanic.config.Config`.
  - Re-implement `Sanic.__init__` in a sub-cl

[2021-04-17 18:26] ahopkins commented on #2115
This was on my list of simple changes to add. Same thing for the context and object.

[2021-04-17 22:18] ahopkins commented on #2113
@jdraymon This is a good report, and I can confirm that this is a problem with the way in which we are applying the URLs. TBH, to solve this properly will require a bit of reworking of the groups. I do agree with @sjsadowski applying the `LTS` label here that we should fix this and then apply it backwards.

I propose that the `BlueprintGroup.append` solution instead of making the change to the blu

[2021-04-17 22:45] ahopkins opened #2116 "Access logs not properly displaying body size"
In certain circumstances, the access logger is displaying the wrong body size.

[code]
[code]
[code]

In this example, it is being reported as `-1`

[2021-04-17 23:17] #2089 closed

[2021-04-17 23:18] ahopkins commented on #2089
Confirmed

[2021-04-17 23:27] ahopkins opened #2118 "Merge Sanic Routing into main repo"

[2021-04-17 23:46] #2067 closed

[2021-04-19 21:53] #2116 closed

[2021-04-19 21:53] #2090 closed

[2021-04-19 21:53] #2101 closed

[2021-04-19 21:53] #2103 closed

[2021-04-20 00:12] Varriount opened #2120 "`Config.load_environment_vars` doesn't appear to filter out lowercase configuration keys"
Currently, `Config.load_environment_vars` doesn't filter out lowercase configuration keys - its only criteria is that the configuration key matches the prefix. This differs from the other configuration loading methods, `from_envvar` and `from_pyfile`, which filter out configuration keys with any lowercase letters.

[2021-04-20 05:59] ahopkins commented on #2120
I am assuming you are looking at an old version as `from_pyfile` and `from_envvar` are deprecated and removed.

Regardless, presumably prefixed env variables would take a little more intentional effort to set so I am not that worried about it.

If you would like, please make a PR to add `k.isupper()` to `load_environment_vars`. If you do, please also make sure that we catch prefixed and _not_ uppe

[2021-04-20 13:55] simonwahlgren opened #2121 "Unexpected behavior using a catch-all Blueprint exception handler"
**Describe the bug**
Using a catch-all exception handler in a Blueprint might lead to unexpected behavior. For example:

[code]
One might think that the `not_found` would handle all 404's, but that's not always the case, sometimes the `unhandled_exceptions` handler is being used instead, restarting the application will give "random" results.

From what I can see the underlying problem is this line

[2021-04-21 12:04] ZinkLu opened #2122 "Handler would be modify after wrapped by `app.route`"
**Is your feature request related to a problem? Please describe.**

Handler would be modify after wrapped by `app.route`

[code]
Original function has been changed into tuple.

[code]

**Describe the solution you'd like**

`app.route` won't change original handler.

[code]

[code]

**Additional context**

[2021-04-22 01:19] zwjat opened #2123 "Route match broken in Sanic v21.3"
When I upgrade sanic from  20.9.0 to v21.3, the following route worked well in  20.9.0 broken in v21.3。

[code]

The route
[code]
not works in v21.3 with 404 http status code. I guess that route match algorithm in v21.3 changes dramatically.

As a result, I uninstall v21.3 and reintsall 20.9.0. Is there any way to solve this problem as this project can't change to adapt v21.3?  Thanks a lot.

@aho

[2021-04-22 02:10] zwjat commented on #2123
I found the solution [here](https://community.sanicframework.org/t/route-definition-with-extension-that-is-text-after-v-path-var-declaration-fails-in-21-but-works-in-20/829).

Thanks.

[2021-04-22 11:37] ahopkins commented on #2123
For reference, I think the solution you were looking for is:

[code]

[2021-04-22 11:37] #2123 closed

[2021-04-23 11:23] kunansy opened #2124 "It's impossible to pass headers with `redirect()`"
I have this code run:
![](https://sun9-63.userapi.com/impg/6Svm3xAIhqUavzvhYwo0iB1e49CWyZ5AQBoP8g/mHfHkQA1yCc.jpg?size=843x346&quality=96&sign=a4326fe2db9b52147541442caccc66f3&type=album)

Then I send the request:
![](https://sun9-27.userapi.com/impg/0aX9nn25V_BPtBWAvZZEP9OrEAe58ydFM-QY5w/18pRzW9OO8k.jpg?size=1085x213&quality=96&sign=9913497de6cba047177473463c564a77&type=album)

And there are **no

[2021-04-23 11:30] Tronic commented on #2124
The client makes another (GET) request after the redirect, and you are reading the headers of that GET, not the ones returned with the redirect itself. Try POSTing with `curl -v` and you'll see that header you are sending.

[2021-04-23 11:37] kunansy commented on #2124
Do you mean I can't get pass headers with redirect() to GET handler?
I see them in curl results but they do no exist in GET handler.

[2021-04-23 11:40] kunansy commented on #2124
Oh, I have a mistake. I didn't see the header in curl results
![](https://sun9-14.userapi.com/impg/T3mAfkhV4oTnY_X54okhOpnAz14yMUE-MqSa_Q/H3d8FUOoPhI.jpg?size=559x374&quality=96&sign=af1365c55c9ee09703f4b07e1f299fe6&type=album)

[2021-04-23 11:49] Tronic commented on #2124
[code]

[code]

[2021-04-23 11:52] sjsadowski commented on #2124
To clarify what @Tronic is trying to illustrate: Server headers returned to a request are not automatically passed back to the server again by the client when the redirect happens as client headers.

[2021-04-23 11:57] kunansy commented on #2124
@sjsadowski ok, thanks. But then, how to pass headers with redirect? Is there a way to do it?

I mean, `redirect()` has this param, then it should somehow give them. But it doesn't.

[2021-04-23 11:59] Tronic commented on #2124
You need to set a cookie, add URL parameters or use some other means to pass this information. The client makes a completely new request and won't pass any data otherwise.

Another alternative is to just call your other function within Sanic, directly responding to the original POST request and avoiding any redirect on client side (no GET request will occur at all).

[2021-04-23 12:01] kunansy commented on #2124
Thanks

[2021-04-23 12:01] #2124 closed

[2021-04-23 14:34] ahopkins commented on #2124
It sounds like you might want a proxy endpoint and not a redirect. This way, you can control the headers that make it to the next "hop" and then return the response on the original endpoint.

[2021-04-26 03:41] zhrkevin opened #2125 "[UNKNOWN]: NONE http:///* 408 -1"
**Describe the bug**
When I start sanic app and trigger swagger ui page, an unknown log infomation will be posted in the console as follow.
[code]
How can I avoid this unknown information?

**Code snippet**
[code]

**Environment (please complete the following information):**
 - Ubuntu 20.04
 - Sanic version 21.3.2
 - Python version 3.8.5

[2021-04-26 03:57] ahopkins commented on #2125
Please try and upgrade to 21.3.4 and let us know if it still is happening.

[2021-04-26 04:02] ahopkins commented on #2125
Also, please post a snippet of the endpoint you are trying to get to.

[2021-04-26 06:40] zhrkevin commented on #2125
Thank you ahopkins. After I upgrade to 21.3.4, there is not this problem. I appreciate your help.

[2021-04-26 06:40] #2125 closed

[2021-04-26 11:48] klausmyrseth opened #2126 "Add routing possibility to handle multiple format through Accept header"
**Is your feature request related to a problem? Please describe.**
Today when I try make a well rounded best practice rest api, I miss a feature for multiple formats/languages and charsets for same visible path through the Accept header, Accept-Language and Accept-Charset

**Describe the solution you'd like**
I would like to have a header filter possibility for route definitions like GET where you

[2021-04-26 13:11] sjsadowski commented on #2126
You can do this with middleware already.

[2021-04-26 14:42] ahopkins commented on #2126
This is what one of the reasons we rebuilt the router: greater flexibility (and performance) to be able to do routing based upon headers, cookies, etc.

[2021-04-26 14:50] klausmyrseth commented on #2126
Ok cant see how I can do that with middleware, we have to do it in the handler now where code feels much like old visual basic design. We have 99% of the endpoints always return json of a particular domain format, while 1% needs multi format support. If I had a generic multi format rendrer I could do it in the middleware while now I have to do it in the handler as I see it.

[2021-04-26 18:34] ahopkins commented on #2070
There were a few things going on here. All fairly minor changes. With this change, I was able to run the example with uvicorn, hypercorn, and daphne.

The one thing to note is that daphne does not seem to respond properly to the lifespan events. Therefore the listeners do not execute. I have a vague recollection of this from a year or two ago. Anyhow, by manually running the router finalizer, it r

[2021-04-26 18:52] ahopkins commented on #2121
Looks like the simplest solution would be to precache the handler:

[code]

At first glance, I am not entirely sure why this was not done.

---

Digging deeper, it looks to me like a better solution would be either, at run time loop thru `mro` to find the nearest ancestor (and cache that).

[2021-04-26 19:07] ahopkins commented on #2121
PR #2128 should be the solution here. But, I think it is only part of a greater solution needed.

1. You should not be able to register the same exception more than once, or at least not on the same App/Blueprint.
2. Handlers should only be fetched in relation to the BP or App context of the matched route. This effectively means that some exceptions (`NotFound` could only be registered app level).

[2021-04-27 14:37] sjsadowski commented on #2126
Can you provide a code snippet of what's happening now so we can better understand the difficulty?

[2021-04-27 15:04] Tronic commented on #2126
https://github.com/sanic-org/sanic/issues/1667#issuecomment-527806221

This allows reformatting plain Python dict into JSON. Adapt the middleware to check the `accept` header and return different types as needed.

[2021-05-03 15:39] klausmyrseth commented on #2126
No its only in 2 endpoints out of 300 we need this, its not a middleware issue, no worries well do it in spagethi python in thadler until we fine a better solution

[2021-05-03 15:39] #2126 closed

[2021-05-03 17:09] ahopkins commented on #2126
Even if you can provide a snippet of pseudo-code we can help give suggestions. 🤷‍♂️

[2021-05-05 20:55] tylersalminen opened #2130 "Blueprint with url_prefix that contains "search" in path and container <path:path> in route does not match any requests"
ISSUE->>>>

If Blueprint with url_prefix that contains "search" in path and container <path:path> in route does not match any requests
I confirmed the compiled regex used in the server does match my request uri:

**path regex**
^/prism/api/v1/elasticsearch/rest/(?P<instance>[^/]+)/(?P<path>[^/]?.*?)$

**request uri**
/api/v1/elastic/rest/Elasticsearch_Prism/logs*/_search

I am getting a NotFound e

[2021-05-08 12:16] v1a0 commented on #1503
In my case it was a problem to install "aiohttp==3.7.4.post0".

[code]

  adding license file 'LICENSE' (matched pattern 'LICENSE')
  reading manifest file 'yarl.egg-info/SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  warning: no previously-included files matching '*.pyc' found anywhere in distribution
  warning: no previously-included files matching '*.cache' found anywhere in distribut

[2021-05-10 11:42] ahopkins commented on #1532
https://sanicframework.org/en/guide/project/policies.html#policies

[2021-05-10 13:44] ingarpedersen opened #2131 "Request streaming (upload to server) where upload is to large sometime fails to return PayloadTooLarge to client"
By setting request.stream.request_max_size to the maximum supported size I expected that the client should receive a 413 (PayloadTooLarge) response if the upload stream is larger than request_max_size. This works in some cases in other cases not.

[code]

As long as data size of upload is less than one chunk it seems to work every time. But for larger uploads the client will sometime raise a value

[2021-05-10 17:47] Tronic commented on #2131
The ValueError comes from sanic-testing and it indicates that no response was received by the test client.

A HTTP server cannot properly reject a request when there is a large body attached. It would need to receive the entire thing, and to avoid doing so, Sanic immediately emits the 413 response and then closes the socket.

Better clients such as curl should be able to read the 413 response asyn

[2021-05-10 18:01] sunset-developer opened #2132 "`RouteExists` thrown when registering a directory and a missing file to the same route."
**Describe the bug**
When registering a route to a file and a directory, if the file doesn't exist a `sanic_routing.exceptions.RouteExists` error is raised. This may be misleading and unintended.

**Code snippet**

`example.html` does not exist in this example. The directory  `./resources/web` does.

[code]

**Expected behavior**
Currently, if a non existent file is registered to a route, no error

[2021-05-10 18:04] Tronic commented on #2131
Some clients might also use the `expect: 100-continue` mechanism where the client waits for server approval prior to sending a large request body, and Sanic can reject it cleanly. Unfortunately most clients don't use that and in any case it only works with content-length request header (not when size is not known in advance).

[2021-05-12 01:26] kc-correa commented on #2087
Hello. I'd like to give this a shot. Any specific place I should put this?

[2021-05-12 04:52] ahopkins commented on #2087
Awesome! 🎉

Take a look in `./mixins/signals.py`

[2021-05-12 06:02] ahopkins commented on #2132
This is not really a bug, and is an intended outcome. Sanic is checking to see if a file like that exists. If not, it thinks you are trying to serve from a directory. Just by looking at the path, there is no way to determine if you intend to serve a file or a directory.

I think this is the correct behavior. If anything, perhaps what you really want is an explicit method to control this:

[code]

[2021-05-12 09:56] ahopkins commented on #2130
`<path:path>` is a pretty broad expansion that forces a regex. You have another path that is very close to it that is non-regex. You are probably correct that these are crossing paths and causing the `NotFound`. A potential "hacky" solution would be to force your other endpoint to also use regex:

[code]

I have not tested this use case, but I believe this would probably resolve it when merged wit

[2021-05-12 11:32] tylersalminen commented on #2130
Thanks for the response ahopkins,

FYI I was converting a Flask application that _did_ work with the former path syntax. For anyone else having this issue what I did to workaround this was to move the "hardcoded" part of the path before any route parameters.

**so instead of the following 2 "conflicting" paths:**
[code]

**I instead did the following:**
[code]

this a little less than ideal in my

[2021-05-12 11:32] #2130 closed

[2021-05-12 11:32] seanmkauffman commented on #2105
Please see https://github.com/miguelgrinberg/python-engineio/issues/221#issuecomment-838116903 which explains the problem.  I don't know if the web browser will be likely to reuse the same TCP connection when changing protocols, but the problem is that the socketio protocol expects to be able to access the same resource using either http or ws.

[2021-05-12 11:51] ahopkins commented on #2130
Thanks for sharing @tylersalminen

For your reference, tested with the new version of `sanic-router`:

[code]

[code]

[2021-05-12 11:55] tylersalminen commented on #2130
awesome I will check it out thanks

[2021-05-13 06:38] ergoproxxxy opened #2134 "TypeError in pytest_sanic.utils.TestClient.start_server"
**Describe the bug**
I have TypeError (serve() got an unexpected keyword argument 'main_start') in pytest_sanic.utils.TestClient.start_server.
I use this versions: pytest-sanic==1.7.0 and sanic==21.3.4.

**Code snippet**
[code]
My workaround:
[code]

**Expected behavior**
pytest_sanic.utils.TestClient.start_server works without Exception and fixture above.

**Environment (please complete the follo

[2021-05-13 07:09] ahopkins commented on #2134
This looks like a problem with the `pytest-sanic` plugin. It looks to me like it is not compatible with recent lifecycle additions in v21.3.

I would suggest raising the ticket there.

Most likely the solution would be a simple inclusion of something like the following before Line 107 of `utils.py`:

[code]

If it were up to me, and I was building that, I would also execute those lifecycle events.

[2021-05-13 07:09] #2134 closed

[2021-05-13 07:10] ahopkins commented on #2134
PS - that is a nice workaround thanks for sharing. :muscle:

[2021-05-14 18:57] myusko commented on #2122
@ahopkins I can take a look at this improvement.

[2021-05-16 07:54] ahopkins commented on #2122
@myusko Go for it. Feel free to ping me along the way if you need to bounce ideas.

[2021-05-18 22:18] jschewebbn commented on #1491
Here's an example
[code]

[2021-05-18 22:19] jschewebbn commented on #1491
I also need to use multiple ctrl-c commands to get the service to top.

modules and versions
[code]

[2021-05-19 01:25] sjsadowski commented on #1491
@jschewebbn please open a new issue, we're not going to reopen an issue that is 2+ years closed and related to a different version of sanic

[2021-05-19 05:50] ahopkins commented on #1491
Also, if you can, please try and provide a minimal example. Looks like there is a lot going on in the snippet you posted that is unrelates and will make it much harder to try and parse out what is happening. Thanks.

[2021-05-19 13:32] ZeJ0hn opened #2138 "Some routes are not available in some conditions because of find_routes_src code"
**Describe the bug**
In some cases, routers don't support routes correctly registered. If one of other route is removed, it works.
I find that the code of `find_routes_src` seems not correctly generated in the code snippet.

In the snippet code, the route `/<example:string>/users` doesn't work and return a 404 error, but if any other method is commented (`/<example:string>/documents`, `/<example:s

[2021-05-19 13:54] ahopkins commented on #2138
Thanks for posting and the example. I will test it against #2133. There are still some use cases that the current version cannot handle (looks like you found one). So far, the version waiting for merge has been able to support them, Hopefully this is already handled by that PR.

[2021-05-19 15:44] jschewebbn opened #2139 "app.add_task() triggers RuntimeWarning: coroutine was never awaited"
This is likely the same problem as #1491.

**Describe the bug**
When running code that uses app.add_task() I get a runtime warning that the coroutine that was passed to the add_task method was never awaited.

I want to make sure that this task is run once for the whole application rather than once per worker. To do that I am using a multiprocessing `Lock` and `Value` to track the state of if the t

[2021-05-19 16:26] Tronic commented on #2139
[code]

I think you need to remove the `()`.

[2021-05-19 16:40] Tronic commented on #2139
You are correct, it should work either way and makes no difference. Sanic just seems to forward that to asyncio's `create_task` but it will call it first if needed.

A likely cause for problem is that you are adding the task before running Sanic, when there is no asyncio loop yet. Try doing it in `after_server_start`

https://sanicframework.org/en/guide/basics/listeners.html

[2021-05-19 17:12] ahopkins commented on #2139
Will repond in more detail soon, just wanted to make a couple quick clarifications:
- called or not is fine in `add_task`
- before there is a loop or after is fine in `add_task`

[2021-05-19 17:12] Tronic commented on #2139
Hmm yes, it *does* work just fine prior to `app.run`, my mistake, and when used on module lever it runs on every worker but not on the main process. You are getting that error precisely because the main process never runs tasks (except when workers=1 so it becomes a worker) but the `()` still causes a coroutine object to be created. Drop the parentheses and the warning goes away.

[2021-05-19 17:18] ahopkins commented on #2139
Yes, that makes absolute sense. When there are multiple workers the main process (which is where you are instantiating the coroutine) does not execute listeners.

[2021-05-19 17:20] jschewebbn commented on #2139
Ok, given this I suggest that the documentation and examples be updated to state that when calling `add_task` to pass the raw method. That would avoid the issue in all cases.

[2021-05-19 17:31] Tronic commented on #2139
Agreed. Even better, should use the decorator:
[code]

[2021-05-27 23:09] fabaff opened #2142 "Allow later websockets releases"
**Describe the bug**
`websockets` is [pinned](https://github.com/sanic-org/sanic/blob/main/setup.py#L91
). The latest `websockets` is 9.1 and this release is fixing a [authentication vulnerability](https://websockets.readthedocs.io/en/stable/changelog.html) which was introduced with 8.0.

**Expected behavior**
Allow to use `websockets>9`

**Environment (please complete the following information):*

[2021-05-28 04:50] erickguan opened #2143 "Auto reload resource files in the a Sanic app"
**Is your feature request related to a problem? Please describe.**
When a Sanic app is in production, I use different configs for development, staging, and production. I use 3 YAML files to implement that. However, they are not tracked by auto_reload in the development environment. I would be happy to be able to see Sanic can restart when I change the config.

**Describe the solution you'd like**

[2021-05-29 14:10] wanghaisheng opened #2144 "installation problem"
[code]

[2021-05-29 18:29] ahopkins commented on #2142
Working on an implementation in #2000 that would resolve this.

[2021-05-29 18:30] ahopkins commented on #2144
`sanic-plugin-toolkit` is not an officially supported package maintained by the Sanic team. You should post something over there.

[2021-05-29 18:30] #2144 closed

[2021-05-30 09:54] jiajintao2021 opened #2145 "start error: OSError: [WinError 10014] ......"
**System environment**
_Win10 Family Chinese Version
Python: 3.9.0 （Used pyenv）_

**my code:**

[code]
**test**
![image](https://user-images.githubusercontent.com/76982578/120099637-346cac80-c16f-11eb-821f-2c80b1529a9f.png)

**Error:**
[code]
Is there any way i can solve it

[2021-05-30 10:20] jiajintao2021 commented on #2145
run:
`netsh winsock reset`
restart win10 it's ok, i think win10 error

[2021-05-30 10:20] #2145 closed

[2021-05-30 12:17] ashleysommer commented on #2144
Hi @wanghaisheng
Adam is right, this is not the right issue tracker to post your error.

However the answer is pretty simple. Both Sanic (v21.3+) and Sanic-Plugin-Toolkit (v1.0.0) requires Python 3.7 or above. You are using Python 3.6.

[2021-05-30 17:33] gatopeich commented on #1491
Sorry I was too busy at the time and since I had a workaround with the listener I totally forgot about it.
I may be upgrading to latest stable version soon, and having another look at this.

[2021-05-30 17:42] gatopeich commented on #2139
Good to see some progress here. Is it a documentation issue then?

For the record, I attained the wanted functionality with a listener on `after_server_start` and a multi-process `Lock.try_lock` to ensure only one of the workers executes the task.

[2021-05-30 21:21] #530 closed

[2021-05-30 21:22] ahopkins opened #2148 "Turn off Travis"

[2021-05-30 21:44] graingert commented on #530
Amazing thanks so much!

[2021-05-31 13:01] ahopkins commented on #530
For posterity's sake, #2006 added a lot of type annotations.

[2021-05-31 13:25] ahopkins commented on #2139
@gatopeich Would you care to share a snippet of your solution? Maybe it's worthwhile to add to the docs.

[2021-05-31 18:56] #2148 closed

[2021-05-31 21:21] #2115 closed

[2021-06-01 06:48] ahopkins commented on #2113
Here is the original snippet, albeit slightly modified to add in another layer of grouping and to test version args.

[code]

When we start up, the routes we get are:

[code]

---

Thinking back on this more, I am not sure that I actually agree that this is a bug that we need to backport to 20.12. Really, this is a new feature. The old documentation did not claim that blueprints were infinitely co

[2021-06-01 07:14] ahopkins commented on #1823
I am moving this to 21.9.

Use case:

[code]

Source:

[code]

The resolution is to add `fallback=True` (as stated above). This would place the static path matcher up at the top (before static routes) with `os.path.exists` as suggested. I do not currently think this will make it into the upcoming release.

[2021-06-01 07:44] #2087 closed

[2021-06-02 06:12] ashleysommer commented on #2000
Some updates since January:

`websockets` module v9.0 and 9.1 are released with the Sans-IO code. This is a breaking update, because existing websocket protocol functionality has moved to `websockets.legacy` submodule. Some projects are moving over to the new version, but a lot are pinning to `websockets<9` in order to avoid having to deal with making the transition (to either Sans-IO or legacy).

[2021-06-02 07:42] aaugustin commented on #2000
Hello!

Thanks for reporting your progress! You're moving faster than me so supporting you is now my top priority for the Sans-I/O layer in websockets!

It's nice of you to call [my prototype](https://github.com/aaugustin/websockets/pull/885) a "reference implementation". To be honest, it's rather "me trying to figure out how these things work":-) I started with sockets & threads because I already

[2021-06-02 08:12] jakehu opened #2152 "get_app() function unable to get app object in blueprint"
The files and directories are as follows
`/path/server.py`
[code]

`/path/api/user.py`
[code]

I get the following error

[code]

[2021-06-02 08:21] ahopkins commented on #2000
Thanks @ashleysommer @aaugustin. Great work, and lots of good information here. I'm pretty sure that's exactly where I gave up last time I tried working on this 😆.

[2021-06-02 09:01] ZinkLu commented on #2152
[code]

This should solve the problems, `get_app()` only works when Sanic instance has been created.

If you don't like imports in the middle of you codes. try https://sanicframework.org/en/guide/how-to/autodiscovery.html should help.

[2021-06-02 09:07] ahopkins commented on #2152
The problem is that you are importing the Blueprint before there is an app.

This line:

[code]

comes before this line:

[code]

So, you need to try and reverse them somehow. One option is to just push up your app instantiation:

[code]

Another might be to use a solution [like this](https://sanicframework.org/en/guide/how-to/autodiscovery.html), where the import is done using the `importlib`.

[

[2021-06-02 09:13] jakehu commented on #2152
It turned out to be because of the order
Does the middleware and the decorator matter?

[2021-06-02 09:14] jakehu commented on #2152
Need to use the database in the blueprint
`app.ctx.db`
Apart from this method, is there any other way to use `app.ctx` in the blueprint?

[2021-06-02 09:22] ahopkins commented on #2152
[code]

[2021-06-02 09:30] jakehu commented on #2152
Thank you very much, this solved my problem, but the document does not describe how to use the application context

[2021-06-02 09:40] jakehu commented on #2152
Finally, I can only find the corresponding code in `request.py`

``` app: Sanic,```

[code]

[2021-06-02 09:49] moorglade opened #2153 "Maximum request header size capped at 8k"
**Describe the bug**
Sending a request with a large header to a Sanic server results in 413 (Payload Too Large) response.

This happens regardless of the `request_max_size` setting.

If I undserstand the implementation correctly, the maximum HTTP header size is hardcoded to be 8k:

https://github.com/sanic-org/sanic/blob/main/sanic/http.py#L172

**Expected behavior**
I think maximum header size sh

[2021-06-02 10:06] ZinkLu commented on #2152
No, as long as the Sanic instance created.

[2021-06-02 10:08] ahopkins commented on #2152
@jakehu

Thanks for the feedback. You are :100: correct, we should really have something here: https://sanicframework.org/en/guide/basics/request.html

and probably also here:
https://sanicframework.org/en/guide/basics/app.html#application-context

[2021-06-02 10:19] Tronic commented on #2153
The limit is in place to mitigate DoS attacks which may easily consume all server memory and crash the entire system (or at least Sanic processes, if the admin was careful to set suitable ulimits). If you need larger headers, you are probably doing something very wrong, and as a primary solution you should be looking into fixing your application (e.g. use a session token instead of scramming every

[2021-06-02 10:45] ZinkLu commented on #2152
you can also use `request.ctx` to get a db connection, like `request.ctx.db_session.get_user()`.
cause it seems db transaction is related to request.

(How do I use SQLAlchemy with Sanic?)[https://sanicframework.org/en/guide/how-to/sqlalchemy.html] section should help

[2021-06-02 13:38] moorglade commented on #2153
Thanks for clarification. I believe there was no such limit in 20.12 and I was a bit surprised when I saw all those 413 errors after upgrading to 21.03. I agree that reducing the header size is the best approach and this is what I will try to do, although I believe this can sometimes be problematic, e.g. when integrating with an existing service which uses large headers.

[2021-06-02 14:12] ahopkins commented on #2153
I am okay allowing for some variance here, and in most cases am on board with letting the developer make the choice. However, I'd feel more comfortable having a max config value to guard from someone putting too high a value. It's Python, so someone that really knew the consequences and had the use case, they could still monkey patch around it. I believe some other servers out there do something s

[2021-06-02 19:46] aaugustin commented on #2142
Sanic isn't affected by the security vulnerability:

https://github.com/sanic-org/sanic/search?q=BasicAuthWebSocketServerProtocol
https://github.com/sanic-org/sanic/search?q=basic_auth_protocol_factory

Only downside of sticking with the old version: you'll get issues like this one.

Let me see if I can offer a PR to bump the dependency.

[2021-06-02 20:22] aaugustin commented on #1214
This issue is now fully superseded by #2000.

[2021-06-02 20:22] #1214 closed

[2021-06-02 20:29] aaugustin commented on #2153
FWIW I've been using the approach of "design it so users who really want to change it can monkey-patch it" to tackle this request and it went well — no issues filed anymore — https://websockets.readthedocs.io/en/stable/security.html#other-limits

[2021-06-02 21:00] ahopkins commented on #2153
Added a quick PR that moves the constant to the `Http` class to make it easier to monkeypatch if desired.

[2021-06-03 02:01] #2152 closed

[2021-06-03 04:49] aaugustin commented on #2000
Hello @ashleysommer, would https://github.com/aaugustin/websockets/pull/978 help websockets attempting to re-read the handshake request from the transport?

It should make it possible to handle the handshake like this:

[code]

[2021-06-03 04:50] aaugustin commented on #2000
Quick note on API stability: when the request is invalid, right now, websockets smuggles the resulting exception by attaching it to the response object. I dislike this design and may change it. This is why I'm testing for `if response.status_code != 101` rather than `if request.exception is None`.

[2021-06-03 06:51] Tronic commented on #2153
I did a quick test with Chrome: it will happily send at least about 12 kB single `Cookie` header line (didn't test larger), if there are enough cookies, but a single cookie cannot be larger than 4 kB. Because this is a single line, many HTTP servers give 413 errors even if they otherwise allow for the header to be larger but impose a line length limit (unless that too is configurable).

Suggesting

[2021-06-03 06:54] ashleysommer commented on #2000
Hi @aaugustin

Yes, this looks great! That would allow me to remove the little `ServerConnection`->`Connection` switcheroo I have in the code.

[2021-06-03 07:13] aaugustin commented on #2000
Cool. I'll merge it.

I expect we may need a few other changes like this one. If your dev setup can accommodate it, it would be best to work against websockets' master branch. Then, when you need to make a release, I'll make one before — either by releasing master or by backporting everything you need to a 9.x branch.

[2021-06-03 07:14] ashleysommer commented on #2000
Yep, sounds good. I switch my dev env over to `master`.

[2021-06-03 07:30] Tronic commented on #2000
Btw, would it be possible to use the sans-i/o with external buffers? We have a `recv_buffer` which is a `bytearray`. Protocols can use the buffer and `del recv_buffer[:bytes_used]` to consume data, or call `await receive_more()` to wait for another incoming packet, which gets appended to the buffer. Protocols are expected to leave any partial messages or otherwise unused data in the buffer.

This

[2021-06-03 07:41] ashleysommer commented on #2000
Thats a good question. The sans-io `websockets.Connection` implementation doesn't buffer much really. It has a tiny buffer that it uses while building a Websocket Frame. As soon as a frame is complete, it emits it as an Event. If the event's frame is part of a Websocket Message, that frame is passed to a Websocket Message Assembler. The assembler buffers the frames until a full message is built, t

[2021-06-03 07:53] aaugustin commented on #2000
Indeed, going straight to [websockets's buffer](https://github.com/aaugustin/websockets/blob/6722857ebefd365c9299a79e1526644e25fe1015/src/websockets/streams.py#L15) instead of sanic's buffer should have the same performance characteristics, given that both are implemented using `bytearray`.

FYI:

- I tried another buffer implementation based on `collections.deque(bytes)` to optimize performance b

[2021-06-03 08:24] ahopkins commented on #2153
@Tronic Let's continue this conversation in #2155.

[2021-06-03 08:40] Tronic commented on #2000
@aaugustin Receiving from socket also makes a `bytes` object that is hard to avoid (I haven't seen anyone using asyncio's `sock_recv_into` and trio doesn't implement it at all). Just checked some of your code -- great work with your optimizations! I also tried list(bytes) and other variations, and looks like we ended up with the same result :)

We'd also prefer being able to do streaming so that t

[2021-06-03 11:19] aaugustin commented on #2000
Yes, there's an annoying incompatibility between:

1. Streaming via coroutines = this sort of data flow: https://websockets.readthedocs.io/en/stable/design.html#data-flow
2. Abiding by the rules of Sans-I/O = building something that doesn't use any async / concurrency primitives so it's easy to integrate anywhere else.

I started websockets with the first approach and I'm now redoing it with the s

[2021-06-03 20:46] aaugustin commented on #2000
@ashleysommer Just wanted to let you know about https://github.com/aaugustin/websockets/pull/979 which changes `Frame` to a `dataclass` and also changes the order of fields. You shouldn't be affected, but on the off chance you are, here's how to adapt.

The `Frame` events returned by `Connection.events_received` changed. If you only access their attributes, you're OK. If you relied on the fact tha

[2021-06-04 00:49] ashleysommer commented on #2000
@aaugustin
Thanks for your insights and your ongoing help with this.

Yes, that's right. As you mentioned, when integrating the push-based asyncio->websockets model with the pull-based Sanic application model, there will always need to be a meeting point. And in my working implementation that point is the Message Assembler (I've borrowed/stolen the pattern from your example Assembler from here: ht

[2021-06-04 05:37] aaugustin commented on #2000
My statement about the message queue was referring to the current implementation of sanic, not to your development branch. Apologies for the confusion!

A queue of 1 would create the possibility for a little bit of unnecessary buffering so I wouldn't do it, unless it simplifies the implementation drastically.

There's a `max_size` on each frame, so as long as you read any complete frame after push

[2021-06-04 10:56] #2153 closed

[2021-06-09 00:10] ashleysommer commented on #2000
@aaugustin @ahopkins
I've pushed my new working implementionation into a dev branch: https://github.com/ashleysommer/sanic/tree/new_websockets

I've spent another couple of days on it, and its now passing all of the tests, including some other demo applications I've written to stress it out.

It certainly needs cleaning up, and could probably get some efficiency improvements in places too.

That b

[2021-06-09 07:09] ahopkins commented on #2000
@ashleysommer Can you open it as a PR (even in draft mode if not complete) so we can review?

[2021-06-09 08:08] jakehu opened #2159 "How to serialize datetime in response.json function"
Error
[code]
So I tried through the Issues answers I could find, but it still didn’t work.
[code]

[2021-06-09 08:15] ahopkins commented on #2159
https://sanicframework.org/en/guide/basics/response.html#json

Per route
[code]

Or, everywhere:

[code]

[2021-06-09 08:15] #2159 closed

[2021-06-09 08:18] ahopkins commented on #2159
FYI - Both `ujson` and `orjson` have this out of the box

[code]

[code]

[2021-06-09 08:21] jakehu commented on #2159
Thank you very much, I'm sorry I didn't read the document carefully due to my carelessness

[2021-06-09 08:26] ahopkins commented on #2159
No worries!

In the future, feel free to join the [Discord server](https://discord.gg/FARQzAEMAA). In general, faster responses.

[2021-06-09 12:45] vankata-ashokkumar commented on #1500
Facing a similar issue with 20.6.3, Any update on this?

[2021-06-09 12:52] ahopkins commented on #1500
Update on what? This is closed 2 years. If you are experiencing something, please open a new issue and include some relevant details and source.

[2021-06-14 19:15] mikepurvis opened #2161 "Sanic 21.3+ not respecting RESPONSE_TIMEOUT"
**Describe the bug**

Possibly related to https://github.com/sanic-org/sanic/issues/2078, but I have a non-websocket situation where I do a bunch of async work on the backend to fulfill a request, and so I set the timeouts accordingly:

[code]

This worked fine on Sanic 20.12, but now it's timing out with a 503 after 60 seconds, as if the config is not even present. It looks like some stuff happen

[2021-06-14 19:20] ahopkins commented on #2161
I am taking a look. This has not come up in tests, and I have not run into this yet.

[2021-06-14 19:22] ahopkins commented on #2161
@mikepurvis What proxy is in front of Sanic?

[2021-06-14 19:26] mikepurvis commented on #2161
It's nginx, but the config on that side is unchanged from previously and the logs indicate that it's sanic that's giving up:

[code]

This is just an `app.run()` setup.

[2021-06-14 19:34] ahopkins commented on #2161
https://github.com/sanic-org/sanic/blob/v21.3.4/sanic/server.py#L242

[code]

[code]

[2021-06-14 19:35] ahopkins commented on #2161
When is your `.json` timing out?

[2021-06-14 19:43] ahopkins commented on #2161
That commit only consolidates all the config loading methods into one. If you are setting config as shown above, there would not have been an impact.

Have you not seen the [user guide](https://sanicframework.org/en/guide/deployment/configuration.html#basics)?

[2021-06-14 20:29] mikepurvis commented on #2161
Thanks for looking into this promptly. I agree that a naive MWE on my end is not reproducing the issue. I'm digging into it further to understand more about why this is happening— it looks like it might only be happening in an environment with some stale dependencies, eg uvloop 0.14.0 instead of 0.15.2.

I had not— that looks great! I was just going by the RTD page and what I could find from googl

[2021-06-14 21:00] mikepurvis commented on #2161
So the trivial repro also works fine even in the venv where my application is having an issue, but my application doesn't seem to have its issue in a fresh venv with everything up to date. So.... super weird.

In any case, going to close this for now as I don't think it's actionable on your side. Thanks again the quick support and for an excellent project. I'll reopen if I find something concrete.

[2021-06-14 21:00] #2161 closed

[2021-06-14 22:19] mikepurvis commented on #2161
And your initial instinct was right— it _was_ nginx. This definitely was working previously so I have no idea what it was about the Sanic version bump that seemed to expose the problem, but adding `proxy_read_timeout` to the nginx configuration solves it!

[2021-06-15 06:27] ahopkins opened #2163 "Copy blueprints"
It would be really helpful if there was an API to duplicate a blueprint into a new blueprint. Something like this:

[code]
[code]

[2021-06-16 18:49] #2142 closed

[2021-06-16 18:51] ahopkins opened #2166 "Enforce exception handler uniquness"
1. You should not be able to register the same exception more than once, or at least not on the same App/Blueprint.
2. Handlers should only be fetched in relation to the BP or App context of the matched route. This effectively means that some exceptions (`NotFound` could only be registered app level).

_Originally posted by @ahopkins in https://github.com/sanic-org/sanic/issues/2121#issuecomment-8

[2021-06-16 19:34] #1901 closed

[2021-06-16 19:50] ahopkins commented on #2143
Can you explain to me the thought process on the `read_text`?

It seems like what you are really looking for is a way to tell sanic to reload for anything in `./config`.

[2021-06-16 20:41] erickguan commented on #2143
You are right about this. Your solution is much simpler!

[2021-06-16 21:19] ahopkins commented on #2143
@erickguan I am really glad that you suggested this. It is something that I think I have thought in my head many times would be really helpful to have.

[2021-06-17 09:05] Tronic commented on #2066
In general, with `stream.read` you get what the client sends, a single TCP packet or a few, to avoid extra buffering. When chunked encoding is used by the client, a chunk boundary also causes a fragment to be returned, even if some bytes of the next chunk were already received (and will be returned by the next `read` call).

For reference, Python's I/O APIs:
- `IOBase.read` should generally be imp

[2021-06-17 16:53] Tronic opened #2169 "Production and development modes (default workers)"
While it is possible to specify these individual features by hand, I would rather see a simple mode flag to get sensible defaults:
- Production: no access logs, workers=os.cpu_count()
- Development: debug, access logs, auto-reloader

Sanic server by default runs with a single worker process and doesn't enable features that would be useful in development. Many people accidentally use these default

[2021-06-17 17:56] ahopkins commented on #2169
This lines up with another thought that I had related to some discussions recently, and that is to give more teeth to debug mode. We are pretty light on debug logs, and that could probably be turned up a bit.

As for default `workers=os.cpu_count()`, I am not sold on this yet. I would be curious to see the impact of this on multi-pod k8s installations with single worker instances. This is somethin

[2021-06-17 20:31] eric-spitler commented on #2169
I would be opposed to defaulting to more than one worker due simply to the fact that workers cannot spawn child processes due to the daemonic nature.

Even doing a `ProcessPoolExecutor` gets mucked up when you have multiple `Sanic` workers.

[2021-06-18 00:36] ashleysommer commented on #2169
I agree with @ahopkins and @eric-spitler, we should definitely default to a single worker even in Production mode. Multi-workers should always be something you a user specifically enables manually, for the reasons outlined above.

And just for some context, around _why_ sanic has such weird defaults to begin with. Its because Sanic's `app.run()` method was designed to match with Flask's `app.run()

[2021-06-18 04:11] ahopkins commented on #2169
What if we add a `--workers=full` arg? It might also be nice to have `--mode=debug|default|prod`, and then it's a matter of deciding what each of those means. I'll post some more coherent thoughts a little later after some coffee.

[2021-06-18 08:27] Tronic commented on #2169
Okay, looks like there are legitimate concerns about multiple workers by default. Can we still disable access logs by default in `app.run` as they are disabled by default in CLI?

How about this:

Revert `debug` to being a stand-alone feature (that won't enable auto-reload), and implement a separate `--dev` flag on CLI that is a shorthand for `--debug --access-log --reload` for those who want all

[2021-06-18 08:37] ahopkins commented on #2169
This is sounding much more the direction I'd like to go. Several config options to be done separately, and then bundled together with smart defaults.

- debug logging (perhaps even with levels of verbosity)
- access logs
- worker optimization
- motd
- deprecation notices

👍 to --dev and --fast (-D and -F)?

[2021-06-18 08:39] #2143 closed

[2021-06-18 08:44] Tronic commented on #2169
The names are short enough without single-letter versions IMO. Also worth noting is that these two are not contradictory modes since `--dev --fast` is a perfectly valid combination.

[2021-06-18 09:04] ahopkins commented on #2169
I think it does. "fast" should be disable access logs and enable max workers (unless you specifically enable them separately).

[2021-06-18 09:24] ahopkins commented on #2169
Somewhat related...

What about spitting out OS, and platform details along with Sanic installation (this last one I think is in one of the recent PRS I made) at debug startup for easy copy/paste on support queries.

[2021-06-21 07:10] ahopkins opened #2171 "RFC: Accept header parsing"
The `Accept` header in RFC 7231 § 5.3.2 has a very structured format for specifying media types that the client _can_ accept, and also would prefer to accept.

[Source](https://datatracker.ietf.org/doc/html/rfc7231#section-5.3.2)

    A more elaborate example is

             Accept: text/plain; q=0.5, text/html,
                 text/x-dvi; q=0.8, text/x-c

       Verbally, this would be interpre

[2021-06-21 09:39] Tronic commented on #2171
While it is nice to support standards, I believe there is little practical use for full parsing of this header. Pretty much the only thing supplying more than one type is the browser requesting pages, images, scripts etc. (each with their own accepted types), and even then the lists come already in order of precedence. And that precedence might not make much sense in regards to what formats you ac

[2021-06-21 10:06] Tronic commented on #2082
One thing to consider is whether the config should stay immutable after the app has started (and if changes later are ignored or work in unexpected ways, not to mention that they only affect the current worker). Even with that consideration, using a `with` block for any overrides is reasonable because it keeps them well scoped.

[2021-06-21 11:14] #2121 closed

[2021-06-21 11:26] #2069 closed

[2021-06-21 11:39] #2070 closed

[2021-06-21 12:10] #2122 closed

[2021-06-21 15:41] #2113 closed

[2021-06-25 03:49] zxj17815 opened #2174 "How do I parse the request content in xml format"
like this
[code]

[2021-06-25 04:45] ahopkins commented on #2174
Any form of python [xml parsing](https://docs.python-guide.org/scenarios/xml/) will work. If you have further support related questions please post in the forums or the Discord server.

[2021-06-25 05:15] #2174 closed

[2021-06-25 17:26] jdraymon commented on #2113
@ahopkins thanks for the note - I had been avoiding the version argument for exactly that reason 😄

[2021-06-26 02:31] robd003 commented on #2169
When checking to see the number of CPUs available can we do an OS check and if the system is Linux then return `len(os.sched_getaffinity(0))` as the number of CPUs. This way if the Sanic process is scheduled via Kubernetes with less CPU cores than available on the system it won't be over-provisioned.

Explanation: https://docs.python.org/3/library/os.html#os.sched_getaffinity

[2021-06-26 12:22] gabhijit commented on #2139
I think we should just add a 'note:' to the documentation saying. If you are adding a task using this method before `app.run` is called, it is recommended to use the callable after applying `functools.partial` if required to pass as an argument to `add_task`.

eg.

[code]

The long explanation (given by @Tronic already), but this is just for more clarity.

If you actually `call` the callable, whil

[2021-06-27 07:07] ahopkins commented on #2169
That seems reasonable.

[2021-06-27 07:10] ahopkins commented on #2139
@gabhijit Would you care to take a stab at adding to the docs?

https://github.com/sanic-org/sanic-guide/blob/main/src/en/guide/basics/tasks.md

[2021-06-27 08:18] gabhijit commented on #2139
@ahopkins : Sure will add it.

[2021-06-27 19:52] #2002 closed

[2021-06-27 22:33] Tronic commented on #2139
Should probably deprecate passing a coroutine object to avoid this problem. I wonder how much trouble it would cause app developers if we gave deprecation warnings or eventually removed the feature... Or could just say it in documentation.

[2021-06-28 05:42] ahopkins commented on #2139
I see no reason to deprecate it, and sometimes prefer this usage, especially when passing in some dynamic value. IMO it is a problem that can be fixed with better documentation.

[2021-06-28 13:33] Alessandro-Barbieri opened #2175 "test_keep_alive_client_timeout failure"
While packaging sanic for the gentoo overlay guru I got this test failure:

[code]

Full log here: https://799023.bugs.gentoo.org/attachment.cgi?id=719724
https://bugs.gentoo.org/799023

[2021-06-28 14:28] ahopkins commented on #2175
I'm not 100% surprised. That test does seem to be a bit flappy sometimes. It generally passes okay in our CI pipeline, but I do get that locally from time to time. The use case itself is a tough one to unit test.

If anyone wants to take a look at it, the whole strategy in the `tests/test_keep_alive_timeout.py` could probably use to be redone.

[2021-06-29 10:15] snakecy opened #2176 "sanic-openapi rest is slower than gevent+flask"
**Describe the bug**

my test is for nlp task. after testing, the result is sanic-openapi is slower than gevent+flask.
why?

sanic-openapi rest
![image](https://user-images.githubusercontent.com/12490881/123780343-afa7b680-d905-11eb-9955-bc8f77e8d0c9.png)

the following is gevent+flask rest
![image](https://user-images.githubusercontent.com/12490881/123780375-b7675b00-d905-11eb-825e-d52642e9f76a.p

[2021-06-29 11:17] ahopkins commented on #2176
`sanic-openapi` issues should be posted to that project not here. Furthermore, I am not sure what this is even meant to show. There is no actionable item, methodology, code, or anything for anyone to even respond to.

[2021-06-29 11:17] #2176 closed

[2021-07-01 05:33] ChihweiLHBird commented on #2175
I also experienced this failure and it seems a random failure.

[2021-07-01 05:56] ChihweiLHBird opened #2177 "asyncio.exceptions.CancelledError On Windows OS"
The following exception raised when running the hello world example on Windows with Microsoft store version of Python 3.9.

WSL2 environment does not reproduce the issue.

[code]

[code]

[2021-07-01 05:59] ChihweiLHBird commented on #2177
Not able to reproduce after a while, maybe it is a random error?

[2021-07-01 06:15] Tronic commented on #2177
Looks like request timeout after 60 seconds. Did your client send a request and get a response OK? In that case, it was probably just an idling connection being terminated (but one ugly message for doing so, that still needs to be fixed).

[2021-07-01 06:18] ahopkins commented on #2175
There's some race condition in the testing env with when a port is released.

[2021-07-01 06:25] ahopkins commented on #2177
If it were a request timeout, there should be `RequestTimeout` error.

[2021-07-01 06:31] Tronic commented on #2177
Yes, something goes wrong in the error handling. But it happens after 60 seconds and logs a 408 Request Timeout status.

[2021-07-01 07:04] ChihweiLHBird commented on #2177
@Tronic I used browser to visit the endpoint. It seems not a timeout issue because the exception raised immediately after the request.

[2021-07-01 07:29] ChihweiLHBird commented on #2177
I would like to look into it while trying to understand how Python sanic is working with asyncio. Any suggestion about how to fix this? After reading the code in `server.py` and `http.py`, I think I got the basic concept of the data reading workflow, but I still don't understand why, how, and where the operation is cancelled...

[2021-07-01 07:54] Tronic commented on #2177
[code]

server.py runs this background task that runs periodically checks if any timeouts have expired, then cancels self._task that handles the connection (server.py function `connection_task` that calls http.py and other functions). The `connection_task` function is supposed to catch and ignore CancelledError, so I would look into why you still get an error message. From the backtrace it looks a

[2021-07-01 10:13] Tronic commented on #2177
Did you visit it twice, or just at 23:00:11 where a 200 OK response is logged? The remaining log events at 23:01:11 suggest that no request or possibly an incomplete request was received, but that no valid responses were served. If there was an incomplete request, Sanic tries to respond with 408, otherwise it just closes the socket.

It looks like that a connection was left idling by the browser a

[2021-07-02 05:03] ChihweiLHBird commented on #2177
I tried it again several times and the error popup after 1 min, so I think you are right. Let's see if we can catch that exception so it will not be raised.

[2021-07-02 08:58] ChihweiLHBird commented on #2177
@Tronic I found that the error was logged because there is not a error handler registered in ErrorHandler object's `cached_handlers` so it is logged. Do you think this is an intentional behavior?

[2021-07-02 13:41] Tronic commented on #2177
Ah, this might be related to another new feature with error handlers that recently got merged and released in 21.6 I think. Ping @ahopkins shouldn't custom error handlers be limited to `Exception` and not used `BaseException` (like the cancellation that occurs here)?

[2021-07-02 14:40] ahopkins commented on #2177
Ahh, that might make sense. I'm going to be pushing out a patch in Sunday so I will take a closer look at this.

[2021-07-02 17:36] ChihweiLHBird commented on #2163
Are `/v1` and `/v2` considered as a URL prefix for the blueprint?

[2021-07-03 18:57] ahopkins commented on #2163
No.

A blueprints uri is:

version_prefix + version + all url_prefix + path

A route has only a single version, but could have multiple url_prefix if it is nested.

What's the question behind your question?

[2021-07-03 19:45] ahopkins commented on #2177
Turns out the issue stems from #2077. The issue is related to how `quiet` is being set. This is probably worthy of a fix and release.

[2021-07-03 19:49] ahopkins commented on #2177
It is just looping through the hierarchy and stopping when it gets to `Exception` (or `CancelledError`, etc).

[2021-07-04 06:02] ChihweiLHBird commented on #2177
There is probably not `quite` attr in `CancelledError` object by default since it is not inherited from `SanicException`.

[2021-07-05 10:52] icnahom commented on #860
This would be a nice feature to have.

[2021-07-05 11:47] ahopkins commented on #860
I have not tried this.... but I think it should be possible.

[code]

You may need to change `host1.run()` into a create_server pattern to be able to send `reuse_port`. However, it is certainly possible for a single Sanic main process to run multiple Sanic app instances. It is also possible for a single blueprint to be registered to multiple Sanic apps.

[2021-07-05 14:39] Tronic commented on #860
Wait what, you just run two separate servers on the same port? No, that won't work. At best you have requests randomly assigned to each which will fail 50 % of requests. On MacOS you get all requests going to one server with the other working as a fallback that never receives anything. (IIRC, didn't verify my sources)

What you actually need for TLS vhosts is an SNI callback on SSLContext, so that

[2021-07-05 14:51] ahopkins commented on #860
That's what I'm not sure about. If it would randomly assign or send to both. If I were to implement, I'd put each server on their own port with a proxy in front. Either way, tls or not the principle should work and you can run multiple instances and bind the same blueprint to them but keep host routing.

[2021-07-05 21:50] ahopkins opened #2182 "Request streaming results in a phantom 503"
When streaming a request body, you end up with a phantom 503 response. To the client, everything looks fine. The data is transmitted, and a response received OK.

[code]

But, there is an extra 503 that is caused by a task cancel while waiting on `receive_more`. This appears to be caused by leaving one extra CRLF in the buffer.

[2021-07-05 21:55] ahopkins commented on #2182
@Tronic It seems that what is happening here is that we are purposely leaving a CRLF in the buffer when streaming the request body. This leaves the `recv_buffer` in tact, so after a response is sent to the client, the `http1()` method enters its next loop immediately without waiting for a new incoming request.

If we manually reset the buffer in this use case, then it will properly pause waiting f

[2021-07-06 08:30] ChihweiLHBird commented on #2163
@ahopkins Did we consider using `copy.deepcopy` API to copy the blueprint? If yes, why we decided not to use it?

Something like this works fine.
[code]

[2021-07-07 20:06] ChihweiLHBird commented on #1990
Is this still an issue? I would like to look into it, if it still worth to be fixed. Any idea about how to reproduce it?

[2021-07-07 22:30] DirtyHairy opened #2185 "CancelledError on exit with open websocket connections"
**Describe the bug**
I am getting an uncaught `CancelledError` on exit if there is an open websocket connection. Log/Backtrace:

[code]

**Expected behavior**
Graceful exit 😏

**Environment (please complete the following information):**
 - OS: MacOS
 - Python: 3.9.5
 - Sanic 21.6.0

**Additional context**
Add any other context about the problem here.

[2021-07-08 01:53] #1871 closed

[2021-07-08 01:53] #2015 closed

[2021-07-08 03:19] mikepurvis commented on #1874
I still think this is important.

[2021-07-08 06:15] ahopkins commented on #1990
I don't think the particular issue is. IIRC, I think that was something specific to appveyor, which we do not use anymore.

However, `.github/workflows/pr-windows.yml` was recently commented out because there was a problem with it. I think it had more to do with the build system though. If you want, open a PR and reenable that and see what the output is.

[2021-07-08 19:39] DirtyHairy opened #2186 "Exception when terminating while receiving a request"
**Describe the bug**
Chrome, Safari and probably other browsers seem to open surplus connections to the server in advance in order to improve performance (see for example [this stackoverflow thread](https://stackoverflow.com/questions/4761913/server-socket-receives-2-http-requests-when-i-send-from-chrome-and-receives-one)). These connections are kept open in the state "wait for request".

If Sanic

[2021-07-08 19:40] DirtyHairy commented on #2185
I've opened a PR: #2187

[2021-07-08 19:41] DirtyHairy commented on #2186
I've opened a PR... 😏

[2021-07-09 08:05] DirtyHairy opened #2189 "Pending tasks on exit"
**Describe the bug**
Sanic does not wait for the `connection_task()` tasks to terminate after cleaning up non-idle connections after `GRACEFUL_SHUTDOWN_TIMEOUT`. This can cause dangling tasks on exit:

[code]

**Code snippet**
I can reproduce this reliably by running a simple server with a SSL context and doing the same dance as in #2186 in Chrome. The surplus connection opened by Chrome will be t

[2021-07-09 08:17] DirtyHairy opened #2190 "Transport may remain open after `close()`"
**Describe the bug**
After applying the workaround in #2189 Sanic hangs on shutdown if it tries to force close SSL connection after `GRACEFUL_SHUTDOWN_TIMEOUT` expires. Digging into the code shows that the transport does not close after `close()` has been called but stays open for a prolonged time (I guess it will timeout eventually), and `connection_lost` is not called.

There are other reports o

[2021-07-10 20:39] ahopkins commented on #2190
PRs are always welcome.

[2021-07-10 22:02] DirtyHairy commented on #2190
There you go ;)

[2021-07-10 22:47] aha79 opened #2192 "Websocket handler ignores user exceptions"
When a websocket handler throws an exception, the websocket is silently closed. Nothing is printed to the log.

Expected behavior is to print the exception to the log, as it is done for the normal HTTP request handlers.
Probably there should also be some translation to websocket error codes, if that is possible (I am not an expert here). This is to align with the  translation of user exceptions to

[2021-07-11 21:35] #2177 closed

[2021-07-13 07:41] ahopkins commented on #2171
Agreed. I think the practical use case (as you alluded to in #2162, and what was the original inspiration for this RFC) would be to allow Sanic to make some "smart" decisions. Of course this could be extendable, and having wildcard support might be ideal. However, I am not sure that we need to be overly concerned with that in the core project just yet.

I would be content to simply order them appr

[2021-07-14 06:25] ahopkins opened #2197 "Streaming response middleware executes twice"
**Describe the bug**
When responding with the response object from a streaming handler, the response middleware is executed twice.

**Code snippet**
Compare:
[code]
With:
[code]

[code]

**Expected behavior**
Response middleware does not execute twice per streaming request.

There probably is still a use case for wanting some middleware type event at the conclusion of the handler, but this is can

[2021-07-14 06:43] ahopkins commented on #2197
There are probably two ways to handle this:
1. prevent `handle_request` from calling `respond()` a second time
2. prevent `respond` from executing the middleware a second time

[2021-07-14 20:53] ahopkins opened #2198 "New style pipelined streaming responses break"
**Describe the bug**
The second request of pipelined HTTP requests will fail if it is a new-style streaming response.

**Code snippet**
[code]

Executes fine with:

[code]

The chunks sent are:

[code]

It breaks down with new style streaming responses:

[code]

We never get to those last three bytes because there is an exception:

[code]

**Expected behavior**
Both `/new` and `/old` should behave

[2021-07-14 20:56] ahopkins commented on #2198
Without digging too deeply, I suspect the reason is that the subsequent request is using the same `self.response_func` as the first instead of redefining it.

[2021-07-14 20:57] ahopkins commented on #2198
@Tronic, thoughts?

[2021-07-15 10:52] Tronic commented on #2198
The new response incorrectly says `content-length: 6` where it should be using chunked encoding instead, and the true length is 3 anyway. Can you investigate from where it obtains this header?

Note: AFAIK ALL of those test cases should be using chunked encoding because the sizes are not known when the first chunk of the body is written. Manually specifying the content-length header when size is k

[2021-07-15 11:30] ahopkins commented on #2198
@Tronic Pinging you on Discord re: this

[2021-07-21 01:32] #2022 closed

[2021-07-22 08:53] komar007 opened #2202 "Cannot define a blueprint-specific exception handler"
**Describe the bug**
The documentation at https://sanicframework.org/en/guide/best-practices/blueprints.html#exceptions says that:

However, exception handlers defined this way don't seem to be blueprint-specific at all. Instead, they handle exceptions in other blueprints as well.

**Code snippet**
[code]

**Expected behavior**
A request to http://localhost:8000 should generate 500, because `Error

[2021-07-23 11:56] ZeJ0hn commented on #2138
My case seems to works with version 21.6.0
I close this issue.

[2021-07-23 11:56] #2138 closed

[2021-07-27 02:27] DaiZack opened #2203 "How to work with session (for auth0)"
We have a Flask environment web application with auth0 authentication, plan to migrate to Sanic. However, couldn't find the "session" equivalent element in the documentation.

The auth0 authentication steps as follow:
[code]

[2021-07-28 08:57] #2182 closed

[2021-07-28 09:02] ahopkins commented on #2198
Fixed in #2201

[2021-07-28 12:38] ahopkins commented on #2203
To get true sessions, you would want to generate some sort of id, store it in state somewhere (usually a dB accessible from all worker instances), and set a cookie reference to it. Then, in Middleware you could read the value, validate the session, and retrieve data if needed.

Take a look at this for inspiration: https://github.com/mekicha/awesome-sanic

[2021-07-28 12:38] #2203 closed

[2021-07-28 12:40] ahopkins commented on #2203
If you need further help, post on the forums or discord server.

[2021-07-29 11:01] #2198 closed

[2021-07-30 08:47] zhenzi0322 opened #2205 "How about setting some global properties, such as: user login successfully, displaying information about the user, hiding the login button"
I'm wondering if there is a way to get user information quickly, preferably in an html template that can be accessed directly. request can get some properties, but how does request set its own properties, for example: I want to set request.user = 123456

[2021-07-30 13:33] jacebrowning opened #2206 ""ValueError: Invalid declaration" with routes containing periods"
**Describe the bug**

Starting in Sanic 21.6.1, routes with periods in them (e.g. `"/<name>.txt"`) are no longer accepted:

[code]

**Code snippet**

[code]

**Expected behavior**

With `sanic==21.6.0` and `sanic-routing==0.7.0`, the app is able to start but `/foobar.txt` is not routed:

[code]

With `sanic==20.12.3`, the app both starts and correctly routes `/foobar.txt` to the function:

[code]

[2021-07-30 14:00] sjsadowski commented on #2205
You may want to look into contexts, however as Sanic is api oriented, whatever you're trying to do may be more related to whatever templating engine you're using.

[2021-07-30 16:36] ahopkins commented on #2206
Actually, starting in 21.3. The issue is not the `.`. The issue is that partial matches are not valid. Ping me in discord or forums if you need further help.

[2021-07-30 16:36] #2206 closed

[2021-07-30 16:46] jacebrowning commented on #2206
@ahopkins Can you clarify what is meant by "partial matches"?

[2021-07-31 20:25] ahopkins commented on #2206
@jacebrowning Sorry for being super brief yesterday.

Take a look at this: https://sanicframework.org/en/guide/basics/routing.html#regex-matching

By "partial", I meant trying to capture only some of a single path segment, and not the entirety. Beginning in 21.3 the `<....>` needs to wrap everything between two `/`.

The most obvious and common need is exactly as you are running into it (matching

[2021-07-31 20:32] ahopkins commented on #2205
[code]

[2021-07-31 20:32] #2205 closed

[2021-07-31 21:02] jacebrowning commented on #2206
@ahopkins Thanks for the clarification!

Using patterns like `"/<name:.+\.txt>"` does indeed resolve the "invalid declaration" errors.

I'm definitely a fan of your proposed change to `sanic-routing` over the alternatives:

- extracting the file extension within handlers
- adding named groups to the regex patterns

[2021-07-31 21:13] ahopkins commented on #2206
I am hoping to get it in. There definitely are some challenges to allow for extracting multiple variables per segment. Not necessarily in the actual destructuring and matching, but creating a simple abstraction layer for defining the path parameter definitions without creating too much complexity or coupling.

[2021-08-01 07:48] ahopkins commented on #2206
See: https://github.com/sanic-org/sanic-routing/pull/47

[2021-08-01 22:26] ahopkins commented on #2202
Sorry for not responding earlier. I am looking at this. See also #2121

[2021-08-02 12:15] cansarigol3megawatt opened #2210 "In ASGI mod, the response turns into 500 server error."
In ASGI mod, if request middleware raises an exception and meanwhile there is an error in fetching handler from router part as well, server response turns into 500 server error.

**app.py**
[code]
[code]

**Expected behavior**
it should have been 403 (the same approach as WSGI).

**Environment (please complete the following information):**
 - OS: ubuntu 20.04
 - Version
        python = "3.8"

[2021-08-02 12:25] ahopkins commented on #2210
:thinking: Am I must be missing something? How did you get a 500?

[code]

[code]

[2021-08-02 12:26] ahopkins commented on #2210
Never mind... I was able to reproduce:

[code]

[2021-08-02 12:58] cansarigol3megawatt commented on #2210
@ahopkins When I put a try-expect in call dunder of the asgi app class, the problem is solved.

[code]

[2021-08-02 13:34] ahopkins commented on #2210
Nice. Can you make a PR? In your PR, you can also change the value of `./sanic/__version__.py` to 21.6.2 and I can get it ready to send out a patch. We probably should add a unit test for this. I am really surprised there is not one already.

[2021-08-02 16:12] #2210 closed

[2021-08-02 19:46] ahopkins opened #2212 "Exceptions in websocket handler not logged"
[code]

No exception or traceback is displayed in logs.

[2021-08-04 10:34] #2118 closed

[2021-08-07 20:24] #2212 closed

[2021-08-09 20:22] ChihweiLHBird commented on #1990
@ahopkins Since the windows tests work well, can we close this issue?

[2021-08-10 00:55] ChihweiLHBird commented on #2163
@ahopkins Can we close this issue?

[2021-08-10 03:36] #2163 closed

[2021-08-10 03:37] #1990 closed

[2021-08-17 12:17] ahopkins opened #2219 "Nicer error handling with mishandled responses"
[code]

[code]

[code]

Two things here:
1. When we create the second response, there is no indication to the user that this is somewhat useless. The headers here are ignored, although you can continue sending from it. As seen in example.
2. When `send` is called after the `eof`, there should be a nicer error than `NoneType` that does not explain what happened to the stream.

[2021-08-17 14:16] priyesh-kashyap opened #2220 "Sanic not raising ConnectionClosed on Python 3.7"
Hi,

I've been using Sanic and now I want to gather the information that whether the WebSocket is closing normally or abnormally. The problem that I'm facing currently is that whenever the client is closing a connection abnormally (Network Issue), no Exception is being raised. Although I'm getting logs server - event = connection_lost(None) server - state = CLOSED server x code = 1006, reason = [n

[2021-08-17 15:17] ahopkins commented on #2220
xref https://github.com/aaugustin/websockets/issues/1033

[2021-08-17 16:18] priyesh-kashyap commented on #2220
Thanks, I'll definitely wait for that release but for the time being, Is there a way possible via which I can at least get the status code like 1000 or 1006 after the WebSocket connection closed?

[2021-08-17 16:39] ahopkins commented on #2220
Please provide a simplified example of what you are looking at and we can test it against 20.12 and 21.6.

[2021-08-18 05:17] priyesh-kashyap commented on #2220
Sure, I want to capture how many connections terminated normally and how many of them terminated abnormally maybe because of some network issue or the client explicitly force closed that connection.

[2021-08-18 11:55] priyesh-kashyap commented on #2220
`##################### Sanic Server ####################
import asyncio
import logging
from sanic import Sanic
from websockets.exceptions import ConnectionClosed, ConnectionClosedError, WebSocketException

logging.basicConfig(level=logging.DEBUG)
log = logging.getLogger(__name__)

app = Sanic("websocket test")
@app.websocket("/")
async def test_sanic(_, ws):
  try:
    while True:
      # Suppose

[2021-08-19 18:09] #2171 closed

[2021-08-20 09:38] chongtwo opened #2221 "How to config Sanic to support url in HTML5 history mode"
HTML5 history mode is used as my vue frontend url mode. I use the following code to create url for static files.
`app.static('/template/hello', './static/index.html')`
It works all fine when I access the 'ip:port/template/hello' first and click elements on the page. But it returns 404 when I refresh the page, the url of which is not 'template/hello/' for example 'template/hello/user/' and which is

[2021-08-21 18:41] ahopkins opened #2222 "Explicit static directive for serving file or dir"
See #2132

[code]

With an explicit kwarg, we would not need to run `path.isfile`. This is not really new behavior. If Sanic 20.12 is not functioning this way, I think that is more a problem on the earlier version than with the current.

---

A bit of behind the scenes info...

Let's look at what these two are doing:

[code]

__Originally posted by @ahopkins in https://github.com/sanic-org/sanic/i

[2021-08-21 23:18] delfick opened #2223 "SANIC_NO_UVLOOP=true doesn't seem to work"
**Describe the bug**
Installing sanic with a SANIC_NO_UVLOOP=true in my environment still results in uvloop being installed

**Environment (please complete the following information):**
 - OS: macOS Big Sur
 - Version 11.5.2

**Additional context**
Python 3.9.6

<img width="1494" alt="Screen Shot 2021-08-22 at 9 15 49 am" src="https://user-images.githubusercontent.com/109301/130337105-7599c107-131

[2021-08-22 10:44] ahopkins commented on #2223
![image](https://user-images.githubusercontent.com/166269/130352266-d527c0b4-4518-4fbf-bd16-d502b9c416a2.png)

If you look at the unit tests, you can see if definitely works. Perhaps you have pip cache?

[2021-08-22 11:06] delfick commented on #2223
`--no-cache-dir` doesn't make a difference and also given it's decided in sanic's setup.py based on the environment variable, it wouldn't make sense for it to anyway!

After some checking, I think the reason is because the wheel doesn't have a setup.py and so when you install via a wheel it doesn't ever do this check https://github.com/sanic-org/sanic/blob/main/setup.py#L138

[2021-08-23 08:26] ahopkins commented on #2221
I am not a Vue expert and do not know exactly what they mean by that. History manipulation is entirely a browser construct and has nothing to do with Sanic or backend frameworks.

However, I can guess at what they mean. Typically, a frontend framework handles all of its own internal routing. Therefore, if you are (for example) serving your frontend application with Sanic, then you need to also rou

[2021-08-23 08:26] #2221 closed

[2021-08-29 00:35] delfick commented on #2046
Is there a preview of that documentation?

As far as I can work out it'd be something like this (but with some more polish)

[code]

Where I'd have to write close_connections myself and looks like this (semi pseudo code from the serve function sanic provides)

[code]

[2021-08-30 03:00] Frankr0 opened #2226 "Unnecessary access log when socket disconnects before sending any bytes"
**Describe the bug**
A socket connection request to server will cause following error:
[code]
why and how can i prevent that?

**Code snippet**
server.py

[code]
client.py

[code]

**Expected behavior**
no error msg

**Environment (please complete the following information):**
 - OS: CentOS
 - Version: 21.6.2

[2021-08-30 04:11] ahopkins commented on #2226
Why is that a bug, and what would you expect to happen differently? What is the use case you are testing for?

[2021-08-30 04:38] ChihweiLHBird commented on #1504
@sjsadowski @chenjr0719 Are we still having any issue with auto_reload?

[2021-08-30 06:20] ahopkins commented on #2223
One of the things that has been a question for a long time on this project is how to gracefully handle this. Obviously, the best scenario would be if pip supported subtractive `install_requires`:

[code]

This (to my knowledge) is still not a supported feature. The problem is that we do want `uvloop` to be installed by default. That will not change. The only other solution that would work is if yo

[2021-08-30 06:55] delfick commented on #2223
can we make it so that sanic chooses to use it at runtime? i.e. I can set an environment variable or sanic option that makes it not set uvloop? that way uvloop can be in the environment, but sanic can choose to not use it

[2021-08-30 06:57] delfick commented on #2223
i.e. move https://github.com/sanic-org/sanic/blob/b1b12e004eff1702d969ac711e5863b46b79e893/sanic/server.py#L51 to when you use the loop or make this not happen based on an environment variable.

[2021-08-30 07:22] ahopkins commented on #1504
Hmm... Not that I am aware of :thinking:

I did some work on it with #2167 which will be released soon to allow listening on specific directories (helpful for static file changes, etc). I think this is probably stale. Removing `necessary` label so it can die off in time unless someone sees a better reason to keep it open.

[2021-08-30 07:25] ahopkins commented on #2223
Yeah, that can probably work fine. I did something similar with `uvloop` by allowing for an application override (for `dumps` only, we still need to add it for `loads`).

[2021-08-30 09:06] Frankr0 commented on #2226
Hi~ @ahopkins , thanks for your replay,  socket connection only establish on tcp layer, no http data packet has been sent. If I understand correctly, sanic is a http server framework, why should there be an error log? The same case is tested on flask without errors.

![image](https://user-images.githubusercontent.com/16506449/131302106-02b1ae3a-6ed0-414f-9a75-aec8e1b9b80b.png)

[2021-08-30 09:35] ahopkins commented on #2226
Flask is not a server. Sanic is.

Out of the box, Sanic uses HTTP protocol, but it could be used for others. That is not really the point.

What is more at issue is what a server should do when a connection is opened, and no bytes are sent. I think this is valuable information and should not be ignored. Perhaps something another message is more appropriate? I have not tested, but I would be more c

[2021-08-30 11:52] Frankr0 commented on #2226
`nginx` does have a readable log.
![image](https://user-images.githubusercontent.com/16506449/131334940-4aba8f1b-288c-4454-9f8c-849b969c192a.png)

[2021-08-30 12:49] ahopkins commented on #2226
I accept that as a solution. We can probably remove the access logger here. I suppose it is still debatable what level the message should be. I am somewhat inclined to leave it because I do not see a strong reason why it should change from ERROR to INFO.

[2021-08-30 15:08] Tronic commented on #2226
The current error message seems misleading (we were waiting for a request, not trying to send a response). Disconnection at any point where no request has been sent should be quiet IMO. I gather that browsers could be firing multiple parallel connections and then not always use them even for one request. This should not cause error messages in logs.

[2021-08-30 16:28] ahopkins commented on #2226
I disagree. A connection is opened, it should be logged. The level at which that happens I do not disagree is probably not an ERROR. But it shouldn't be quiet either. If for no other reason, it would be very hard to impossible to track what was happening if you had some rogue agent opening and closing connections in rapid succession.

[2021-08-30 21:29] gubatron opened #2227 "[21.6.x on pyinstaller builds crash] ModuleNotFoundError: No module named 'websockets.legacy.protocol'"
**Describe the bug**
We build our server into a single macOS executable with pyinstaller.
sanic works perfectly up until version `21.3.4`
After `21.6.0` (including both `21.6.1`, `21.6.2`)

When the app is run and it's going through the `sanic` imports we get the following crash and stacktrace:
[code]

[sanic/websocket.py:13](https://github.com/sanic-org/sanic/blob/main/sanic/websocket.py#L13)

**

[2021-08-30 21:57] gubatron commented on #2227
the problem also occurs in Windows 10, python 3.8.1 when using `sanic 21.6.2`, works fine with `21.3.4`
<img width="1875" alt="Screen Shot 2021-08-30 at 3 54 17 PM" src="https://user-images.githubusercontent.com/163977/131410923-41d7492c-bcbf-4cb5-b075-ad99dbd9e3b7.png">

will most likely not work in Linux, prepping test to confirm

[2021-08-30 21:57] ahopkins commented on #2227
It is because you do not have the right version of `websockets` installed. You need to have v9.

[2021-08-30 21:57] #2227 closed

[2021-08-30 21:58] gubatron commented on #2227
will try that. Wonder if `sanic` pip requirements can specify the right version of `websockets` that it needs.

[2021-08-30 21:59] ahopkins commented on #2227
It does:

https://github.com/sanic-org/sanic/blob/current-release/setup.py#L91

---

Maybe you have some sort of pip caching issue in your env. Try installing sanic again with no cache.

[2021-08-30 22:15] gubatron commented on #2227
For whoever is reading this, @ahopkins is right, had `websockets 8.1`

[code]

However, upgrading to websockets `9.1` isn't cutting it. I've done `pip install --no-cache-dir` to clear the pip cache for both `sanic` and `websockets`

Here's a screenshot with the same stacktrace and `pip show sanic websockets`

<img width="985" alt="Screen Shot 2021-08-30 at 4 13 30 PM" src="https://user-images.gith

[2021-08-31 02:10] iduosi opened #2228 "when HTTPRequestHandler returns empty(like: {}, []), request_exception run first than costom-response-middleware"
when HTTPRequestHandler returns empty(like: {}, []), request_exception run first than costom-response-middleware

**Code snippet**
            # No middleware results
            if not response:
                # -------------------------------------------- #
                # Execute Handler
                # -------------------------------------------- #

                if handler is None:

[2021-08-31 02:15] iduosi commented on #2228
<img width="918" alt="image" src="https://user-images.githubusercontent.com/55998415/131430745-6ce06f84-9abc-42fc-9b97-bb504af5fce3.png">

[2021-08-31 02:37] iduosi commented on #2228
sanic==21.6.2
sanic-routing==0.7.1

[2021-08-31 02:52] Frankr0 commented on #2226
There may should be a message here, but the more important problem is that sanic try to process this "NONE" request, I have to add following code at beginning to respond early:
[code]
Is there any better solution here？

[code]

Log:
[code]

[2021-08-31 03:30] ahopkins commented on #2228
I don't need Sanic code posted to understand your question, I need your choice. please post a snippet of your handler and what it's returning. Is it not returning an instance of HTTPResponse?

It is not clear if you are returning

[code]

or

[code]

[2021-08-31 05:26] Tronic commented on #2226
I believe the culprit is that http.py starts a new connection in request mode, not in idle mode (mainly to initially use request timeout, not keep-alive timeout, as it would *between* requests).

[2021-08-31 05:30] ahopkins commented on #2226
I have not looked at the code as it relates to this. Are you thinking to start the loop with a flag to set state?

[2021-08-31 05:31] ahopkins commented on #2227
That does not make sense to me as `websockets` 9 introduced that `legacy` module to be able to support projects like Sanic as it changed directions. If you did raise and issue there, please ping me so I can join the conversation because something does not sounds right.

[2021-08-31 09:32] #2202 closed

[2021-09-01 05:14] #2190 closed

[2021-09-01 08:08] iduosi commented on #2228
api method handle‘s code：

`
class BUGHandleApi(HTTPMethodView):

    async def get(self, request):
        logger.debug(f"debug BUGHandleApi called-in..")

        return {}
`

middleware’s code，just like this：
`
async def debug_response_middleware(request, response):
    if not isinstance(response, HTTPResponse):
        body = {
            "resultcode": StatusCode.SUCCESS.humanize_code(),

[2021-09-01 08:57] Tronic commented on #2228
Agreed, one should be able to use middleware to process such responses into Sanic responses. The first `if response` check marked in red could instead check if there already is a response on the request, and only use the return value if there wasn't. Probably needs some other work too.

Also, I think this used to work, or worked at least for non-empty plain dicts returned from handlers that a midd

[2021-09-01 09:57] ahopkins commented on #2228
It should work for truthy values since I think the check is: `if response`. We could probably change that to a `if response is not None`. It is a one line change.

[2021-09-01 10:03] ahopkins commented on #2228
It should work for truthy values since I think the check is: `if response`. We could probably change that to a `if response is not None`. It is a one line change.

[2021-09-01 10:06] ahopkins commented on #2228
@iduosi Would you be willing to add a PR for this?

Change that one line to `if response is not None` and then add simple unit test using your example?

[2021-09-01 10:07] ahopkins commented on #2228
Just confirmed with that change both this example works and the unit tests pass.

[code]

[2021-09-01 11:41] Tronic commented on #2226
I guess one alternative would be to start in idle state, and switch to request state as soon as any data is received. This needs changes to current unit tests for request timeout, and consequently it might affect some users as well.

Alternatively, prior to raising that error, there should be a check for the actual state. And I gather that there should also be an access log entry for connections t

[2021-09-02 06:22] ahopkins commented on #2226
Between the two, the second option sounds better.

[2021-09-03 18:12] nickmoop opened #2232 "sanic_routing.exceptions.FinalizationError: Cannot finalize router more than once."
When i tried to test app (tests works for 20.x version), but i got exception:
[code]

tmp_app.py
[code]

test_bug.py
[code]

I expect all successful test (as in 20.x version).

Ubuntu 20, python 3.8, sanic 21.6.2, pytest-sanic 1.8.1

exception raises because of finalize added to listeners each time server created (each loop.run_until_complete(sanic_client(app, scheme="ws", protocol=WebSocketProtoc

[2021-09-05 05:38] ahopkins commented on #2232
What is `sanic_client`?

Basically it looks like you are trying to run the same app multiple times. Which version of sanic-testing are you using? Latest?

[2021-09-06 06:06] nickmoop commented on #2232
sanic_client is not deprecated test_client fixture of pytest-sanic lib. i use pytest-sanic (latest, 21.6.2) but not sanic-testing. yes i run same app multiple times, because i have few tests, and pytest create client for each test and each client starts its own server (execute _helper and add new finalize call)

[2021-09-06 08:33] ahopkins commented on #2232
I cannot commnt on pytest sanic since it is not an officially supported plugin and I do not know how it works. I can tell you that the behavior happens when you try running the same app multiple times since the router has already been built. So, likely you have a fixture misconfigured. The sanic-testing package handles this scenario.

Essentially, when running, the application with call `app.route

[2021-09-06 08:33] #2232 closed

[2021-09-08 03:23] jakehu opened #2233 "Can background tasks set timed tasks? Just like crontab time expression"
Can background tasks set timed tasks? Just like crontab time expression

[2021-09-09 02:26] ahopkins commented on #2233
The feature is mainly just a thin wrapper around `loop.create_task`. So, the answer is no. This does sound (however) like an interesting idea for a plugin.

[2021-09-09 07:45] jakehu commented on #2233
Ok, I see
So what should I do to keep executing in a loop? The following is the code of the reference document, but only output once
[code]

[2021-09-09 12:57] jmarcet opened #2234 "Streaming responses are not closed correctly on early exits (like a TERM)"
While handling a request with a streaming response, the eof is sent in the finally block. This usually works well but when Sanic is TERMed or INTed, those streams are never closed because Sanic tries to close them in the `server.shutdown.after` event, by that point all sockets are closed and the eof cannot be sent.

I get the behavior I expect by keeping a list of the open responses and closing th

[2021-09-09 13:32] jmarcet commented on #2234
I found the bug in Sanic's code:

https://github.com/sanic-org/sanic/blob/ef4f058a6cd809a292838ae9aa4e3fa70e323877/sanic/server/runners.py#L187

[code]

That fixes the bug.

[2021-09-09 14:00] jmarcet commented on #2234
Well, not quite so. I see the before signal is handled a few lines earlier, but that fails, see these debug logs from Sanic:

[code]

For some reason `signal server.shutdown.before`is not found.

[2021-09-09 14:06] jmarcet commented on #2234
The only way I find to avoid it is what I explain in the first message of this issue, creating my own `before_server_stop` event handler.

[2021-09-09 15:10] jmarcet commented on #2234
It might also be important to note that I'm using multiple workers when I trigger this.

[2021-09-10 06:05] jakehu commented on #2233
Or can it only be done through Python's own loop? E.g:
[code]

[2021-09-10 13:20] vltr commented on #2233
@jakehu the `create_task` method does not share the same idea of a task we have from `crontab` - it's a one shot only (as soon as the `asyncio` event loop is running). so, you either wrap it with a `while True:` or call your method again within a new task - IMO the later might not be a good idea since it can possibly create an infinite number of nested tasks within that first task, thus leaking so

[2021-09-10 14:24] ahopkins commented on #2233
This is what I would do :muscle:

[2021-09-11 18:00] prryplatypus opened #2235 "Exception handler decorator in blueprint groups"
**Is your feature request related to a problem? Please describe.**
Currently exception handlers can be attached to app and blueprint instances, but it is not possible to do the same with blueprint groups.

**Describe the solution you'd like**
Ideally it would be possible to attach an exception handler to a blueprint group via means of a decorator. If it is not possible to attach a handler to a blu

[2021-09-11 20:18] ahopkins commented on #2169
Here is my proposal:

| FLAG      | Logging level | Access logging | Reload | Workers to CPU | MOTD |
| --------- | ------------- | -------------- | ------ | -------------- | ---- |
| --debug   | DEBUG         | yes            | ^      |                | yes  |
| (DEFAULT) | INFO          | ^^             |        |                | yes  |
| --prod    | WARNING       | no             |        |

[2021-09-11 21:10] Tronic commented on #2169
Quite many modes, and a lot of differences that are not entirely obvious. The table also does not say whether tracebacks are shown on error pages (debug mode can be a security risk).

[2021-09-11 21:51] ahopkins commented on #2169
Not really.... it is three modes: debug/default/prod

--dev and --fast are more like modifiers. The goal here is to thread the line between adding functionality and not breaking anything (yet).

[code]

Yes, existing tracebacks would not change. I will update the table to reflect that

[2021-09-12 04:19] #2228 closed

[2021-09-12 19:03] #2235 closed

[2021-09-14 09:41] ahopkins commented on #2234
I pus some thought into this, and I think that the behavior is correct. Moving the graceful shutdown into `before_server_stop` (or, really, the equivalent in the server since it is the one that controls that event), creates the potential for a race condition since it would still be open to accepting connections.

Which sort of begs the question do we need to do shutdowns in two locations? Maybe.

[2021-09-14 20:22] samdbmg opened #2239 "Handlers with path variables are used even if parent route exists"
**Describe the bug**
Prior to Sanic 21, a route handler for `/foo/` would be used instead of one for `/foo/<var>/` if a request was made for `GET /foo/`, but now the second handler is called with an empty string for `<var>`.

Is this the intended behaviour - as in I should handle the case where the variable is empty instead of having a separate route? If so I'd have expected my example to throw a

[2021-09-15 04:41] ashleysommer opened #2240 "Sanic prints "auto-reload: enabled" even when auto_reload is False."
Kinda related to #2237

https://github.com/sanic-org/sanic/blob/404c5f9f9eb54f06d1f30250bc2cc840c18a0eab/sanic/app.py#L1340

[2021-09-15 04:44] ashleysommer commented on #2240
Message introduced in https://github.com/sanic-org/sanic/pull/2136

[2021-09-16 17:20] Tronic commented on #2239
@samdbmg This is probably a bug in one of the recently done router changes. I am away from my dev machine and cannot try myself, but could you check if setting `Sanic(..., strict_slashes=True)` or including/omitting the trailing slash has any effect on that?

[2021-09-16 21:03] ahopkins opened #2241 "No quiet"
[code]

This (plus a corresponding config) might be nice to have when debugging to ignore `quiet=True` on exceptions. I do not think it should be included in `--debug`.

The alternative might be to have different layers of verbosity in logging. And `-vv` would log out whenever an exception is swallowed.

[2021-09-16 23:28] ahopkins commented on #2239
This is not a bug, at least not in the current version. If anything, it was a bug that existed prior to 21.3.

When you define a route like this:

[code]

Sanic will look at that and take off the trailing slash because it is ambiguous. Therefore, when it is matching a request, it is looking for something that has only one segment in the path: `foo`. When you then hit the endpoint with a trailing s

[2021-09-16 23:28] #2239 closed

[2021-09-16 23:32] ahopkins commented on #2240
Can you provide an example?

[2021-09-17 00:01] ahopkins commented on #2239
FWIW, there is also an alternative. And, this may or may not work for you depending upon what you expected `@app.route("/foo/<var>/")` to match.

By default, this:

[code]

is interpreted as:

[code]

If you change it to a different type (for example `alpha)

[code]

Then, on the first pass through of matching `/foo/`, it will not matching because an empty string `""` is not alphabetic characters

[2021-09-17 00:24] ashleysommer commented on #2240
[code]

Always Prints:

Even though auto-reload is actually disabled.

[2021-09-17 10:47] prryplatypus opened #2242 "Blueprint exceptions are sometimes handled by other blueprint's exception handlers"
**Describe the bug**
Exceptions thrown from within one blueprint are sometimes handled by the exception handler of another, unrelated blueprint instead of by its own. I have not had time to check whether this happens all the time or only if specific conditions are met, but I have attached a code snippet with which the issue can be reproduced.

**Code snippet**
[code]

**Expected behavior**
When ac

[2021-09-17 15:49] Tronic commented on #2241
Suggesting `--noisy-exceptions` or something else that (a) uses no negation and (b) is more specific.

[2021-09-17 15:55] Tronic commented on #2239
Another example of why `strict_slashes` should always be enabled (in new projects). Maybe need to put some emphasis on that on the manual?

I personally don't ever expect web servers to do what the `strict_slashes=False` setting does. It could make sense to redirect a non-slashed request on a folder name to an URL with a trailing slash, but never to return the folder contents on an URL with a miss

[2021-09-20 13:26] sjsadowski opened #2243 "Proposal: Add CORS to Sanic Utilities"
**Is your feature request related to a problem? Please describe.**
Almost everything requires CORS headers now, and we already provide a 'HOW-TO' in the docs - I propose that we standardize this and internalize it in order to provide an easier path to adoption.

**Describe the solution you'd like**
Add a CORS utility module that can easily be referenced to add CORS headers as part of response midd

[2021-09-20 13:36] ahopkins commented on #2243
This is not something that belongs in the core repo as it breaks the philosophy of Sanic in being overly opinionated.

The response to this is the `sanic-ext` project which will be released this month. Official support to add functionality like this for API devs.

[2021-09-20 13:36] #2243 closed

[2021-09-20 14:09] ahopkins commented on #2243
Public announcement and documentation regarding this is coming.

[2021-09-20 15:46] ahopkins commented on #69
This issue has been mentioned on **Sanic Community Discussion**. There might be relevant details there:

https://community.sanicframework.org/t/externally-accessing-the-request-object/894/1

[2021-09-23 13:32] toren332 commented on #683
THANKS!!!
YOU ARE THE BEST!

[2021-09-24 09:23] samdbmg commented on #2239
Brill, cheers for the detailed explanation, and clarifying that the old behaviour was the bug, rather than the new. I'd be inclined to agree with @Tronic that the manual should probably spend a few words on the implications of `strict_slashes`/some form of the very useful explanation in https://github.com/sanic-org/sanic/issues/2239#issuecomment-921330915 - it's quite hard to find the forum post f

[2021-09-25 22:01] #2132 closed

[2021-09-27 07:22] #2186 closed

[2021-09-27 08:36] komar007 commented on #2202
@ahopkins,
sorry for not responding too.

I have tried the latest master, but it seems the test above still fails - the exception is still caught:/
Could I be doing something wrong there?

[2021-09-27 09:33] ahopkins commented on #2202
@komar007 Well, I think you found an interesting use case that is not accounted for.

In your use case above, the `handled` Blueprint has no routes attached. Therefore, when it goes to assign the exception handler it does it at the global level. If you take your example and add one new endpoint, it works as you would expect.

[code]

[code]

---

I am not 100% sure if this is even a legitimate use

[2021-09-27 09:44] komar007 commented on #2202
Thanks,

it works as expected.

The code from the OP is indeed not a sensible use case, just the simplest reproduction path.

[2021-09-27 09:56] ahopkins commented on #2202
See #2246 with a fix to this.

[2021-09-27 14:00] ahopkins commented on #2242
See #2246

[2021-09-28 22:16] gatopeich commented on #2139
From the top of my head:
[code]

[2021-09-29 10:09] #2000 closed

[2021-09-29 10:47] #2242 closed

[2021-09-29 11:08] #2240 closed

[2021-09-30 13:51] cnicodeme opened #2249 "KEEP_ALIVE_TIMEOUT causing the changes in server (mode debug) to be delayed?"
**Describe the bug**
When running Sanic with the following options:

`app.run(auto_reload=True, debug=True)`

If I make any changes to my code and refresh, the new code is not taken into consideration. I need to wait a few seconds, and I'll see the following message in the console:

Reading the [documentation](https://sanicframework.org/en/guide/deployment/configuration.html#keep-alive-timeout), s

[2021-09-30 14:35] Tronic commented on #2249
I gather it does a graceful restart and does not terminate your existing connection until when they timeout. IIRC, the code is supposed to immediately disconnect *idle* connections, so this should not be an issue. Needs investigation.

[2021-09-30 14:40] ahopkins commented on #2249
Can you provide a reproducible example? What error are you talking about?

[2021-09-30 19:47] cnicodeme commented on #2249
I can provide a reproducible example, but probably not until Monday, so don't be surprised if I don't post anything until then :)

[2021-10-01 12:39] cnicodeme commented on #2249
Ok I got some time!

The following code causes the issue:

[code]

Here's the logs in the console:

My details are:

 * OS: Fedora 32 (I said 24 in my original post but it was a mistake)
 * Version: 21.6.2
 * Python: 3.8.10
 * Chrome: 92.0.4515.159 64bits

If you need any other details, let me know :)

[2021-10-01 12:46] cnicodeme commented on #2249
If that can help, I also noticed that if I stop the server and then wait, a few seconds later (event though the server is fully stopped with a ctrl+c multiple times), I get the following error:

(But I forgot an await at some place, so it might not be related).

[2021-10-01 13:29] Lagicrus opened #2250 "21.9.0 Breaks Sentry Integration"
**Describe the bug**
With the new update and rewrite of some of the internals of Sentry, it has broken the [Sentry](https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/integrations/sanic.py) Integration

**Code snippet**
https://starb.in/n2Q1Y5.py
<details><summary>Tracelog</summary>

[code]

</details>

**Expected behaviour**
It not to break logging

**Environment (please complete t

[2021-10-01 13:31] ahopkins commented on #2250
Per conversation on Discord, I will get a patch out tomorrow night. Thanks @Lagicrus.

[2021-10-01 16:13] Tronic commented on #2249
I am unable to reproduce this either with Sanic 21.6.2 or with current development version, using Chrome as client and hitting Ctrl-R to reload. Sanic restarts as soon as I hit Ctrl+S in my editor and immediately after that reloading in browser brings the new content.

The backtrace, however, should be useful in triaging this. There clearly is a handler stuck in waiting for request.

Could you try

[2021-10-01 16:51] aericson opened #2252 "Blueprints not handling errors on 21.9.0"
**Describe the bug**
Error handler on the blueprint is no longer working with 21.9.0. Worked fine on 21.6.2

**Code snippet**
I've created a reproducible simplified version on the repo here: https://github.com/aericson/sanic-blueprint-error-demo
You should be able to see the error on the Github Action here: https://github.com/aericson/sanic-blueprint-error-demo/actions/runs/1295855511

server:
[co

[2021-10-01 16:53] prryplatypus commented on #2252
Does registering the error handler AFTER the routes work?

[2021-10-01 17:10] aericson commented on #2252
I see, thanks for the quick reply @prryplatypus!

We are currently just using blueprints for error handling. I guess our options would then be to either drop blueprints and attach handlers to the app or move the routing to the blueprints entirely.

A bit unfortunately but at least it's clear where our problem is at now. Thank you!

[2021-10-02 01:13] #2131 closed

[2021-10-02 18:03] sjsadowski opened #2253 "Installing sanic with pdm (ujson 4.2.0)"
**Describe the bug**
Due to a problem with the ujson 4.2.0 wheel and an upstream issue with installer 0.2.3, pdm will fail to add Sanic to a project. This does not affect other package managers

**Expected behavior**
pdm should install sanic

**Environment (please complete the following information):**
 - OS: fedora
 - Version: 34
 - OS: ubuntu
 -  Version: 20

**Additional context**
This is an is

[2021-10-02 18:16] ahopkins commented on #2253
Interesting. I feel like I've gotten it working, but I guess it was an earlier version. I don't use it on any daily projects right now.

[2021-10-02 18:52] fredlllll opened #2255 "log a warning or error when adding something to blueprint after adding it to application"
**Is your feature request related to a problem? Please describe.**
when i add a blueprint to the sanic app, and then add routes to it, those routes dont work. i have to add the blueprint to the app after adding routes. but there is no indication that im doing something wrong if i do it the wrong way

**Describe the solution you'd like**
log a warning or error message telling the programmer that th

[2021-10-02 19:00] ahopkins commented on #2255
:100:

This should be the case for any Blueprint addition (routes, listeners, middleware, exception handlers, signals).

[2021-10-02 19:54] ahopkins opened #2258 "ErrorHandler.lookup signature change"
The `ErrorHandler.lookup` now **requires** two positional arguments:

[code]

A non-conforming method will cause Blueprint-specific exception handlers to not properly attach.

---

Related to #2250

[2021-10-02 20:55] sjsadowski commented on #2253
@ahopkins ujson just version bumped last week, and as noted the previous version worked just fine. It looks like 4.2.0 has changed the wheel build process some. I thought about opening an issue with ujson, but in reality if the package installs with pip, there's no reason to think it shouldn't install in the case of an empty directory in the wheel (which is what's happening). Plus side is that the

[2021-10-02 22:02] #2258 closed

[2021-10-02 23:31] prryplatypus commented on #2255
I might give this one a try tomorrow or on Monday

[2021-10-03 09:08] Tronic commented on #2255
Or better yet, make the blueprint changes work even after added to an app, if doing so is feasible.

[2021-10-03 09:43] ahopkins commented on #2255
This could be a bit messy, and I believe would require a bit of a refactor from how the decorators work. I think it also breaks the principle of what the Blueprint is, but perhaps could be doable with something like this:

[code]

If we are going this direction, then we need to definitely beef up the unit testing around this, and probably make all of these methods (route, static, middleware, excep

[2021-10-03 12:58] ahopkins commented on #2255
@prryplatypus I am going to take this one myself. I hope you do not mind.

[2021-10-03 13:33] prryplatypus commented on #2255
All good!

[2021-10-03 13:54] ahopkins commented on #2222
Implemented in #2244

[2021-10-03 13:54] #2222 closed

[2021-10-03 13:55] ahopkins commented on #2220
This is no longer the case after 21.9 release. However, we would like to implement a catchable `WebsocketClosed` exception for the websocket handler.

[2021-10-03 13:55] #2220 closed

[2021-10-03 13:58] ahopkins opened #2261 "Implement catchable WebsocketClosed"
See #2220

In v21.9, a new `WebsocketClosed` exception was added.

While you can to do the following:

[code]

We would like to add support for this pattern:

[code]

[2021-10-03 14:00] ahopkins commented on #2189
Resolved in #2231

[2021-10-03 14:00] #2189 closed

[2021-10-03 14:00] ahopkins commented on #2185
I am curious to know if this is still the case with 21.9

[2021-10-03 14:01] ahopkins commented on #2175
Is this still a thing?

[2021-10-03 14:04] #2092 closed

[2021-10-03 14:09] ahopkins commented on #1873
Unless someone can prove to me this is faster, I am inclined to close this one.

[2021-10-03 14:14] ahopkins commented on #1479
I have not looked at this lately, but I believe that because ujson and orjson return different types (str v bytes), this is the cause of the performance difference. I am closing this because I am not currently aware of a compelling reason to change the default. Willing for anyone to convince me otherwise.

[2021-10-03 14:14] #1479 closed

[2021-10-03 14:23] prryplatypus commented on #2166
Hello!

Regarding point 2, there is currently useful usecases to register exceptions like `NotFound` at a BP level. For example, you may have an API blueprint where you want all responses to be returned as JSON; but want them to be returned as HTML everywhere else.

I believe currently it is possible to do this and, if I understand correctly, point 2 would remove the ability to do so.

[2021-10-03 14:25] ahopkins commented on #2166
I guess it could work if you _manually_ raised `NotFound`. But if the route does not exist, there is no way for Sanic to know which blueprint (and therefore which handler) to apply.

[2021-10-03 14:33] prryplatypus commented on #2166
What if the blueprint has a URL prefix? I'd expect the blueprint error handler to try handling any errors within that URL prefix, if no child handles them before. 🤔

[2021-10-03 15:01] ahopkins commented on #2166
That is not likely something we will introduce since it would require adding default routes to blueprint handlers as catch-all. Which would and could have some bizarre unintended (and difficult to debug) consequences.

Since `NotFound` could be raised manually in legit use cases, maybe we need to identify some (like this and `NoMethod`) that should raise a warning on BP registration.

[2021-10-03 16:39] prryplatypus commented on #2241
I was thinking about making it such that we could have different levels of verbosity across the whole app by using different amounts of `v`s (`-vvv` > `-vv` > `-v`), but `-v` is already in use to check the module version, so I think I'll go for `--noisy-exceptions` 🙂

[2021-10-03 17:07] ahopkins commented on #2241
Verbosity levels is something I want to add.

[2021-10-03 17:47] prryplatypus opened #2263 "Required pytest version is broken on Python 3.10"
**Describe the bug**
The current version of `pytest` required by Sanic (5.2.1) is incompatible with Python 3.10 and throws an exception when running tests.

**Expected behavior**
Tests run on Python 3.10.

**Additional context**
A fix was released with `pytest` version `6.2.4`. See pytest's related issue: https://github.com/pytest-dev/pytest/issues/8539.

[2021-10-03 20:03] robd003 opened #2265 "Releases removed from right side bar on GitHub"
For some reason the "Releases" section isn't showing up on the right side bar on GitHub. At the moment if you want to view releases you have to click on Tags and then select releases. Why was this removed?

Here's a quick link for those who can't find it: https://github.com/sanic-org/sanic/releases

[2021-10-03 20:18] ahopkins commented on #2265
I removed it because GH is showing 20.12 as the "latest" release. I'd rather show none than to confuse until we can get another commit and release.

[2021-10-03 20:18] #2265 closed

[2021-10-03 23:51] ashleysommer commented on #2261
@ahopkins  I think there might've been some miscommunication around what the WebsocketClosed exception is for.

In #2248, WebsocketsClosed exception was added as a replacement for throwing `sanic.ServerError` exceptions if a user tries to read or write to a websocket connection that is closed or is closing. This also prevented the KeepAlive-ping background task from emitting a ServerError needless

[2021-10-04 06:27] Tronic commented on #2261
@ashleysommer What is the distinction between WebsocketClosed and WebsocketCancelled from an app developer standpoint? Looks like it is all down to random chance of socket closing timing. Using any sort of CancelledError for a loss of connection seems overkill, and I would prefer reserving those to timeouts and non-graceful exit.

[2021-10-04 06:39] ahopkins commented on #2261
The other thing about `CancelledError` that would be nice to avoid (if possible) is that it trips a lot of people up when they think they can catch it with `Exception`.

[2021-10-04 08:43] cnicodeme commented on #2249
I just tested with Python3.9, and it seems even worse. Now, a basic DB loading that was returned in less than 25ms previously, takes a few seconds to complete.

If I refresh a basic "text('ok')" response, then change the response and hit refresh again, the changes are not visible (still shows "ok").

After a few seconds, Sanic restarts, and then I can see the changes.

If I do that again, but befo

[2021-10-04 08:46] cnicodeme commented on #2249
Note that as soon as I hit "ctrl+s" on my editor, Sanic server shows the following :

[code]

But hitting refresh does not changes anything.

Then, a few seconds later, the server shows the following :

[code]

It seems to fully and completely restart, but after that same delay ...

[2021-10-04 11:45] cnicodeme commented on #2249
Some updates on the issue: I had a hint and tested something:

If I send a request using Python `requests` package, the changes are immediate!

It seems to be something related to Chrome. The current version is **Version 92.0.4515.159 (official build) (64 bits)**

Here are the headers sent to the server:

[code]

Adding these in the headers of the Python `requests` doesn't cause the issue: the cha

[2021-10-04 11:47] ahopkins commented on #2249
How long is the delay?

[2021-10-04 11:56] Tronic commented on #2249
@cnicodeme Chrome keeps using the same connection for new requests, I think even when you refresh the page it still uses the same HTTP connection (i.e. keep-alive). Sanic is supposed to immediately disconnect all idle connections on server reload, but that does not appear to be working for you.

[2021-10-04 11:57] cnicodeme commented on #2249
About 8 seconds

[2021-10-04 12:03] sjsadowski commented on #2263
PEP 619 has the target date for 3.10 is 2021-10-04 (Today) so I imagine we should fix this in 21.9.X as well as for the LTS

[2021-10-04 12:15] ahopkins commented on #2263
Release is @ 17:00 UTC

After that, we will get #2257 running with whatever needed changes, and then a bump in supported versions as @sjsadowski mentioned.

[2021-10-04 12:18] sjsadowski commented on #2263
@ahopkins quick note the GH runner seems to be interpreting "3.10" as "3.1" per the test failure here: https://github.com/sanic-org/sanic/pull/2257/checks?check_run_id=3777968217

[2021-10-04 12:20] ahopkins commented on #2263
I know. I saw that. I believe it should be using `310-rc`. But, did not dig into it further since the release is imminent and I imagine the regular release version is not far behind.

[2021-10-04 12:26] ahopkins commented on #2249
We raise `KeyboardInterrupt`, which dispatches `SIGTERM` not `SIGKILL`. Not sure why you say it is "supposed to immediately disconnect all idle connections" since that is not what it is designed to do.

[2021-10-04 12:41] Tronic commented on #2249
Graceful restarts should immediately disconnect idle connections and wait for ongoing requests to finish. Maybe I only implemented this in one of my own branches and it never made to Sanic mainline, but that is how you really want to do graceful restarts to avoid old version staying around for any extended period of time.

Obviously SIGKILL would be a non-graceful way to terminate it, not somethin

[2021-10-04 19:34] autumnjolitz opened #2266 "A way to globally set `ignore_body` to False/True"
I'm in the process of upgrading our API to a recent Sanic from 19.x.y version. The clients are not just a browser but API-driven ones like `requests` et al. Which means helper routes like sending a `DELETE /path\r\n\r\n{"json": "body"}` exist. I'm finding I have to annotate **every single** `.delete` route with `, ignore_body=False`

Is there a way to set this globally?

[2021-10-04 21:31] autumnjolitz commented on #2266
I've used the following command to simplify annotating every. single. route:
[code]

[2021-10-04 22:58] ashleysommer commented on #2261
The difference as I see it: `WebsocketClosed` is an error. It is triggered by trying to do something you cannot do. Writing to a closed socket is not possible, so your action raises that error. Like dividing by zero.

On the other hand, `CancelledError` is an asyncio exception that can act like it signal, it gets thrown into the handler when we want to notify the handler the connection is going do

[2021-10-04 23:22] ahopkins commented on #2266
You could do it in Middleware

[code]

[2021-10-05 10:42] aericson commented on #2250
The PR mentioned this was fixed on 21.9.1 but I still get it on 21.9.1. Same stack trace as before.

[2021-10-05 13:32] ahopkins commented on #2250
This is not the experience I am having. Can you show me how you are integrating? What version of the SDK are you using? This issues is outside of the scope of normal support for Sanic.

Here is a testable case that does pretty much the same thing that Sentry does.

[code]

[2021-10-05 13:35] ahopkins commented on #2250
Are you seeing:
[code]

This is outside the typical support domain for Sanic since it is a plugin. What version of the SDK are you using?

[2021-10-05 13:45] ahopkins commented on #2250
FWIW .... I am able to populate Sentry even on 21.9.0
![image](https://user-images.githubusercontent.com/166269/136035321-7cab268d-b5f6-4771-904c-db255b9bbfae.png)

[2021-10-05 14:35] aericson commented on #2250
@ahopkins thanks! Yea, we are seeing the deprecation warning with sentry `sentry-sdk==1.4.3`.

I'll try to take a deeper look into it see if I can find the problem. I understand that it's outside the typical support domain, thanks for the help.

[2021-10-05 14:50] ahopkins commented on #2250
@aericson FYI, there is also a conversation in the Discord server right now about this if you want to join in.

[2021-10-05 20:13] Tronic commented on #2249
Problem reproduced.

1. Make a TCP connection to the server but do not send anything yet
2. Trigger server reload (touch source code with autoreload)
3. Wait up to request timeout (I think) to make a request, that then gets served by the old Sanic instance
4. The server actually restarts only after serving that first request, or once either REQUEST_TIMEOUT or GRACEFUL_SHUTDOWN_TIMEOUT expires with

[2021-10-05 23:06] ashleysommer commented on #2249
Hi @cnicodeme
I noticed your original post mentions you're using Sanic 21.6.2.
Can you try it on 21.9.1? Is there any difference between the two?
There was a minor fix in this area in https://github.com/sanic-org/sanic/pull/2231, but may not be related to this issue.

[2021-10-05 23:09] ashleysommer commented on #2249
@sanic-org/core-devs
I think it'd a good idea to set `GRACEFUL_SHUTDOWN_TIMEOUT` to `1` by default when using debug-mode or auto-reload, unless specifically set otherwise by the user. Does that sound reasonable?

[2021-10-05 23:45] Tronic commented on #2249
@ashleysommer I did my tests on the main branch, so it is still affected.

Setting the timeout is only a workaround, the problem needs to be fixed. In normal circumstances this should not be an issue. I have a PR coming, but need to figure out what to do about those failing tests first. The test clients that we have are completely unusable for testing request timeouts, and cannot be easily fixed (

[2021-10-05 23:59] Tronic opened #2267 "app.stop() does not run tasks to completion"
Stopping the app instantly drops all existing tasks, meaning that try-finally sections, context manager exits etc. do not get executed. This is bad. Tasks should get cancelled and then run to completion prior to stopping the loop.

I suppose one should use `loop.run_until_completion()` if doing such manual management of asyncio loops. The modern way of course is to remove the explicit loop passing

[2021-10-06 05:30] ahopkins commented on #2249
@Tronic I am not sure that all this breaking change is warranted. If my understanding is correct, we are talking about a very narrow scope issue in debug mode. What is the problem with the 1s workaround? Not ideal? Fine. But that is far better than breaking production apps for no good reason.

[2021-10-06 05:47] ashleysommer commented on #2249
@ahopkins After looking through PR #2268 it seems to me its not really a breaking change.
Yes, it breaks tests inside Sanic, but I don't see how the change would affect user's apps.

[2021-10-06 06:00] ashleysommer commented on #2249
@Tronic  I'm not sure that what you've reproduced is the same error as what @cnicodeme is seeing.
The error you are seeing only occurs if the client opens a connection, but does not send any data, then Sanic exits. And due to the the logic of the keepalive loop, your error only occurs on the first request, not any subsequent requests (because IDLE state is set correctly on those).

@cnicodeme is t

[2021-10-06 11:09] Tronic commented on #2249
It is not hard to imagine that Chrome under some circumstances would immediately make two connections to the same server and then find out that there is only one resource to load, which leaves the other connection initially idle. I could not reproduce it in my Chrome but perhaps it is available on some platform or by tweaking chrome://flags or reproducing it may fail because of random factors (suc

[2021-10-06 12:08] Tronic commented on #2249
@ahopkins Changing GRACEFUL TIMEOUT in debug mode brings more problems than it fixes. Frequent cancellation of handlers that just need about a second to process their stuff, etc. Also any differences in behaviour between debug and production should be avoided.

The bug itself affects production as well, especially on busy sites where one minute of all requests failing on server restart might actua

[2021-10-06 13:51] ahopkins commented on #2267
There has been discussion (on my phone will look later) about adding more task tracking and providing a similar graceful shutdown experience after connection task shutdown.

[2021-10-07 08:33] ahopkins commented on #2250
That is true. Overriding `Sanic.handle_request` is a problem, but I think it might be dependent upon _WHEN_ you do it. Going to play around with this a little more myself.

[2021-10-08 00:57] sjsadowski commented on #2253
Issue should be resolved this weekend: https://github.com/pradyunsg/installer/issues/78

[2021-10-15 05:59] Tronic opened #2271 "Nothing gets logged on failed SSL connection"
Even in debug mode nothing at all appears on log when the TLS handshake fails. Connections with no request are only logged if they finish the TLS handshake and then request nothing.

[2021-10-15 08:02] cnicodeme opened #2272 "`websocket_handshake` invalid function signature"
**Describe the bug**
The function `websocket_handshake` located in sanic.server.protocols.websocket_protocol has an invalid signature in Sanic 21.9.2 (at least)

**Code snippet**
Current code is:

[code]

**Expected behavior**
Code should be:

[code]

=> Typing should be set with ":", not "=" ;)

**Environment (please complete the following information):**
 - Version 21.9.2

[2021-10-15 08:04] ahopkins commented on #2272
@cnicodeme Can you add a PR for this, and I can get a patch released this weekend.

[2021-10-15 08:15] cnicodeme commented on #2272
Let me know if that works :)

[2021-10-15 10:11] cnicodeme commented on #2272
You are welcome! That was an easy one to fix ;)

(But I don't know why it refuses my PR, maybe some wrong code formatting)

[2021-10-16 18:54] Tronic opened #2275 "Bad error message on connection made with no request"
If a connection is made and the client disconnects without saying anything (which apparently is normal behaviour with browsers), Sanic logs this:

[code]

The error message is very confusing because Sanic was not actually about to write a response when no request was even received. If a log message is printed, it should be correct text, and probably only on `debug` level. Also, the event should ap

[2021-10-17 04:36] SaidBySolo opened #2276 "``FALLBACK_ERROR_FORMAT`` cannot be set even when the ``update_config`` function is called because the ``ErrorHandler`` object receives the default value of the config and is initialized."
**Describe the bug**

https://github.com/sanic-org/sanic/blob/3262878ebd41aa2230ef15d4475bbcf223b2356b/sanic/app.py#L139-L184

Referring to the code above, since the config is set when the Sanic object is initialized, you cannot pass a fallback value to the ErrorHandler even if you set ``config.update_config`` or ``app.config.FALLBACK_ERROR_FORMAT = "json"``.

To solve this, you can pass the confi

[2021-10-19 10:59] prryplatypus commented on #2276
Seems to have been introduced in #2162

[2021-10-19 11:43] filsek opened #2278 "When providing status code as str to abort --> has_message_body throws TypeError"
**Describe the bug**
Despite the description of `abort`, when we provide the status code as string `has_message_body` throws TypeError

**Code snippet**
`abort("400", "some_stuff")`

**Expected behavior**
Since abort description allows `Any` type,  either docstring needs to be changed or the behavior of the `has_message_body` function

**Environment (please complete the following information):**

[2021-10-19 21:34] tylersalminen opened #2280 "Sec-WebSocket-Extensions: permessage-deflate"
**Is your feature request related to a problem? Please describe.**
I pulled in 21.9 and started testing out the new websockets implementation. Maybe I am missing something but it seems that permessage-deflate is still not implemented in any form for websockets. Is this a feature that would be added in the future? I am trying to extend the usage of websockets in my application by providing an async

[2021-10-20 13:24] tylersalminen opened #2281 "Can no longer async stream fragmented message through 21.9 websockets"
In the legacy Webscokets implementation you could async stream a fragmented response through the websocket using an AsyncIterator. This seems to not be supported anymore in the 21.9 sanic implementation of websockets as the websocket.send() now only accepts str or bytes. Iterables seem to have a not implemented placeholder in the source (sanic.server.websockets.impl.WebsocketImplProtocol.send()).

[2021-10-20 15:35] ahopkins commented on #2281
Can you provide a sample snippet?

[2021-10-21 12:29] jekel commented on #2261
I'm also expecting new exception like WebsocketClosed, otherwise it is impossible determine reason of closed connection.

[2021-10-21 17:38] AndreasPantle opened #2282 "Blueprint and NotFound Exception"
I'm currently new to work with Sanic. But maybe I assume that it should be someone to check...: I have some Blueprints (this is only a draft - makes not so much sense):

[code]

[code]

[code]

Now the both exceptions which will be raised at the `get_outputs` and `get_inputs` functions are working perfectly.

But now I assumed that the both `NotFound` exceptions should be throwed if I try to conne

[2021-10-22 14:08] seibushin opened #2283 "Memory leak serving static files"
**Describe the bug**
The memory of the process is increasing for everytime I request a static file.

**Code snippet**
[code]
Access a static file. The bigger the file the more memory will be tied up.
http://localhost:8000/static/index.html

**Expected behavior**
Memory should be cleared up after serving a static file or at least not linearly increase with each request.

**Environment (please compl

[2021-10-24 12:16] Tronic opened #2284 "Goin' Fast URL IPv6 address is not bracketed"
Sanic says:
[code]

The correct formatting for IPv6 would be:
[code]

Fixing the Goin' fast banner in `sanic/app.py` would be an easy enough task for someone wishing to start hacking Sanic. Existing code from `sanic/models/server_types.py` class `ConnInfo` could be useful, as there already is handling for adding brackets to IPv6 addresses.

[2021-10-24 16:14] #2284 closed, assigned to nobody

[2021-10-25 07:15] prryplatypus opened #2288 "`no-ext` tests pass even when they have errors"
**Describe the bug**
GH actions tests which use `no-ext` Python versions always pass, regardless of whether they have errors or not.

**Expected behavior**
Tests only pass if they do not have any errors. Otherwise they should fail.

**Additional context**
This has been observed in GitHub actions. Unsure of whether this is an issue with their config or not. Haven't tried reproducing locally.

[2021-10-25 07:25] elisaday opened #2289 "Exception when stopping the server."
**Describe the bug**
After using the browser like Chrome to access the API, and then stop the server, it will block and wait for a moment, and an exception will occur. 100% reproduction.
[code]

**Code snippet**
[code]

**Expected behavior**
The server should exit gracefully.

**Environment (please complete the following information):**
 - OS: MacOS 10.15.7
 - Version: sanic-21.9.1

[2021-10-27 08:55] #2288 closed, assigned to nobody

[2021-10-28 18:46] sjsadowski opened #2293 "Remove loop parameter where necessary because it is deprecated in 3.10"
**Is your feature request related to a problem? Please describe.**
Problem: loop parameter deprecated in 3.10, preventing Sanic from running

**Describe the solution you'd like**
Do not pass the loop when unnecessary

**Additional context**
This is follow-up work from #2257 where the 3.10 tests are correctly failing because of the above

[2021-10-29 14:51] #2293 closed, assigned to sjsadowski

[2021-11-01 19:22] prryplatypus commented on #2233
If we are to implement it in Sanic, this could be a good starting point: https://github.com/Rapptz/discord.py/blob/master/discord/ext/tasks/__init__.py

[2021-11-03 06:48] Baloneo opened #2296 "Concurrent access exception (sqlalchemy asyncio)"
**Describe the bug**

[code]
## To Reproduce
Follow the tutorial: https://sanicframework.org/en/guide/how-to/orm.html#sqlalchemy

same code
[code]
using wrk, https://github.com/wg/wrk

[code]

### Versions

- OS:Linuxmint 20.2 uma
- Python:3.8
- SQLAlchemy:1.4.26
- Database:MySQL8.0
- DBAPI (eg: psycopg, cx_oracle, mysqlclient):aiomysql

### Additional context

_No response_

[2021-11-03 12:17] sjsadowski commented on #2296
The initial exception is cut off providing an incomplete stack trace. Can you please provide the complete traceback and a broader overview of your code?

[2021-11-03 12:40] Baloneo commented on #2296
main.py
[code]

run:
[code]

wrk
[code]

log
[code]

[2021-11-03 13:25] sjsadowski commented on #2296
So the entirity of the issue is within sqlalchemy, but it looks like the trigger is that the task is getting cancelled, and the last state is committed. The sanic issues are chained from that, but the primary problems are on the sqlalchemy side.

[2021-11-03 13:26] #2296 closed

[2021-11-04 12:20] kamilogorek commented on #2250
I can confirm that our tests started to fail after `21.9.0` upgrade - https://github.com/getsentry/sentry-python/runs/3767107401?check_suite_focus=true

Local stacktrace for one of the failures:

[code]

It looks like for some reason handler is not able to resolve local imports (note I'm not writing in python on daily basis, just debugging it in my spare time, so I might not know what I'm saying :

[2021-11-04 21:50] ahopkins opened #2297 "http.lifecycle.response should be dispatched in exception handler"
Currently the `http.lifecycle.response` is only dispatched from `handle_request`. It also should be dispatched from `handle_exception`.

[2021-11-04 23:09] ahopkins commented on #2250
@Lagicrus @aericson @kamilogorek

Checkout the conversation in: https://github.com/getsentry/sentry-python/issues/1240
And, the updated PR: https://github.com/getsentry/sentry-python/pull/1212

[2021-11-05 00:46] #2263 closed

[2021-11-05 00:53] risicle opened #2298 "`test_no_exceptions_when_cancel_pending_request` failing on macos"
**Describe the bug**
Sanic 21.9.1 on macos 10.15 & python 3.8.12, `test_no_exceptions_when_cancel_pending_request` fails with a familiar:

[code]

which is very reminiscent of #1774. Would be interested to know if you can reproduce this. (I _would_ just look at your CI but it doesn't seem you run CI against macos)

[2021-11-05 08:09] jakehu commented on #2233
This is really a good idea

[2021-11-05 08:13] ahopkins commented on #2233
It feels more like something we should add to `sanic-ext`.

[2021-11-05 08:16] ahopkins commented on #2233
Honestly, it is partially something I have been kicking around in my head for a long time as its own full blown project. But, there is probably a simpler implementation we could achieve first.

[2021-11-05 09:53] OuIChien commented on #921
When you instantiate a Sanic instance, that can be retrieved at a later time from the Sanic app registry. This can be useful, for example, if you need to access your Sanic instance from a location where it is not otherwise accessible.

Here you go:
`# ./path/to/server.py
from sanic import Sanic

app = Sanic("my_awesome_server")

# ./path/to/somewhere_else.py
from sanic import Sanic

app = Sanic.ge

[2021-11-06 11:05] ysfchn opened #2300 "Labeling / tagging routes"
**Is your feature request related to a problem? Please describe.**
Some of my routes requires authentication and some of them don't (such as home page). I'm currently using a middleware and hard-code URLs that requires authentication, however it would be better to have a property on routes when registering them.

[code]

**Describe the solution you'd like**
It can be much easier (and may look clea

[2021-11-06 14:21] Tronic commented on #2300
The routing decorators need no more parameters, that gets convoluted quite quickly. Instead I would recommend stacking more decorators. Something like:

[code]

Problems:
1. it might depend on the order of decorators (if some of them do not return the same object back but create another)
2. I do not know off hand how to access the handler object in the middleware context (possibly it is easy, chec

[2021-11-06 17:56] ahopkins commented on #2300
I'm not sure I agree. Labels/tags seem like they could be helpful. Generally in the past I've used blueprints for this. And then nested then with groups. The problem that solution provides is that you are limited by hierarchical structures and it makes something difficult to belong in multiple groups.

A primary goal of Sanic is flexibility, and the Middleware pattern is legit. This feature helps

[2021-11-06 18:13] ysfchn commented on #2300
Oh, I only knew request objects has `ctx` but I didn't know routes has `ctx` too. Thanks, this is even better than tags! I haven't seen that in docs (or I missed it - sorry).

So, to make it clear, I need to create a new decorator, then set `ctx` on routes.

[2021-11-06 20:12] ahopkins commented on #2300
This probably is an undocumented feature. :grimacing: In which case I am sorry. It exists mainly for the benefit of plugin developers, and I think it is the _only_ instance where Sanic actually injects data into one of these objects.

It would be nice if that were the case, but I am not so sure it would be that easy. I think you would need to do something a little more "hands on". You could do som

[2021-11-06 21:51] ysfchn commented on #2300
No problem, at least I learned about the feature. 😄

Yeah, this is much cleaner and simpler than making a decorator. However, until then, I will use the decorator, thanks for help!

[2021-11-07 01:47] Tronic commented on #2300
I might prefer something like `ctx_labels=["apple"], ctx_foo=123` instead of using dict for that, first for better syntax and secondly because ctx attributes are not dict keys. But such hackery with kwargs' names is a little evil too.

[2021-11-07 06:11] ahopkins commented on #2300
I also thought about maybe making it a callable that extends the object. But I think that makes it more Complicated rather than less. The prefixed arguments is not terrible. It's biggest flaw IMO is that it's not immediately obvious by inspecting the signature.

[2021-11-07 06:19] ahopkins commented on #2298
🤔 We did. I'll have to double check that why it's happening. Any time this has come up its usually been the case of nested funcs. But MacOS is not the only platform incapable of handling that do it should happen elsewhere as well.

Thanks for bringing this up. Will look into it.

[2021-11-07 06:48] ahopkins opened #2301 "Task naming"
The `app.add_task` API does not allow support for passing a `name` variable to `loop.create_task`.

[2021-11-07 11:29] Tronic commented on #2300
@ahopkins See my comment on the PR, if the argument on the route decorator is named `ctx_kwargs`, then it suddenly becomes a lot more obvious, or at least discoverable :)

[2021-11-07 12:37] ahopkins opened #2303 "Remove usage of ctx in routing"
## TLDR

Remove all Sanic reliance upon `ctx` values in the `routing` module.

## Rationale

There are several locations throughout Sanic where the developer is provided with a `ctx` object to inject arbitrary values. The two most visible locations are [`Sanic.ctx`](https://sanicframework.org/en/guide/basics/app.html#application-context) and [`Request.ctx`](https://sanicframework.org/en/guide/basi

[2021-11-07 19:39] #2169 closed

[2021-11-08 03:39] robd003 commented on #2283
@ahopkins is there anything we can do to better record what's going on with the memory leak?

[2021-11-08 06:23] ahopkins commented on #2283
@robd003 @seibushin Which loop are you using? `asyncio`, `uvloop`, `trio`?

[2021-11-08 06:45] robd003 commented on #2283
I'm using uvloop

[2021-11-08 06:53] ahopkins commented on #2283
Thanks @robd003 I am investigating now. I have been able to reproduce it.

[2021-11-08 07:14] ahopkins commented on #2283
@Cayke How about you? What is general file size? Over what time period does this occur? About how much traffic are you seeing?

[2021-11-12 00:52] khogeland commented on #2206
@ahopkins Why is this not allowed? I would expect the obvious and simple thing to work, i.e. the route `/<name>.txt` means match `^/(?<name>.*)\.txt$`. Forcing the entire path segment to be in brackets seems like an unnecessary restriction.

[2021-11-12 10:46] prryplatypus commented on #2276
@ahopkins, how would you like to fix this one? I guess the simplest way would be to just do this, but that could lead to inconsistent behaviour depending on the initialisation config value (which is what's causing this issue in the first place). https://github.com/sanic-org/sanic/blob/392a4973663631d011bd147a97347fb442d5a532/sanic/errorpages.py#L386-L394

[code]

[2021-11-12 15:11] sjsadowski commented on #2206
@khogeland could you open a new issue or bring the discussion to the forums or discord? Thanks.

[2021-11-13 19:21] ahopkins commented on #2276
Yeah, there is a very delicate balance in that function to finding the right format. I am not sure that I would want to add that layer there. It really should be set on the error_handler object like in your suggestion.

TBH,  we really need to be hikacking the setter. Which, admittedly is something we do only some of the time. This can lead to inconsistencies and is something we should probably ad

[2021-11-16 02:28] pmgexpo17 commented on #374
Posting this solution (tested .. it works) for anyone who has issues serving simple static files
My project is for websocket comms between a browser and embedded server
For non-socketio apps just remove the related lines
`
import os
import socketio
from sanic import Sanic

currDir = os.path.dirname(os.path.realpath(__file__))
app = Sanic(__name__)
app.static("/",f"{currDir}/public/index.html")
sio

[2021-11-16 08:08] ahopkins commented on #374
If you are _only_ serving static files:

[code]

[2021-11-16 10:11] zillionare opened #2312 "multiprocessing error when runs on macos big sur"
**Describe the bug**

when sanic starts with multiple session, it crashes as :

[code]

**Code snippet**
    app.run(
        host="0.0.0.0",
        port=port,
        workers=sessions,
        register_sys_signals=True,
        protocol=WebSocketProtocol,
    )

**Expected behavior**
No exception, no crash

**Environment (please complete the following information):**
 - OS: macos big sur, apple

[2021-11-16 11:07] #2276 closed

[2021-11-16 11:12] ahopkins commented on #2312
I admittedly only took about 30s to look at that SO thread. It seems like the suggestions is to use `spawn` over `fork`, which we cannot do. If this is an OS limitation, then it unfortunately means that we may have another OS on which we cannot support multiple workers since we rely upon `multiprocessing`.

[2021-11-16 11:51] ahopkins commented on #2312
To tack on to this... adding support to run in `spawn` mode is something I have explored, and is something that has been talked about a lot. It is of course potentially a pretty big breaking change that we need to monitor the impacts from closely. However, I do suspect this is something we will finally try to achieve in 2022. But, it is highly OS specific because of how different OS handle multipr

[2021-11-16 15:17] ahopkins commented on #2250
The fix for this in sentry is merged.

[2021-11-16 15:17] #2250 closed

[2021-11-16 15:27] Tronic commented on #2312
Really need to reimplement the server startup so that it can work without forking. IIRC, it involves two main milestones:
- Restructure things so that you can start new processes that then know that they are workers (not sure if mp-spawn is the way to go here)
- In the master convert the socket fds for passing to worker processes and then somehow send them over. This is of course done completely d

[2021-11-16 15:29] Tronic commented on #2312
If that can be implemented, I don't think we need fork at all anymore. Any performance advantages of forking vs. separate processes are miniscule because we only run a few processes anyway.

[2021-11-16 15:50] ahopkins commented on #2312
It is possible. I've gotten it running like this. But, the problem (as you said) is making sure all the right env is set. I actually do not think this is as big a challenge as it had been. But definitely a post-LTS project.

[2021-11-16 16:47] Tronic commented on #2312
REUSEPORT/REUSEADDR absolutely cannot be used for this. On Mac only one process will then receive all requests and the other only acts as fallback, and I believe while it is different on other platforms (these flags are evil), it is not going to be any better.

[2021-11-16 17:18] ahopkins commented on #2312
Are you sure about that? Being Darwin/BSD, I would be surprised to learn that is the case.

[2021-11-16 17:57] Tronic commented on #2312
I tried it a couple of years back, specifically to fix this problem in Sanic. Found out that this was the case and then looked it up on Stackoverflow or somewhere that others had noticed the same.

[2021-11-16 21:03] #2249 closed

[2021-11-16 21:03] #2289 closed

[2021-11-17 03:13] robd003 commented on #2283
@ahopkins do you need any info from the running sanic process? Anything the community can do to help debug this issue?

[2021-11-17 07:19] ahopkins commented on #2283
I thought I was on to something, then I was on to thinking that maybe there was a larger problem. I dug into that and now I can not reproduce anything :joy:

I will try again some more over the next week or so. I have gone thru this very carefully, and nothing jumps out at me as a something out of scope or not cleaned up unless there is something in one of the dependencies. Which is ultimately wha

[2021-11-17 12:46] prryplatypus opened #2314 "Incorrect typehints in route shorthand methods"
**Describe the bug**
Route decorators in `sanic/mixins/routes.py` have incorrect typehints for the ` version` parameter.

**Expected**
https://github.com/sanic-org/sanic/blob/b731a6b48c8bb6148e46df79d39a635657c9c1aa/sanic/mixins/routes.py#L58

**Actual**
https://github.com/sanic-org/sanic/blob/b731a6b48c8bb6148e46df79d39a635657c9c1aa/sanic/mixins/routes.py#L194 https://github.com/sanic-org/sanic/b

[2021-11-17 15:29] #2255 closed

[2021-11-18 08:36] Lancernix opened #2315 "wanted help: Start sanic app with warning"
I am new to Sanic and I finished run.py script. When I click run button in PyCharm, the app started and api worked, but I found some warnings in Terminal. Is there anything I missed? What I can do to fix these warnings?

[code]

[2021-11-18 08:39] ahopkins commented on #2315
@Lancernix  You can safely ignore those. In the next version we quiet some of them so it will not be so noisy.

[2021-11-18 11:11] pawelkoston commented on #1236
For newer versions:
`
for route in self.app.router.routes_all:
            print(f"/{route.path:60} - {route.name:70} -  {route.methods} [{route.router}]")
`

[2021-11-18 11:43] ahopkins commented on #1236
@pawelkoston `routes_all` is a `dict`. I think you want `app.router.routes`

[2021-11-18 11:53] pawelkoston commented on #1236
I am using sanic==21.3.0 and for that version it was a tuple (https://github.com/sanic-org/sanic/blob/v21.3.0/sanic/router.py#L162)
In current version it is a dict, thank you for that information.

[2021-11-18 16:53] nuxion commented on #2314
Hi ! I can take this one!

[2021-11-18 16:54] prryplatypus commented on #2314
All yours!

[2021-11-19 06:28] #2314 closed

[2021-11-19 06:50] #2297 closed

[2021-11-19 09:04] Lancernix commented on #2315
@ahopkins Thanks! 😊

[2021-11-19 09:04] #2315 closed

[2021-11-21 00:49] ChihweiLHBird commented on #2082
I am interested in implementing this feature, and currently thinking about it.

What do you guys think about apply config override to class based view? In the class scope or method scope?

https://sanicframework.org/en/guide/advanced/class-based-views.html

[2021-11-21 02:36] ChihweiLHBird commented on #2082
If class scope, we can consider put the `override_config` in add_route`'s parameters list.

[2021-11-21 08:41] ahopkins commented on #2082
In my initial example above, putting it in `app.route` would necessarily make it part of `app.add_route`. So, the answer is yes there.

Awesome! Go for it :tada:

I think it has to be within the method only. Handlers are not necessarily class instance methods.

Likely the best way to tackle this (IMO) is to cache the config override on the route object. Then, inside `Sanic.handle_request` implemen

[2021-11-21 08:54] ChihweiLHBird commented on #2082
Thank you, Adam! In my understanding, `do_something()` can be defining a route, am I correct? Like:

[code]

[2021-11-21 09:04] ahopkins commented on #2082
@ChihweiLHBird

Well, really what I meant was the other way around, but I realize now that simply will not work:

[code]

[2021-11-21 09:13] ahopkins commented on #2082
One more thought on this... After the 21.12 release, @Tronic and I have been discussing the need to overhaul all of the timeouts. In which case I am somewhat hesitant to do anything on this just yet. Maybe we should really wait so that we are not making it harder to implement a potential breaking change.

[2021-11-21 09:16] ChihweiLHBird commented on #2082
No problem, let's wait util 21.12 released.

I couldn't think about some common use cases other than the timeout after checking the docs, https://sanicframework.org/en/guide/deployment/configuration.html#builtin-values

[2021-11-25 21:40] ChihweiLHBird commented on #2283
I couldn't reproduce the issue, every time the requests ended, I observe the memory being cleaned up by Sanic. I simply used a json file with size of 100MB (or a little bit lower than 100MB) as a testing static file, and sending GET requests with a 10 threads Python client.

[2021-11-25 23:49] Tronic commented on #2283
FWIW, it is a good practice to set `None` all variables that refer to other objects once you are finished with them. This breaks cycles that prevent instant deletion of objects when they are no longer needed. Such cycles are very easy to create when many objects hold references to each other, and then they will only be freed much later, when the GC runs.

[2021-11-26 03:01] ChihweiLHBird commented on #2139
Do you guys think adding built-in support in Sanic to let it only runs on one or some workers is worth?

[2021-11-26 03:40] ChihweiLHBird commented on #2175
https://github.com/sanic-org/sanic/commit/b1b12e004eff1702d969ac711e5863b46b79e893

The PR edit this case, and I no longer observe this issue. Just ran the test cases few times and they were all successful. @ahopkins Maybe we can consider close this issue.

[2021-12-01 17:42] zzzeek commented on #2296
SQLAlchemy doesn't call task.cancel(), but I see that Sanic does in many places such as [here](https://github.com/sanic-org/sanic/blob/f7abf3db1bd4e79cd5121327359fc9021fab7ff3/sanic/server/protocols/http_protocol.py#L138).   Might this user be simply experiencing request timeouts under high load?  can you advise this user on request timeout behavior / configuration if so ?

[2021-12-01 17:42] ahopkins commented on #2283
I am inclined towards closing this unless we have a good way to easily reproduce this. @sjsadowski Do you think you could give it a whirl on your Mac?

[2021-12-01 17:43] zzzeek commented on #2296
note they are doing load testing in order to reproduce the problem

[2021-12-01 17:45] zzzeek commented on #2296
[cancel()](https://docs.python.org/3/library/asyncio-task.html#asyncio.Task.cancel) also accepts a "msg" argument, might it be a good idea for this "message" to be added to places like https://github.com/sanic-org/sanic/blob/f7abf3db1bd4e79cd5121327359fc9021fab7ff3/sanic/server/protocols/http_protocol.py#L172 that are otherwise calling cancel() with no explanatory message?    if this is the Cancel

[2021-12-01 17:46] ahopkins commented on #2139
How so?

Sounds interesting, but it also sounds like we would need to support cross-process sync. I am not so keen on this since it would be different and lead to a lot of confusion and issues between scaling with workers v containers (for example). There is absolutely an opening here, but it sounds like it is more in the realm of plugin than core functionality.

---

With that said, I have though

[2021-12-01 17:47] #2175 closed

[2021-12-01 17:53] ahopkins commented on #2296
I like this idea.

[2021-12-01 17:54] ahopkins opened #2325 "Cancel tasks with a message where appropriate"
[cancel()](https://docs.python.org/3/library/asyncio-task.html#asyncio.Task.cancel) also accepts a "msg" argument, might it be a good idea for this "message" to be added to places like https://github.com/sanic-org/sanic/blob/f7abf3db1bd4e79cd5121327359fc9021fab7ff3/sanic/server/protocols/http_protocol.py#L172 that are otherwise calling cancel() with no explanatory message?    if this is the Cancel

[2021-12-01 17:55] ahopkins commented on #2296
FTR: info on request timeouts here

https://sanicframework.org/en/guide/deployment/configuration.html#request-timeout

[2021-12-01 18:07] zzzeek commented on #2296
OK this would in theory be a response timeout but per the above doc that defaults to 60 seconds, so unless they are changing that, it's not possible this particular cancel() is it because their whole test case runs in 10 seconds.

[2021-12-01 19:25] ahopkins commented on #2296
Yes. Brain fart. I meant response.

[2021-12-02 13:28] ama-admin opened #2326 "All API's are failing after upgrade to 21.9.3."
**Describe the bug**
A clear and concise description of what the bug is, make sure to paste any exceptions and tracebacks.

This error started coming up when I upgraded version from 21.3.4 to 21.9.3, When the app starts this is the error that shows up:

[code]
When I  try to access any API, this is the error popping up on every API.
[code]

**Code snippet**
Relevant source code, make sure to remov

[2021-12-02 14:33] ahopkins commented on #2326
This issue has been mentioned on **Sanic Community Discussion**. There might be relevant details there:

https://community.sanicframework.org/t/error-after-upgradation-to-new-sanic-version/932/3

[2021-12-02 14:33] ahopkins commented on #2326
Closing in favor of support in forums

[2021-12-02 14:33] #2326 closed

[2021-12-03 17:20] seibushin commented on #2283
I have created a repo to reproduce the issue. Could you have a look here? https://github.com/seibushin/sanic-mem-leak

Let me know if that works for you and sorry for the late reply.

[2021-12-03 17:23] seibushin commented on #2283
Initial memory usage:
![image](https://user-images.githubusercontent.com/47594307/144645451-a6e0bcd2-612f-4e59-b9fc-c5d9257c3465.png)

After holding down command + shift + R for maybe 1 or 2 seconds
![image](https://user-images.githubusercontent.com/47594307/144645535-ab6933ae-8098-4104-9c5b-dbcf21646342.png)

[2021-12-04 06:28] ChihweiLHBird commented on #2175
@ahopkins It seems the issue still there, I can see it happens sometimes. And now `test_reloader_live` became another test case that might have similar issue (randomly failed).

[2021-12-04 17:09] ahopkins commented on #2175
no. new issue

[2021-12-08 08:07] SerGeRybakov opened #2334 "distutils package is depricated in python 3.10"
Hi there!

First of all many thanks for such awesome framework!

Just installed python 3.10.1 and Sanic updated to 21.9.3 in my project. The very first run of pytest was broken by deprication warning "The distutils package is deprecated and slated for removal in Python 3.12."

Full trace is
[code]

So for now I can not use Sanic-openapi with python 3.10, what makes my really sad.
Can it be updated

[2021-12-08 08:10] #2334 closed

[2021-12-08 08:11] SerGeRybakov commented on #2334
Wrong project.

[2021-12-09 18:55] ChihweiLHBird commented on #2197
Should has been fixed in https://github.com/sanic-org/sanic/pull/2327

[2021-12-09 18:55] ChihweiLHBird commented on #2219
Should has been fixed in https://github.com/sanic-org/sanic/pull/2327

[2021-12-09 19:04] ahopkins commented on #2197
Yes this is resolved with the new change. I will update the documentation about streaming to also let users know that they should NOT be returning an object from the handler when streaming.

[2021-12-09 19:05] #2197 closed

[2021-12-09 21:38] ChihweiLHBird commented on #2219
[code]

Log:

[code]

Response:
[code]

The new version will behave like above.

[2021-12-09 21:41] #2219 closed

[2021-12-13 15:01] souri opened #2337 "Incorrect files being fetched when installing a specific version Sanic through pip"
**Describe the bug**
A clear and concise description of what the bug is, make sure to paste any exceptions and tracebacks.
Facing a very weird issue in our production systems. I have a version of Sanic pinned in my pipfile. The version is 20.6.3. the project is dockerized, and the current builds work fine. (the existing build system fetches the pip packages through it's local cache).
On running th

[2021-12-13 15:36] ahopkins commented on #2337
There is certainly something wrong with your install cache. That file is very recent and certainly not in such an old version. Sorry that I don't have more to offer, but this doesn't seem to be a problem with Sanic, and is more related to your build system.

[2021-12-14 00:52] vvaradarajan commented on #893
My use case is a web-app that is a client-server. The client is a javascript app (web-components node-modules ), and the server is the Sanic-python web-Server app. As usual the client runs in the web-browser and communicates to server via url's. It is straight-forward to run this as two applications. However both are deployed on the same server, and I wish to serve the client to the browser using

[2021-12-14 04:40] ahopkins commented on #893
@vvaradarajan can you open this as a new issue for discussion and just reference this one?

[2021-12-14 09:22] #2082 closed

[2021-12-14 23:52] ahopkins opened #2340 "RFC: Blueprint pre-registration"
## Background

I see a lot of developers getting stuck because of import ordering. This usually happens because of a mistake in trying to import a module with reference to the application before the application has actually been created.

While I think there are some helpful patterns to avoid this (factories, late imports, etc), it might also be helpful to provide a little leeway. This PR is meant

[2021-12-20 21:50] #2267 closed

[2021-12-20 21:50] #2301 closed

[2021-12-21 20:56] #2300 closed

[2021-12-22 15:55] vgoklani commented on #1609
<bump>

[2021-12-23 08:38] ChihweiLHBird commented on #2226
Was this fixed? Couldn't reproduce, or I miss something?
<img width="1426" alt="image" src="https://user-images.githubusercontent.com/43905414/147212724-cb6f49d5-74e5-4108-b448-62d39c53bb46.png">

[2021-12-23 09:57] #2223 closed

[2021-12-23 11:34] delfick commented on #2223
Awesome! Thank you so much :)

[2021-12-23 20:34] prryplatypus commented on #2223
Hope it works! :)

[2021-12-23 20:54] delfick commented on #2223
Thanks ❤️

[2021-12-24 19:29] darkerego opened #2343 "Websockets Module Not Found Error"
Library fails upon import with this traceback:

Traceback (most recent call last):
  File "/DistribScan/server.py", line 7, in <module>
    from sanic import Sanic, response
  File "/usr/local/lib/python3.9/dist-packages/sanic/__init__.py", line 2, in <module>
    from sanic.app import Sanic
  File "/usr/local/lib/python3.9/dist-packages/sanic/app.py", line 77, in <module>
    from sanic.server.pr

[2021-12-24 19:54] ChihweiLHBird commented on #2343
[code]

works fine on my machine. Can you share a sample code snippet that causes the issue? Thanks!

[2021-12-24 20:27] darkerego commented on #2343
Sure. Did you build your Sanic with the latest code on here? This crashes on every install I've done;

from sanic import Sanic

[2021-12-24 20:53] ChihweiLHBird commented on #2343
I just did `pip install git+https://github.com/sanic-org/sanic` and then in Python `from sanic import Sanic` on Windows 11, seems fine. Did you try reinstall sanic?

[2021-12-24 22:28] darkerego commented on #2343
Yeah, several times but strange I ran on another system and it's okay. What version of websockets do you have installed?

[2021-12-24 23:29] darkerego commented on #2343
Oh wow. I am an idiot, I am so sorry. I had a directory called 'websockets' in the same folder as my script.

[2021-12-24 23:29] #2343 closed

[2021-12-25 00:23] ChihweiLHBird commented on #2343
😂

[2021-12-25 09:12] ChihweiLHBird commented on #2281
I think you can try:

[code]

[2021-12-25 17:06] ahopkins commented on #2343
I think we've all been there

[2021-12-26 10:17] #1401 closed

[2021-12-26 10:18] ahopkins commented on #1401
Anything that is missing and should still be added to the docs should be discussed in the sanic-guide repo.

[2021-12-26 11:50] ahopkins commented on #2281
@tylersalminen Thanks for the snippet. TBH, this was never an intended API. That it was working I suppose is more by accident than by an intentional decision. But, with that said I do think it is feasible to add support for this.

[2021-12-28 04:37] ChihweiLHBird commented on #2192
The logs now look like:

[code]

I believe this was fixed in the PR mentioned above.

[2021-12-28 06:56] #2192 closed

[2021-12-29 06:48] Frankr0 commented on #2226
I just tested it on version 21.12 and it seems to be fixed.

[2021-12-29 06:48] #2226 closed

[2021-12-29 08:29] ahopkins commented on #1874
The latest release added a `shutdown` for tasks that are named. I am thinking that maybe we could add to this functionality and simply add all tasks and that should resolve this ticket.

[2021-12-29 08:41] ChihweiLHBird commented on #2281
Maybe we can just wrap a for loop and an async for loop to handle iterator in our WebSocket API? Like:

[code]

But it can also be done in the user defined websocket handler.

[2021-12-29 08:46] ahopkins commented on #2281
@ChihweiLHBird

[code]

[2021-12-29 08:54] ChihweiLHBird commented on #2281
It looks that `str` should be taken care by a previous `if`

<img width="1387" alt="image" src="https://user-images.githubusercontent.com/43905414/147644274-a3f28c5e-e197-475f-a0b4-2fb382f9195b.png">

[2021-12-29 08:55] ChihweiLHBird commented on #2281
But I think doing it in handler is not a bad idea, so we don't have to support this in `websocket.send()`……

[2021-12-29 08:56] ahopkins commented on #2281
Exactly. That is the question: should we support this or not. It was never an official feature. I of course hate adding breaking changes. But the real question is whether we should add the complexity to support this or not.

[2021-12-29 08:58] ahopkins commented on #2281
@ashleysommer Do you have a take on this?

[2021-12-29 13:10] tylersalminen commented on #2281
Perhaps I can add some clarification as to what I am trying to accomplish:

I do not want to send multiple _messages_ asynchronously, this can already be accomplished through the existing apis available to the developer. What I am trying to do is send a _single_ message that is fragmented over multiple, asynchronously available, fragments. This hypothetical api would be the analogue to your existi

[2021-12-29 20:10] NonStatic2014 opened #2345 "Code coverage warning: "No source for code: '/my/local/folder/_run_response_middleware'. (couldnt-parse)""
**Describe the bug**
After upgrade sanic from 21.6 to 21.9, coverage, we noticed when run `coverage xml`, there is an error like below:

[code]

with `coverage xml -i` there are more warnings:

[code]

**Code snippet**

In blueprint.py

[code]

Create app in a different file:

[code]

**Expected behavior**
No warning or error while generating code coverage report, like using sanic 21.6.

**Environ

[2021-12-29 20:14] ahopkins commented on #2345
Why are you running coverage for Sanic?

You will not get coverage for these functions because they are rewritten at startup time based upon your application's code.

[2021-12-29 20:21] NonStatic2014 commented on #2345
I'm trying to run coverage on my server code but hit error/warning on sanic code. this is the place actually confused me.

[2021-12-29 20:22] NonStatic2014 commented on #2345
`blueprint.py` and other python code of my server is in the folder `/my/local/folder/`. I don't expect any coverage number from sanic.

[2021-12-29 21:53] ahopkins commented on #2345
However you are running coverage, it is including the portions of Sanic that are imported into your application. What version of `coverage` are you using? [See this article](https://nedbatchelder.com/blog/202104/coveragepy_and_thirdparty_code.html).

Sure! This is an important feature of Sanic going forward. I am myself working out this whole coverage issue because it is a PITA. We handle it curre

[2021-12-29 21:54] ahopkins commented on #2345
I am closing this now as the issue is not really related to Sanic. Feel free to continue the conversation.

[2021-12-29 21:54] #2345 closed

[2022-01-02 20:40] ahopkins opened #2348 "RFC: Multi-application serve"
## Background

Running multiple applications has been possible in Sanic for a long time. It does, however, take a pretty decent understanding of the operation of the Sanic server to do it properly. Things to consider include:

- loop management
- listener execution
- startup time optimizations
- multi-worker and auto-reload multiprocessing
- cross-platform support issues (looking at you Windows)

[2022-01-04 03:43] ashleysommer opened #2351 "Request middlware runs twice when exception is thrown"
I can't tell if this is intentional or not. I think I've brought it up before, but its affecting me again when maintaining some of my plugins.

Minimal reproduction:
[code]

Output:
[code]

This is because app `handle_exception` does executes `_run_request_middleware` _again, after_ `handle_request` has already executed  `_run_request_middleware`.

Offending code is here:
https://github.com/sanic-

[2022-01-04 04:09] ashleysommer opened #2352 "Signals `http.middleware.before` and `http.middleware.after` are dispatched for _every_ middleware"
For a single request, the signals `http.middleware.before` and `http.middleware.after` are dispatched for _every_ middle on the app.

Example app:
[code]
Output:
[code]
Applicable section of code:
https://github.com/sanic-org/sanic/blob/a7bc8b56bab01e066357e6dcc67c0dc9df864298/sanic/app.py#L1346-L1372

It appears this is done intentionally. I don't know what the usefulness of running a handler for

[2022-01-04 04:25] ashleysommer opened #2353 "Ability to check response from middleware signal handlers using modified context"
It seems that the only way to return a value from a signal handler is to modify or add a value in context dict. That makes sense, because there might be many handlers for a single signal, and each of them may or may not modify the context.

However in the sanic middlware handler code it appears that these returned context values are never used. Eg, when handling a `http.middleware.before` signal,

[2022-01-04 04:32] ashleysommer commented on #2353
Note, for context, I'd like to have the ability to combine this with a the "http.middleware.before_all" signal as suggested in #2352, to potentially return a HTTPResponse using a signal handler before any middleware is run, and even in `applicable_middleware` is None.

[2022-01-04 04:45] ashleysommer commented on #2351
Update:
I'm pretty sure this code was added last time this issue came up, to prevent this from happening:
https://github.com/sanic-org/sanic/blob/a7bc8b56bab01e066357e6dcc67c0dc9df864298/sanic/app.py#L1343-L1344

Not sure why I'm seeing this happening again. Might be something I'm looking at wrong in my testing.

[2022-01-04 06:22] ashleysommer commented on #2353
Ok, after writing some more example code, I realized this cannot work the way I imagined.
The context dict is unpacked into the signal handler:
[code]
The context dict in the handler becomes a _new_ dict, so setting "response" on the context does not change the context at the calling point.

This will have to be put on the backburner

[2022-01-04 07:36] ahopkins commented on #2352
Correct, that is intentional. Out of curiosity, what is the use case that you are after with dispatching once before and after middleware? Is it to have control over when something executes? There are certainly other signals you could potentially use if you need to do something earlier, like when the request is created, or routing is performed. Will these help? Or, are you particularly interested