[2019-05-16 11:57] #1578 closed

[2019-05-16 16:48] #1577 closed

[2019-05-17 02:22] lakenn commented on #1392
Acutally, it doesn't work with group blueprint

`from sanic import Sanic
from sanic import Blueprint
from sanic.response import text

bp1 = Blueprint('bp1', url_prefix='/bp1')
bp2 = Blueprint('bp2', url_prefix='/bp2')

@bp1.middleware('request')
async def bp1_only_middleware(request):
    print('applied on Blueprint : bp1 Only')

@bp1.route('/')
async def bp1_route(request):
    return text('bp1')

[2019-05-17 02:24] lakenn opened #1580 "Multiple worker with Group Blueprint doesn't work due to pickling issue on windows 10"
Found similar fixed issue: [https://github.com/huge-success/sanic/issues/1392](url)
However, it still doesn't work with group blueprint

[code]

[2019-05-17 18:27] sjsadowski opened #1582 "Documentation required: building on fedora 28+"
Documentation needs to be updated for this corner case I discovered:

On clean installs of fedora 28, 29, and 30 (verified so far, could impact earlier versions) ujson fails when 'redhat-rpm-config' package is not installed.

This will be deprecated if/when we move on from ujson, but for now is obnoxious.

[2019-05-17 18:38] sjsadowski commented on #1456
I'm going to close for now - if this is still an issue please ask here: https://community.sanicframework.org/c/questions-and-help

[2019-05-17 18:38] #1456 closed

[2019-05-17 18:40] sjsadowski commented on #1311
Looks like interest in this was dropped. We can open a new issue to address going forward if necessary.

[2019-05-17 18:40] #1311 closed

[2019-05-17 20:45] #1569 closed

[2019-05-18 17:34] h5rdly commented on #489
@ahopkins This is great! Any news?

[2019-05-18 18:05] yunstanford commented on #1582
@sjsadowski can you take this one ?

[2019-05-18 18:25] ahopkins commented on #489
Yes. We hope to have it workable for the 19.6 release.

[2019-05-18 18:31] harshanarayana commented on #1582
@yunstanford @sjsadowski I am working on the documentation update. WIll have the PR up by tomorrow.

[2019-05-19 13:52] teamhide opened #1584 "Integration with SQLAlchemy"
I'm new at sanic and async paradigm in python.

In general python project, that used mysql, usually used SQLAlchemy for ORM.

I wonder that should I using pure SQLAlchemy to ORM for sanic?

Or, I have to use GINO?

Any comments, appreciate :)

[2019-05-19 14:17] ahopkins commented on #1584
You can use either. The benefit of an async ORM (like GINO) is that it leverages the power of async enabled applications. Meaning that when a request comes in that requires a trip to the DB, that worker is still free to accept incoming requests before the DB query returns. It is kit necessarily that your script runs faster, but more efficiently.

With that said, you need to decide whether the trad

[2019-05-19 14:17] #1584 closed

[2019-05-19 17:24] sjsadowski commented on #1582
I was planning on handling it this week, but I'll hold off as @harshanarayana has claimed it.

[2019-05-19 18:41] sjsadowski commented on #784
I'm closing as this is nearly two years old. I was not able to replicate this with a current version of sanic unless I specifically caused problems with the upstream proxy. We can open a new issue if we can find a way to replicate with sanic itself using 18.12 LTS or one of the 19.x releases.

[2019-05-19 18:41] #784 closed

[2019-05-19 18:49] sjsadowski commented on #1079
The conversation around this issue moved to the forums (https://community.sanicframework.org/t/sanic-server-timeout-isue/153/13) but there has been no real follow-up. Closing, however we can open a new issue if needed.

[2019-05-19 18:49] #1079 closed

[2019-05-20 01:56] #1582 closed

[2019-05-20 04:23] teamhide commented on #1584
@ahopkins Can you provide me something document related about this or example?

[2019-05-20 07:06] FishEatingCat commented on #1578
The default number of workers used. Is websocket asynchronous? When await, why not go out and perform other tasks? I am new for this.

I tried increasing the number of workers and it really solved the problem I mentioned above.

[2019-05-20 07:12] jaggerwang opened #1586 "Can not enable debug when start sanic app in VSCode."
**Describe the bug**
If set debug to true, it will start failed in VSCode.

*launch.json*
[code]

*Terminal*
[code]

**Code snippet**
*dingpan/app.py*
[code]

*dingpan.config.py*
[code]

**Expected behavior**
I want use VSCode to debug python code, and the auto reload feature of Sanic in debug mode.

**Environment (please complete the following information):**
- PTVSD version: 2019.4.12954
- OS an

[2019-05-20 07:28] FishEatingCat commented on #1578
I will try @ahopkins ‘s method of

[2019-05-20 08:57] ahopkins commented on #1578
Yes.

When the `async` coroutine executes, everything runs synchronously until it gets to an `await`. Then, more or less, it goes back to the loop to check if there are other things to do. So, any code that does not have an `await` will block your loop from doing anything else. For many things this is fine. But, especially when talking about web services, code that needs to make a network call to

[2019-05-20 10:14] jaggerwang commented on #1586
It seems the reason that the auto reload feature is conflict with VSCode's debug feature, disable auto reload will make them work together.

[2019-05-20 13:25] sjsadowski commented on #1586
Thanks for the update. I'm going to close because I know we don't want to go down the path of debugging IDEs.

[2019-05-20 13:25] #1586 closed

[2019-05-22 01:42] chenjr0719 commented on #1584
@teamhide This might help.
https://github.com/huge-success/sanic/wiki/Examples#aiopeewee

[2019-05-22 11:43] vltr commented on #1584
@teamhide the biggest change for me in using SQLAlchemy with an async framework like Sanic is how to properly deal with the `Session` during the request lifecycle. You can read more in the [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/13/orm/contextual.html#using-thread-local-scope-with-web-applications). Basically, what I did in my projects was to create a `Session` and append it to t

[2019-05-22 13:00] wissemnano commented on #392
try to install Visual studio build tools  then install sanic it's work for me

[2019-05-22 13:24] wissemnano commented on #1192
the problem is relied to httptools, so first try to install it. in my case i tried : pip3 install httptools
the i have a problem : "error: Microsoft Visual C++ 14.0 is required"
so download it and you can install httptools and sanic

[2019-05-22 22:31] Leonidimus opened #1587 "Request Streaming is extremely slow"
**Describe the bug**
I created a simple POC app to accept streaming binary data. The syntax is compliant with the official docs. The app works as expected but the response time is more than 1000 ms for even small data sizes (1.1K). In the snippet below tried uploading 2 files - `tiny.txt` (57B) and `small.txt` (1137B). File `tiny.txt` took 0.021s and `small.txt` took 1.026s on average. Testing was

[2019-05-23 03:50] yunstanford commented on #1535
https://github.com/huge-success/sanic/issues/1587

[2019-05-23 04:18] ahopkins commented on #1587
which version of Sanic did you run this on?

[2019-05-23 06:44] Leonidimus commented on #1587
Sanic version 19.3.1. As was mentioned in #1535, the correct behavior would be to honor client's request for `100-Continue`. Python's `requests` lib doesn't expect 100-continue, but curl does and there might be other clients which do. I'm also going to test with JavaScript `request` lib.

[2019-05-23 06:50] ahopkins commented on #1587
@Leonidimus Sorry, I didn't see you had provided the details in your original post. I edited it to move the ` ``` ` so that it would format properly.

I am taking a look at this also as it relates to ASGI #1475.

[2019-05-23 07:47] ahopkins commented on #1587
My machine:

[code]

My results when I run your same code. Granted I am not sure how big your `small.txt` is. Mine is only `13B`.

[code]

I tried the test also using ASGI servers `uvicorn` and `hypercorn`.

`uvicorn server:app`

It does not work without sending the `Expect: 100-continue` header (for now, I have some work still to do on streaming. But, if I add it to the request:

[code]

Same res

[2019-05-23 13:33] sjsadowski commented on #1587
It should also be noted that the last go round with 'sanic is slow when I test it with curl' the culprit ended up being curl; as people tested with other methods the slowness could not be reproduced, but could be reproduced with curl.

[2019-05-23 14:23] yunstanford commented on #1587
We should respect “Expect” header

[2019-05-23 16:37] seemethere commented on #1504
Can we link the original patch to `19.3` so that we have some context into what was actually done?

[2019-05-23 17:00] ahopkins commented on #1504
@seemethere, I believe this: https://github.com/huge-success/sanic/commit/42605286456c4a61bc2c4423a1415c3943e121bc

[2019-05-23 18:40] Leonidimus commented on #1587
@ahopkins Thanks for quick responses! Now that I see the project is actively supported, I can safely continue using the framework :)

My `small.txt` file was about 1.1K. The issue doesn't happen for really tiny files. I agree it's a client specific issue (curl), but still it would be correct behavior to respect client's request for 100-continue.

BTW, I tested with a popular JS library and a 22M f

[2019-05-23 20:19] ahopkins commented on #1587
There is a core team of developers that are working on Sanic in a community. Part of our reasoning for moving to the community supported model was to foster an ongoing group of developers so that it would stay active.

I updated my `small.txt` to a larger file. Still runs fast for me. :thinking:

[code]

---

@yunstanford :muscle:

[2019-05-23 20:28] ahopkins commented on #1587
I added this to 19.9, but if anyone thinks then can handle providing `100 Continue` responses before then, maybe we can get it into 19.6.

[2019-05-23 23:33] cannonba11 commented on #1467
Exact same use case but from the testing perspective. If the app has in-memory state that I want to test by making successive requests to different routes in a single test, the `test_client` does not work as it tears down the app between calls and all the state is lost.

[2019-05-24 05:13] ahopkins commented on #1467
I have been doing quite a bit of work on the test clients lately ahead of 19.6 release. While I don't see any change to this behavior right now (since it is primarily for testing the framework), I do think that there is a use case for this.

How and where are you storing your state? if it is on some data structures inside your single test, then pytest should keep it alive for you.

With that said,

[2019-05-25 22:25] cannonba11 commented on #1467
@ahopkins Thanks for taking a look.

It's about state in the app. Example: Let's say we have an app attribute `app.count` which gets incremented every time you hit the `/counter` route and let's say you have a `/display` route that displays the current value of the counter.  A single test that makes successive requests to those routes using `app.test_client` doesn't exhibit the behavior you'd expe

[2019-05-26 10:42] teamhide commented on #1584
Thanks for detaild comments everyone :)

[2019-05-27 02:48] chenjr0719 opened #1591 "strict_slashes is not respected from the application level"
**Describe the bug**
This issue is porting from huge-success/sanic-openapi#102. When using `Sanic(strict_slashes=True)`, it won't be apply to any blueprint.

**Code snippet**
[code]

Output:
[code]

**Expected behavior**
The `strict_slashes` in app level should be respected until user override it by setting `Blueprint(..., strict_slashes=True)` or in blueprint's route level.

**Environment (please

[2019-05-27 03:10] chenjr0719 opened #1592 "Import error because of requests_async"
**Describe the bug**
Import error after install `Sanic`. The `requests_async` does not be included in setup.py's `install_requires`. All tests can be passed because the `requests_async` is installed by tox.

**Code snippet**
Related source in `testing.py`:
https://github.com/huge-success/sanic/blob/e36f398aa689cb1852a171f9e6e60f78d8fa21d5/sanic/testing.py#L1-L4

Related source in `setup.py`:
https

[2019-05-27 03:37] ahopkins commented on #1592
Yes, I noticed this the other day. There's a discussion about it on the forums? I'll push a fix  using strategy 1 you outlined.

[2019-05-27 03:58] ahopkins commented on #1591
I'm working on a new router idea that would, among other things, address this. So unless anyone else wants to address this separately, I'll have a fix for this in my proposed router.

[2019-05-27 05:01] chenjr0719 commented on #1591
Cool, expecting your awesome work.

[2019-05-27 05:05] ahopkins commented on #1591
@chenjr0719.... the pressure is on 😱

[2019-05-27 06:12] harshanarayana commented on #1592
@chenjr0719 @ahopkins  Working on a PR for this and #1591  together. Give me a few hours.

[2019-05-27 06:37] chenjr0719 commented on #1591
@ahopkins Oops, Please don't feel any pressure. If there are any help I can provide, please let me know. :wink:

[2019-05-27 08:36] ahopkins commented on #1591
@chenjr0719 ;-) Was just joking. When I am done with the POC for it (probably not till next week at the earliest), I will definitely be looking for as much feedback and thoughts as possible since it will potentially be a big change (I am trying to make sure there will not be any API changes though).

[2019-05-27 08:37] ahopkins commented on #1592
@harshanarayana I was just about to..., but I will hold off on it and just push another little change that has been annoying me.

[2019-05-27 09:09] harshanarayana commented on #1591
@chenjr0719  @ahopkins  I think we might have to think a bit more on this specific issue. I managed to fix this with minor code changes. But this can be a breaking change in some cases.

[code]

This was a valid behavior previously. But considering that there is a `strict_slashes` attribute, the behavior seems odd and needs to be fixed. Only `/test/` should be a valid URL that will return 200 and

[2019-05-27 09:37] ahopkins commented on #1591
@harshanarayana I agree, which is sort of why I am not sure we tackle it separate from any other router changes we want to make. I think it would be best to make them all at once.

[2019-05-27 09:39] harshanarayana commented on #1591
@ahopkins Works for me. However, I just opened a new PR with WIP tag to address this + the other dependency issue. Take a look when you can and let me know your feedback. It's pending few documentation changes

@chenjr0719

[2019-05-28 02:37] chenjr0719 commented on #1591
@harshanarayana

What I think is like this hierarchy structure.
[code]

So, in the Python world, it would be:
[code]

Now, back to your cases:
[code]

What do you think?

[2019-05-28 05:38] jaggerwang opened #1597 "Sanic v19.3 not support websockets v7.0."
Sanic v19.3 required websockets version >=6.0 and <7.0. Is there any break change from v6.0 to v7.0? Websockets v6.0 not support to run as a module like `python -m websockets wss://echo.websocket.org/`.

[2019-05-28 06:03] jaggerwang opened #1598 "Can not serve both http and websocket request on one server?"
**Describe the bug**
When serve both http and websocket request on one server, can not connect websocket.

When connect websocket in command line using python websockets(v7.0) package.
[code]

Got the following error in sanic console:
[code]

**Code snippet**
[code]

**Environment (please complete the following information):**
 - OS: masOS
 - Version: 19.3.1

[2019-05-28 06:06] jaggerwang commented on #1598
I already tried to force update websocket version to v7.0, even though Sanic require v6.0.

[2019-05-28 06:35] ahopkins commented on #1597
Yes, that is correct. Sanic requires `websockets` v6 right now because v7 introduced some breaking changes that have not yet been adopted.

See #1214 and #1233. There are probably some others too I am missing.

If you are at all interested in taking this on, I can help point you in the direction needed.

---

If you want to run `websockets` that way, then why do you need Sanic on top of it? Is the

[2019-05-28 06:54] ahopkins commented on #1598
Are you having trouble connecting?

Here is a pretty simple example:

[code]

As you can see from the output, I have no problem hitting the `/text` route even after a websocket is opened.

[code]

---

Now, it looks like you are trying to use `websockets` as a CLI (a v7 feature) in the same virtual environment as your Sanic app. If you switch to a different virtualenv that has `websockets` 7, you

[2019-05-28 06:54] #1598 closed

[2019-05-28 07:16] jaggerwang commented on #1597
Got it! Right now just because I want to use websockets module as a client to test, but I can install v7.0 outside of the venv.

[2019-05-28 07:16] #1597 closed

[2019-05-28 10:09] ahopkins commented on #1597
:+1: FWIW, I added an alias to my terminal to conveniently allow me to connect using the CLI utility: `ws ws://localhost/feed`

[code]

[2019-05-28 20:33] LTMenezes commented on #1587
Just to give more insight, libcurl by default waits 1 second for a 100 response before timing out and continuing the request. There's a thread about this behaviour: https://curl.haxx.se/mail/lib-2017-07/0013.html

@ahopkins Is anyone currently working on this? I would be glad to help.

[2019-05-28 20:41] ahopkins commented on #1587
@LTMenezes Sold!

If you need any help, let us know. I'd be happy to help point you in the right direction.

[2019-05-28 20:43] #1592 closed

[2019-05-29 05:44] harshanarayana commented on #1591
@chenjr0719 Let me get back to you on this by EOD today. I am caught in the middle of a training session and haven't been able to look at it.

[2019-05-29 05:52] ahopkins commented on #1591
@chenjr0719 That looks awesome. I agree with the results of each. Without having the test cases in front of me, there are a few permutations that are still not accounted for in your layout. We should make sure to test them all for consistency.

[2019-05-29 12:00] harshanarayana commented on #1591
├── Route level - None(default)/True/False
└── Blueprint level - None(default)/True/False
        └── BP's route level - None(default)/True/False

In most of the places, the default argument is None but we override them to `False` as the first action inside the method. Provided I change that, the precedence of check can be as follows

[code]
When deciding the behavior for the `strict_slashes`, we

[2019-05-29 20:01] mikepc opened #1599 "Question: Does sanic benefit from running behind gunicorn?"
Given the async nature of sanic, I'm curious if there are any benefits to running as a gunicorn worker as opposed to just running behind a "standard" reverse proxy?

[2019-05-29 20:05] ahopkins commented on #1599
I tend to think not. There is for sure some speed penalty, and you will see a performance difference since the core of sanic's speed will be lost.

I personally prefer to place it behind nginx and see that as a much more performance option.

https://community.sanicframework.org/t/gunicorn-uwsgi-vs-build-in-http-server/47

[2019-05-30 00:08] mikepc commented on #1599
I really appreciate the reply! I didn't think it would, and really couldn't
think of any reason it would, but I am way rusty in the python ecosystem
and wanted to find out if I were missing something.  Thanks again!

On Wed, May 29, 2019 at 1:05 PM Adam Hopkins <notifications@github.com>
wrote:

[2019-05-30 03:41] ahopkins commented on #1599
With that said, I should mention that gunicorn does offer some great features around managing and restarting workers. So, there may be some features that you will not get with the Sanic server. Also, we are closing in on ASGI support which would add another server deployment option. See #1475

[2019-05-30 03:41] #1599 closed

[2019-05-30 06:36] marvinxu-free commented on #994
did you resolved this problem?

[2019-05-30 18:46] auyer commented on #720
Will this work if the client is not sending any data, buy receiving instead ?

[2019-05-30 19:39] ahopkins commented on #720
@auyer Yes.

[2019-05-31 06:17] chenjr0719 commented on #1591
@harshanarayana

Totally agree both.

I don't think this is `strict_slashes` supposed to do. At current implementation, It depends on the `uri` of the route.

When the `strict_slashes=False`, no matter your `uri` ends with slash or not, it will create two endpoints, one with slash, another one without slash.

[code]

When the `strict_slashes=True` and the `uri` ends **without** slash, there will b

[2019-05-31 11:20] ahopkins commented on #1591
Yes, it would be a change in behavior. Which leads to hesitancy and reluctance to make a change. However, it also seems a bit counter intuitive.Besides the consistency aspect, if there is to be a change in behavior, we should do a survey of other frameworks. Being intuitive is also important.

[2019-05-31 14:08] ladler0320 commented on #1500
I also experience the memory leak issue when using more than one worker on Sanic 19.6.0 with python 3.7.3

[2019-05-31 14:14] sjsadowski commented on #1500
@ladler0320 19.6.0 is not out yet, do you mean 19.3?

[2019-05-31 14:28] ladler0320 commented on #1500
@sjsadowski I'm not quite sure, but it's probably the 19.6.0.
I installed it using
`pip install git+https://github.com/huge-success/sanic.git@a57c14c70bca3514d502db3ce53fd3262d1af149`
because of #1549 fix and it was shown that the Sanic version is 19.6.0

[2019-05-31 14:50] sjsadowski commented on #1500
Got it, you installed from git master. Can you share your code and process to determine memory leaks?

[2019-06-03 19:28] harshanarayana commented on #1591
@chenjr0719 @ahopkins  Agreed. I am changing the original PR to only include the changes required for addressing the `strict_slashes` option inheritance against the defined hierarchy.

As for the change of default behavior implemented currently, let me move that discussion to the thread in community and see what comes out of it.

[2019-06-05 04:03] heshiming opened #1601 "A mysterious issue with Cython, sanic 19.3.1"
I'm seeing a mysterious exception in `_build_endpoint_name` of `app.py`. It occurs only when the app server module is compiled using Cython. It happens to sanic 19.3.1 but not 18.12.0 (or below).

Here is a minimal example to replicate this issue in the docker environment. First, in an empty folder, create `dockerfile` with the following contents:

    FROM python:3.7-stretch
    RUN pip install s

[2019-06-06 19:07] Souldat opened #1602 "Long running task in async sanic method"
I'm trying to run a task that takes some time to return without it blocking other web requests to the server. In the example below lib.getAlarmState() is a ctypes C function that takes a few seconds to return. Its blocking all other processes while waiting, I've done enough research to know that I need to also run the lib.getAlarmState() method asynchronously (via asyncio?) but I'm having troubles

[2019-06-06 19:59] ahopkins commented on #1602
I [responded to your question on Stackoverflow](https://stackoverflow.com/a/56483471/1036843).

You cannot do this inside Sanic:

[code]

Because there already is a loop running.

Sanic does provide a mechanism for adding async tasks using `app.add_task()` [See docs](https://sanic.readthedocs.io/en/latest/sanic/middleware.html#listeners). However, that is for simply creating a task, similar to `as

[2019-06-06 20:00] ahopkins commented on #1602
I am closing this as it is not a Sanic issue.

[2019-06-06 20:00] #1602 closed

[2019-06-06 20:16] Souldat commented on #1602
Thanks for the feedback, I recognize this is simply a synchronicity issue with my other code causing blocking not with some Sanic functionality. I guess its back to the drawing bored.

[2019-06-09 03:40] mikepc opened #1603 "Actual CORS Support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A web browser sends a pre-flight OPTIONS request to verify that a request can be sent. The framework itself should provide direct support (without the need for a helper library).

**Describe the solution you'd like**
I would like the abili

[2019-06-09 13:43] Hesarn opened #1604 "Getting url arguments from request object"
I wanted to access url arguments captured in route, from `Request` object of sanic.

actually i wanted to access this captured data in request middleware and change the json body of request a little bit for all routes of my application, but as i inspected the code a little, i found out that there is no way that i can access those parsed values from request object(I know the path is present in the

[2019-06-09 16:10] abatilo commented on #530
Is anyone still working on this? If possible, I'd like permission to add some auto generated stubs to the official typeshed repo, and then to start working in actual type information gradually over time.

[2019-06-10 07:11] ahopkins commented on #1604
The current router is not very flexible. :disappointed:  This is similar to #1373

I am working on a potential alternative Router that I would like to introduce for Version 19.9 (it will not make it into the release later this month) that would allow for this.

---

With that being said, the `request` object is just [a regular `dict`](https://github.com/huge-success/sanic/blob/master/sanic/request

[2019-06-10 07:11] #1604 closed

[2019-06-10 07:12] ahopkins commented on #530
You definitely do not need permission ... Nonetheless: **permission granted**

[2019-06-10 09:05] ladler0320 commented on #1500
@sjsadowski I do apologize, but I'm not sure I'm allowed to share the code. However, I can confirm that memory leak occurs when I'm using more than one worker and only when the service receives requests.
Sure, I'll try to investigate that issue and I'll let you know if there will be any update.

[2019-06-10 11:17] abatilo commented on #530
It's part of the typeshed rules to get explicit permission:
https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#adding-a-new-library

:P

Thank you though!

[2019-06-10 13:44] sjsadowski commented on #1500
@ladler0320 if you can do pseudocode, that would help too. It's hard to know what to fix if we can't identify what and where it's broken.

[2019-06-10 21:45] #1587 closed

[2019-06-11 06:27] ladler0320 commented on #1500
@sjsadowski Sure.

[code]

[2019-06-13 23:36] #1250 closed

[2019-06-13 23:36] #1247 closed

[2019-06-13 23:36] #1197 closed

[2019-06-13 23:36] #1234 closed

[2019-06-13 23:36] #1224 closed

[2019-06-13 23:36] #1217 closed

[2019-06-13 23:36] #1199 closed

[2019-06-13 23:36] #1404 closed

[2019-06-13 23:36] #1243 closed

[2019-06-14 00:36] #107 closed

[2019-06-14 00:36] #799 closed

[2019-06-14 00:36] #810 closed

[2019-06-14 00:36] #864 closed

[2019-06-14 00:36] #909 closed

[2019-06-14 00:36] #1023 closed

[2019-06-14 00:36] #1022 closed

[2019-06-14 00:36] #1029 closed

[2019-06-14 00:36] #1115 closed

[2019-06-14 00:36] #1111 closed

[2019-06-14 00:36] #1125 closed

[2019-06-14 00:36] #1154 closed

[2019-06-14 00:36] #1168 closed

[2019-06-14 00:36] #1166 closed

[2019-06-14 00:36] #1317 closed

[2019-06-14 00:36] #1319 closed

[2019-06-14 00:36] #603 closed

[2019-06-14 00:36] #983 closed

[2019-06-14 00:36] #721 closed

[2019-06-14 00:36] #906 closed

[2019-06-14 08:09] TheMushrr00m commented on #1517
FYI an alternative for windows is testing within the Windows Subsystem for Linux (WSL), this environment works very well for me when i need to use Windows in my work.

[2019-06-17 06:29] robd003 commented on #1603
@mikepc it looks like the sanic-cors plugin will let you do this if you specify automatic_options when wrapping sanic.

CORS(app, automatic_options=True)

[2019-06-18 19:12] #846 closed

[2019-06-19 15:28] andreymal commented on #1525
**@‍stale** nope, `<file:file[abc]\.(txt|jpg|gif)>` is still too complicated :)

[2019-06-19 15:41] vltr commented on #1525
Yeah, well, the `Router` _per se_ doesn't escape special `RegEx` chars (like `.`) when building the routes, you need to do that **by yourself** (or else the dot will match all). We do have ongoing conversations regarding the Router (see #1318 and comments), but no decision made so far.

[2019-06-19 16:39] ahopkins commented on #1525
Once #1475 is merged, and v19.6 is out, I am turning back my attention to the Router. But, even with my hyperscan implementation, it still would likely have a problem with that since it will also be regex based. Perhaps we can think about turning off matching for a route, but I am hesitant to say this would be viable, or desirable. Now, Sanic does in theory allow you to swap out its router. I have

[2019-06-19 21:41] Lagicrus opened #1606 "Bug with parameters and type checking"
**Describe the bug**
When using the code below it results in a 404. I believe this is due to Sanic believing that the blueprint_id is a string rather than an int because when I then run the function without the route having a type specified for blueprint_id and edit_type it works fine

**Code snippet**
[code]

**Expected behaviour**
When I send a post request to that route  it is found and process

[2019-06-21 11:36] untitaker commented on #1532
FWIW this policy will likely become a headache for Sentry supporting Sanic. We are currently supporting 0.8, 18, and 19 and just experienced CI breakage because of a change in supported Python versions.

As far as I understand your versioning scheme implies that version `18.*` is the latest stable release, and `19.*` is essentially a beta release. Which means Sentry should support only `0.8.*` and

[2019-06-21 12:46] ahopkins commented on #1532
I will not speak for everyone, but I do understand your point and appreciate you bringing this to us. We are trying to take a "build fast, run fast" attitude, which also means that we are trying to be reactive to users as features and bugs come in. Which means with a regular release cycle, and an LTS, we can give developers an expectation.

Now, using the terms "beta" and "stable" are somewhat arb

[2019-06-21 12:56] ahopkins opened #1608 "Add documentation on calver and LTS"
In addition to adding to the website (different discussion), the docs should probably have something about the LTS and versioning in the getting started section. See #1532.

[2019-06-21 13:47] untitaker commented on #1532
19.6's breakage was not in terms of API, but in terms of supported Python versions. The labels "beta" and "stable" are not arbitrary, they are just relative. Yes, sanic as a project is considered beta, but 18 is still considered more stable than 19. In any case, if I am running my sanic v19 app on Python 3.5, updating Sanic will break my app. This was an intentional change, while the same happenin

[2019-06-21 16:34] andreymal commented on #1535
Perhaps it's fixed in 19.6?

[2019-06-22 18:28] ahopkins commented on #1535
Yes, `Expect` header was added in 19.6 👍  Thanks @andreymal

[2019-06-22 18:28] #1535 closed

[2019-06-23 15:09] untitaker commented on #801
BTW, the default configuration in Sanic is still completely unsafe.

https://github.com/huge-success/sanic/blob/891f99d71d3bd17501a9762b0843736f4377e3f3/sanic/request.py#L358-L362

The docstring is misleading in the sense that it implies Sanic has the necessary knowledge to decide whether a header can be trusted or not, but per default it just trusts any header that comes its way.

BTW, this minds

[2019-06-23 15:13] andreymal commented on #801
Yes, it has. See `PROXIES_COUNT` and `REAL_IP_HEADER` options ([#1539](https://github.com/huge-success/sanic/pull/1539))

[2019-06-23 15:14] untitaker commented on #801
@andreymal sanic has the necessary knowledge if somebody took time to configure those values. Per default sanic just trusts `x-forwarded-for` and `x-real-ip` as far as I can tell.

[2019-06-23 15:23] untitaker commented on #801
In any case, I can see why you would want to have this as a default, I am just saying that this needs to be made very explicit as it works unlike most other Python web frameworks I've seen, where reading from proxy headers is usually opt-in (Flask, Django at least).

Consider that strawpoll's IP-based voting limits can still be circumvented by setting proxy headers because of this kind of default

[2019-06-23 16:29] likern opened #1609 "Custom default JSON Encoder / Decoder for request / response"
**Is your feature request related to a problem? Please describe.**
I'm working with Mongo database and returning Mongo results as HTTP response:

[code]

With default serialization of Mongo objects to JSON (internally in `response.json`) I get exception

So I need **custom** JSON Encoder to be able to encode [**ObjectId** type](https://docs.mongodb.com/manual/reference/bson-types/#objectid) to str

[2019-06-23 17:11] ahopkins commented on #1609
I don't see this as a feature we would add into the library directly, because, as you pointed out there is the dumps argument on response method. What I would suggest is creating a wrapper that calls with the argument that you want.

I'll try and provide you with a code snippet later when I'm at a computer.

[2019-06-23 17:43] Ronserruya opened #1610 "Add docs for execution order of listeners"
I noticed an undocumented behavior with listeners, where some of them run in reverse order of registration

1. What is the rationale for that?
2. Can this be added to the docs?

**Additional context**
Relevant lines of code from https://github.com/huge-success/sanic/blob/master/sanic/app.py#L1356
[code]

[2019-06-23 18:06] greentornado commented on #1609
you can str(document['_id']) before return

[2019-06-23 18:37] likern commented on #1609
@greentornado @ahopkins Yes, this is suitable as quick solution. But the problem is in solution which is sustainable, especially for large code base.

This approach `str(document['_id'])`:
-  is working only on exact document
 - it relies on exact document structure (ObjectID type might be elsewhere) or requires to inspect document structure to find all other possible places where conversion is re

[2019-06-23 21:25] c-goosen opened #1611 "Adding Bandit security static analysis for CI/CD"
**Is your feature request related to a problem? Please describe.**

Adding Bandit security static analysis for sanic code. Good to pick up on potential dangerous code added to project inadvertently.

**Describe the solution you'd like**
Add bandit comparability and deal with false positives.

**Additional context**
Bandit: https://pypi.org/project/bandit/ && https://bandit.readthedocs.io/en/latest

[2019-06-23 21:26] c-goosen commented on #1611
PR: https://github.com/huge-success/sanic/pull/1612

[2019-06-24 00:37] ashleysommer commented on #1603
@mikepc
I'm the author of Sanic-CORS. I responded to your issue you raised on the Sanic-CORS repo about this.

The issue of executing the same method twice is usually meant to be handled by the user's route handler, like this:

[code]
Or if you don't want to do that for every route function, you can turn on `automatic_options` to let Sanic-CORS do that for you:
[code]
_OR the config method_:
[code

[2019-06-24 00:42] ashleysommer commented on #1603
In response to the feature-request:
My feeling is this is not a feature that belongs in Sanic.
As always, its a trade-off between super-fast light-weight framework, vs bundled features and extended capabilities.
Other frameworks such as Flask leave CORS functionality up to plugins to handle, and I think Sanic should remain in the same boat.

[2019-06-24 03:41] greentornado commented on #1609
Yeah, `str()` is just my suggest.

in my case, I wrote a `prepare_document` func for this, called on each document when iterating over cursor

[2019-06-24 09:26] harshanarayana commented on #1609
@likern Did you try to override the default `sanic.response. json_dumps` ? If you do override this, you can change the default JSON dump behavior without having to pass is with every `json()` call.

[2019-06-24 10:53] ahopkins commented on #1609
When in doubt... mokneypatch :laughing:

As far as using middleware, I do not see anything that would prevent you from doing so.

[2019-06-24 10:55] ahopkins commented on #1603
I agree with @ashleysommer. This is something that `Sanic-CORS` provides, and is not something we would want to add into the core code base. Please feel free to continue the conversation, but I am closing the issue.

[2019-06-24 10:55] #1603 closed

[2019-06-24 11:06] ahopkins commented on #1606
I am not seeing the same behavior.

[code]

The printed routes are:

[code]

And, when I hit the endpoint:

[code]

The endpoint seems to be found, and the casting is done properly.

What am I missing?

[2019-06-24 11:46] ashleysommer commented on #1609
@harshanarayana and @ahopkins are right. I have monkeypatched `sanic.response.json_dumps` in an application before, it works as expected.

[2019-06-24 17:08] yunstanford commented on #1611
closed by https://github.com/huge-success/sanic/pull/1612

[2019-06-24 17:08] #1611 closed

[2019-06-24 20:29] ahopkins commented on #1591
Closing this. Any further discussion, let's move to forums.

[2019-06-24 20:29] #1591 closed

[2019-06-24 20:34] ahopkins commented on #1601
Yikes, does seem like a tough one to debug. I guess the best way is to do it incrementally. Try with a very small class and mock out `_build_endpoint_name` and `handle_request` and see if Cython can build.

I am certainly no expert in Cython, but it does seem far-fetched to think that `__name__` is not implemented.

[2019-06-25 15:40] likern commented on #1609
@ahopkins @ashleysommer @harshanarayana Could you, please, provide source code example with `JSONEncoder`?

[code]

[2019-06-25 16:54] likern commented on #1609
I digged into a little bit. It looks like it's not possible to do that. Because of how default function arguments are evaluated.
Here is a screenshot where I successfully overwritten `json_dumps`, but it's not working.
Because `response.json` function already binded `dumps` parameter to built-in.

![Screenshot from 2019-06-25 19-53-24](https://user-images.githubusercontent.com/842306/60117572-f694

[2019-06-25 19:01] ahopkins commented on #1609
Something like this should work.

[code]

[2019-06-28 16:35] #1394 closed

[2019-07-02 21:14] smlbiobot opened #1618 "AttributeError: 'coroutine' object has no attribute 'output'"
**Describe the bug**
A clear and concise description of what the bug is, make sure to paste any exceptions and tracebacks.

Encountered exception during stress testing:

[code]

**Code snippet**
Relevant source code, make sure to remove what is not necessary.

**Expected behavior**
A clear and concise description of what you expected to happen.

No exception would be ideal.

**Environment (please

[2019-07-03 00:11] Lagicrus commented on #1606
Thanks for testing it. Whilst I am not sure what is causing it I did spot a difference in the printed route when I checked that.
[code]
Where if you look at the pattern I have it as `/(str)$` whilst you have `/(^/]+)`

[2019-07-03 00:14] Lagicrus commented on #1606
Wait a second I just realised my mistake. I defined the type for `edit_type` as `str`, not `string` which you did. And after changing my test to be that it works.. 🤦‍♂️
I had assumed that it would have included Python's shorthand for string (str) to be allowed, not having to type out the long hand (string).
Maybe that can be added or the docs for Request routing parameters can be updated to includ

[2019-07-03 00:14] #1606 closed

[2019-07-03 02:07] sjsadowski commented on #1618
Please fill in the blanks here: sanic version, code snippet, expected behavior, and actually explain your problem.

[2019-07-03 06:44] ahopkins commented on #1606
I agree with you 100%. I am working on a proposal for a replacement router (faster, more flexible, more efficient) that is also entirely backwards compatible with the current router. In that, I have addressed that "gotcha" and inconsistency between strings and integers. In the mean time... I'd be happy to review a PR to the docs if you would like to put one together.

[2019-07-03 06:47] ahopkins commented on #1618
@smlbiobot That looks to me like you have a view that responded with some object instead of a `sanic.HTTPResponse` object.

Perhaps you have something like:

[code]

While that would be a convenient API (that I know some frameworks adopt), wrapping that in `sanic.response.json` does mean that there is one less step needed to rendering your output. That explicit definition across LOTS of requests c

[2019-07-03 16:25] Lagicrus commented on #1606
Added a PR to update docs over at https://github.com/huge-success/sanic/pull/1620

[2019-07-05 01:01] csrftoken opened #1622 "If you get the user's real IP"
Because the front end USES nuxt framework for server side rendering, I can't get the real IP of the user through request.ip.
What should I do?

[2019-07-05 01:10] csrftoken commented on #1622
I set up nginx's proxy

[2019-07-05 01:58] csrftoken commented on #1622
![image](https://user-images.githubusercontent.com/29940756/60693061-5b7ebd00-9f0b-11e9-8f8d-634a5a391e98.png)
This is my nginx config.

[2019-07-06 22:25] loek17 opened #1623 "using AGSI the Set-Cookie header is send twice, one correct, one wrong"
**Describe the bug**
When using a AGSI server (unicorn) the Set-Cookie header is send twice, one time correctly formatted, one time formatted as a json dict. See curl response below.

[code]

**Code snippet**
[code]

**Expected behavior**
The first Set-Cookie header should not be send.
[code]

**Environment (please complete the following information):**
 - OS: Lunix
 - Version: 19.6.0

**Additiona

[2019-07-08 01:27] csrftoken commented on #1622
I also fix it, thanks.

[2019-07-08 01:27] #1622 closed

[2019-07-08 07:09] harshanarayana commented on #1623
@loek17 Agreed. This is an issue that needs to be fixed. Let me open a PR to address the same.

[2019-07-09 04:49] Caoyiii commented on #299
api = Blueprint('api', url_prefix='/api', strict_slashes=True)

    def register_api(view, url, pk='id', pk_type='int'):
        view_func = view.as_view()
        api.add_route(view_func, url, methods=['GET', 'POST'])
        api.add_route(view_func, f'{url}<{pk}:{pk_type}>', methods=['GET', 'PUT', 'DELETE'])

    register_api(classView, '/topics/')

[2019-07-09 09:44] thao6626 opened #1626 "request.args can keep blank values"
The request.args property does not contain blank values, because of using `parse_qs(self.query_string)` without `keep_blank_values=True`

when i get a request, the query str contains string like "aaa=&bbb=1" , the request.args does not have arg: aaa

Sometimes, I need get all the query string args to do something else,  even if the key does not have value

[2019-07-09 10:10] thao6626 commented on #1626
so sorry for asking the question. i find the higher version has supported this feature

[2019-07-09 20:26] rogercorrea opened #1627 "Using Paramiko in Sanic"
Please,

I'm trying to use Paramiko with Sanic webservice but I only found error:

But my code works fine outside Sanic, on the same server.
Can it be an architectural limitation or the Sanic blocked my 22 port?

My code:

`from paramiko import SSHClient
 import paramiko

    ssh = SSHClient()
    ssh.load_system_host_keys()
    ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())

    ssh.co

[2019-07-09 20:55] rogercorrea commented on #1627
Sorry.
I did found a error that I made.
My code in above work in Sanic.

[2019-07-09 20:55] #1627 closed

[2019-07-10 02:35] #1626 closed

[2019-07-10 04:58] yunstanford opened #1628 "Features/Milestones for 19.9"
thread for discussing goals of 19.9 release

[2019-07-10 14:14] ahankinson opened #1629 "Uvicorn and Sanic have incompatible websockets dependencies"
**Describe the bug**
Using pipenv to install sanic and uvicorn fails because Sanic requires websockets >= 6.0, <7.0, and uvicorn requires websockets ==7.*

You can install this with `pipenv install --skip-lock`, but locking the packages will produce an error.

[code]

**Expected behavior**
Since the documentation describes running Sanic with uvicorn, I would expect this to work.

**Environment (pl

[2019-07-10 14:39] ahopkins commented on #1628
I am working on an alternative Router implementation. Whether it is something we want to introduce To Sanic is another question. My goal was to make it faster, but also to reduce and correct some of the... idiosyncrasies of the Sanic router. I should have my proposal ready in the next week or so.

[2019-07-10 15:58] ahopkins commented on #1629
Yes, this is a known issue. We hope to upgrade the Sanic implementation to the newer version of websockets in v19.9

[2019-07-10 15:59] ahopkins commented on #1628
Fixing websockets in the native Sanic server. #1629

[2019-07-10 16:08] harshanarayana commented on #1628
@yunstanford Here's what I have in my todo list

1.  I am working on adding the changes required to manage Release note automatically using `towncrier`. This should help us manage a better changelog and eventually start publishing it to the Website directly at some point.

2. Add `signal` support for request and response middleware so that the events can externally be handled. These events can com

[2019-07-10 19:20] ahopkins commented on #1628
@harshanarayana

The `signal` idea sounds awesome. Looking forward to hearing about that.

I would be happy to work with you about those guidelines. It needs attention I agree. I also would like to get some people together to start working on a **proper** website: docs, examples, tutorial, announcements. Integrating that with `towncrier` for a changelog sounds great.

[2019-07-11 03:59] harshanarayana opened #1630 "RFC : Signals Support for Sanic Proposal"
# Proposal : Signals Support for Sanic

- [Proposal : Signals Support for Sanic](#proposal---signals-support-for-sanic)
  * [Introduction](#introduction)
  * [Background](#background)
  * [Proposal](#proposal)
    + [Signal Description](#signal-description)
    + [Implementation Details](#implementation-details)
      - [Helper Utilities](#helper-utilities)
      - [Implementation Requirements](#i

[2019-07-11 04:05] harshanarayana commented on #1628
Just opened a new Proposal ticket in Issue with the details https://github.com/huge-success/sanic/issues/1630

Couldn't agree more. Getting the basic design right the first time is really important. I have the initial draft of the proposal. Please feel free to use the ticket for further discussion. I am eager to hear more from the @huge-success/sanic-core-devs

Right now the idea is to just simpli

[2019-07-11 04:35] #1623 closed

[2019-07-11 15:19] harshanarayana opened #1631 "RFC: Enable Towncrier based change log support"
Enable usage of `towncrier` to generate and manage the release change logs automatically.

[2019-07-11 15:40] andreymal commented on #1631
Automatic changelogs are awful.

No automatics can make a good changelog, like this: https://docs.djangoproject.com/en/2.2/releases/2.0/

Or at least like this: https://websockets.readthedocs.io/en/stable/changelog.html

[2019-07-11 18:55] harshanarayana commented on #1631
@andreymal `towncrier` provides a mechanism whereby you can create a `.bugfix` `.feature` file in a specific directory with right markdown template and all it does is gather them and generate clean output with proper groupings.

This in no way is a replacement to manual detailed change logs but this is better than having to sit and go over the commit to extract meaningful information to generate C

[2019-07-12 18:40] #1297 closed

[2019-07-14 08:42] snguyenthanh opened #1633 "Sanic server doesn't restart upon changes on an `await` function"
**Describe the bug**
When there are changes on a custom `await` function that is not in the same file as the `blueprint.route`, the Sanic server doesn't auto-restart to apply the newest changes.

The changes still get applied by manually restarting.

**Code snippet**
I have the following route:
[code]

and the following function:
[code]

`get_url` is a custom function I wrote, and is imported in a

[2019-07-14 09:04] ahopkins commented on #1633
Where is `get_url` imported from?

[2019-07-14 09:31] snguyenthanh commented on #1633
[code]

[2019-07-14 10:09] ahopkins commented on #1633
I am not experiencing what you are referring to. Here is my replication of your setup:

[code]

### app.py
[code]

### main/urls/views.py
[code]

### main/utils/urls.py
[code]

---

I can make changes to any of the files and see the instance restarting in my terminal:

[code]

[2019-07-14 10:42] snguyenthanh commented on #1633
I think you are right. I try setting up the environment again on a different directory, and it seems to work fine.

Thanks for your quick reply and supportive help.

[2019-07-14 10:42] #1633 closed

[2019-07-14 12:31] ahopkins commented on #1633
Glad to hear it and happy to help.

[2019-07-17 02:01] Yougigun commented on #987
wondering

[2019-07-17 08:29] gatopeich commented on #1586
Disabling auto-reload makes no difference for me

[2019-07-17 09:01] gatopeich commented on #1586
This is how I managed to run within `vscode` debugger:

Instead of starting with `app.run(**run_args)`, you add the app to an event loop and run it "forever":

[code]

[2019-07-17 13:57] mojimi commented on #1192
Yup the issue is with Visual C, which is annoying so I just decided it was better to install ubuntu

[2019-07-17 20:02] ahopkins commented on #987
With all due respect to @davidtgq, I am not sure the questions posed here are too relevant since it is asking about a comparison between a web server/framework and a programming language. Both are trying to achieve very different things.

The conversation would be more relevant about the pros and cons working in one language versus the other, which is sort of outside the scope of what the Sanic te

[2019-07-18 05:14] RifeWang commented on #628
@fqucuo
I have updated to latest version 19.6.2 and set REQUEST_TIMEOUT to 120 seconds .
[code]
but still get 504 . How do you set configuration ?

[2019-07-19 08:15] enf644 commented on #1517
I encountered the same error on Windows 10. Cant use more than one worker. I get the same error but on all routes, not just static ones.

[2019-07-19 14:13] Tronic opened #1636 "RFC: Forwarded header and other proxying improvements"
The new Forwarded header provides proxied remote_addr, host etc. more reliably than the X-Forwarded headers do. I am currently implementing this into Sanic following the article of Nginx folks https://www.nginx.com/resources/wiki/start/topics/examples/forwarded/

In particular, I am using the secret="..." parameter to identify the correct and true proxy, instead of PROXIES_COUNT.

So far I have a

[2019-07-20 14:30] Tronic commented on #801
I am currently working on this in #1636. Having so many unsafe proxy headers being trusted by default is definitely problematic because any one of them may go unfiltered by the proxy and happily accepted by Sanic. It is worth noting that X-Scheme, X-Forwarded-Proto, X-Forwarded-Port and X-Forwarded-Host are trusted irregardless of Sanic config variables that may be used to secure or disable X-Forw

[2019-07-20 14:39] Tronic commented on #1636
Should config.SERVER_NAME be a full URL to application root or simply a hostname? app.url_for() accepts full URLs but request.url_for() (which uses it via request.server_name) expects only a hostname, and breaks down. Passing a full URL is definitely useful, as the frontend typically uses different scheme and port than the Sanic server.

I am currently thinking of adding request.netloc (or .extern

[2019-07-21 09:16] untitaker commented on #801
Strongly agreed, current state is irresponsible.

On July 20, 2019 4:30:25 PM GMT+02:00, "L. Kärkkäinen" <notifications@github.com> wrote:

[2019-07-21 10:18] Tronic commented on #1636
Waiting for review on pull request #1638

[2019-07-21 12:31] Tronic commented on #1636
Multiple header support is now implemented for Forwarded as well as X-Forwarded-For. Previously only the first header was used, which caused incorrect proxy being picked up in some cases.

The testing framework does not appear to support multiple headers but operation may be studied by curl, e.g.

[code]

Provided that config.FORWARDED_SECRET = "mySecret", the middle one is picked and req.forwarde

[2019-07-21 18:05] ohahlev commented on #1248
Why need to have this auto_reload when we can use [entr](http://eradman.com/entrproject/)?

My folder structure:
[code]
run.sh
[code]

1. Escalate this feature to the external tool will save everyone's time
2. We can tell shell script to only reload the whole project if some file content in any folder change; and how do we do that in Sanic? I guess there might be some additional works need to be d

[2019-07-22 01:04] likern commented on #1628
I would like to see plugin API. As I see some extensions they all connected differently. It will allow build extensions in a unified way.

Fix notorious bug that middleware blueprints are registered globally.

[2019-07-22 03:31] ashleysommer commented on #1628
@likern
That is the reason I created https://github.com/ashleysommer/sanicpluginsframework I was frustrated at seeing all extensions attempting to attach to Sanic in different ways. And most plugins treating Sanic app as if it was Flask, with mixed results.

SPF has been around since October 2017, and has been compatible with on all Sanic versions since Sanic v0.6.0.

It adds a common plugin inter

[2019-07-22 05:44] Tronic commented on #1248
You just added a UNIX subsystem and entr (doesn't seem to be available on my package manager) to the requirements, to implement a reloader that is worse than Sanic's. Sanic detects changes and reloads even if modules outside current directory are updated. The dozens of other autoreloaders (such as gunicorn) weren't unified enough, so let's add one more to the pile.

There are clear advantages of h

[2019-07-22 05:48] likern commented on #1628
@ashleysommer I've seen your work and I like it. But plugin API should be officiall, so users and devs can be sure it's reliable and it will not break accidentally, it's difficult to invest time to plugin if SPF at time might become unsupported. But it might be merged as official or be base of plugin API

Anyway, I think it's good time discuss plugin API and how to extend Sanic  All major Node.js

[2019-07-22 08:25] harshanarayana commented on #1628
@likern Enabling a standardized way of writing plugin is one of the reasons I opened a new proposal under #1630

If implemented right, that proposal will go a long way in standardizing how the `sanic` plugins can be built and integrated while following a standard, conventional and official API. Please feel free to go over the document and add comments accordingly.

[2019-07-22 12:37] c-goosen opened #1639 "Start event loop and pass to App before App start"
Hi.

Wondering if I can start a event loop and pass it to sanic.

Having issues with libraries that need an event loop and testing that library is working in a __init__.py or before server start.

Having issues with 2 event loops.

Thanks
Christo

[2019-07-22 13:16] Tronic commented on #1639
It uses asyncio get_event_loop() to get the current loop in app.run(). You can use set_event_loop() to choose your own.

[2019-07-22 20:49] yunstanford commented on #1628
Regarding the unified plugin API, we should have an official spec in our Documentation, e.g if we adopt the one @ashleysommer created/proposed.

[2019-07-23 08:25] c-goosen commented on #1639
Actually solved it with app.listener("before_server_start")
def before_server_start(app, loop):

[2019-07-23 08:26] c-goosen commented on #1639
Just need to pass event loop explicitly to libraries that do not handle it correctly. Some libraries are not using get_event_loop as sanic does properly.

[2019-07-23 08:26] #1639 closed

[2019-07-24 04:14] sjquant opened #1642 "Is server sent event restricted to the number of connections?"
[code]
This is my code in router.py. And I’m trying to test sse and websocket.

When I’m using SSE, I’m restricted to only 6 index.html,
and after that, additional network connection to /sse/real-price is pending.
Existing 6 same pages work well, but additional page freeze because of the pending connection.

When I’m using websocket, it works regardless of the number of pages.

Is it natural or di

[2019-07-24 19:37] greatvovan opened #1643 "pip3 install fails on version 19.6.2 on Mac"
When trying to install the package globally:
`pip3 install sanic`
It says in the end:
[code]
It is expected that access to this directory requires root permissions but it is not clear why setup process tries to write there.

Same works if I specify the previous version 19.6.0.

 - OS: macOS 10.14.5
 - Python3 installed through `brew`

[2019-07-24 20:46] madelyneriksen commented on #1643
Hi!

You're trying to install Sanic using your user's "global" install of Python that you installed with `brew`. This won't work because, like the error message says, it tries to install into an area that requires elevated permissions.

This is best fixed one of two ways:
* Using a virtual environment with a tool like `venv`, `virtualenv`, or `pipenv`
* OR using the `--user` flag, which will insta

[2019-07-25 02:50] sjquant commented on #1642
It was because of chrome issue. I'll close this issue.

[2019-07-25 02:50] #1642 closed

[2019-07-25 05:45] Tronic commented on #1643
MacOS brew normally installs in /usr/local/ where the normal user has write permissions. Perhaps pip3 install sanic should be installing to /usr/local/ rather than /usr/?

@greatvovan Which python3/pip3 are being used on your system? Use which pip3 or which python3 to find out. Are these in /usr/local/bin or /usr/bin?

[2019-07-25 06:30] subhoreck0n commented on #1628
Does it make sense for Sanic to have its own ORM rather than relying on SQLAlchemy?

[2019-07-25 06:43] Tronic commented on #1628
No. Sanic has nothing to do with databases (or templating etc). Besides, you could be using Redis, Mongo or other no-SQL databases (I certainly am).

[2019-07-25 11:43] ZeeRoc opened #1644 "Custom log not working in sanic"
[code]

[code]
```dictConfig(logging_config)```

This is my config part , other logger is work , but 'sanic.access','sanic.error' is not work, It show on console, but not in file.

[2019-07-25 13:57] ZeeRoc commented on #1644
@yunstanford

[2019-07-26 10:21] Tronic commented on #958
This seems to be already addressed in current git master. I suggest closing.

[2019-07-26 10:48] Tronic commented on #1597
I tried current git master with websockets 8.0.1 and all tests pass OK. The requirement for websockets<7 is causing dependency issues, especially when multiple web frameworks are used in the same project. Issues #1214 and #1233 appear to be about new features. Is there still something that is actually broken by using the latest websockets version?

[2019-07-26 13:19] ZeeRoc commented on #1644
@yunstanford

[2019-07-26 15:41] notpushkin opened #1646 "Allow nonstandard HTTP methods"
**Is your feature request related to a problem? Please describe.**
I'm trying to implement some WebDAV-specific methods, but I get the `sanic.exceptions.InvalidUsage: MKCOL is not a valid HTTP method.` error.

**Describe the solution you'd like**
Probably the best way would be to remove the method whitelist altogether. It can be left for the class-based views, though.

[2019-07-26 16:30] harshanarayana commented on #1646
@notpushkin  You can always override that parameter in your code before using the View.

[code]

[2019-07-26 16:33] Tronic opened #1647 "RFC: Streaming without callbacks"
What do you think on using yield to acquire a response object for streaming? In addition to no-callback pure async code, this would also be extensible to HTTP/2 Server Push, where multiple responses may be sent from one request.

[code]

There is a proof of concept pull request #1645.

[2019-07-27 04:49] hu0514 opened #1648 "Reference variable"
I set the configuration file with app.config.update() and how to use these variables in other files (not referencing this method again via import file)

[2019-07-27 15:49] notpushkin commented on #1646
@harshanarayana Nice workaround! However I still feel it could be done better. Perhaps a tiny helper function like `sanic.constants.register_http_methods(["MKCOL", "COPY", ...])`?

[2019-07-28 22:50] viniciusd commented on #530
Are we good with moving forwards type hinting on sanic?

[2019-07-29 20:09] yunstanford commented on #1644
@ZeeRoc can you provide more details ? like how did you setup logging or a small piece of code for reproducing

[2019-07-30 14:11] sjsadowski commented on #1643
While this is dupable, there are other things that fail using pip/pip3 due to permissions, and not just on MacOS. I wouldn't really call this a sanic issue, and I would endorse using the ```--user``` flag.

Alternately, you can force install it globally with ```sudo pip3 install sanic``` - but I really wouldn't recommend that.

[2019-07-30 14:11] #1643 closed

[2019-07-30 14:19] sjsadowski commented on #1628
I'd be really interested in officially adopting @ashleysommer 's plugin framework to allow for standardizing things better as well as having a 'recommended, official' way for people to extend sanic.

[2019-07-30 14:23] sjsadowski commented on #1628
With ASGI in place, I'd like to start looking at deprecating the WSGI stuff. Stripping out the custom gunicorn workers and generally working toward 100% ASGI. 18.12LTS will continue to support them through 2020, and I'd like for us to have a decision for 19.9 so that we have a deprecation period before this year's LTS.

[2019-07-30 23:30] ashleysommer commented on #1628
@sjsadowski I'm happy to work closely with the rest of the devs to make SanicPluginsFramework the adopted standard for extending Sanic, if that is the path we choose to go down.

The way SPF currently attaches to a Sanic App, is it uses monkey-patching to create wrappers for the `handle_request`, `_run_request_middleware`, and `_run_response_middleware` methods, in order to inject the extra functi

[2019-08-01 14:04] allista opened #1650 "Response is canceled while streaming gzipped data"
**Describe the bug**
I'm trying to stream dynamically generated csv data gzipped both for transfer and to save it as `file.csv.gz`. Each time I get the following error as soon as the transfer starts:
[code]
The client receives exactly 2 bytes before this happens.
I used chrome, wget and curl with the same result, so it's definitely server-side.

**Code snippet**
Streaming is done like this:
[code]

[2019-08-01 14:26] allista commented on #1650
And for anyone who has this issue:

When `zlib.Compress` object compresses data in chunks, it buffers it internally and sometime returns 0 bytes for a given chunk. And `response.write(b'')` terminates the connection, as it turns out.

[2019-08-01 14:26] #1650 closed

[2019-08-02 18:08] wuxianliang opened #1651 "[HELP WANTED] The example of Sanic and Dask does not work. Really need a new one."
Nowadays RapdisAI platform uses the Sanic as backend for [cuXfilter](https://github.com/rapidsai/cuxfilter). I would like to work with sanic, dask and dask-cuda. The example in Sanic Wiki is the only example on this subject. It is a pity that it does not work anymore.
[code]
I have tried a lot to fix but does not succeed. I need something like the following.
[code]
Really hope an expert can fix it

[2019-08-04 05:52] skytoup opened #1652 "The response.content_type is not add to headers in ASGI"
Perhaps the response.content_type is add to headers here.

[2019-08-04 06:01] skytoup opened #1653 "In ASGI, headers is output as body"
simple test code
[code]

The HTTP response will output twice headers.
One of them is in the headers (✅), the other time in the body (❎)

[2019-08-04 09:13] ZeeRoc commented on #1644
I read documentation，It tell me logging config need set ‘sanic.access’, I was set，It show in console，but in my config，It should in file.

I need let 'sanic.access' log write in file,  How do i do?

[2019-08-04 09:18] ZeeRoc commented on #1644
I think , I use python logging , and use dictConfig config log, Then add 'sanic.access','sanic.error'.. in python logging , sanic log should write in file by logging config, but it show in console , not in file.

[2019-08-04 09:24] ZeeRoc commented on #1644
Logging config in first comment, Then i used it in code, like this `logging.info('This is my log')`, other log is work, all write in file , but 'sanic.access','sanic.error','sanic.root' still in console, not in file, I think it's not my mistake. or sanic log use python logging need special config？ @yunstanford

[2019-08-04 10:43] skytoup commented on #1644
[code]

[2019-08-04 23:38] ashleysommer commented on #1647
I actually had a similar idea, back when I re-implemented the streaming response type in its current form.
Its not a bad idea.

[2019-08-05 13:22] ZeeRoc commented on #1644
`app = Sanic(__name__, log_config=settings.logging_config)`

Like this ?

[2019-08-05 19:13] skytoup commented on #1644
yes

[2019-08-06 05:16] Tronic commented on #1647
One thing that I am wondering is whether using asyncgen here would lead to issues with connection timeouts or clean server shutdown. From my experience with asyncio socket programming everything just breaks in innumerable unexpected ways, especially when you do anything in the slightest unconventional.

[2019-08-06 15:33] #1631 closed

[2019-08-11 07:37] ahopkins commented on #1597
@Tronic The last I had tested it, there were some breaking changes in names. And, in running `examples/websocket.py`, it looks like that is still the case.

[code]

[2019-08-11 07:41] ahopkins commented on #1648
Is there a question here?

[2019-08-11 07:41] ahopkins commented on #1648
Once `app.config` is set, you can access them anywhere you can access `app`.

[2019-08-11 07:43] ahopkins commented on #1646
I am not sure that I think this is such a necessary feature that @harshanarayana workaround requires further support. Any time there is something non-standard going on, I think this is the place for either an extension, or a simple hack as presented here.

[2019-08-11 07:43] #1646 closed

[2019-08-11 07:44] ahopkins commented on #530
We have started adding it in certain places. Hopefully we will see more of it.

[2019-08-11 07:51] ahopkins commented on #1628
@sjsadowski I am not sure that I am personally ready (nor do I think the project ready) to start discussing the deprecation of the gunicorn worker. I would like to see ASGI get a little more robust, and perhaps tackle that in the 2020 release cycle.

@ashleysommer While I 100% appreciate what you have attempted with SPF, I do not personally like its approach with monkey-patching, etc. This is why

[2019-08-11 07:53] ahopkins commented on #1651
Can you let us know what is broken?

[2019-08-11 08:30] ahopkins commented on #1652
See the fix in #1654. Thanks for bringing this up.

[2019-08-11 08:31] ahopkins commented on #1653
This is with the Gunicorn worker?

[2019-08-11 08:31] #1644 closed

[2019-08-11 08:34] ahopkins commented on #1647
I agree that this is worthwhile to explore.

[2019-08-11 08:39] ahopkins commented on #1597
See #1635 for a fix.

[2019-08-11 09:00] Tronic commented on #1647
Thanks for the feedback! The current implementation is hackish (implemented with minimal amount of code) but since you like the concept, I'll look closer into it. What comes to asyncgens, I can confidently say that with Trio they pose no issues. With asyncio-- well, more testing is necessary.

[2019-08-11 09:30] ahopkins commented on #1630
I am in favor of this. As a quick reminder, some of these proposed signals will not *really* be supported in ASGI mode. And, I think we might want to work on some of the naming of them to stay consistent (ie `after_server_stop` >> `server_stopped`)

[2019-08-11 09:33] ahopkins commented on #1630
In general, I think we need to also keep in mind [ASGI lifespans](https://asgi.readthedocs.io/en/latest/specs/lifespan.html#lifespan-protocol). These really only correspond to `server_starting` and `stopping_server` since we are not in control of the failures. But, food for thought especially in the protocol being used to send messages.

[2019-08-11 10:14] Garito commented on #1628
Giving the fact that sanic is async, I see no point on gunicon or similar
I run it on a docker containers (for scalability)
Perhaps someone could explain to me for what is this needed

About SPF: agree with @ahopkins: monkey-patching bad

A side note: I tend to respect more projects that, from time to time, reduce their code base
The less code the better ALWAYS and the majority of projects tend to

[2019-08-11 13:38] #1652 closed

[2019-08-11 13:40] skytoup commented on #1653
I made a mistake. Is used in ASGI, not WSGI. It is use the uvicorn.

[2019-08-11 13:46] viniciusd commented on #530
Awesome, I am willing to assist on this

[2019-08-11 15:15] ahopkins commented on #530
@viniciusd hired! 💪

I'd suggest to start a PR and mark it "WIP". Let me know if you have any questions, or need any direction.

[2019-08-11 23:29] viniciusd commented on #530
Great! So I am gonna start type hinting sanic. I should take a better look at the source code so I can make that incremental, probably performing the work on a [sub]module basis.

Thoughts on taking Sanic up to 3.6 though? [PEP-526](https://www.python.org/dev/peps/pep-0526/) improves the type hinting syntax

[2019-08-12 17:48] #1629 closed

[2019-08-12 21:10] ahopkins commented on #530
Starting with [v19.6 we did bump to 3.6](https://sanic.readthedocs.io/en/latest/sanic/changelog.html#deprecations-and-removals)

[2019-08-13 06:37] snguyenthanh opened #1655 "OverflowError while using response.json with Gino models"
**Describe the bug**
`response.json` throws `OverflowError` with Gino.
Moreover, upon changing to `response.text`, there are no issues.

[code]

**Code snippet**
[code]

It seems to be because `data` is a `List` of Gino's models, instead of a `List` of `dict`.

Should `Sanic` raise a more detailed exception, like `unable to serialize the argument` ?

**Environment:**
- GINO version: 0.8.3
- Python

[2019-08-13 08:05] harshanarayana commented on #1655
@snguyenthanh

`Gino` models have a `to_dict` helper available via `CRUDModel` Using that will fix your problem.

[code]

[2019-08-13 08:24] harshanarayana commented on #1630
@ahopkins When I did the initial draft of this, our ASGI support was still underway. I am working on an updated draft related to the ASGI lifespan and tweaking the signals accordingly and possibly altering some of their names to a more generic reusable form across the framework. I will reach out to you via Gitter for a review soon

[2019-08-13 09:30] GauravGaikwad94 opened #1656 "How to store logs in a log file."
Hello there,

I am trying to store all sanic logs in a file, but I am not able to do that.
Please help me out.

[2019-08-13 13:16] skytoup commented on #1656
custom log.
You can refer to this issue
#1644

[2019-08-13 17:05] snguyenthanh commented on #1655
Thanks @harshanarayana for the reply.
I was surprised when I got the `OverflowError` from `response.json`. And it took me some time to figure out it's a serialization error.

So I was thinking it may be helpful if the serialization error is handled by `Sanic` instead of building a custom handler.

However, if you think it is not necessary for `Sanic` to internally handle serialization errors, I'm

[2019-08-13 21:38] bronte2k7 commented on #1628
config.from_json

[2019-08-14 09:34] harshanarayana commented on #1655
@snguyenthanh but the cause of a serialization failure could be very large and varying based on contexts. So, handling them here as part of Sanic directly might become an additional performance overhead. They are probably better off being added as and when required during the implementation. This is just my personal opinion.

Do not close the issue yet. Let the wider core Dev group take a final ca

[2019-08-14 14:34] froginwell opened #1658 "requests_count may be wrong"
# sanic/server.py

[code]

data_received may be called many times in one http request. What's the meaning of requests_count?Does it refer to the count of data_received or the http request?

[2019-08-14 21:53] jkjunior opened #1659 "App must be running before you can run middleware on Docker"
I have a Sanic-GraphQL app and I'm trying to run it into a Docker Container.

But i'm having this issue when my app receives any request:

`Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/sanic/app.py", line 885, in handle_request
    response = await self._run_request_middleware(request)
  File "/usr/local/lib/python3.7/site-packages/spf/framework.py", line 533,

[2019-08-15 16:44] jkjunior commented on #1659
Solved by installing all libs again from requirements.txt. It should warn that was a missing lib problem.

[2019-08-15 16:44] #1659 closed

[2019-08-20 03:12] ccravens commented on #1456
+1 I’m currently looking into integrating HBMQTT into Sanic (https://github.com/beerfactory/hbmqtt)

Will try and post back if I make any significant progress

[2019-08-21 14:11] ansonfoong opened #1660 "Having trouble installing Sanic on ubuntu, it's stuck on "Running setup.py install for uvloop ... \""
I'm on Ubuntu, just upgraded to latest version:

`Requirement already satisfied: requests==2.* in /usr/lib/python3/dist-packages (from requests-async==0.5.0->sanic)
Requirement already satisfied: httpcore==0.3.* in /usr/local/lib/python3.6/dist-packages (from requests-async==0.5.0->sanic)
Requirement already satisfied: certifi in /usr/lib/python3/dist-packages (from httpcore==0.3.*->requests-async

[2019-08-21 15:00] sjsadowski commented on #1660
Looks like permissions. Are you installing inside a virtualenv using virtualenv or pipenv?

If not, it's trying to build to your system python lib path, and without running as root or elevated with sudo, it will probably fail.

[2019-08-21 16:25] ansonfoong commented on #1660
No I'm not use a virtualenv or pipenv. I just tried "sudo pip3 install sanic" and the same thing happens again, I'm also logged in as root too:

`Collecting sanic
  Using cached https://files.pythonhosted.org/packages/13/89/351f12a0f46a68ba9507813f7373b6440e02acc5057ff93744edcf1abf3c/sanic-19.6.2-py3-none-any.whl
Requirement already satisfied: httptools>=0.0.10 in /usr/local/lib/python3.6/dist-pac

[2019-08-22 05:58] yunstanford commented on #1658
If I recall correctly, it’s not real “request count”, it’s just used for hooking up with gunicorn max_requests, which will be used for recycling workers in case of memory leak.

[2019-08-22 13:45] sjsadowski commented on #1660
So I went through with vagrant and stood up a clean 19.04 instance and found it does stall for sometime the first time it builds uvloop, but eventually completes. It looks like it is hanging but it is not. Took about 2 minutes to complete. I would suggest running the install like this:

[code]

[2019-08-23 17:23] LeehoLim commented on #1277
@tadejmagajna what version of Sanic did you use? This still persists when I downgrade to 6.0.

[2019-08-27 06:29] ahopkins commented on #1277
@LeehoLim Look for this to be upgraded in v19.9 to be released soon.

https://github.com/huge-success/sanic/pull/1635

[2019-08-27 06:30] ahopkins commented on #1656
Closing now. If you need more help, you can also turn to [community forums](https://community.sanicframework.org/).

[2019-08-27 06:30] #1656 closed

[2019-08-27 06:32] ahopkins commented on #1655
I am in agreement with @harshanarayana. I am closing, but feel free to continue the conversation.

[2019-08-27 06:32] #1655 closed

[2019-08-27 07:12] ahopkins commented on #1660
Installing `uvloop` can take some time. This is one reason I like to run Sanic inside docker, and just mount my source directory as a volume during development (with either `docker-compose`, or K8S via `minikube`).

One thing that can also help is using [a base image](https://hub.docker.com/r/sanicframework/sanic) that already has `uvloop` installed..

[2019-08-27 07:12] #1660 closed

[2019-08-27 07:13] ahopkins commented on #1660
Closing. If problem still persists please let us know.

[2019-08-29 15:27] jkanche opened #1663 "Testing on Travis, ImportError: cannot import name 'CIDict'"
I am using testing my package on travis and I get the following error:

[code]
the travis configuration is

[code]

I couldn't find any similar issues reported recently so any help on this would be great! Thanks!

[2019-08-29 16:31] Tronic commented on #1663
I think that should be `from multidict import CIDict`, could you try changing it in sanic_cors/core.py?

[2019-08-30 11:25] bernardogomes16 commented on #1663
My code solution:
sanic_cors/core.py
[code]

[2019-08-30 22:04] #1658 closed

[2019-09-01 09:22] robd003 commented on #1479
Any progress on this?

[2019-09-02 05:25] Tronic commented on #1380
This is sorted out by #1638, which gets hostname and port always from the same location (proxy headers or if not found, Host header), and thus proper URLs may be generated via request.url_for which, contrary to app.url_for, has access to this data. No fallback to host/port specified at run, or SSL server name identifier / socket port, is needed because Host header is available in all normal circum

[2019-09-02 06:34] eric-spitler commented on #1380
That PR resolves this case for situations where the URL is being assembled from with a request context. However, it does not resolve it in other cases, such as another thread that is processing ongoing tasks unrelated to incoming requests. The latter use case is likely uncommon so this PR resolves a large percentage of these situations.

So long as the `request.url_for` usage properly retains the

[2019-09-02 09:26] snguyenthanh opened #1664 "[Documentation] Invalid Link to CHANGELOG.md in README.rst"
The link to `CHANGELOG` in [README.rst](https://github.com/huge-success/sanic/blob/master/README.rst) refers to a non-existing `CHANGELOG.md` page.

The link should point to`CHANGELOG.rst` instead.

[2019-09-02 09:31] harshanarayana commented on #1664
@snguyenthanh You are right. Seems like I broke that link as part of #1632

Would you be interested in opening a PR?

[2019-09-02 09:33] snguyenthanh commented on #1664
Sure 👍

[2019-09-03 10:33] gatopeich commented on #1309
This is confusing for my exception serialization code which recognizes it wrongly as an empty dict.
If it is not really a dict, then it should not be sub-classed as one.
A solution based on `__getattr__` would have lesser impact and allow for nicer-looking extension code.

[2019-09-03 12:08] #1636 closed

[2019-09-04 01:09] ndaidong opened #1667 "How to rewrite `response.json()` with middleware?"
Hello,

I have a router as below:

[code]

And the handler:

[code]

Then I got the output with encoded non-ascii characters:

![Screenshot_2019-09-04_07-55-13](https://user-images.githubusercontent.com/1809619/64217881-5cbb6e80-cee9-11e9-9904-64d4c9ec7eec.png)

In order to get these unicode display as they are, I specify `dumps` option of `json()` method as below:

[code]

Result now looks like b

[2019-09-04 04:13] klesh opened #1668 "sanic logs get printed out twice when I use custom logging"
**Describe the bug**
Run the example code found on  https://sanic.readthedocs.io/en/latest/sanic/examples.html#logging-enhancements
Terminal will print out something like these:
[code]
Every single log is being outputed twice including access log... which is very annoying

**Code snippet**
https://sanic.readthedocs.io/en/latest/sanic/examples.html#logging-enhancements

**Expected behavior**
sanic

[2019-09-04 04:32] Tronic commented on #1667
Response middleware runs after your handler, when the JSON is already written to `response.body`. JSON is converted ty bytes as soon as you call sanic.response.json() with your data. Thus, the only way this can work is if you can read and write back the body in correct format.

Another approach would be to derive from response.json with your own class with custom __init__ and then use that in all

[2019-09-04 04:52] Tronic commented on #1667
Ping other developers: would it make sense to default to `ensure_ascii=False`? I suppose that JSON is always in UTF-8, not ISO-8859-1 or others?

[2019-09-04 05:00] ndaidong commented on #1667
@Tronic thank you. It looks like I should create my own json response method based on your suggestion.
Totally agree with you about default support for UTF-8.

[2019-09-04 07:17] harshanarayana commented on #1667
@ndaidong Like @Tronic mentioned, it is easy to customize the json dump mechanism and use. The easiest is to patch the global entity in the `sanic.respose` to use your custom serialization mechanism.

xref: #1609

[2019-09-04 08:48] Tronic commented on #1667
There's also an interesting alternative approach: make your handlers return bare dict objects, and add a middleware that converts this into a HTTPResponse.

[code]

[2019-09-04 13:08] ndaidong commented on #1667
@Tronic thank you so much, I like this approach better. However it does not work for me:

[code]
What I'm missing?

[2019-09-04 13:24] Tronic commented on #1667
Probably your middleware crashes, and thus doesn't convert the object. Did you import ujson and other relevant objects? If that doesn't help, try printing/logging something within the middleware to see if it runs at all. I only tested this with current git master and it might not work with earlier Sanic versions.

[2019-09-05 10:24] Tronic commented on #1420
What happened to this? Trailing slashes still go missing.

[2019-09-05 13:42] Tronic commented on #1221
Can anyone comment again *why* request should be truthy when connected to transport? I'm wondering what the heck that `__bool__` is for.

[2019-09-05 14:52] ndaidong commented on #1667
@Tronic I import ujson and sanic both. Everything work well if I jsonify the result instead of keep it as dict. Look at the exception, I guess that while calling `write_response`, sanic still treats `response` object as instance of HTTPResponse class, but it's actually a dict.

I have logs file as below:

[code]

[2019-09-05 14:57] ndaidong commented on #1667
@Tronic ah, my fault. Sorry, there is an error with the variables `response`. I rename `response` argument in the middleware to `res` then it works now!

[2019-09-05 14:57] Tronic commented on #1667
Conflict with variable name response and module name response. `import sanic` or `from sanic.response import HTTPResponse`. You easily get such conflicts when you use `from sanic import response`.

[2019-09-05 14:59] ndaidong commented on #1667
@Tronic yes, thank you so much. This approach worked for me. Since now I can just return data in the handlers, similar to in the past when I used bottle.py

[2019-09-05 15:21] Tronic commented on #1647
As mentioned in #1661, the experimentation continues. I believe that a simple `await` is the way to go, instead of asyncgen (for various technical reasons). Syntax-wise spawning streaming responses by `res = await req.respond(headers etc)` gets the job done and isn't entirely ugly.

Currently open questions:
- Should headers be sent during that, or deferred until data is being sent (combine in sam

[2019-09-05 17:47] logannc commented on #1221
Not sure if this is still the case, but at the time this issue was opened, `ContentRangeHandler` took a request object as a parameter. So, in handler I was writing that optionally supported the `Range` header, I needed to pass in a request object. This object was an optional parameter as it is not needed if you do not intend to process the `Range` header. Thus, it looked a bit like:

[code]

This

[2019-09-05 17:50] logannc commented on #1221
So I can't comment as to why `self.transport` is necessarily the best choice here, but the request object being truthy has some value.

[2019-09-05 17:55] jkanche commented on #1663
This is fixed on the new version of sanic-cors

[2019-09-05 17:55] #1663 closed

[2019-09-06 01:36] #1543 closed

[2019-09-06 04:25] Tronic commented on #1221
Thanks for the information. Since we are making request no longer inherit dict, this gets fixed too and the `__bool__` operator can be removed.

[2019-09-07 01:47] #1664 closed

[2019-09-07 02:51] snguyenthanh commented on #1401
Looking at the recent posts in [community forum](https://community.sanicframework.org), I found some cool examples, and I think it would be nice to have in `Documentation`:

1. [Sanic with `Celery`](https://community.sanicframework.org/t/add-examples-for-celery-with-sanic/341)
2. [Asyncio's queue in Sanic](https://community.sanicframework.org/t/how-to-use-asyncio-queues-in-sanic/166)
3. [Deploymen

[2019-09-07 05:21] Tronic commented on #1401
The first feeling I get of that list of things that none of them are strongly related to Sanic and will definitely be better documented elsewhere.

One thing that bothered me when coming to Sanic is the mention of deployment with daphne, uvicorn and hypercorn but no tips on which to use, or if this even has any benefits over the built-in server.

[2019-09-07 13:34] matoous commented on #37
Hi! I see there's no update for pass 3 years. Is there any plan to fix or somehow differently resolve this issue? The current behavior seems rather counterintuitive.

[2019-09-07 18:23] Tronic commented on #37
I believe that this should be fixed (make them local). However, currently routing is performed *after* request middlewares, so it would be a rather big and potentially breaking architectural change. In particular, one would need to consider whether existing middlewares rely on the current behaviour, e.g. to change request url prior to routing.

[2019-09-07 18:37] matoous commented on #37
I believe in that in general (among other languages) middleware should be applied after the routing and is what many people expect the middleware to do. You are right with that it is breaking change so I am not sure what the optimal solution would be. Maybe as @FelixZY suggested add `local_middleware`? But if this should be implemented, it would probably make more sense to make `middleware` functi

[2019-09-09 00:18] #1667 closed

[2019-09-09 21:00] loek17 commented on #1653
I got the same problem. When using ASGI and a Stream Response the headers are send twice.

It happens because the `response.stream()` call at [L359](https://github.com/huge-success/sanic/blob/master/sanic/asgi.py#L359) will send the headers using the `protocol.push_data()` before is starts sending the body.

maybe ignoring the first call to `push_data` in the `MockProtocol` will fix this?

[2019-09-10 05:57] Tronic commented on #108
In 2019 this is still broken and the current situation is quite unacceptable. I agree that fixing it is very hard, in particular in the multi-worker mode. Having a single worker crash reliably on Ctrl+C would be a big improvement already.

The Sanic trio branch terminates cleanly on Ctrl+C in single and multiple worker modes, which shouldn't be surprising considering that Trio's author wrote [this

[2019-09-10 20:39] Lagicrus opened #1671 "Content-Type"
**Origin Story**
I was testing my site via an online tester and it brought up the fact that my site did not specify the charset via the `Content-Type` header. Luckily I discovered after a quick bit of research that changing the `content_type` of the static file was added back in https://github.com/huge-success/sanic/pull/1267
As such I have currently added `content_type="text/html; charset=utf-8")

[2019-09-11 01:46] smlbiobot opened #1673 "SanicException does not catch all exceptions"
Your documentation implies that handling `SanicException` will catch all errors but in practice, it does not:

https://sanic.readthedocs.io/en/latest/sanic/exceptions.html#handling-exceptions

In practice, to actually catch all errors and not get the dreaded “Internal Server Error” page is to handle the top-level `Exception`, which you have demonstrated in the second example in the docs but I thin

[2019-09-11 06:02] Tronic commented on #1671
I just made a commit regarding this yesterday, changing the defaults of HTTPResponse and StreamingHTTPResponse to include charset. Looks like I missed one!

Another concern is that unknown types shouldn't be treated as `text/plain` but they should have either
- no content-type header [RFC-7231](https://tools.ietf.org/html/rfc7231#section-3.1.1.5) -- making browsers sniff by content but then they g

[2019-09-11 06:17] Tronic commented on #1671
Another consideration. Since the `content_type` argument is part of an easy API, and because the charset selection is Sanic internals, it might make sense to auto-append the charset whenever a text-like type is found:

[code]

What do you think, is this reasonable? Note that if specified via headers instead of the content_type argument, no such magic is applied.

[2019-09-11 20:54] Lagicrus commented on #1671
I definitely agree with the StreamingHTTPResponse change. Sanic might be able to do something again `guess_type` like they have done already in https://github.com/huge-success/sanic/blob/master/sanic/static.py#L111

[2019-09-11 23:51] camillescott opened #1675 "Handling websocket connection close"
I'm not really sure if this is a bug or not, but it isn't really a "help wanted" either. I'm wondering what the expected behavior is when a websocket route is closed remotely. Currently, it appears an `asyncio.CancelledError` is raised when the websocket is closed remotely; this is swallowed/handled invisibly, which can cause issues. For example:

[code]

Obviously, the AF_UNIX socket will never c

[2019-09-13 07:41] frankhorv commented on #1659
I have the same issue here.
What do you mean "installing all libs again from requirements.txt"?
Can you paste your dockerfile please?

[2019-09-13 15:22] Tronic commented on #1647
A quick update: respond is no longer async, so you can do simply `res = req.respond()`. For performance reasons, headers are sent only along with the first call to `await res.send(...)` where empty data may be given to force headers being sent separately. The middleware issue remains an open question, and since middleware may be async, they cannot be run until the first send.

I'll be in movie sho

[2019-09-14 19:09] #1580 closed

[2019-09-14 19:59] symbiont-wilfred-denton commented on #1668
I am having the same issue even with the [override logging example](https://github.com/huge-success/sanic/blob/master/examples/override_logging.py).

[2019-09-15 02:50] klesh commented on #1668
@symbiont-wilfred-denton try passing `configure_logging=False` for `Sanic` constructor. It seemed to fix my problem.

[2019-09-15 06:46] symbiont-wilfred-denton commented on #1668
Thanks @klesh this solved my problem. I see that the parameter is referenced [here](https://sanic.readthedocs.io/en/latest/sanic/api_reference.html) in the docs but isn't explained at all.

[2019-09-15 06:58] Tronic commented on #1580
This is going to affect MacOS too with Python 3.8+. I plan to change it so that only the listening sockets are pickled and everything else is normally initialized separately in each worker.

[2019-09-15 17:35] ansonfoong opened #1677 "post requests w/ sanic"
hello,

I'm looking at the docs and can't figure out how to make a post request with data and headers..

[code]

[2019-09-15 20:09] sjsadowski commented on #1677
app.post would add a route for your sanic API, it does not post to an external URI.

I don't think this accomplishes what you're trying to do - it looks like you're trying to post data to a discord uri.

[2019-09-16 07:16] harshanarayana commented on #1677
@ansonfoong What you need is [`requests-async`](https://github.com/encode/requests-async)

[2019-09-16 12:48] sjsadowski commented on #1677
Closing. Sanic does not make outbound requests and advice has been given to use a package that does.

[2019-09-16 12:48] #1677 closed

[2019-09-17 04:32] snguyenthanh opened #1679 "Expired SSL certificate for https://community.sanicframework.org/"
Upon opening https://community.sanicframework.org, my browser shows that the SSL certificate of the website has expired, and thus accessing the website is forbidden:
[code]

[2019-09-17 17:20] andreymal commented on #1525
**@‍stale** nope

[2019-09-18 05:08] vartagg commented on #1673
Also it is not working for 500 errors when `ServerError` passed to the decorator. I need it for hide the details about error to end users.

[code]

**Expected**: response code is 500, response text is `Server error`, message `Worked` and the traceback exists in logs

**Actual**: response code is 500, response text is default HTML, no message `Worked` in logs.

[2019-09-18 05:25] vartagg commented on #1673
For the behavior I need only this code is working:
[code]

For 500 errors user is getting `Server error` message, I have the log (no extra line with `logger.exception` required), for other http errors like 400 user is getting a text containing code number and appropriate response code.

[2019-09-18 09:25] ruifernando7 opened #1681 "Why the middleware blueprint applied across all blueprints?"
This is my middleware for blueprint custom (group blueprint)
@custom.middleware('request')
    async def verify_access_token(request):
        try:
            access_token = request.headers['x-access-token']

Actually i want to to apply the verify_access_token to blueprint custom (group) only. I actually have one more blueprint which is blueprint B. But when i try to send request to blueprint B,

[2019-09-19 04:12] LiraNuna commented on #530
What's the status of this? I would love to assist if needed

[2019-09-20 02:00] yunstanford commented on #1679
^ @ahopkins do you mind take a look ?

[2019-09-20 05:29] Tronic commented on #1525
Why not simply change Sanic router so that paths are re.escaped prior to injecting dynamic elements' regex? Like @andreymal pointed out, this is how other frameworks handle it. Escaping is done during application startup and thus has no runtime performance cost. This way *also* the unescaped path fragments may be retained for efficient url_for implementation.

[2019-09-20 05:38] Tronic commented on #1681
This is currently not supported but is planned once routing is overhauled. The main problem is that routing (and blueprint resolving) is done only after request middleware have already run.

See #37 for discussion.

[2019-09-20 12:12] viniciusd commented on #530
Now I am free enough to contribute. I feel like creating a tracking issue so it is all organized and neat at one place, idk.

Anyway, I guess we can start by adding `mypy` to the project and fixing the initial issues?

I propose:
1. Adding `mypy` to the project
2. Fixing whatever issues pop-up
3. Start adding type hint to Sanic's main interface, e.g., `request.py` and `response.py`

I will start b

[2019-09-20 12:20] viniciusd commented on #530
Just created a WIP PR at #1682 in order to address both (1) and (2).

[2019-09-20 19:09] viniciusd commented on #530
Not WIP anymore, #1682 adds a type checking pipeline

[2019-09-22 08:23] Tronic commented on #1610
This convention comes from Python `with` statements, C++ RAII and similar constructions of scope bound resource management. The rule is that you should deconstruct in exact reverse order of construction.

For instance, if your first before_server_start handler setups a database connection, ones registered after it can rely on that connection being alive both when they are started and stopped, beca

[2019-09-22 20:23] amireldor commented on #1320
Hello. Is it nice to have  `RUN apk del build-base` after the installation of sanic to reduce the docker image size?

[2019-09-23 09:59] wapiflapi opened #1683 "Sanic masking ImportErrors inside the app."
**Describe the bug**

Sanic prevents efficient debugging during development by masking some `ImportError`s occur insidei the app.

[code]
Note: The import error itself is in no way sanic's fault: it is an error in the app. But the debugging / investigating is being hindered by Sanic masking the bug.

If this is considered a feature request and not a bug I'll be happy to update the issue accordingl

[2019-09-25 16:34] drock1 commented on #37
I just wanted to pop into this thread to point out that the [current documentation for blueprint group middleware](https://sanic.readthedocs.io/en/latest/sanic/blueprints.html#blueprint-group-middleware) implies (incorrectly) that blueprint group middleware only executes on the routes defined in that blueprint group (and not globally).

The example code also makes it appear that middleware applied

[2019-09-26 04:34] Tronic opened #1684 "RFC: User context in app, connection and request"
Sanic allows adding user data to app and request objects (latter via `request.ctx` after #1666 got merged). Additionally, per-connection (across requests in HTTP pipelining) data could be added too, and be useful e.g. for middlewares implementing user tracking or slightly more sophisticated request rate limiting.

According to our current test suite, app middleware would add their things directly

[2019-09-27 04:57] Tronic commented on #1679
This can be closed (cert has been fixed).

[2019-09-27 05:04] #1679 closed

[2019-09-27 08:04] #994 closed

[2019-09-29 20:33] Sayed-Soroush-Hashemi opened #1685 "Automatic worker restart"
**The problem**
When a worker dies due to an unexpected reason the master process doesn't restart it.

**My suggested solution**
Adding a signal handler to workers to start a new one (with proper parent process) in case of receiving termination signals.

**Additional context**
I believe it can be added in `sanic/server.py` in function `serve_multiple`

[2019-09-30 11:14] topmy opened #1686 "what can I do?"
[2019-09-30 19:10:27 +0800] [1118] [ERROR] Exception occurred while handling uri: unknown
Traceback (most recent call last):
  File "/home/hechi/anaconda3/lib/python3.7/site-packages/sanic/server.py", line 251, in data_received
    self.parser.feed_data(data)
  File "httptools/parser/parser.pyx", line 193, in httptools.parser.parser.HttpParser.feed_data
httptools.parser.errors.HttpParserInvalidMet

[2019-09-30 13:56] Tronic commented on #1685
Automatic restarting is handled in the Trio branch that I am testing on (but the whole branch is very experimental and not suitable for real use at this time). The main process always keeps the configured number of workers alive and frequently polls for any dead ones, and will also restart all of them when it receives SIGHUP. The whole multiworker fork logic should probably be restructured for oth

[2019-09-30 14:00] Tronic commented on #1686
Are you trying to use non-standard HTTP methods? In that case, see #1646 for solution.

[2019-09-30 21:47] Sayed-Soroush-Hashemi commented on #1685
Thanks for the detailed response @Tronic

We are using Sanic in some sensitive microservices and can't afford to test experimental codes. We managed to go around the problem by tailoring some features of Kubernetes and increasing the resources for those microservices. Even though this problem is still bothering us from time to time, it's not doing so much harm to be given priority. So, I guess we'

[2019-09-30 21:47] abuckenheimer commented on #1683
TBH I didn't even know sanic had a `__main__.py` file, this looks a bit old and I wouldn't suggest using it, I'd expect you get better results by writing your own main as described in the (docs)[https://sanic.readthedocs.io/en/latest/sanic/getting_started.html#create-a-file-called-main-py]. How did you stumble upon the `__main__.py` functionality?

[2019-09-30 22:10] wapiflapi commented on #1683
That's an excellent question. I feel like I've always used it like this. :thinking:

So i went back and checked the README's history in git and it does not look like this was ever present. So probably I didn't pick it up from there. Maybe it used to be the way flask was used and I picked it up there. Honestly I don't know.

I guess my fault for using undocumented features :-) I'll roll my own main

[2019-09-30 22:39] abuckenheimer commented on #1683
not exactly sure what I'd expect to see out of the `__main__.py` but would be open to review any PRs in that area. My guess is it be something in these three options
1. delete `__main__.py`
2. `print("go to docs...")` and exit
3. trivial example server (`examples/simple_server.py` esq)

[2019-10-01 05:28] Tronic commented on #1683
I find `python -m sanic my.app` a much cleaner approach, as it keeps the app definition separate of how the server is run. Using `if __name__ == "__main__": app.run(some args)` is tediuous clutter in single-file minimal apps, and usually not appropriate for larger applications either, as it will not be used by ASGI mode anyway. Sanic's `__main__` probably should be updated (with more command line

[2019-10-01 05:32] wapiflapi commented on #1683
I finally found where I read about this way of starting sanic @abuckenheimer

In https://sanic.readthedocs.io/en/latest/sanic/deploying.html it is suggested under "Running via command":

So it looks like this **is** in fact a documented feature.

[2019-10-02 03:40] stalkerg commented on #1479
hmm for small JSONs ujson faster.

[2019-10-04 10:50] SkyAlexV opened #1688 "not work add ctx to request in middleware"
I have latest version 19.6.3 install by pip.

According to the documentation: https://sanic.readthedocs.io/en/latest/sanic/middleware.html#modifying-the-request-or-response

[code]

get exception:
[code]

But in git exist: https://github.com/huge-success/sanic/blob/134c414fe57c94cdcf0dbd6107fdde1e5f7ac48e/sanic/request.py#L79

When will the version be updated?
Now the documentation turns out to be

[2019-10-04 12:53] Tronic commented on #1688
The patch to support `request.ctx` was merged to git master a few days ago, and there has not been a release since , as far as I know (you can use the git version if you like).

Also, your middleware should not set the context itself but its attributes like

`request.ctx.something = ...`

[2019-10-05 06:08] harshanarayana commented on #1688
@SkyAlexV The read the docs page always points to the master branch of Git. Please use the version option at the bottom to pick applicable versions

[v19.6.3](https://sanic.readthedocs.io/en/v19.6.3/sanic/middleware.html)

![image](https://user-images.githubusercontent.com/1404867/66250777-95f33280-e764-11e9-8089-fb606a5ab022.png)

[2019-10-06 14:44] Tronic commented on #1688
Btw, shouldn't 19.9 be released already?

[2019-10-07 12:13] bootrino commented on #683
I found that SSE only worked when nginx was configured like so:

In particular, proxy buffering had to be off.

[code]

[2019-10-07 16:39] github-sjacobs commented on #37
I'm wondering where this issue stands. I am using 19.6.0 (but tried 19.6.3) and I am seeing my blueprint middleware being applied globally. I tried wrapping it up and a blueprint group as well but the behavior is the same.

My understanding of the latest documentation is that middleware added to a blueprint will be global unless the blueprint is added to a blueprint group. In this case it should a

[2019-10-08 07:34] harshanarayana commented on #37
Let me take a look. If it's an easy enough fix without major refactoring, let me see if I can open a quick PR to address this.

[2019-10-08 15:30] harshanarayana commented on #37
@huge-success/sanic-core-devs This is getting a bit interesting. I was able to get the blueprint based middleware to work the right way without changing much, But here is a curious case,

[code]

This is from one of the existing test cases. Now, if we make sure that the blueprint middleware gets applied only on the route registered with the middleware, then this expected output is invalid. Since t

[2019-10-08 20:51] Lagicrus opened #1691 "Docs, rst vs md"
Why does some of the documentation for Sanic use .md and some use .rst? Would it not make more sense to have it all under one file extension?

[2019-10-09 03:29] hanzhenbjm opened #1695 "Support Oracle???"
Does the current version support oracle?

[2019-10-09 05:12] Tronic commented on #1695
If you mean the Oracle database -- Sanic is a web framework and as such has nothing to do with databases. You can use SQLAlchemy or cx_Oracle for talking with the database in the same way you would in any other framework (other than Django that has its own ORM).

Because those libraries aren't async (and I am not aware of any mature async alternatives for them), you won't get the extremely high pe

[2019-10-09 05:18] harshanarayana commented on #1691
@Lagicrus Last time I updated the documentation section, I did a bunch of changes and moved quite a few files to `rst`.  Migrating `md` to `rst` is pretty straightforward with a simple script or a 3rd party utility that is available.  Let me know if you want to take up migrating them to a common format.

I am personally in favor of `rst` but `md` is equally good.

[2019-10-09 05:52] hanzhenbjm commented on #1695
those libraries aren't async     so  we can not use it (cx_oracle),    no  otrher libraries  support async  ?

[2019-10-09 06:05] Lagicrus commented on #1691
I am tempted to do a PR to move from one to the other, it was just mainly a question as to why we were using both in the first place.
I am more in favour of `md` as I personally find it easier to write up & my IDE seems to hate `rst` at the moment so thats fun. Out of interest why do you prefer `rst`?

[2019-10-09 06:14] harshanarayana commented on #1691
@Lagicrus I have been using `rst` for a long time. Coming from a `LaTeX` world, the suffering that came with `rst` was nothing. 🤣

Please feel free to open a PR to migrate the documents to a common format across the board. I will be more than happy to help you in anyway required.

[2019-10-09 07:41] Tronic commented on #1691
The heading format of rst (ASCII underlining) is retarded, but other than that the syntax seems quite usable (and in a few ways better than Markdown, I suppose). The problem is that there are a lot of subheadings in documents, and ```## Subheading``` is so much easier to use + clear about the nesting level.

[2019-10-09 09:57] harshanarayana commented on #1691
[code]

I am okay with `md` being the default mode for documenting. However, `sphinx`'s default suggested format is `rst` if I remember correctly. @huge-success/sanic-core-devs  What do you guys think?

[2019-10-09 11:02] Tronic commented on #1691
Argh. And the worst part it that LaTeX just won't die. Who designs a language where using `_`
 in a code block just blows up the entire system with an uncipherable wall of text as error message, unless you remember to include the `underscore` package in your header. Some idiots even ported LaTeX to Javascript as MathJax (which works slightly differently so that the hacks you learnt to use in LaTeX

[2019-10-09 13:56] Lagicrus commented on #1691
That's interesting regarding `sphinx`'s default, didn't realise you could mention teams (which 404'd amusingly) so thats cool, but then again `sphinx` doesn't seem to break just yet with md so woop, and in my opinion doing it in .md makes it more open and easier to contributors to help out compared to what I believe is the more rst?

[2019-10-09 14:14] harshanarayana commented on #1691
@Lagicrus Absolutely. For someone starting on open-source contribution journey, `md` files are much easier and like you mentioned, it is lot more IDE friendly. I am perfectly okay to move all the documentation files to `md` so long as we can retain most of the structure around it.

We also have some inline code documentation where some of them are in `rst` while others are in `md`. Maybe we can ta

[2019-10-10 01:09] topmy commented on #1686
Thanks!------------------ 原始邮件 ------------------
发件人: "L. K&#xE4;rkk&#xE4;inen"<notifications@github.com>
发送时间: 2019年9月30日(星期一) 晚上10:01
收件人: "huge-success/sanic"<sanic@noreply.github.com>;
抄送: "topmy"<vianus@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [huge-success/sanic] what can I do? (#1686)

Are you trying to use non-standard HTTP methods? In that case, see #1646 for solution.

&mdas

[2019-10-10 08:59] Lagicrus commented on #1691
I am fine with working on a PR to move the majority, if not all docs (docs/sanic) to MD.
In theory, correct me if I am wrong, but the structure shouldn't need to change right? In theory isnt it just swapping out one file for the next?

You have me at a loss with that one

[2019-10-10 15:56] harshanarayana commented on #1691
@Lagicrus

Yes, that is correct. Rename the files and fix the syntax to make it `md` friendly.

[2019-10-11 07:46] Lagicrus commented on #1691
Interesting roadblock, so far some files can easily be converted like the asyncio_python37 file or the cookies file. Just regular, "put text in here and solved".
But there is an issue with other files such as the api_reference, changelog, contributing and index as they are based around importing other files into it
Which leads me to ask, do we now convert all we can over to MD besides the files wh

[2019-10-11 09:07] Tronic commented on #1691
One can add symlinks to git, right?

[2019-10-11 09:12] Lagicrus commented on #1691
Unsure, to my understanding the include stuff within `rst` is so you can include actual files within other files if that makes sense. Examples.rst is a great example of that, or the changelog.rst.

Currently, I am moving them all over to rst as it seems to be the solution, should be done by the end of the day.

Question, do I put into the contributing.rst file, under the documentation header, the

[2019-10-11 12:30] harshanarayana commented on #1691
@Lagicrus I moved the changelog file that was initially in markdown format to `rst`for this very reason that I can cross reference and keep only one file as source of truth.

I think for the time, we can move all the standalone `rst` into `md` and then find a way to easily manage the files that either reference or import other files.

The examples section of the document is another major one where

[2019-10-11 12:32] harshanarayana commented on #1691
@Lagicrus So long as the documentation page doesn't drastically change between the releases causing confusion, please feel free to change/restructure things.

[2019-10-11 13:04] blueray453 opened #1697 "How long does it take for a staff member to reviews the posts in https://community.sanicframework.org/"
I created an account in https://community.sanicframework.org/ and asked a question. To be precise - https://stackoverflow.com/questions/58329770/use-sanics-inbuilt-webserver-in-production

The forum is saying since last 18 hours -

How long does it take for a staff member to reviews the posts?

Can someone please answer my stackoverflow question.

[2019-10-11 14:23] Lagicrus commented on #1691
Yeh that makes perfect sense, I can definitely see the advantage of that

Yeh I will don't worry, thanks for the offer :)

I got bored at night so I started working on this and I quickly just started working through it lol

Had a weird bug with the table which I will either link later when I am back at my machine or when I do the PR to fix it

[2019-10-11 20:20] Lagicrus commented on #1691
Added a Draft PR https://github.com/huge-success/sanic/pull/1698 regarding this @harshanarayana @Tronic :)

[2019-10-12 05:59] blueray453 commented on #1697
~1.5 Days passed. Not Approved. It seems very hard to get started with this community.

[2019-10-12 12:53] sjsadowski commented on #1697
I'm not sure what you're asking and the stack overflow question is unclear. The reddit post is old and from a time where the project was essentially on hiatus and in transition to a new team. Some issues have been addressed; new issues have been found. It's up to you to decide whether Sanic fits what you're doing.

[2019-10-12 12:53] #1697 closed

[2019-10-12 12:58] sjsadowski commented on #1695
Just because something is not async doesn't mean you can't use them in conjunction with something that is; it simply means you will have blocking calls and won't get the benefits of async calls.

Your best bet is to find an async ORM framework like Pony.  You can find these things easily by using a modern search engine.

[2019-10-12 12:58] #1695 closed

[2019-10-12 12:59] #1686 closed

[2019-10-12 13:38] blueray453 commented on #1697
My question was regarding https://community.sanicframework.org/

I created an account and asked a question. It says -

How long does it take for a staff member to reviews the posts?

[2019-10-12 13:50] blueray453 opened #1700 "Are the issues mentioned in https://www.reddit.com/r/Python/comments/876msl/sanic_python_web_server_thats_written_to_die_fast/ addressed"
I tried to ask this question in https://community.sanicframework.org/

But for some reason they did not approve my account yet. https://github.com/huge-success/sanic/issues/1697

So my questions is, Are the issues mentioned in https://www.reddit.com/r/Python/comments/876msl/sanic_python_web_server_thats_written_to_die_fast/ addressed yet. I got an answer in my last question which says

_Some issue

[2019-10-12 14:27] sjsadowski commented on #1700
Please read the documentation. Identify which issues you have questions about. Ask specific questions. The entirety of your post is made up of a triple negative and and asking about a reddit post from over a year ago which covers quite a bit of ground. I'm closing this because you don't actually ask a specific question, you ask about a reddit post which is mostly a giant complaint session about a

[2019-10-12 14:27] #1700 closed

[2019-10-12 14:39] sjsadowski commented on #1697
I do not see any posts there; your account must be trapped by the spam filter and @ahopkins will have to release it. He's on a minor hiatus at the moment. If you did not log in with your github account, that may be why there is a problem. If you did log in with your github account, it will have to wait.

[2019-10-12 14:42] blueray453 commented on #1700
What a toxic disfuctional community. Can not believe RTFM people still exist.

[2019-10-12 14:49] sjsadowski commented on #1700
@blueray453 I'm sorry you feel that way. Perhaps if you asked specific questions, you could get specific answers.

[2019-10-12 15:18] blueray453 commented on #1700
To be specific, I was searching for a framework which did not need nginx or gunicorn. I was very impressed with this project. I decided to do a little research before using it. I found the Reddit post. Most of the issues he found is clearly mentioned there so I did not find the need to copy paste it here.

What, I needed to hear is that most critical issues are addressed and the project is now in

[2019-10-12 15:32] sjsadowski commented on #1700
I have locked this issue as name calling, being pedantic, and still failing to identify what specific issues you'd like answers to that aren't addressed in the documentation don't further the conversation.

[2019-10-15 09:55] andribas404 opened #1702 "Expose websocket client"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

I'm always frustrated when have to increase coverage of code.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

in case of websocket endpoint  it would be great to test not only opened connection but also some logic. when http

[2019-10-15 10:08] #1688 closed

[2019-10-16 06:52] dinko-pehar commented on #1456
@ccravens Did `HBMQTT` played well with `Sanic` ? Googling _Sanic MQTT_ only provides this issue more or less. It would be nice to see if you managed to find a way to use it.

[2019-10-16 14:42] wochinge opened #1703 "SanicTestClient throws error with response.text(...)"
**Describe the bug**
When an endpoint does not return a json und we are using the `SanicTestClient`, it gives an error:
[code]

This is because `sanic.testing` import `JSONDecodeError` from `json`, but `requests` (used by `requests_async`) uses `simplejson`, which means that this

[code]

does not work cause it does not handle the actual type `simplejson.errors.JSONDecodeError`

**Code snippet**

[2019-10-16 14:43] wochinge commented on #1703
A simple quickfix would be to import `JSONDecodeError` from simplejson, I can submit a PR for that if you want.

[2019-10-16 15:53] wochinge commented on #1703
Hi @harshanarayana What speaks against using the `test_client` which is described here https://sanic.readthedocs.io/en/latest/sanic/testing.html ?

[2019-10-21 20:36] nitipit opened #1704 "Improve documentation in *Accessing values using `get` and `getlist`*"
**Is your feature request related to a problem? Please describe.**
Documentation here should be improved:
https://sanic.readthedocs.io/en/latest/sanic/request_data.html#accessing-values-using-get-and-getlist
It isn't clear how to use `get` and `getlist`

**Describe the solution you'd like**
Change

To

[2019-10-22 13:13] jfyang2010 commented on #1601
I've just met the same problem with a simple example from the official site.

The error disappears when one provides a name parameter to the constructor as `Sanic("important_name")`. Hope it helps.

[2019-10-22 14:58] harshanarayana commented on #1601
[code]

The default value for `name` is not provided by the constructor of `Sanic` is `None` this causes the `join` to fail. Opening a PR to address the same.

[2019-10-23 04:40] vamkaxifa opened #1706 "High load causes Oracle database error like ORA-01013、ORA-01002、ORA-03106"
**Describe the bug**
Use sanic as web framework, use DButils to access  oracle database, set `workers=8` (which is bigger than 1) to sanic. Under high load giving by  [sige](https://www.joedog.org/siege-home/), I got ORA errors like:
[code]

My demo is as below:
[code]

BTW, noting that , setting `workers=1` seems won't cause those errors.

I'm wondering that is there any solution  to solve this s

[2019-10-23 05:08] hanzhenbjm commented on #1695
our framework  is Sanic ,  but querying the database is slow

[2019-10-23 08:28] harshanarayana commented on #1706
@vamkaxifa I don't believe this has anything to do with `sanic` as such. This behavior seems to be related to the db driver `cx_Oracle` (based on the ORA-xxxx errors).

I haven't used that drive in a long time, so I am not entirely sure about the async support for that driver.

[2019-10-23 12:56] roemba opened #1707 "Using request.url_for throws KeyError: 'SERVER_NAME' in 19.9.0"
**Describe the bug**
Running Sanic behind a proxy and trying to generate an url using `request.url_for` throws a KeyError. This used to work but now Sanic suddenly requires a SERVER_NAME in order to do this. I get the following trace:

[code]

**Code snippet**
`request.url_for("static",  name='static', filename="badge.png")`

**Expected behavior**
`request.url_for` should generate a full url with

[2019-10-23 13:40] sjsadowski commented on #1706
The ORA- errors are returns from oracle itself, should be able to look them up in oracle's error table

[2019-10-23 15:44] harshanarayana commented on #1707
[code]
I believe this got introduced as part of 1e4b1c4d1a907af559dcf91b697debd60d94bbd7

This can easily be mitigated with the help of a `get` method. Opening a PR for the same.

[2019-10-23 15:54] harshanarayana commented on #1704
@nitipit Would it be possible for you to open PR for the suggested change? If you are pre-occupied with something, I will merge this with one of my other PRs.

[2019-10-23 16:12] #1601 closed

[2019-10-23 16:23] harshanarayana opened #1709 "Start Initial Support for Python3.8"
# Description
Considering [Python 3.8.0](https://www.python.org/downloads/release/python-380/) has been out for a while we can start adding initial support for the Python 3.8 dependencies in the CI/CD pipelines so that we can get a picture of what might break and if there are any early changes we can do to start supporting newer python versions.

@huge-success/sanic-core-devs  I Will open a PR to

[2019-10-23 17:53] nitipit commented on #1704
:+1:

[2019-10-23 17:53] #1704 closed

[2019-10-23 18:53] seemethere commented on #1709
SGTM, I'm wondering if there's a way that we can add a `python-nightly` to the matrix that doesn't actually block PR merges

[2019-10-23 19:31] #1609 closed

[2019-10-23 19:46] harshanarayana commented on #1709
@seemethere I like the idea. But we should probably restrict the nightly builds to the `travis` part and not for the `tox` env so that we don't break your test mechanisms.

Btw, `uvloop` is flaky with python 3.8. Doesn't seem to get installed. There is an open issue that I fond. I think we can alter the `uvloop` requirements to include python version check and add it only for version < 3.8?

[2019-10-23 20:26] seemethere commented on #1709
Related issue for `uvloop` installation failure: https://github.com/MagicStack/uvloop/issues/277

[2019-10-24 02:10] vamkaxifa commented on #1706
Thanks for your attention， I have found some information on [issue](https://bitbucket.org/anthony_tuininga/cx_oracle/issues/8/gevent-eventlet-support) which says that  cx_Oracle uses OCI(Oracle Call Interface), which doesn't provide asynchronous functions. So, thank your guys!

[2019-10-24 05:46] Tronic commented on #1707
@roemba As a workaround until the fix gets released, you may define `app.config.SERVER_NAME = ""`.

[2019-10-24 15:36] sjsadowski commented on #1706
Sounds like this one is good for now - closing.

[2019-10-24 15:36] #1706 closed

[2019-10-24 18:18] snguyenthanh opened #1711 "[Upgrade to 19.9.0] 'Request' object has no attribute 'pop'"
**Describe the bug**
This bug is only introduced when I upgrade my server to 19.9.0 from 19.6.3.

Although the server still returns the response, it freezes during teardown of any test cases.

[code]

**Environment (please complete the following information):**
 - OS: Mac OS 10.14.6
 - Version: 19.9.0

[2019-10-24 19:46] sjsadowski commented on #1711
can you post a code snippet to help us try and replicate?

[2019-10-25 05:19] snguyenthanh commented on #1711
Version:
`Gino`: 0.8.3

[code]

[2019-10-25 07:53] Tronic commented on #1711
You need to be using `request.ctx` now because the dict API on `request` is no longer (fully) supported. https://sanic.readthedocs.io/en/latest/sanic/middleware.html#modifying-the-request-or-response

[2019-10-25 10:41] roemba commented on #1707
Thanks for the quick response! Will try out the workaround today.

[2019-10-25 17:50] sjsadowski commented on #1711
Issue is this line in Gino's sanic extension:

https://github.com/fantix/gino/blob/2c233e9fcf80637ef24f9d16d8652d27d14bddf7/gino/ext/sanic.py#L91

Because this is an issue within a different project, I'm closing this, but have opened the issue with Gino here: https://github.com/fantix/gino/issues/581

[2019-10-25 17:50] #1711 closed

[2019-10-28 11:38] vlad0337187 opened #1712 "using same middleware for request and response"
Aiohttp and Starlette frameworks use same function as request and response middleware.

Examples:
https://aiohttp.readthedocs.io/en/stable/web_advanced.html#middlewares
https://www.starlette.io/middleware/

I think, that that behaviour is more short and explicit, than using separate functions.
Sanic has same feature - handler decorators:
https://sanic.readthedocs.io/en/latest/sanic/decorators.html

[2019-11-01 17:32] #1707 closed

[2019-11-03 22:20] honzajavorek opened #1713 "Use httpx instead of requests-async"
**Is your feature request related to a problem? Please describe.**
I just noticed requests-async is [mentioned multiple times throughout the project](https://github.com/huge-success/sanic/search?q=requests-async&unscoped_q=requests-async), but the https://github.com/encode/requests-async is archived and https://github.com/encode/httpx is mentioned as a replacement. Perhaps Sanic should recommend h

[2019-11-03 22:28] #1618 closed

[2019-11-04 04:23] harshanarayana commented on #1713
@honzajavorek Valid point. Let me get this one sorted out later in the day. Thanks for pointing this one out.

When we started using `requests-async` it was still under development. Looks like we missed the fact that it got archived.

[2019-11-04 20:56] honzajavorek commented on #1713
Let me know if I can help.

[2019-11-05 21:09] bphillips-exos commented on #1709
FYI. When I upgraded to Python 3.8, I started getting this error while running Python SocketIO + Sanic in a `multiprocessing.Process`. Just going to stick with 3.7 for now

[2019-11-06 05:24] yunstanford commented on #1713
@honzajavorek PRs are welcome

[2019-11-06 07:04] Tronic commented on #1709
So, depend on `uvloop>=0.14` now that it is out and working on 3.8?

[2019-11-06 11:22] harshanarayana commented on #1709
@Tronic I saw the `uvloop` notification earlier today about 3.8 support. I guess time to see if we can bump to the latest version and see if we crash the universe or save it.

[2019-11-06 14:57] harshanarayana commented on #1713
@honzajavorek  @yunstanford
I did a quick scan on the changes done by the `httpx` to the `requests-async` API and there seem to be a considerable difference. Especially on the ASGI side of the things.

Seems like it needs a bit more work than I initially expected. @honzajavorek Please feel free to open a PR. I am more than happy to help you on anything you need.

[2019-11-06 15:56] djoek opened #1714 "When calling abort() in a stream=True handler, error occurs"
**Describe the bug**

When calling abort() inside a request handler with stream=True, this exception occurs in the logs:
[code]
**Code snippet**

[code]

**Expected behavior**
On the client side, behavior is as expected, but it seems that request is None in this case.  It should not be

**Environment (please complete the following information):**
Python3.8 official docker image
Sanic 19.9.0

**Add

[2019-11-07 14:27] harshanarayana commented on #1714
@djoek We still haven't officially started supporting `sanic` on python 3.8. There is a PR opened to introduce this via #1709

Is this behavior the same with  python3.7  + sanic as well?

[2019-11-07 18:43] harshanarayana commented on #1712
@vlad0337187 You can use a single middleware for both request and response in `sanic` as well. Nothing stopping you from doing that. Just that the suggsted way is to use two different items.

[code]

[code]
[code]

[2019-11-08 10:24] Tronic commented on #1712
@harshanarayana 's workaround doesn't quite address the same issue, which is that the middleware would call and await for inner parts of the chain. That allows carrying state from request middleware to response middleware in local variables.

I am not sure whether @vlad0337187 's suggestion should be implemented or not. There are cases where it can be useful, but then it also requires different ar

[2019-11-08 18:23] yunstanford commented on #1714
probably can take a look over weekend

[2019-11-12 06:33] harshanarayana commented on #1630
/reopen

[2019-11-12 16:26] ahopkins commented on #1713
Sorry guys... that was partially my lapse since I had stepped away for a little bit die to personal reasons. I'm back on this now.

As mentioned, the requests-async package had been under active development. I'll take a look at the changes required because it is a significant requirement for testing. In particular being able to directly reach into the ASGI module without spinning up a server.

[2019-11-12 16:38] ahopkins commented on #1712
@Tronic nice layout of pros and cons. I am not sure that your pro list outweighs the cons, especially given the potential change that this would require. The `with` block idea does seem useful, but I'm not sure such utility outweighs they seemingly larger use case where having a separation leads to lower complexity.

[2019-11-14 22:39] #1691 closed

[2019-11-15 15:21] Tronic commented on #1712
I'm inclined to say *pull requests welcome* because an actual implementation would show much better whether the feature is worth while. FWIW, a simple wrapper function can provide compatibility for existing middleware, if only the suggested API is implemented natively, and wrapping can be done transparently by the middleware registration API.

[2019-11-16 09:23] #1517 closed

[2019-11-17 16:02] marijngiesen commented on #1381
Why is this closed? This is a bug for all I know.

Setting debug=True or auto_reload=True breaks PyCharm debugging. I like to have debug logging and use PyCharm to debug my code, but that's not possible right now because setting debug=True will also enable the auto_reload stuff.

Please fix this

[2019-11-20 07:50] fengzifrank opened #1718 "The number of machine processes shows a problem"
Hello, I specified worker=12 at startup, but when I checked the number of processes in the machine, I found that 17 I don’t know why there are 5 other processes. My cpu number is 8 The program is all right. Just this is confused.

[2019-11-20 11:19] lnshi opened #1719 "Sanic server takes too much time to accept the incoming relatively larger request payload"
**Describe the bug**

Sanic server takes too much time to accept a relatively larger incoming request payload, my test is done with a [2.7mb request paylod](https://gist.githubusercontent.com/lnshi/52e7e435f8c79b78cde7dd4f425538fa/raw/e4698c1056d0dd8db7be08040ffa798618abfd77/2.7mb_payload) **at my local**, so i just have an empty handler, which does nothing but `return response.json({"test": True}

[2019-11-21 01:44] jaylucas commented on #1713
Any word on this?

[2019-11-21 06:16] bootrino opened #1720 "What is the correct way to close a stream?"
I can't see anything in the documentation telling the right way to close a stream.

My streaming function sends some data, and for some reason I am sending await response.write(None) and then doing a return to finish the stream but I think this is not right.

[code]

Can anyone suggest the correct way to finish a stream?

thanks!

[2019-11-21 12:28] honzajavorek commented on #1713
I’m still learning my ways around Sanic. When I’m done with my hobby
project using Sanic I want to take a look at this.

On Thu, 21 Nov 2019 at 02:44, Jay Lucas Mutarevic <notifications@github.com>
wrote:

[2019-11-22 15:09] sjsadowski commented on #1718
Can you paste a code snippet of what you're doing so I can attempt to duplicate?

[2019-11-22 20:12] AndrewBurdyug commented on #1709
Hi, guys!

Will be really appreciated if you releasing a new version with supporting python 3.8,
archlinux already has python 3.8. in latest upgrades, I think other distributives will be has python 3.8. in their updates soon, so the people start you bothering about new release soon too, I'm the first =)

[2019-11-24 08:07] Tronic commented on #1718
Possibly unterminated processes left over from previous run? The child process killing code is not very reliable and will inevitably fail if the main process is killed so it won't have any chance to kill its children.

@fengzifrank Could you verify what happens if you first terminate/kill all Sanic processes and then try to run 12 workers? You should get 12 workers, one host and possibly one autor

[2019-11-26 04:17] chenjr0719 commented on #1720
Hi @bootrino

Actually, you don't have to do anything to finish the stream. It will close stream once you don't write any response. Here is an example:

[code]

After the for loop is finished, the connection will also close automatically. Using `return` and `return None` I think is equivalent in this example.

[2019-11-27 04:29] medcelerate opened #1721 "AttributeError: 'Queue' object has no attribute 'read'"
**Describe the bug**
When using the stream api on` body = await request.stream.read() `
AttributeError: 'Queue' object has no attribute 'read'

**Code snippet**
[code]
**Expected behavior**
Should take stream and write it to a file

**Environment (please complete the following information):**
 - OS: macos
- Python 3.6

[2019-11-27 22:17] HeeroYui opened #1722 "curl is not agree wit return in chunk mode"
for uploading large file  > 200 MB I write:

@app.post('/data', stream=True)
async def handler(_request):
    async def streaming(_response):
        total_size = 0
        while True:
            body = await _request.stream.read()
            if body is None:
                break
            total_size += len(body)
            print("body " + str(len(body)) + "/" + str(total_size))
    return r

[2019-11-28 10:45] VMAtm opened #1723 "Introduce `workers` parameter for async version of server creation"
Synchronous version of the `app.run` [do accept](https://github.com/huge-success/sanic/blob/ecbe5c839f8a67775255c0b94c81cfba441ffdd1/sanic/app.py#L1041) the `workers` parameter, providing ability to utilize all the system resources:

    def run(
        # ...
        workers: int = 1,
        # ...
       )
However, [the asynchronous coroutine do not](https://github.com/huge-success/sanic/blob/ec

[2019-11-28 12:14] Tronic commented on #1722
Sanic's default request maximum size is 100 MB.  Set `REQUEST_MAX_SIZE=10000000000` for up to 10 GB.

IMO the main limit ought not to apply to streaming handlers, where the handler itself may at any phase stop the transfer, and where the whole request doesn't need to get buffered in RAM. But this requires some structural changes in Sanic because now such requests are rejected as soon as a header s

[2019-11-28 20:54] HeeroYui commented on #1722
Thank you very much.
this is not a problem, the memory will be lock by the virtualisation of the service (for me).
But is-it possible to configure this limit in dynamic, temporary model that permit to unlock limit and after transfert lock again?

[2019-11-29 04:12] vlad0337187 commented on #1712
Thank you.
Just wanted to clarify this.
Will look to the code some time to check implementation of this in Aiohttp and Sanic.

[2019-11-29 05:48] Tronic commented on #1712
NodeJS Express also uses the `next` function in its middleware, which might be of concern given that Express is probably the most popular async web framework in the world.

[2019-11-29 05:54] Tronic commented on #1722
No, it is not possible to configure it per-request in any meaningful way. Even if you could hack chunked-encoding to work around the limit, any upload which provides body size in request header (content-size instead of chunked encoding) would still get rejected before routing, middleware or your handler are called.

[2019-12-02 03:11] shree-sopt opened #1725 "Error: Payload Too Large"
I am facing the following error: `Error: Payload Too Large` while uploading 1.26 GB file using sanic web server.

Here is the code:

[code]

We are building a big data solution and are expecting files ranging from 200 GB to 1 TB. This operation has to be asynchronous.

For testing I'm deploying it on my Mac. RAM is 16GB

[2019-12-02 11:38] Tronic commented on #1725
See #1722

[2019-12-02 12:17] shree-sopt commented on #1725
Will try the solution. How should I set the max request size? `app.config.request_max_size`?

[2019-12-03 05:47] toppk opened #1726 "sanic should support typing / mypy"
It would be nice if sanic had static typing information.

This has several benefits, both internally and for sanic users.

This could require some refactoring as there are still some limitations of mypy, but in general, it's just type annotations added to methods definitions.

I'd like to know if such a contribution would be welcome, I'd be happy to chip in.

[2019-12-03 06:04] #1726 closed

[2019-12-09 09:00] #1648 closed

[2019-12-09 09:00] #1651 closed

[2019-12-09 13:36] ahopkins commented on #1713
WIP: See #1728

[2019-12-09 13:40] ahopkins commented on #1713
@tomchristie made some **greatly** appreciated improvements to `httpx`. Much easier to make it extendable than the previous. I took a first pass to clean up and simplify some of the logic, but there are still some tests that need to be cleaned up.

[2019-12-10 23:15] omab opened #1729 "Multidict version 4.7.0 breaks Sanic"
**Describe the bug**
`multidict` project just released (1 hour ago) their version 4.7.0 (https://pypi.org/project/multidict/#history), this includes a change that breaks Sanic `Header` class definition.

[code]

**Code snippet**
[code]

**Expected behavior**
Sanic module imports correctly.

**Environment (please complete the following information):**
 - OS: Linux (docker)
 - Version: 19.9.0
 - Pyt

[2019-12-10 23:35] optroodt commented on #1729
Same
[code]

[2019-12-10 23:52] omab commented on #1729
Downgrading to `multidict==4.6.1` fixes the problem.

[2019-12-11 00:22] qwesda commented on #1729
The error occurs because the `cimultidict_type` does not have the `Py_TPFLAGS_BASETYPE` flag set ...

- `cimultidict_type` without `Py_TPFLAGS_BASETYPE `
https://github.com/aio-libs/multidict/blob/d786088778285ba56e06c992f44e546fb4c7b74b/multidict/_multidict.c#L1007

- `multidict_type` with `Py_TPFLAGS_BASETYPE `
https://github.com/aio-libs/multidict/blob/d786088778285ba56e06c992f44e546fb4c7b74b/m

[2019-12-11 03:00] greatvovan commented on #1729
Only the latest Sanic version 19.9.0 fail as well as 19.6.3. Version 19.6.2 (and older) works well with multidict==4.7.0.

[2019-12-11 03:10] greatvovan commented on #1729
Also, interestingly, both 19.9.0 and 19.6.3 work on my machine with my local Python 3.8.0 (built with pyenv, Mac OS 10.15), but both don't work in the official Python Docker image 3.8.

[2019-12-11 13:25] bidyottama278 commented on #1729
Here am also getting the same issue

[code]
am using python 3.7.2 version and  sanic=* is in my pipfile
can i know which version of sanic will work?

[2019-12-11 14:18] allenchou13 commented on #1729
Sanic version 19.6.2 work on my machine

[2019-12-11 17:50] jkanche commented on #1729
downgrading to 4.6.1 fixed the problem for me!

[2019-12-11 21:28] qwesda commented on #1729
My PR is merged - hope 4.7.1 will come out soon

[2019-12-11 22:26] #1628 closed

[2019-12-12 06:48] bidyottama278 commented on #1729
Thanks all for these responses.. 4.6.1 is working for me.

[2019-12-12 13:07] harshanarayana commented on #1628
/reopen

[2019-12-12 13:18] omab commented on #1729
@qwesda, I confirm the error is gone with the new `multidict==4.7.1`.

Thanks!

[2019-12-12 13:18] #1729 closed

[2019-12-12 14:22] balakumar98 commented on #1729
requires 4.7.1 or above

[2019-12-12 16:26] sjsadowski commented on #1718
No response from requestor, closing.

[2019-12-12 16:26] #1718 closed

[2019-12-12 16:26] #1720 closed

[2019-12-13 07:04] dmachi commented on #1653
I am also seeing this same issue.   I don't really know the ASGI protocol, but I quickly tested @loek17 's suggestion:

`    async def push_data(self, data: bytes) -> None:
        if self._first:
          self._first=False
          return

        if not self.is_complete:
            await self.transport.send(
                {"type": "http.response.body", "body": data, "more_body": True}

[2019-12-13 16:33] dmachi opened #1730 "ASGI Streaming response contains extra content"
I have some code that makes an http request (aiohttp) to an separate service to retrieve a file and then stream that file back.  It is essentially acting as a proxy for this request.  However, the streaming portion ends up wrapping some additional bytes of data around the body that I don't quite understand.

Here is a test case:

[code]
I run this code with 'uvicorn test:app --port 9000'

There ar

[2019-12-13 20:41] dmachi commented on #1730
The "extra" content is the number of bytes in the chunk of data.  I changed the loop to read 'chunk = await resp.content.read(10)' and then the output changes to:

[code]

[2019-12-14 14:44] Tronic commented on #1647
Still relevant, although I won't be able to do much about this right now.

[2019-12-15 11:40] Tronic opened #1731 "Support mounting application elsewhere than at root path"
Sanic app might be exposed publicly in a path other than root at a HTTP server that also serves other things on the same domain.  E.g. `https://company.com/blog/` is proxied to Sanic app at `http://localhost:8000/`.

Currently Sanic offers no support for that, with `url_for` resolving to absolute paths pointing at site root.

It would be good to add support e.g. via `config.SERVER_NAME` that also

[2019-12-15 16:40] sjsadowski commented on #1731
I like this idea.

[2019-12-16 15:46] #1714 closed

[2019-12-17 12:39] eirikrye opened #1732 "Interface differences between Blueprint and Sanic"
The `Sanic` class exposes methods to add listeners and middleware through `register_listener`, `register_middleware` in addition to the decorator variants (`listener`, `middleware`). However, the Blueprint class only implements the decorators and instead opts to define `register_listener` and `register_middleware` in a closure under the corresponding decorator function.

Is this a deliberate desig

[2019-12-18 11:56] ahopkins opened #1733 "Set domain used with test_client"
Currently, `Sanic.test_client` uses a hardcoded `HOST` when resolving. It would be helpful to have it be configurable at run time so that it could be differentiated in unit tests.

Something like the following:

[code]

Should be a nice easy PR if someone would like to jump in.

[2019-12-19 00:51] #1733 closed

[2019-12-19 02:45] LiraNuna opened #1735 "Empty responses and Content-Type"
**Is your feature request related to a problem? Please describe.**
I would love to be able to send out lean responses. Sometimes a 204 response is just enough to signal the client what the backend wants to do. Currently, this is possible but has some awkwardness.
First, an empty response has no `Content-Type`, however all responses require `Content-Type` header because of this chunk of code: https

[2019-12-19 12:42] andreymal commented on #1525
**@‍stale** I think nope (although I haven't tested it in newer versions yet)

[2019-12-20 16:01] #37 closed

[2019-12-21 17:48] ahopkins commented on #1525
That should get rid of @stale.

[2019-12-21 17:51] ahopkins commented on #1653
I am looking into this.

[2019-12-21 17:52] #1713 closed

[2019-12-21 17:58] ahopkins commented on #1684
If running multiple workers in a context like this, I would suggest against an implementation like this and advise to use something outside of Sanic to share between the processes.

With that said, I have not put any thought into this, nor do I have any strong formulated opinions on whether this is something that would/should be a part of Sanic. For example, how would that work when using an ASGI

[2019-12-21 21:12] ahopkins commented on #1735
I would be happy to see a PR from you on this. Swing away.

[2019-12-21 22:22] ahopkins commented on #1731
This seems like a fairly easy one to add.

[2019-12-22 06:04] LiraNuna commented on #1735
@ahopkins PR created.

[2019-12-22 11:54] ahopkins commented on #1735
Closing in favor of PR.

[2019-12-22 11:54] #1735 closed

[2019-12-22 13:49] Tronic commented on #1684
@seemethere Apparently you wrote the test for this in `test_request_data.py test_app_injection`. Do you happen to recall what that was for, or if anyone is using app object for external data?

If no-one is using it, this issue should be closed and probably that test also removed.

[2019-12-23 09:47] ahopkins commented on #1721
What version of Sanic are you using?

[2019-12-27 17:45] rking32 opened #1741 "AttributeError: 'HttpProtocol' object has no attribute '_body_chunks'"
AttributeError: 'HttpProtocol' object has no attribute '_body_chunks'

[2019-12-27 17:46] rking32 commented on #1741
after today update

[2019-12-27 18:31] autumnjolitz opened #1742 "Changes to Blueprints application breaks multiply applied routes!!!"
Consider the following pattern:

[code]

The recent change in #1690 breaks that pattern.

It's a common pattern to use multiple `@blueprint.get(...)` and `@app.get(...)` to handle routes that have common behavior with slight variations, like a login process.

The only alternative I can think of is splitting out each of these routes into distinct rump functions that literally forward onto a common

[2019-12-27 20:40] harshanarayana commented on #1742
@benjolitz

The original change in #1690 was done in order to account for an old standing open issue that actually needed fixing. I missed this case when implementing the change that seems to have broken the case of multiple routes being bound to the same handler method.

Let me see what can be done to address this while still being able to handle the original request from #37

[2019-12-28 00:39] autumnjolitz commented on #1742
@harshanarayana okay. wrong username for me btw. ;)

[2019-12-28 13:10] harshanarayana commented on #1742
@autumnjolitz oh. Sorry. That explains why the auto complete wasn't working last night. 😂 sorry about the mistake

[2019-12-28 17:35] ahopkins commented on #1741
#1743

[2019-12-30 01:26] johndiego opened #1744 "Response XML"
from sanic.response import json,text,html,raw

this is possible xml too?

[2019-12-30 03:17] johndiego opened #1745 "blueprint add with CompositionView"
in sample Docs
[code]
I m try....
This is possible?
if yes this is magnifcy

[code]
SHOW Error
very thanks
[code]

[2019-12-30 03:45] johndiego commented on #1745
add in dock
sorry!
[code]

[2019-12-30 04:05] chenjr0719 commented on #1745
Hi there

I think the error is caused by a missing attribute **name** when you try to add your `CompositionView` to the blueprint. Here is an example from tests, please check is it help or not.
https://github.com/huge-success/sanic/blob/075affec23084f68a2a5817521d3cecdb25cd152/tests/test_blueprints.py#L619-L635

[2019-12-30 04:41] chenjr0719 commented on #1744
Hi there

For now, if you want to respond with XML, please using text and set the content type to `text/xml` directly. Here is an example:

[code]

And if you really want to add an `xml()`  method in `sanic.response`, you can try to send a PR for it.

[2019-12-30 08:28] sevaho opened #1746 "Error after upgrading from 19.9.0 to 19.12.0; 'HttpProtocol' object has no attribute '_body_chunks"
After upgrading to the newest Sanic, it breaks with the following logs:

[code]

[2019-12-30 16:23] Tronic commented on #1744
Depending in on usage `application/xml` or a more specific type `application/xml+something` would be more appropriate than the text type. The purpose of `text/xml` is to display it as plain text if the client cannot handle XML, and that is seldom useful to any degree. Since there is no single universal XML mime type and format, it doesn't make much sense for Sanic to have such response type (there

[2019-12-30 16:25] Tronic commented on #1746
Fixed in #1743 and should be merged to master soon.

[2019-12-30 18:04] ahopkins commented on #1746
Awaiting merge from @huge-success/sanic-release-managers. Closing this now. Thanks for the callout.

[2019-12-30 18:04] #1746 closed

[2019-12-30 18:08] ahopkins commented on #1744
Agreed. I do not see this as a huge need. Perhaps if it is more convenient for you, you can create one yourself:

[code]

[2019-12-30 18:08] #1744 closed

[2019-12-30 18:19] ahopkins commented on #1683
Leaving this one open for potential thought and discussion on @Tronic suggestion.

[2019-12-30 23:15] johndiego commented on #1745
Thanks for repply!!!
This work perfecty

[2019-12-30 23:36] johndiego commented on #1745
please write on documentation , will help very many.
Very Thanks!!

[2019-12-31 06:29] Tronic commented on #1744
Minor note: charset is only used on text MIME types. XML is UTF-8 unless a different encoding is specified within the document itself. At least regarding standards; your implementations may vary.

[2019-12-31 06:40] ahopkins commented on #1731
Related discussion: https://community.sanicframework.org/t/sanic-app-on-nginx-subpath/463

[2019-12-31 06:59] #1745 closed

[2019-12-31 10:56] ahopkins commented on #1729
Has anyone run Sanic with `multidict==4.7.1`?

[2019-12-31 12:55] omab commented on #1729
@ahopkins, I'm using it, no issues so far.

[2020-01-01 07:09] gwind opened #1748 "DeprecationWarning: The loop argument is deprecated since Python 3.8"
Env

[code]

When use pytest-cov , the following warnings were show:

[code]

This could be hidden by `pytest.ini` :

[code]

[2020-01-01 15:33] qwesda opened #1749 "Sanic 19.12 breaks some middleware usages"
The commit _GIT-37: fix blueprint middleware application_ (https://github.com/huge-success/sanic/commit/a6077a179067812766293f9ab4391b5e1499a9c6#diff-c4444a35dbd5e37ee480b0e8888e0880R939) changes how the middleware are evaluated.

Before this commit the middleware where evaluated before the route was determined. This allowed for example to rewrite to requested url. In my case I was using that to r

[2020-01-01 17:34] ahopkins commented on #1749
I'm not the best one to speak to this one, because I was not involved on this one. (@harshanarayana?) However, I agree that the middleware/routing needs some work still. Something that still needs work (similar to what you are using middleware for): https://github.com/huge-success/sanic/pull/1373

[2020-01-01 17:39] ahopkins commented on #1748
I'd be happy to see a PR if you are willing.

[2020-01-02 03:25] nlnjnj commented on #1749
this fix also crash the app

caused

[2020-01-02 11:22:14 +0800] [11996] [ERROR] Exception occurred in one of response middleware handlers
Traceback (most recent call last):
  File "D:\ProgramData\Anaconda3\envs\revive_backend\lib\site-packages\sanic\app.py", line 1017, in handle_request
    request, response, request_name=name
TypeError: **_run_response_middleware() got an unexpected keyword argu

[2020-01-02 21:51] ahopkins commented on #1748
Closing in favor of the PR.

[2020-01-02 21:51] #1748 closed

[2020-01-02 21:57] #1741 closed

[2020-01-02 21:58] ahopkins commented on #1741
v19.12.2 resolves this.

[2020-01-02 22:07] ahopkins commented on #1709
Closing in favor of #1752

[2020-01-02 22:07] #1709 closed

[2020-01-03 14:46] danieldaeschle opened #1753 "Any plans to support Ctrl+C on Windows?"

[2020-01-03 16:50] lrnselfreliance commented on #1749
I'm seeing a similar error in my docker container:

[code]
It seems to respond the same for every request.  Here are my pip requirements:

[code]

[2020-01-04 00:27] autumnjolitz opened #1754 "Incorrect documentation for AsyncioServer or missing __getattr__ on AsyncioServer"
**Describe the bug**
The described sample code for the AsyncIO server is out of date (https://sanic.readthedocs.io/en/latest/sanic/asyncio_python37.html) or a resultant merge stripped a `__getattr__` handler from the AsyncIOServer class.

I discovered this while bootstrapping a mock Azure API inside pytest for my API server (all Sanic because, why not?)

**Code snippet**
[code]

**Expected behavio

[2020-01-04 04:26] yunstanford commented on #1725
It'd be better to do streaming instead of loading all data into ram.

[2020-01-05 02:48] johndiego opened #1756 "Testing with request,"
*How make  testing with requests LIB*

I'm Using pytest
My fixture
[code]

i 'm testing
How get url by  name ?
[code]

[2020-01-05 13:44] danieldaeschle opened #1757 "Websocket doesn't work when using version parameter"
**Describe the bug**
When defining a websocket handler using `version=1` a exceptions will be thrown.

**Code snippet**
Relevant source code, make sure to remove what is not necessary.
[code]

**Expected behavior**
It should work like without `version=1`

**Environment (please complete the following information):**
 - OS: Fedora 31
 - Sanic: 19.12.2

[2020-01-05 16:49] danieldaeschle commented on #1757
I found out, that the websocket path is still `/changes` without `/v1` as prefix.
It's a routing issue.

[2020-01-05 17:08] danieldaeschle commented on #1757
`version` is missing here: https://github.com/huge-success/sanic/blob/master/sanic/app.py#L519

[2020-01-06 13:07] harshanarayana commented on #1749
@lrnselfreliance @qwesda @nlnjnj Do you happen to have a small sample app that you can share with me so that I can use that as a reference and make sure to include them in the unit test? I am working on looking into getting this sorted this week.

[2020-01-06 20:12] ahopkins commented on #1757
@danieldaeschle  Would you be able to submit a PR and perhaps a unit test?

[2020-01-06 20:37] qwesda commented on #1749
hi,

you can use this as a sample app:

[code]

The `request_middleware` has two functions:
- provide a `/ping` route to test returning a response from the middleware
- rewrite urls by removing the prefix `/api` from requests

A test should expect:
- response 200 for `/ping` with body `pong`
- response 200 for `/api/endpoint` with body `endpoint`
- response 200 for `/endpoint` with body `endpoint`

[2020-01-06 22:39] danieldaeschle commented on #1757
I didn't found the root case yet. I'm not familiar with the sanic code. Do
you have a hint for me?
Otherwise i have to dig deeper an try to submit one.

Adam Hopkins <notifications@github.com> schrieb am Mo., 6. Jan. 2020, 21:12:

[2020-01-07 05:48] johndiego opened #1758 "HEADERS dont work AXIOS"
My code don't work with axios  and vuejs  , This is correct implementations?
I  like'd  make without libs !!
Thanks for advanced !!

[code]
In console

[code]

[2020-01-07 06:10] ahopkins commented on #1758
How is your application deployed? Do you have any proxy layers in front of it?

[2020-01-07 06:14] ahopkins commented on #1757
I did a quick look at the code you linked to on my phone. I'm fairly certain that you pinpointed the right place. All you should need to do is add the version kwarg to the method and then to the call that you linked. If you want to just do that much I can then take a look and give you some more direction on where and how to add the test.

[2020-01-07 11:25] johndiego commented on #1758
in Frontend

[code]

[2020-01-07 12:40] Tronic commented on #1758
I think you need https://pypi.org/project/Sanic-Cors/ to respond to OPTIONS requests correctly. If the browser doesn't know of CORS status, it won't run you POST request directly but first checks for the headers, and without Sanic CORS extension (or handling OPTIONS manually) it will get 404 instead.

[2020-01-07 12:48] johndiego commented on #1758
how make   handling OPTIONS manually?

[2020-01-07 16:28] danieldaeschle commented on #1757
I already tried adding that kwarg. But that wasn't enough to work.

Adam Hopkins <notifications@github.com> schrieb am Di., 7. Jan. 2020, 07:14:

[2020-01-07 17:04] ahopkins commented on #1757
OK. Thanks for taking a shot. I can take this one in conjunction with upgrading websockets dependency.

[2020-01-07 17:06] danieldaeschle commented on #1757
Thanks!
Is it possible to get this fix soon?

Am Di., 7. Jan. 2020 um 18:04 Uhr schrieb Adam Hopkins <
notifications@github.com>:

[2020-01-08 01:23] johndiego opened #1759 "how add option dinamy in group middleware?"
follow docs !

 In doc

[code]
============ my APP ===========
[code]

[2020-01-08 04:00] ashleysommer commented on #1749
Weighing in, [Sanic-Plugins-Framework](https://github.com/ashleysommer/sanicpluginsframework) and [Sanic-CORS](https://github.com/ashleysommer/sanic-cors/) author here.

Thanks @aymanbagabas for bringing this to my attention.

The tracebacks that @nlnjnj and @lrnselfreliance have provided above both show a crash within Sanic-Plugins-Framework (SPF). SPF is used as the basis for several popular San

[2020-01-08 09:13] harshanarayana commented on #1749
@ashleysommer Oh! I totally forgot about giving you a heads up when the blueprint behavior was altered in terms of handling the middleware. Sorry !

[2020-01-08 10:00] danieldaeschle commented on #1628
1. A `sanic` command would be nice. `sanic run`
2. Custom commands for the sanic command.
3. Dependency injection please! (like vibora did it)

[2020-01-08 10:04] ahopkins commented on #1759
You are close. Here is a barebones working example.

[code]

What you are missing is enabling `OPTIONS` for your routes. Right now they are setup with either `GET` or `POST` in your example. So when `OPTIONS` comes in, it gets marked as a `405` before it ever even gets to your middleware.

[2020-01-08 10:04] #1759 closed

[2020-01-08 10:06] ashleysommer commented on #1749
@harshanarayana
No worries! SPF is not an official Sanic project, so its not a requirement that it is kept fully in sync. And it is normal that SPF releases lag behind Sanic releases by a few weeks while I go through the sanic commit logs to make any necessary changes to SPF.

@aymanbagabas @nlnjnj  @lrnselfreliance
I've pushed a new beta version of SPF which should work with Sanic `19.12.2` I'm c

[2020-01-08 10:07] ahopkins commented on #1758
Take a look at [my answer](https://github.com/huge-success/sanic/issues/1759#issuecomment-571978276) to your question on #1759. I think this is what you need.

[2020-01-08 10:07] #1758 closed

[2020-01-08 10:09] ashleysommer commented on #1628
Hi @danieldaeschle
This issue/topic is for the 19.9 release, that was completed back in September 2019.
If you have any new feature requests, please open a new issue, title something like `[Feature] my feature request`
And it might make it way into the features/milestones of the next release!

[2020-01-08 10:14] ashleysommer commented on #1756
Hi @johndiego
While it _is_ possible to use the `requests` library like you have attempted here, it is a lot of work to set up boilerplate code to get it working.

Instead, it is recommended you use the `pytest-sanic` library, like is shown in the documentation here: https://github.com/huge-success/sanic/blob/master/docs/sanic/testing.rst#pytest-sanic

[2020-01-08 10:21] ashleysommer commented on #1754
Hi @autumnjolitz
This might be a problem introduced by my changes in this PR: https://github.com/huge-success/sanic/pull/1676
I didn't test those changes on python3.7, nor with the "server.start_serving()" or "server.serve_forever()" methods.
We can change the documentation to reflect the code changes you mentioned, or we can add those properties to the AsyncioServer proxy object in a future Sanic

[2020-01-08 13:11] ahopkins commented on #1756
You also have the option of using the built in testing client as used by the Sanic internal unit tests:

[code]

Or...

[code]

[2020-01-08 13:12] #1756 closed

[2020-01-08 13:28] ashleysommer commented on #1742
Hi @autumnjolitz
Until we get a proper fix for this, can you try this workaround?

[code]

[2020-01-08 14:02] ahopkins commented on #1749
Can we close this issue?

[2020-01-08 14:31] qwesda commented on #1749
I don't think we can. The main issue (for me) is that it is not documented if the middleware run before the router or after the router. Before `9.12` they were run before the router and now they are run after. And for my use case I need them to run before, since I rewrite the request url.

Maybe introducing `pre router request middlewares` might be the best option, since I think the new middleware

[2020-01-08 22:52] ashleysommer commented on #1630
I've been thinking about this in relation to Sanic-Plugins-Framework.

For me the ultimate goal will be to deprecate the method-wrapping that SPF needs to do in order to add functionality to Sanic.

Specifically; when installed SPF wraps and replaces the sanic response handler, the request middleware runner, and the response middleware runner.

SPF needs to do this in order to provide the followin

[2020-01-08 23:54] ashleysommer commented on #1749
@qwesda You're right, the main topic of this issue is about the router now running before the request-middleare, and that is not yet resolved.

Sorry we hijacked this thread to chase down a different unrelated issue introduced in Sanic 19.12.

[2020-01-09 09:06] harshanarayana commented on #1630
@ashleysommer  Thanks for the feedback. I think most of these signals can be easily included with little to no overhead in the current workflow. However, since these signals are only useful in cases when you are using SPF or a plugin built using that, I am wondering if we can think of making this a configurable entity whereby you get to say generate these additional signals and only then will sani

[2020-01-09 12:05] ashleysommer commented on #1630
@harshanarayana
Yes, if it could be configurable to only generate  those signals when there is a handler registered, that would be great!

[2020-01-09 13:26] ahopkins commented on #1630
Agreed.  :+1: to handing this at startup.

[2020-01-09 16:53] ahopkins commented on #1754
I think the better change is the second described by @ashleysommer: changing the code to reflect the existing documentation to undo the regression. 👍

PRS welcome.

[2020-01-09 16:56] ahopkins commented on #1753
I will be the first to admit that I am not aware of what would be involved to add this signal. 😬

Any one that is more versed in Windows want to chime in?

[2020-01-09 16:59] ahopkins commented on #1753
With a couple minutes of Google.... https://stackoverflow.com/a/52941752

[2020-01-09 18:10] danieldaeschle commented on #1753
Using windows api like in the example looks like a nice solution.

[2020-01-09 18:17] ahopkins commented on #1753
@danieldaeschle does `CTRL-Break` work?

[2020-01-09 19:18] danieldaeschle commented on #1753
I have to test it.

Adam Hopkins <notifications@github.com> schrieb am Do., 9. Jan. 2020, 19:17:

[2020-01-09 19:23] seemethere commented on #1753
I don't really feel like adding this functionality into `sanic` core would be greatly beneficial when there are already widely known alternatives.

Especially when the `code` solution to this is adding in a special case just for windows.

[2020-01-10 01:41] #1675 closed

[2020-01-10 03:34] ashleysommer opened #1763 "In Travis some Python3.7+ tests are not running"
**Describe the bug**
In `tests/test_app.py` there are several tests which are supposed to only run when python `version >= (3,7)` (actually it's "skip if less-than (3,7)", but same logic)
But if you look at the test logs in Travis, specifically when looking at the Python 3.7 run, those tests are _not_ run.

**Code snippet**
This is an example of what one of the tests in `test_app.py` uses:
[code]

[2020-01-10 16:39] Tronic commented on #1753
I had planned to fix this but recently I don't have much time to work on Sanic at all. The problem might be that of terminating the worker processes, so it might already be resolved if you don't use workers or autoreload, and if that is the case, the thing needing implementation is better killing logic (because Windows doesn't have proper signals), e.g. closing child process stdin from parent.

[2020-01-11 04:30] yunstanford commented on #1763
@ashleysommer looks like those tests have been run, unless i was looking at wrong place.

[2020-01-11 05:31] ashleysommer commented on #1763
Here's how I'm checking:
1) Find any PR which is currently running pre-review tests, and click through to the respective Travis Build
2) Find the "Python 3.7 with Extensions" or "Python 3.7 without Extensions" job, and expand the job-log.
3) Look at the list of tests that job is running, it will be in the format `filename.py:test_name`
4) Look for a python3.7-only test, like `test_app.py:test_crea

[2020-01-11 05:48] yunstanford commented on #1763
I was looking the same page, but different place.

Py3.6:
<img width="620" alt="Screen Shot 2020-01-10 at 9 46 35 PM" src="https://user-images.githubusercontent.com/13110231/72199580-ce08b200-33f2-11ea-940e-cc4983227f79.png">

Py3.7:
<img width="625" alt="Screen Shot 2020-01-10 at 9 46 52 PM" src="https://user-images.githubusercontent.com/13110231/72199585-d4972980-33f2-11ea-998a-62d7751de27d.png"

[2020-01-11 05:50] #1742 closed

[2020-01-11 06:06] ashleysommer commented on #1763
Ok thanks for looking into it, looks like it probably _is_ running those tests then, but without the test name printed in the detailed tests list.

I can't test it locally because I don't have a PC handy with Python 3.7 installed.

[2020-01-11 06:57] adrian-the-git commented on #1749
Another consequence of this release ([returning a tuple of `routes, handler` from the `route` decorator](https://github.com/huge-success/sanic/commit/a6077a179067812766293f9ab4391b5e1499a9c6#diff-c4444a35dbd5e37ee480b0e8888e0880L526)) is that multiple route decorators can no longer be used.

    @app.route('/foo')
    @app.route('/bar')
    async def handler(request):
        return whatever()

Th

[2020-01-11 08:33] ashleysommer commented on #1749
@adrian-the-git
That problem was already reported in #1742, and fixes in #1764

[2020-01-11 17:12] autumnjolitz commented on #1742
Thank you @ashleysommer !

[2020-01-13 04:43] #1763 closed

[2020-01-13 07:31] #1668 closed

[2020-01-14 11:20] Elune0syh opened #1765 "How can sanic keep handle request even if connection is closed ?"
**Is your feature request related to a problem? Please describe.**

I have some post request handler, sometimes i saw the request handler is cancelled even if the handler fucntion was executed on half way.
for example: save some data to dbs, but the rest of code is not executed because of cancellation, this is undesirable because it causes data unconsistency in db

**Describe the solution you'd li

[2020-01-14 17:02] vltr commented on #1630
Another helper utilities to leverage:
- [aiosignal](https://github.com/aio-libs/aiosignal): it's been used internally by `aiohttp` and are now being popped out as their own package;
- [asyncio_dispatch](https://github.com/lenzenmi/asyncio_dispatch): the first `asyncio` signal dispatcher I came across and it's actually pretty good and have a good code coverage, even though it's been 4 years since i

[2020-01-14 17:08] vltr commented on #1630
(now I noticed we don't have any thread in the forums discussing this, but that's not a problem)

Personally, this is something I've been wanting to have on Sanic since day one. I tried to leverage this with [my own Frankenstein project](https://github.com/vltr/sanic-boom) based on Sanic - well, it doesn't have any signal support, but does have a component system that is very handy - perhaps anoth

[2020-01-14 17:21] vltr commented on #1732
That's an interesting question. I personally don't see why we could not have a `register_listener` or `register_middleware` in a `Blueprint`. This could even be implemented as an `ABC` ...

[2020-01-14 17:23] vltr commented on #1765
Hello, @Elune0syh !

Just for clarification, you have some workflow inside a handler and would like to have everything ran, even though the connection could be closed at any time and no response generated whatsoever?

[2020-01-14 20:30] sjsadowski commented on #1765
I was thinking that there might be something inside the call that is causing the async call to timeout, personally.

[2020-01-15 02:13] Elune0syh commented on #1765
@vltr Thanks for your reply. That`s exactly what i want to do

i have a post request workflow to create some records in db, i want these records to be all created or not be created at all. maybe something like [atomic](https://aiojobs.readthedocs.io/en/latest/api.html#aiojobs.aiohttp.atomic) ?

[2020-01-15 02:42] Elune0syh commented on #1765
@sjsadowski
I don`t know, it`s suspectable, i did`t see any timeout error on traceback, maybe who swallows the timeout error ? but i did see the CancelledError propagated to db / kafka / etcd function call

[2020-01-15 02:51] sjsadowski commented on #1765
@Elune0syh I think asyncio is supposed to raise TimeoutError so you *should* see it in the traceback, but if you have robust error handling in there that eats the raised error in a try block, it could be problematic.

[2020-01-15 08:32] Elune0syh commented on #1765
@sjsadowski
Now i can sure in my situation the CancelledError was caused because of client disconnect (but we did do some try block in error handling, thanks anyway) .

The client disconnect was caused because we did something wrong in a front proxy service

[2020-01-15 08:40] Elune0syh commented on #1765
Mybay i can use `asyncio.shield` to prevent cancellation to request handler.
It`s a solution ?

[code]

[2020-01-15 13:50] vltr commented on #1765
@Elune0syh perhaps `asyncio.shield` _could_ help, but I think that, if your problem is only at the database level, you should either:

- create a task for them to be executed independently; or
- wrap them into a transaction (I don't know which database you're using, but most of them supports this).

Now, if your problem is actually *catching* when a request is cancelled, then we might need to take

[2020-01-15 14:45] danieldaeschle commented on #1753
@ahopkins I just tested Ctrl+Break. I doesn't work. Neither with 4 workers, nor with one worker.

[2020-01-15 15:09] Elune0syh commented on #1765
@vltr Thanks for your advice

We use Cassandra for database things, so there is no way to do transactions. Your advice is really help, i will take these into consideration to refactor my code, thanks again

[2020-01-15 15:09] #1765 closed

[2020-01-15 15:20] vltr commented on #1765
@Elune0syh I'm glad I could help! Let us know if you need something else :+1:

[2020-01-16 06:51] #1673 closed

[2020-01-16 07:02] harshanarayana commented on #1630
@vltr `aiosignal` and `asyncio_dispatch` seems pretty great options. Let me see how they can be fit into what we have in mind. I might need your suggestions on the `asyncio_dispatch` since you have already put it to some use.

[2020-01-16 10:46] fabschn commented on #1703
Trying to revive the discussion since I am currently facing the same issue.

I'm not explicitly calling `response.text()` but using the `abort()` function from `sanic.exceptions`.

I this case, the proposed solution of importing the JSONDecodeError from simplejson  (`from simplejson import JSONDecodeError`) in `sanic.testing` leads to the expected behavior.

@wochinge Did you solve the issue in so

[2020-01-16 15:17] vltr commented on #1630
@harshanarayana I really liked `asyncio_dispatch` because, at the time, it was the only solution available out of the box (`aiosignal` was not a thing yet) and reminded me a lot the [Signals and Slots](https://doc.qt.io/qt-5/signalsandslots.html) from Qt, which I used *a lot* in the past. I even created a small Sanic "example" with `asyncio_dispatch`:

[code]

Calling using cURL:

[code]

Server o

[2020-01-16 15:55] vltr commented on #1721
@medcelerate AFAIK `asyncio.Queue`s does not have a `read` method. Being a `Queue`, you should try to use `get`. Documentation [here](https://docs.python.org/3.6/library/asyncio-queue.html).

Let us know if you have any other questions :wink:

[2020-01-18 06:51] #1681 closed

[2020-01-19 04:17] mystic-cg opened #1766 "sanic.exceptions.NotFound: Requested URL /favicon.ico not found"
**Describe the bug**
like as
https://github.com/RasaHQ/rasa/issues/4129

**Code snippet**
[code]

**Expected behavior**
Without any exception

**Environment (please complete the following information):**
 - OS: `win10.1709`
 - Python: `3.8.1`
 - Sanic: `19.12.2`

**Additional context**

[2020-01-19 12:00:10 +0800] [31552] [WARNING] Sanic tried to use loop.add_signal_handler but it is not implement

[2020-01-19 04:28] mystic-cg commented on #1766
If you run with "0.0.0.0"
When you first use a certain address to access(e.g. http://127.0.0.12:8000), it will throw the above exception; if you visit again using this address, it will all work fine

[2020-01-19 17:39] Tronic commented on #1766
Browsers try to fetch favicon.ico for that small image shown on browser title bar. This can be avoided by adding `<link rel=icon href="url to your logo.png">` to HTML header, but for the most part you can safely ignore the favicon requests and related 404 errors, especially if your document is JSON and not HTML.

[2020-01-19 18:06] andreymal commented on #1766
@Tronic anyway, the log is too verbose. This is obviously not an [ERROR]; traceback is not necessary here.

[2020-01-19 21:00] sjsadowski commented on #1766
I agree with @andreymal - @huge-success/sanic-core-devs care to weigh in on this?

[2020-01-19 22:00] ashleysommer commented on #1766
@sjsadowski
So options are:
* Reduce verbosity of error reporting for all thrown 404 exceptions, or
* Create a special case for detecting 404 exceptions thrown when browsers trying to access `/favicon.ico` so to suppress the error message
* Add default route for `/favicon.ico` in the built-in router with a response function which returns `Response(status=404)` (or maybe with smarts to automaticall

[2020-01-19 23:03] sjsadowski commented on #1766
Do we think it's that important to have a traceback with every NotFound exception? I ask because anecdotally I can't recall ever having found them useful for 404s.

I don't think we want to dynamically detect the /favicon.ico request as it's bloat and largely irrelevant anyway.

The last item might be my preference, however I've never written anything with Sanic that directly serves to browsers, I

[2020-01-20 04:51] ashleysommer commented on #1766
No. NotFound exceptions should not produce a traceback, except for maybe if Sanic is running with `debug=True`.

I was actually going to list that as an option in my comment above, but didn't know if it was too unreasonable. Perhaps the fix for this is to simply include something in the documentation about how to write an `@app.static` file route for `/favicon.ico`.

[2020-01-20 06:33] mystic-cg commented on #1766
At least, I think a demo in docs should work well without any error, even warnings.

[2020-01-20 08:02] ashleysommer commented on #1766
I'm not sure if it _should_ or not.

But if I'm running a simple example, and the browser asks for something on endpoint "/favicon.ico" and the server is not configured to accept requests to that route, then I _do_ expect it to output at least something in the console, like "Error: No route for request "/favicon.ico".

[2020-01-20 09:15] Tronic commented on #1766
I think it is reasonable to *only* output a 404 on access log, not as an error of any sort.

[2020-01-20 15:00] #1754 closed

[2020-01-20 15:23] Tronic commented on #1766
@mystic-cg This is now fixed in Sanic master and you may close the issue.

[2020-01-20 15:52] #1766 closed

[2020-01-20 23:12] abuckenheimer commented on #1630
I'm very much +1 on this idea, definitely something I've found myself struggling with in the past. A few thoughts:

# Signal Handler Order matters
There's some nuance in deciding in what order signal handlers get called. If your trying to evaluate an accurate wall time for a request handler you need your `request_started` to be the last signal handler to fire before the request handler but the `re

[2020-01-22 03:37] sjsadowski commented on #1725
No further update from reporter, closing

[2020-01-22 03:37] #1725 closed

[2020-01-22 06:36] Tronic commented on #1630
How do you plan to run them concurrently? I am concerned because AFAIK you'll have to depend on asyncio for that, and that would require an alternative implementation for trio.

[2020-01-22 09:07] harshanarayana commented on #1630
@abuckenheimer I like the idea of associating a namespace with the signal. It makes it more cleaner and has a definitive association. I'll include that in the changes I am working on.

@Tronic Right now, the idea is to schedule them as tasks when sending the events. I still need to explore better options if any. Or follow the serial approach for notification otherwise. I am open to suggestions or

[2020-01-22 15:25] vltr commented on #1630
Erm ... I'm probably ignorant enough regarding `trio` to talk about it's implementations, pros and cons ... All I remember is that its "nursery" concept works really well and would be awesome to have the same functionality inside `asyncio` (I'm just reporting what I heard), but ... To worry about making things inside Sanic to work with `trio` would be the same as making Sanic to work with `twisted

[2020-01-22 16:08] Tronic commented on #1630
Sanic already works with Trio using Hypercorn because Sanic's ASGI mode does not depend on asyncio (except for streaming file responses, which were easily fixed via a few lines of code in compat.py). I'd like to keep that compatibility and preferably not add too much new compatibility code to support it.

[2020-01-22 16:51] vltr commented on #1630
Ok, so, just to clarify things a little bit more: hypothetically, the signals support on Sanic would work on top of ASGI with any level of complexity on top of `asyncio` and would work with `hypercorn` using the `asyncio` or `uvloop` workers, but not with the `trio` worker? Or would not work at all with ASGI? I know there are already limitations to some listeners in ASGI, I'm just wondering if thi

[2020-01-23 08:26] zengzhengrong opened #1771 "decorator applied in custom endpoint or middleware applied"
I want get the request in endpoint to check token by use decorator

[code]

[code]
but i get error below
[code]

I found same examle :
[code]
but it's global for all endpoint , So I want  to apply custom

sanic 19.9.0

[2020-01-23 16:21] vltr commented on #1630
Well, laziness of mine, I did some quick tests using a modified version of the [example I shared here](https://github.com/huge-success/sanic/issues/1630#issuecomment-575199183) previously to run with `daphne`, `hypercorn` and `uvicorn`:

[code]

The result is already interesting:

- `daphne` did not worked at all because the listener was never called and, well, I think @ahopkins [already caught wh

[2020-01-25 04:39] zengzhengrong commented on #1771
Use blueprint middleware

[2020-01-25 04:39] #1771 closed

[2020-01-26 02:29] damianj opened #1772 "Using list with host parameter in blueprint.route() does not work."
**Describe the bug**
As the title implies, when I try to set the host parameter to a list on a blueprint route, the app does not start and instead gives an error like:

[code]

**Code snippet**
To reproduce that error:
[code]
Note that if host is set to a string (i.e., `@child_bp.route('/', host="127.0.0.1:8000")`) or it's not even specified in the route (i.e., `@child_bp.route('/')`) then the app

[2020-01-28 01:09] pi11 opened #1773 "Can't add 2 urls using decorators for function in new version (19.12)"
So in previous version I was using something like this:
[code]
Everything works just fine, in new version I got error:

[code]

I also tried decorator + adding add_route, here example code:

[code]
And got same error.

So the only way to add 2 urls for 1 function is using add_route - which work perfect.
Not sure if this is expected behavior from now on or a bug?

[2020-01-28 10:03] endafarrell opened #1774 "`AttributeError: Can't pickle local object 'register.<locals>._handler'` sanic 19.12.2; python3.8.2; sanic-cors==0.10.0.b1"
Hi.

On OSX 10.14.6, python 3.8.1

    conda list sanic
    # packages in environment at /Users/efarrell/miniconda3/envs/LG-py38:
    #
    # Name                    Version                   Build  Channel
    pytest-sanic              1.1.2                    pypi_0    pypi
    sanic                     19.12.2                  py38_0    conda-forge
    sanic-cors                0.10.0b1

[2020-01-28 10:16] Tronic commented on #1773
This was a bug, already fixed in git master but I am not sure if a fixed version was already released.

[2020-01-28 10:36] Tronic commented on #1774
For triaging: this is now a problem because Python 3.8 changes the default mode of `multiprocessing` on MacOS to `spawn` instead of `fork`. This requires all parameters passed to Sanic worker processed to be picklable, and now there is an object that isn't.

This could be worked around by forcing `fork` mode instead of the new default, but there really shouldn't be objects that cannot be pickled t

[2020-01-28 10:59] endafarrell commented on #1774
Hi @Tronic - many thanks for this. We write code on a mixture of OSX and Linux, and deploy to Linux, so in our particular instance, not being able to fork on Windows is not going to cause a problem.

We _do_ have complex objects being passed to the workers, but I had _though_ that those with connections to databases (which we know cannot be pickled) were created only in `after_server_start` handle

[2020-01-28 18:32] sjsadowski commented on #1773
This is fixed in master, I need to figure out what PR it is to get it in to 19.12.3 and do a release.

[2020-01-28 18:47] sjsadowski opened #1775 "Add tests for route decorators"
Add tests to prevent reversions on route decorators.

[2020-01-28 22:32] #1685 closed

[2020-01-29 12:07] harshanarayana commented on #1773
xref: b565072

@sjsadowski  I believe the above commit fixed this problem in master

[2020-01-30 05:46] damianj commented on #1772
I've opened #1776 to address this issue.

[2020-01-30 10:17] ahopkins commented on #1772
Closing in favor of PR. Let's continue the conversation there if needed.

[2020-01-30 10:18] ahopkins commented on #1772
Thanks for bringing this up.

[2020-01-31 03:41] HamsterHuey commented on #1517
I don't see the point of having stale bot just auto close issues. A dupe of this issue was already closed in favor of this one and this finally just got auto closed. Are people supposed to continuously open new issues for the same thing that gets auto-closed? It would at the very least be nice to have a "wont-fix" label or some acknowledgement before letting issues be auto-closed so users can move

[2020-01-31 05:25] ashleysommer commented on #1775
@sjsadowski
I added some basic tests for the multiple-@route decorators, when I submitted my fix:
https://github.com/huge-success/sanic/commit/b565072ed9792debb017ba3dc2b3de67f8f03514#diff-4591e684af0cbdb11ee7409ef6f9aa4aR554

Do you know which other decorators don't have proper tests?

[2020-01-31 05:29] ashleysommer commented on #1774
@Tronic a comment related to this:
around the release of Sanic 18.12 we wanted to get multiprocessing working on Windows, so I put in some effort and made _all_ of Sanic pickle-able.

I thought I added tests to ensure a sanic app could be fully pickled and unpickled without error.

Looks like now some code has been introduced at some point that has a local sub_function, which isn't pickleable, or

[2020-01-31 07:21] Tronic commented on #1774
@ashleysommer Would it be viable to move most app initialisation to within workers, instead of pickling it from the main process? Only server socket opening really needs to be in the master process, all app settings, app definition and other user code could be run in workers. Getting this done would need quite a bit of refactoring, but barring that, it could be the clean solution to this. Doing so

[2020-01-31 16:54] sjsadowski commented on #1775
@ashleysommer not yet - that's why I assigned it to myself. I may close it, but my biggest concern was not running into another reversion with decorators.

[2020-02-03 09:05] AyWa commented on #827
Not sure if it is the correct place to ask that, but if the code is in `before_server_start` it will be call `X times` with X the numbers of workers right ?

So if the code need to create thread for example, any better way to create only one thread and share it in `@app.listener('before_server_start')` for all the workers ?

[2020-02-03 10:49] Tronic commented on #827
@AyWa No, this is not the right place. But still, `before_server_start` and `after_server_stop` are executed separately in each worker process, and thus you can use them for making (multiple) database connections. If you need something initialised only once, in the main process, put it in your main function, after `multiprocessing.freeze_support()`.

[2020-02-07 03:38] sunshineinwater opened #1780 "Sanic and Flask have similar performance when reading DataBase such as POSTGRESQL."
### Description

**use WRK test three types of web frame to read one recorder in postgresql database
: 1、Sanic+gino, 2、flask+sqlalchemy+gevent+gunicorn,  3、Golang gin+gorm.**

test machine: MacBook Pro 8GB

- concurrence result :
1.  sanic+gino: 1700 requests/seconds
2. flask+sqlalchemy:1100 requests/seconds
3.  Golang : 5000+ requests/seconds

**flask + SQLAlchemy :**

<img width="405" alt="image

[2020-02-07 03:47] sjsadowski commented on #1780
So... is this informational? An issue? Nothing really explains what's going on here, other than you did some tests. Can you expand upon your concern?

[2020-02-07 03:59] Garito commented on #1780
You have 5 workers on sanic versus 9 with flask
Would be interesting if you try same number

[2020-02-07 04:15] sunshineinwater commented on #1780
under 5 workers have the best performance, add the number of workers have not any improvement .

[2020-02-07 04:17] sunshineinwater commented on #1780
want to know what factor limit the performance ?

[2020-02-07 05:53] Tronic commented on #1780
Looks like gino is the bottle neck here. Try directly with asyncpg perhaps? I never use SQL anymore. Redis at least can keep up with Saniculous speed.

[2020-02-07 07:35] sunshineinwater commented on #1780
THX for advicing.
**The newest test of Sanic+asyncpg achieve the same performance with Golang !**

<img width="388" alt="image" src="https://user-images.githubusercontent.com/15187861/74010011-6e84ce80-49bf-11ea-8dc7-4e4f8abc1a44.png">

[2020-02-07 07:39] sunshineinwater commented on #1780
By the way.  How to deal with mass data in Redis ?

[2020-02-07 09:07] Tronic commented on #1780
You might consider CouchDB, RethinkDB or Mongo if your needs are beyond small scale key-value store. I cannot comment on their performance in relation to SQL databases though, especially since they sport vastly different feature sets.

[2020-02-07 12:20] rhdxmr opened #1781 "ujson can not be used with python 3.8.1"
ujson is imported by request.py and response.py

But under python 3.8.1 ujson can not be imported and ImportError is raised.

sanic works ok because exception handler exists.
[code]

It seems that ujson is not maintained anymore.

[2020-02-07 13:06] ahopkins commented on #1781
The idea to replace ujson [has been brought up before](https://github.com/huge-success/sanic/issues/1479). It is definitely something in need of discussion because it will be a backwards incompatible change. ujson works a little differently than other libraries so just changing the dependency to something else is likely to cause some headaches. Nevertheless, it should be discussed. Thanks for brin

[2020-02-07 13:30] vltr commented on #1781
I did not see any problems so far with `ujson` and Python 3.8.1. @rhdxmr can you provide more information about your environment?

@ahopkins I agree that `ujson` is somewhat old and not maintained (by the original author), but I also found a lot of forks over the internet that corrects some problems here and there, updating the code and bringing it to a more interesting state. I just don't know if

[2020-02-07 13:30] Tronic commented on #1781
https://github.com/lemire/simdjson is the fastest JSON decoder. Unfortunately, much of the performance is lost if the entire document needs to be converted into Python objects (instead of lookups to specific JSON paths). Further, this is only a decoder.

https://rapidjson.org/ is pretty much on par with ujson on performance, has 100 % spec conformance, and there are actively maintained Python bind

[2020-02-07 13:35] sjsadowski commented on #1780
I'm going to close for now; please consider moving discussions to the [community forum](https://community.sanicframework.org/)

[2020-02-07 13:35] #1780 closed

[2020-02-07 13:37] sjsadowski commented on #1781
Keep in mind too, we don't limit json decoding to what's built in. In general sanic is still failing tests under 3.8 so probably some work needs to be done there as well.

[2020-02-07 13:43] vltr commented on #1781
@Tronic `simdjson` is indeed faster for special lookups in the document (I used it in a project recently). But, it can encode to JSON (AFAIK), so I think it's a very good JSON library for some edge cases (not to mention the Python bindings are not all that reliable if you start do dig inside other methods, but that's not the case).

RapidJSON, OTOH, is fast and reliable, might be a good choice for

[2020-02-08 19:59] ahopkins commented on #1781
@Tronic I did play around with rapidjson and Sanic about 6+ months ago. I honestly don't remember the issues I found. I will go back and try to find my notes on it.

[2020-02-10 04:22] rhdxmr commented on #1781
@vltr I figured out why ujson raised ImportError in my environment.
I built python 3.8.1 with CFLAGS=-O0 to turn off optimization because of debugging issue.

When I execute this command using my python-3.8.1 at ujson-1.35, -O0 is set also.

This command builds ujson.cpython-38-x86_64-linux-gnu.so which has undefined

[2020-02-10 05:07] rhdxmr commented on #1781
@vltr I figured out why ujson raised ImportError in my environment.
I built python 3.8.1 with CFLAGS=-O0 to turn off optimization for debugging using gdb.

And I installed ujson using this command

Without CFLAGS=-O0, ujson can be imported successfully using python 3.8.1

'-Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall'

But if python 3.8.1 is built with CFLAGS=-O0, ujson raises I

[2020-02-10 05:09] rhdxmr commented on #1781
There are people having similar problem with ujson.
https://www.google.com/search?q=ujson+undefined

[2020-02-10 16:33] vltr commented on #1781
Thanks, @rhdxmr ! I saw in the links from Google that this is actually a quick fix to `ujson`, but I don't see any further developments within `ujson` - **it can be saved**, though. I think this would be a nice topic in the community forums (again).

[2020-02-11 08:24] timgates42 opened #1782 "Fix simple typo: viewes -> views"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine docs/sanic/examples.rst.
2. Search for `viewes`.

# Expected Behaviour

1. Should read `views`.

[2020-02-12 11:25] #1702 closed

[2020-02-15 15:01] NumesSanguis commented on #1758
OP's issue, not the header part, but the Sanic server not seeing the `postData`, might be related to the discussion here (I have the same issue): https://community.sanicframework.org/t/sanic-cant-recognize-post-request/498

Seems like Sanic cannot handle JSON formatted data, as opposed to url-based keywords?

[2020-02-17 08:48] ahopkins commented on #1758
Sanic has no problem with query params or JSON data. [Please see my response to your post](https://community.sanicframework.org/t/sanic-cant-recognize-post-request/498/6?u=ahopkins).

[2020-02-17 16:16] #1782 closed

[2020-02-17 17:57] lovasoa opened #1785 "Error handlers are synchronous"
**Describe the bug**
The [documentation](https://sanic.readthedocs.io/en/latest/sanic/exceptions.html) says that error handlers can be asynchronous.
However, asynchronous error handlers do not seem to be supported everywhere.

**Code snippet**
[code]

**Expected behavior**
Then, for example when I exceed the `REQUEST_MAX_SIZE` limit, I would expect to receive `"too bad"` as a response.

Unfortunat

[2020-02-18 20:22] ognone opened #1786 "Update httpx"
[httpx](https://github.com/encode/httpx) 0.11.1 (sanic demands 0.9.3) fails with:

[code]

A simple fix to `class SanicASGIDispatch(httpx.ASGIDispatch):` in line 188 of testing.py fixes this

[2020-02-19 04:08] vgoklani opened #1787 "Examples Update - How to process a basic POST request?"
Looking through the examples, I noticed that a lot of basic things were just missing. For example, how do you use Sanic to process a basic POST request? One very important use case is building APIs, and it's really time-consuming to have to dig through this framework (which is a "huge-success) and not see basic things explained.

[2020-02-19 13:34] Tronic commented on #1787
Do you mean HTML form submission (no Javascript), or POST from Javascript? Try with something like:

[code]

This is documented at https://sanic.readthedocs.io/en/latest/sanic/request_data.html

[2020-02-19 18:56] don-makaron opened #1788 "url_for() doesn't return a working URI for a blueprint route with host"
**Describe the bug**
When i use blueprints with `host` argument and try to get url with `url_for` i get an incorrect url - blueprint's host is used as a path, and not as a hostname

**Code snippet**

[code]

Output

[code]

`1` example returns hostname by like a path
`2` example returns hostname and path but it's like a path
`3` example return full url, but with no hostname (3 slashes)

**Expected

[2020-02-19 19:26] ahopkins commented on #1787
We'd be happy to entertain any documentation PRs that you may have.

[2020-02-20 16:21] Tronic commented on #1788
Thanks for reporting and triaging this!

[2020-02-21 07:19] Tronic commented on #1785
This one seems to be hard to fix because of how asyncio protocols work. The `server.write_error` function is non-async and thus cannot await on the response, and the function is also called from non-async callbacks that cannot be made async because of how `asyncio` is built.

I suppose this could be worked around by using `asyncio.create_task(...)` but doing so might introduce some unexpected effe

[2020-02-21 17:10] #1788 closed

[2020-02-24 13:20] vonNiklasson opened #1792 "Requests with test_client raises UserWarning"
**Describe the bug**
When doing requests with `sanic.app.test_client`, such as `sanic.app.test_client.get(...)` you get a warning (UserWarning) raised by `httpx`

Removing `verify=False` from [line 41](https://github.com/huge-success/sanic/blob/v19.12.2/sanic/testing.py#L41) in `testing.py` solves the issue but may cause other issues with SSL-certificates.

[code]

**Code snippet**
[code]

**Expec

[2020-02-24 22:09] syfluqs commented on #1786
Also, need to bump up the version of httpx to 0.11.1 for sanic. This dependency was added later in sanic 19.12LTS and breaks httpx AsyncClient dependent code. AsyncClient is not present in httpx 0.9.3 and was added after this version.

[2020-02-26 15:43] Sanyaorg commented on #1749
Hi guys,

We have issue with Sanic middleware after switching to version >=19.12.0.
Usually to create a route we use  @app decorator (something like):

`@app.get('/names')
  async def names(request):
...
`
and handle all CORS issues in middleware:
`
@app.middleware("request")
async def cors_options(request):
    if request.method == "OPTIONS":
...
`
After switching to version >=19.12.0 there is an

[2020-02-27 06:22] ashleysommer commented on #1749
Hi @Sanyaorg
Yes, everyone on Sanic 19.12+ is having the same problem.
It is because (as mentioned in 1st comment of this issue), all request-middlewares now run _after_ the router, not before. That means the router has a chance to throw a method-not-allowed error or a not-found-error _before_ any request-middleware was run. So there's no way of doing any automatic CORS handling in a middleware. W

[2020-02-27 11:56] Tronic commented on #1722
This is to be sorted out in #1791

[2020-02-27 13:19] Tronic opened #1796 "Why doesn't Protocol use app.config to get its settings"
Sanic passes all settings such as `REQUEST_MAX_SIZE` as arguments via a chain of functions from `run_server` to `Protocol` constructor, rather than accessing them via `app.config` where needed. Is there a purpose to this?

[2020-02-27 19:56] gromovadarya90 opened #1797 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-01 13:39] Tronic commented on #1785
I've confirmed that this is now fixed in the streaming branch.

[2020-03-01 14:41] Tronic commented on #1722
This is now sorted out in #1791 where streaming handlers may set `request.stream.request_max_size = big_value` before reading the body by `async for data in request.stream` or by `await request.stream.read()`. This affects both content-length and chunked modes equivalently.

[2020-03-03 05:17] NumesSanguis opened #1799 "Shutdown Sanic server on KeepAlive Timeout (Saving Cloud Run minutes)"
I want to deploy a Docker container to Google Cloud Run and use Sanic for accepting GET and POST requests. Since active containers cost money, I want them to shutdown whenever a request has finished processing.

The full question has been posted here: https://community.sanicframework.org/t/shutdown-sanic-server-on-keepalive-timeout-saving-cloud-run-minutes/512

Sorry for turning it into an issue h

[2020-03-04 03:13] ashleysommer commented on #1799
Hi @NumesSanguis
Thanks for posting your question on the Community forum first. I see now there are community members helping with your question, so when your problem is resolved, please feel free to close this github issue.

[2020-03-04 13:15] Tronic opened #1802 "New streaming API and other major changes"
https://community.sanicframework.org/t/new-streaming-api-and-other-major-changes/518

I have reimplemented Sanic HTTP handling in pure Python and actually gained 20 % faster performance (53000 req/s against 44000 req/s without these changes), with several hundred lines less code than the old implementation. This is a large patch with implications to all Sanic users, so I would invite public discus

[2020-03-04 13:20] Tronic commented on #1802
Migration path from current implementation is partially addressed in #1800 but there will be breaking changes that might affect YOUR projects. Thus, again, I encourage testing and discussion so that any major issues can be avoided. There is discussion on the community board but in case someone doesn't have an account there, please voice your concerns here.

[2020-03-05 13:20] NumesSanguis commented on #1799
The community members' help has been great and it the problem is now resolved.

[2020-03-05 13:20] #1799 closed

[2020-03-06 08:05] Tronic commented on #1796
I suppose this could be removed in a future PR if anyone doesn't have objections to that. The APIs affected by this seem to be internal, as app methods such as `create_server` do not take these arguments.

[2020-03-07 16:02] andreymal commented on #1781
ultrajson 2.0.0 is released, supports Python 3.8 https://github.com/ultrajson/ultrajson/releases/tag/2.0.0

[2020-03-11 08:19] matianjun1 opened #1804 "Why define an exception handler needed async?"
with tests/test_exceptions_handler.py define an exception handler like this:

but in docs [https://sanic.readthedocs.io/en/latest/sanic/exceptions.html](https://sanic.readthedocs.io/en/latest/sanic/exceptions.html)

what is the difference? And is async def needed?

[2020-03-11 09:53] Tronic commented on #1804
In general all handlers in Sanic can be async or normal functions. You are free to use either even though in documentation `async def` is generally preferred even if the function doesn't need to be async.

In the current version there is a limitation that async error handlers might not work in some contexts (protocol errors), so a normal function is actually a safer choice there. This is due to be

[2020-03-11 10:00] matianjun1 commented on #1804
thx~I do meet unexcepted exception with async def in exceptions handler. And it works good with def only.

[2020-03-16 01:06] ashleysommer commented on #1804
@matianjun1
Yes, this issue has come up a few times. The documentation needs to be changed.

The confusion comes from the fact Sanic request handler _does_ support async exception handlers, see here: https://github.com/huge-success/sanic/blob/60b4efad67ba3b22dfaf83820c772cd7f5ff137c/sanic/app.py#L1015

But the sanic asyncio server implementation _does not_ support async exception handlers.
https:/

[2020-03-16 01:13] ashleysommer commented on #1796
@Tronic the reason Protocol doesn't use app.config is simple, the `app.config` feature didn't exist when the `run_server` and Protocol constructor code was written in May 2016.

[2020-03-16 01:16] ashleysommer commented on #1792
Fixed by https://github.com/huge-success/sanic/pull/1794

[2020-03-16 01:17] ashleysommer commented on #1786
Fixed by https://github.com/huge-success/sanic/pull/1794

[2020-03-16 07:16] Tronic commented on #1804
Agreed, it would be best not to mention async exception handlers in documentation for now. This is one of the problems fixed in #1791 but it will take a few more months until that can ship, and there is no quick and easy way to fix this otherwise.